{{#if isAuthenticated}}
{{#eq show_phone_key_board "1"}}
    <button type="button" class="btn btn-invisible phoneboxkeyboard" onclick="if($('.phoneboxnumber').length===0) App.view.createView({type: 'phoneBoxNumber'})">
        <i class="far fa-phone"></i><span class="action-label"> {{str "LBL_PHONE_BOX_NUMBER"}}</span>
    </button>
{{/eq}}
<audio style="display: none" id="audio"></audio>
<button type="button" class="btn btn-invisible" onClick="window.open('https://help.dotb.vn')"><i class="far fa-question-circle"></i><span class="action-label"> {{str "LBL_HELP"}}</span></button>
<button id="create-ticket" type="button" class="btn btn-invisible"><i class="far fa-pencil-square-o"></i><span class="action-label"> {{str "LBL_CREATE_TICKET_SUPPORT"}}</span></button>
{{/if}}