.table-border td, .table-border th{
    border: 1px solid cadetblue;
    border-collapse:collapse;
    line-height: 18px;
    padding: 6px;
    vertical-align: middle;
    text-align: center;
}

#markdetail_content td, #markdetail_content th{
    border: 1px solid cadetblue !important;
    border-collapse:collapse !important;
    line-height: 18px !important;
    padding: 6px !important;
    vertical-align: middle !important;
    text-align: center !important;
}
 .table-border, #markdetail_content {
     border-collapse:collapse;
 }
.no-bottom-border {
     border-bottom: 0px solid cadetblue !important;
}
.no-top-border {
     border-top: 0px solid cadetblue !important;
}
.block-ellipsis{
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert {
    height: 20px;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
