.overide{
    /*    border: black 1px solid;*/
}
.title {
    padding: 7px;
    border: black 1px solid;
    background: #ddd;
}
.content,.config,.gradebook_detail {
    padding: 7px;
    border: black 1px solid;
    background: #fff;
}
.lable {
    text-align: left;
}
.select_config {
    width: 200px;
}
.td-mark {
    width: 70px;
    text-align: center;
}
.input_formula {
    width: 100px;
}
.input_mark,.input_weight, .span_total {
    width: 50px;
    text-align: center;
}
.span_total {
    height:35px;
}
.center{
    text-align: center;
}
input[readonly], .readonly, .readonly:focus  {
    color: #f00;
    background-color: #dfdfdf;
}

.config_button {
    height: 60px;
    width: 100%;
    text-align: center; 
    padding: 15px;
}

.dialog_header {
    width: 100%;
}

.right{
    text-align: right;
}

.mid{
    width:10px;
}

.bold {
    font-weight: bold;
}

.label_comment {
    width: 270px;
}

.select_comment{
    width: 620px !important;
}

.text_comment {
    width: 614px;
    height: 100px;
}

thead tr td{
    text-align: center;
}

td{
    height: 26px;
}

select.readonly{
    color: #f00;
    background-color: #ddd;
    cursor: no-drop;
}
/*css dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
.dropdown-toggle i{
    color: blue;
}

.dropdown-menu {
    right: -30px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu li{
    list-style-type: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    background-color: #357ebd;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#357ebd));
    background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #357ebd;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#357ebd));
    background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
    background-repeat: repeat-x;
    outline: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .dropdown-menu {
    display: block;
}

.open > a {
    outline: 0;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert {
    height: 20px;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
