{if !empty($dotbtabs)}
<ul id="groupTabs" class="subpanelTablist">
{foreach from=$dotbtabs item=tab}
    <li id="{$tab.label}_sp_tab">
        <a class="{$tab.type}" href="javascript:DOTB.subpanelUtils.loadSubpanelGroup('{$tab.label}');">{$tab.label}</a>
    </li>
{/foreach}
{if !empty($moreMenu)}
    <li>
        <div id='MorePanelHandle' onmouseover='DOTB.subpanelUtils.menu.tbspButtonMouseOver(this.id,"","",0);'>
            {dotb_getimage name="blank" ext=".gif" width="16" height="16" alt=$app_strings.LBL_MORE other_attributes='border="0" '}
        </div>
    </li>
{/if}
</ul>
{* Table closed in SubPanelTiles.php, line 295 *}
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="subpanelTabForm">
    <tr>
        <td>
{/if}

{if $showLinks == 'true'}
<table cellpadding="0" cellspacing="0" width='100%'>
    <tr height="20">
        <td class="subpanelSubTabBar" colspan="100" id="subpanelSubTabs">
            <table border="0" cellpadding="0" cellspacing="0" height="20" width="100%" class="subTabs">
                <tbody>
                <tr>
{foreach from=$subtabs item=tab}
{if !empty($notFirst) && ($notFirst != 0) && ($notFirst != 1)}
                    <td width='1'> | </td>
{else}
{assign var='notFirst' value='2'}
{/if}
                    <td nowrap="nowrap">
                        <a href='#{$tab.key}' class='subTabLink'>{$tab.label}</a>
                    </td>
{/foreach}
{if !empty($otherMoreSubMenu[$moreSubMenuName].tabs)}
                    <td nowrap="nowrap"> | &nbsp;<span class="subTabMore" id="MoreSub{$moreSubMenuName}PanelHandle" style="margin-left:2px; cursor: pointer; cursor: hand;" align="absmiddle" onmouseover="DOTB.subpanelUtils.menu.tbspButtonMouseOver(this.id,'','',0);">&gt;&gt;</span></td>
{/if}
                    <td width='100%'>&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
{/if}

{if !empty($moreMenu)}
<div id="MorePanelMenu" class="menu">
{foreach from=$moreMenu item=tab}
    <a href="javascript:DOTB.subpanelUtils.loadSubpanelGroupFromMore('{$tab.label}');" class="menuItem" id="{$tab.label}_sp_mm" parentid="MorePanelMenu" onmouseover="hiliteItem(this,'yes'); closeSubMenus(this);" onmouseout="unhiliteItem(this);">{$tab.label}</a>
{/foreach}
</div>
{/if}

{foreach from=$otherMoreSubMenu item=group}
{if !empty($group.tabs)}
<div id="MoreSub{$group.key}PanelMenu" class="menu">
{foreach from=$group.tabs item=subtab}
    <a href="#{$subtab.key}" class="menuItem" parentid="MoreSub{$group.key}PanelMenu" onmouseover="hiliteItem(this,'yes'); closeSubMenus(this);" onmouseout="unhiliteItem(this);">{$subtab.label}</a>
{/foreach}
</div>
{/if}
{/foreach}


