
<ul class="contentsearch-results">
{{#if records.length}}
    {{#each records}}
        <li class="search-result">
           <div><button data-action="clicklink" data-url="{{url}}" class="btn btn-link btn-invisible">{{name}}</button>
           <div><span>{{description}}</span></div>
        </li>
    {{/each}}
{{else}}
    <li class="no-results ellipsis_inline" data-placement="bottom" title="" data-original-title="">
        {{#if dataFetched}}
            {{str 'LBL_NO_SEARCH_RESULTS'}}
        {{else}}
            {{loading 'LBL_SEARCH_UNDERWAY'}}
        {{/if}}
    </li>
{{/if}}
</ul>
