<ul class="nav megamenu">
    <li class="dropdown notification-list">
        <div class="btn-group" data-name="notifications-list-button">
        <a href="#" data-toggle="dropdown" data-action="set_notif_viewed">
        <i class="far fa-bell"></i>
        {{#if this.collection.length}}
        <span class="badge btn-danger dropdown-toggle" rel="tooltip" title="{{str "LBL_NOTIFICATIONS" module}}" aria-label="{{str "LBL_NOTIFICATIONS" module}}" data-placement="bottom">{{this.collection.length}}{{#if this.collection.next_offset}}{{#notEq this.collection.next_offset "-1"}}+{{/notEq}}{{/if}}</span>
        {{/if}}
        </a>
            <div class="dropdown-menu scroll pull-right">
                <ul role="menu">
                    <li>
                        <h4 class="span3">{{str "LBL_NOTIFICATIONS" module}}</h4>
                        <span data-action="mark-all-read-handler"
                              class="mark-all" >{{str "LNK_MARK_ALL_READ" module}}</span>
                    </li>
                    {{#each this.collection.models}}
                        <li>
                            <a class="row-fluid"
                                   href="#{{buildRoute module=this.attributes.parent_type id=this.attributes.parent_id}}"
                                   data-id="{{this.attributes.id}}"
                                   data-action="is-read-handler"
                                   data-placement="bottom"
                                   tabindex="-1">
                                <span class="span1" style="margin-right:15px" rel="tooltip">
                                    <span class="noti_dot">{{#with ../this.meta.fields.severity}}
                                        {{field ../../this model=../this template="detail"}}
                                    {{/with}}</span>
                                </span>
                                <span class="span9">
                                        <b class="ellipsis_inline" data-original-title="{{this.attributes.name}}">{{this.attributes.name}}</b>
                                        <span class="noti_des" data-original-title="{{this.attributes.description}}">{{this.attributes.description}}</span>
                                        <p>
                                            {{#if this.attributes.is_read}}
                                            {{relativeTime this.attributes.date_entered}}
                                            {{else}}
                                            {{relativeTime this.attributes.date_entered class="unread-time"}}
                                            {{/if}}
                                        </p>
                                </span>
                                <span class="span1"><span class="noti_dot">
                                        {{#unless this.attributes.is_read}}<i class="unread-notification fas fa-circle" aria-hidden="true"></i>{{/unless}}
                                        </span>
                                </span>
                            </a>
                        </li>
                    {{/each}}
                    <li><a class="row-fluid" href="#{{module}}" tabindex="-1"><i class="fa fa-bars span1"></i><span class="span8 ellipsis_inline">{{str "LBL_SHOW_NOTIFICATIONS" module}}</span></a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
