.record-cell {
  .fieldset-text {
    text-align: center;
    margin-top: 20px;
    padding-left: 4px;
  }

  &[data-type="fieldset"] {
    .error {
      .input-append.date {
        .error-tooltip.add-on {
          left: -15px;
        }

        input[type="text"] {
          width: 124px;
        }
      }
    }

    h1 {
      .select2-container {
        margin: 0 14px 0 -7px;
      }

      input[type="text"] {
        border-width: 1px;
        padding: 6px;
        border-radius: @baseBorderRadius;
        margin-right: 14px;
        width: 210px;
        font-size: @fontSizeLarge;
      }
    }
  }

  .normal > .fieldset {
    .fieldset-field {
      input[type="text"],
      textarea {
        margin-top: -1px;
        border-radius: 0;

        &:focus {
          z-index: 2;
        }

        & + .error-tooltip.add-on {
          margin-top: -1px;
        }
      }

      /// Add by Lê Minh

      /// Start

      div[data-name="dropdown-content"] {
        position: absolute;
        z-index: 1001;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: calc(~"100%");

        a:hover {
          background-color: #ddd;
          text-decoration: none;
        }

        i {
          color:#717171
        }
      }

      a[data-name="suggestion"] {
        padding: 10px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
        font-size: 11px;
      }

      a[class="address-line address-active"] {
        padding: 10px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: #CBDCF7;
        font-size: 11px;
        i[class="fas fa-map-marker-alt"] {
          color:#1a73e8
        }
      }

      /// End

      &:first-child input[type="text"],
      &:first-child textarea {
        border-top-left-radius: @baseBorderRadius;
        border-top-right-radius: @baseBorderRadius;
      }

      &:last-child input[type="text"],
      &:last-child textarea,
      .address_country {
        border-bottom-left-radius: @baseBorderRadius;
        border-bottom-right-radius: @baseBorderRadius;
      }
      .record-label + .edit input[type="text"],
        .record-label + .edit textarea {
        border-radius: @baseBorderRadius;
      }
    }

    &.address:not(.edit) {
      display: flex;
      flex-flow: row wrap;

      .fieldset-field {
        display: inline-flex;
        flex: 0 0 100%;
        max-width: 100%;

        &[data-name$="address_city"],
        &[data-name$="address_state"],
        &[data-name$="address_postalcode"] {
          flex: 0 0 auto;

          .detail {
            max-width: inherit;
            overflow: hidden;/* fixes IE11 bug */

            div {
              padding-right: 4px;
            }
          }
        }

        &[data-name$="address_city"] .address_city .ellipsis_inline {
          width: calc(~"100% + 1px");/* Firefox hack */
        }
      }
    }
  }

  .normal > .fieldset-inline {
    display: table;
    min-height: 0;
    width: 100%;
    padding: 0;

    &.fieldset-wrap {
      display: block;
    }

    &.detail {
      .ellipsis_inline {
        margin-bottom: 0;
        height: 18px;
        padding: 5px 0 5px 7px;
      }
    }

    &.nodata {
      padding: 5px 7px;
    }
  }
}

.fieldset {
  .fieldset-field:first-child {
    .record-label {
      margin: -2px 0 2px;
    }
  }

  .fieldset-field:not(:first-child) {
    .record-label {
      margin: 2px 0 -2px;
    }
  }

  .fieldset-field:last-child {
    .detail,
    .edit {
      display: block;
    }
  }
}

.fieldset-inline {
  .fieldset-field {
    display: table-cell;
    padding-right: 8px;
    vertical-align: top;

    .record-label {
      white-space: nowrap;
      min-height: 11px;

      &:empty {
        display: none;

        & + .edit {
          display: block;
          margin-top: 16px;
        }
      }
    }
  }

  .fieldset-field:last-child {
    padding-right: 0;
  }

  &:not(.edit):not(.fieldset-equal):not(.fieldset-wrap) {
    .fieldset-field:last-child {
      width: 100%;
    }
  }

  &.fieldset-wrap {
    .fieldset-field {
      display: inline-block;
    }

    label {
      white-space: nowrap;
    }
  }

  &.detail {
    padding: 0;

    .ellipsis_inline {
      margin-bottom: 0;
      height: 18px;
      padding: 5px 0 5px 7px;
    }

    .fieldset-field {
      &[data-type="label"] {
        vertical-align: bottom;
        padding-right: 0;

        .ellipsis_inline {
          padding: 5px 0;
        }
      }
    }
  }

  &.edit {
    .fieldset-field {
      &[data-type="label"] {
        text-align: center;
      }
    }
  }

  &.nodata {
    padding: 5px 7px;
  }

  &:not(.edit):not(.fieldset-equal):not(.fieldset-wrap) .fieldset-field:last-child {/* temporary hack SC-4564 */
    width: 100%;
    max-width: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.fieldset.list {
  &:not(.edit) {
    .fieldset-field:last-child {
      width: auto;
      padding: 0;
    }
  }

  .list:empty {
    display: none;
  }
}
