
{{> wizard-page.header }}
<div class="modal-body">

    {{#eq wizardName "admin"}}
        <ul class="thumbnails row-fluid">
            <li class="thumbnail span2">
                <a href="#bwc/index.php?module=Administration&action=Locale&view=default">
                    <i class="fa fa-flag"></i>
                    <br>
                    <span>{{str "LBL_WIZ_SYSTEM_LOCALE_SETTINGS" module}}</span>
                </a>
            </li>
            <li class="thumbnail span2">
                <a href="#bwc/index.php?module=EmailMan&action=config">
                    <i class="fa fa-envelope"></i>
                    <br>
                    <span>{{str "LBL_WIZ_EMAIL_SETTINGS" module}}</span>
                </a>
            </li>
            <li class="thumbnail span2">
                <a href="#bwc/index.php?module=Configurator&action=EditView">
                    <i class="fa fa-cog"></i>
                    <br>
                    <span>{{str "LBL_WIZ_APPLICATION_SETTINGS" module}}</span>
                </a>
            </li>
            <li class="thumbnail span2">
                <a href="#bwc/index.php?module=Users&action=index">
                    <i class="fa fa-user-plus"></i>
                    <br>
                    <span>{{str "LBL_WIZ_CREATE_USERS" module}}</span>
                </a>
            </li>
            <li class="thumbnail span2">
                <a href="#bwc/index.php?module=Import&action=step1&import_module=Administration">
                    <i class="fa fa-database"></i>
                    <br>
                    <span>{{str "LBL_WIZ_IMPORT_DATA" module}}</span>
                </a>
            </li>
        </ul>
    {{/eq}}
    <ul class="thumbnails row-fluid">
        <li class="thumbnail span3">
            <a target="_blank" href="http://support.dotbcrm.com/03_Training">
                <img src="{{buildUrl url='styleguide/assets/img/setup-wizard-dotb-u.png'}}">
                <br>
                <span>{{str "LBL_WIZ_DOTB_TRAINING" module}}</span>
            </a>
        </li>
        <li class="thumbnail span3">
            <a target="_blank" href="http://support.dotbcrm.com/02_Documentation">
                <img src="{{buildUrl url='styleguide/assets/img/setup-wizard-documentation.png'}}">
                <br>
                <span>{{str "LBL_WIZ_DOCUMENTATION" module}}</span>
            </a>
        </li>
        <li class="thumbnail span3">
            <a target="_blank" href="https://help.dotb.vn/">
                <img src="{{buildUrl url='styleguide/assets/img/setup-wizard-kb.png'}}">
                <br>
                <span>{{str "LBL_WIZ_KNOWLEDGE_BASE" module}}</span>
            </a>
        </li>
        <li class="thumbnail span3">
            <a target="_blank" href="https://dotb.vn/">
                <img src="{{buildUrl url='styleguide/assets/img/logo.png'}}">
                <br>
                <span>{{str "LBL_WIZ_ABOUT_DOTB" module}}</span>
            </a>
        </li>
    </ul>
</div>
{{> wizard-page.footer }}
