<style>
    .card-custom {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-header-custom {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, .03);
        border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

    .card-body-custom {
        font-size: 15px;
        line-height: 12px;
        margin-bottom: 15px;
        margin-left: 7px;
    }
</style>

<div class="headerpane">
    <h1>
        <div class="record-cell">
            <span class="module-title">{{str "LBL_PAYMENT_SETTING" this.module}}</span>
        </div>
        <div class="btn-toolbar pull-right dropdown" style="padding: 3px 6px;">
            <span sfuuid="7" class="payment_setting" tabindex="-1">
                <a href="#bwc/index.php?module=Administration" class="btn">
                    <i class="far fa-long-arrow-left"></i> Back</a>
            </span>
        </div>
    </h1>
</div>

<div class="card-custom">
    <div class="card-header-custom">
        <div class="row-fluid record-panel-header panel-active" tabindex="-1">
            <h4 class="pull-left">
                {{str "LBL_PAYMENT_SALE_RULE" this.module}}
            </h4>
            <div class="pull-right">
                <button class="btn btn-invisible record-panel-arrow" arrow="up">
                    <i class="fa fa-chevron-up" rel="tooltip" data-container="body" data-title="Toggle Visibility"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="record tab-layout">
        <div class="row-fluid record-panel" data-panelname="panel_body">
            <div class="row-fluid record-panel-content ">
                <div>
                    <p class="card-body-custom">{{str "LBL_PAYMENT_SALE_RULE_DESCRIPTION" this.module}}</p>
                </div>
                <div class="row-fluid panel_body">
                    <div class="span4 record-cell" data-type="payment_sale_rule">
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="record-label" style="padding-top:7px;text-align: right">
                                    {{str "LBL_PAYMENT_SALE_RULE" this.module}}
                                </div>
                            </div>
                            <div class="span8">
                                <select class="slc-payment-sale-rule record-save" id="payment_sale_rule"
                                    data-fieldname="payment_sale_rule">
                                    <option {{#eq this.customData.payment_sale_rule 'trade-schools' }}selected{{/eq}}
                                        value="trade-schools">Trade Schools
                                    </option>
                                    <option {{#eq this.customData.payment_sale_rule 'k12-schools' }}selected{{/eq}}
                                        value="k12-schools">K12 Schools
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary save_config" button-type="set_payment_sale_rule"><i
                            class="far fa-save" tabindex="-1"></i>Save</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card-custom">
    <div class="card-header-custom">

        <div class="row-fluid record-panel-header panel-active" tabindex="-1">
            <h4 class="pull-left">
                {{str "LBL_E_INVOICE" this.module}}
            </h4>
            <div class="pull-right">
                <button class="btn btn-invisible record-panel-arrow" arrow="up">
                    <i class="fa fa-chevron-up" rel="tooltip" data-container="body" data-title="Toggle Visibility"></i>
                </button>
            </div>
        </div>

    </div>
    <div class="record tab-layout">
        <div class="row-fluid record-panel" data-panelname="panel_body">
            <div class="row-fluid record-panel-content ">
                <div>
                    <p class="card-body-custom">{{str "LBL_EXPORT_E_INVOICE_TYPE_DESCRIPTION" this.module}}</p>
                </div>
                <div class="row-fluid panel_body">
                    <div class="span4 record-cell" data-type="export_einvoice_type">
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="record-label" style="padding-top:7px;text-align: right">
                                    {{str "LBL_EXPORT_EINVOICE_TYPE" this.module}}
                                </div>
                            </div>
                            <div class="span8">
                                <select class="slc-export-einvoice-type record-save"
                                    data-fieldname="export_einvoice_type">
                                    <option {{#eq this.customData.export_einvoice_type 'Payment' }}selected{{/eq}}
                                        value="Payment">Payment
                                    </option>
                                    <option {{#eq this.customData.export_einvoice_type 'Receipt' }}selected{{/eq}}
                                        value="Receipt">Receipt
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary save_config" button-type="set_einvoice_setting"><i
                            class="far fa-save" tabindex="-1"></i>Save</button>
                </div>
                <br>
                <div>
                    <span class="card-body-custom">{{str "LBL_CONFIG_E_INVOICE_DESCRIPTION" this.module}}</span>
                    <a class="card-body-custom" href="#J_ConfigInvoiceNo">Click here!</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card-custom">
    <div class="card-header-custom">

        <div class="row-fluid record-panel-header panel-active" tabindex="-1">
            <h4 class="pull-left">
                {{str "LBL_SPONSOR" this.module}}
            </h4>
            <div class="pull-right">
                <button class="btn btn-invisible record-panel-arrow" arrow="up">
                    <i class="fa fa-chevron-up" rel="tooltip" data-container="body" data-title="Toggle Visibility"></i>
                </button>
            </div>
        </div>

    </div>

    <div class="record tab-layout">
        <div class="row-fluid record-panel" data-panelname="panel_body">
            <div class="row-fluid record-panel-content ">
                <div>
                    <p class="card-body-custom">{{str "LBL_SPONSOR_TYPE_DESCRIPTION" this.module}}</p>
                </div>
                <div class="row-fluid panel_body">
                    <div class="span4 record-cell" data-type="sponsor_type">
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="record-label" style="padding-top:7px;text-align: right">
                                    {{str "LBL_SPONSOR_TYPE" this.module}}
                                </div>
                            </div>
                            <div class="span8">
                                <select class="slc-sponsor-type record-save" id="sponsor_type"
                                    data-fieldname="sponsor_type" multiple="multiple" name="sponsor_type[]" size="2">
                                    <option {{#eq this.customData.sponsor_default '1' }}selected{{/eq}} value="default">
                                        default
                                    </option>
                                    <option {{#eq this.customData.sponsor_TAPTAP '1' }}selected{{/eq}}
                                        value="TAPTAP Sponsor">TAPTAP Sponsor
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary save_config" button-type="set_sponsor_setting"><i class="far fa-save"
                            tabindex="-1"></i>Save</button>
                </div>

                <br>
                <div>
                    <p class="card-body-custom">{{str "LBL_CONNECT_TAPTAP_DESCRIPTION" this.module}}</p>
                </div>

                <div class="row-fluid record-panel-content ">
                    <div class="row-fluid panel_body">
                        <div class="span4 record-cell" data-type="keycloak_host">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="record-label" style="padding-top:7px;text-align: right">
                                        {{str "LBL_KEYCLOAK_HOST" this.module}}
                                    </div>
                                </div>
                                <div class="span8">
                                    <input class="record-save" type="text" id="keycloak_host" data-fieldname="keycloak_host"
                                        value="{{this.customData.keycloak_host}}">
                                </div>
                            </div>
                        </div>
                        <div class="span4 record-cell" data-type="client_id">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="record-label" style="padding-top:7px;text-align: right">
                                        {{str "LBL_CLIENT_ID" this.module}}
                                    </div>
                                </div>
                                <div class="span8">
                                    <input class="record-save" type="text" id="client_id" data-fieldname="client_id"
                                        value="{{this.customData.client_id}}">
                                </div>
                            </div>
                        </div>
                        <div class="span4 record-cell" data-type="grant_type">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="record-label" style="padding-top:7px;text-align: right">
                                        {{str "LBL_GRANT_TYPE" this.module}}
                                    </div>
                                </div>
                                <div class="span8">
                                    <input class="record-save" type="text" id="grant_type" data-fieldname="grant_type"
                                        value="{{this.customData.grant_type}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid record-panel-content">
                <div class="span4 record-cell" data-type="gateway_host">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="record-label" style="padding-top:7px;text-align: right">
                                {{str "LBL_GATEWAY_HOST" this.module}}
                            </div>
                        </div>
                        <div class="span8">
                            <input class="record-save" type="text" id="gateway_host" data-fieldname="gateway_host"
                                value="{{this.customData.gateway_host}}">
                        </div>
                    </div>
                </div>
                <div class="span4 record-cell" data-type="client_secret">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="record-label" style="padding-top:7px;text-align: right">
                                {{str "LBL_CLIENT_SECRET" this.module}}
                            </div>
                        </div>
                        <div class="span8">
                            <input class="record-save" type="text" id="client_secret" data-fieldname="client_secret"
                                value="{{this.customData.client_secret}}">
                        </div>
                    </div>
                </div>
                <div class="span4 record-cell" data-type=""></div>
            </div>

        </div>
    </div>
</div>

</div>