body {
    margin: 0;
    background: white !important;
}
.tiva-timetable .timetable-week .timetable-item .timetable-color {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    top: 8px;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.showmore-action{
    font-style: italic;
    font-weight: bold;
    font-size: 10px !important;
    color: #37474f !important;
    text-decoration: none !important;
    padding-left: 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tiva-timetable {
    background: white !important;
    border-radius: 7px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #3c4043;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 !important;
    width: 100%;
    float: left;
}
#calender {
    padding-top: 9px;
}

.row{
    display: flex!important;
    height: 100vh
}

.max-width{
    width: 100%;
}

#data-view .btn {
    font-size: 1.5rem !important;
    background: transparent;
    color: #193059;
    padding: 3px 18px;
    border: 0;
    font-weight: 600 !important;
    border-radius: 10px;
    width: 33%;
    height: 34px;
    margin-top: 1px;
}


.btn-active{
    background-color: #193059 !important;
    font-weight: 700 !important;
    color: white !important;
}

.tiva-timetable .timetable-week div.timetable-header {
    color: #193059;
    font-weight: 700 !important;
    text-align: center !important;
    text-transform: uppercase!important;
    height: 70px;
    opacity: 0.5;
    padding-top: 15px;
}
.tiva-timetable .timetable-week div.timetable-header.last-column {
    border-right: 1px solid #bdbdbd;
}
.tiva-timetable div.timetable-header > span {
        font-weight: 500;
        font-size: 19px;
}
.tiva-timetable div.timetable-header .today > span {
        font-weight: 500;
        font-size: 22px;
}
.ms-parent{
    width: 100%!important;
}
.custom-table{
    border: 0;
    padding: 0 !important;
    margin:0 !important;
    background: white;
}
.custom-table td{
    padding: 5px 0;
}

#data-view {
    display: flex;
    justify-content: center;
    background: #f1f1f5;
    border-radius: 12px;
    height: 34px;
    width: 100%;
    gap: 3px;
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: red;
    vertical-align: bottom;
    display: inline-block;
    float: right;
}
.circle_small{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    vertical-align: bottom;
    margin: 7px 5px 5px -10px;
    display: inline-block;}

.circle:hover{
    cursor: pointer;
}

.select_color{
    margin: 0 10px;
}
#selectColor-dialog{
    display: grid;
}


.timetable-title-wrap-custom{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.timetable-title-wrap-custom .timetable-name,.timetable-room,.timetable-assign-user-to,.timetable-teacher{
    text-align: left;
    font-weight: bold!important;
    color: black;
    white-space: break-spaces !important;
    font-size: 1rem !important;
    margin-bottom: 4px!important;
    line-height: 1rem;
}

.tiva-timetable table.timetable-month td.calendar-day {
    color: #37474f;
    font-size: 14px;
    text-align: right;
    vertical-align: top;
    /*padding: 5px 10px;*/
    padding: 0!important;
    height: 60px;
    line-height: 20px;
}

.tiva-timetable .timetable-month .calendar-daycounter {
    margin: 10px;
    padding: 5px 10px !important;
    font-size: 17px;
}

.tiva-timetable .timetable-month .timetable-item {
    text-align: left;
    margin-bottom: 5px;
    position: relative;
     padding-left: 0 !important;
}

.tiva-timetable .timetable-list .timetable-day .timetable-content {
    padding: 15px;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.tiva-timetable .timetable-month .timetable-item .timetable-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding-left: 15px;
    padding-right: 5px;
    /*border-right: 1px solid #d1d1d1;*/
}
.tiva-timetable .timetable-list .timetable-custom .timetable-name {
    color: black;
}

.tiva-timetable table.timetable-tea-schedule th.timetable-header {
    height: 26px;
    padding: 10px 0;
    background-color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.tiva-timetable table.timetable-tea-schedule {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    color: #193059;
    table-layout: fixed;
}

.tiva-timetable table.timetable-tea-schedule a{
    width: 100% !important;
}

.tiva-timetable table.timetable-tea-schedule, .tiva-timetable table.timetable-tea-schedule th, .tiva-timetable table.timetable-tea-schedule td {
    border: 1px solid #d1d1d1;
}

table.timetable-tea-schedule th:first-child,table.timetable-tea-schedule td:first-child{
    border-left-style:hidden!important;
    min-height: 50px;
}
table.timetable-tea-schedule th:first-child {
    border-top-style:hidden!important;
}

.tiva-timetable .timetable-tea-schedule .timetable-item .timetable-time {
    /*font-weight: bold;*/
    margin-right: 5px;
    color: #3c4043;
    font-size: 1rem;
}
.tiva-timetable .timetable-tea-schedule .timetable-item .timetable-name {
    font-weight: bold;
    color: #3c4043;
    font-size: 1rem;
}

.tiva-timetable .timetable-tea-schedule .timetable-item .timetable-title {
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    outline: none;
    display: block;
    border-bottom: 1px solid black;
}

.tiva-timetable .timetable-tea-schedule td.teacher_name {
    color: #193059;
    font-size: 1rem;
    font-weight: bold;
}
.timetable-desc {
    font-weight: bold;
}

[data-value=dotb-orange3]{
    background: #FF8C00;
}

.btn-link-calendar {
  font-weight: normal;
  color: #ffffffad;
  cursor: pointer;
  border-radius: 0;
}
.btn-link-calendar:focus, .btn-link-calendar:hover {
    color: #222;
    background-color: transparent;
}
#btn-save-settings {
    background-color: #F1EFEF;
    color: black;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 65px;
    font-weight: 500;
}
.tiva-timetable .timetable-week .timetable-column .timetable-column-content {
    position: absolute;
    top: 46px;
    width: 100%;
}
.tiva-timetable .timetable-week.show-time .timetable-column .timetable-column-content {
    top: 70px; /* Show time on header */
}
.container-timetable-header {
    display: grid;
    grid-template-columns: 90% 10%;
}
.today-navigate {
    width: 130px;
    background: #f1f1f5;
    cursor: pointer;
    border: 10px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.today-navigate span {
    padding-left: 6px;
    font-size: 17px;
    font-weight: 600;
    padding-top: -9px;
    color: #193058;
    margin-top: -2px;
}
.custom-button-group {
    display: flex;
    align-items: center;
    justify-content: right;
}
.header-timetable-container {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    border-bottom: solid 1px rgb(224,224,224);
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e8e8e8;
}
.tiva-timetable div.timetable-header.week-today {
    opacity: 1;
}
.week-today span {
    color: white !important;
    background: #3af;
    border-radius: 7px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 6px;
    padding-bottom: 4px;
    font-weight: bold !important;
}
.nav-custom {
    width: 37px;
    background: #f1f1f5;
    cursor: pointer;
    border: 10px;
    height: 32px;
    border-radius: 10px;
    padding-bottom: -13px;
    font-size: 24px;
    color: #193058;
    text-align: center;
}
.prev {
    margin-right: 5px;
}
.next {
    margin-left: 5px;
}
.tiva-timetable .timetable-list .timetable-item .timetable-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    border: solid 1px;
    border-radius: 10px;
    margin-top: 3px;
}

.button-4 {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    color: #24292E;
    padding: 12px 15px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    vertical-align: middle;
    flex: 0 0 auto;
    overflow: hidden;
    margin-left: 30px;

}
.button-4 > i {
    font-size:20px;
    margin-top: 1px;
}

.button-4:focus:focus-visible, .button-4:focus-visible, .button-4:focus, .button-4:hover {
    background-color: rgba(60,64,67,.08);
    outline: none;
}

.button-4:focus-visible{
    outline: 1px solid #202124;
    outline-offset: -1px;
}

.button-4:before {
    display: none;
}

.button-4:-webkit-details-marker {
    display: none;
}
.today-class-section {
    padding-top: 25px;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    gap: 7px;
}
.icon-red {
    background: rgb(177,2,2);
}
.icon-blue {
    background: rgb(10,83,168);
}
.icon-gray {
    background: rgb(61,61,61)
}
.today-class-title {
    padding-top: 15px;
    padding-left: 3px;
    font-size: 19px;
    font-weight: bold;
}
.alert-empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.alert-empty {
    background: aliceblue;
    height: 50px;
    width: 400px;
    text-align: center;
    padding-top: 22px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 0px;
}