.rate {
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > .label-star {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
    font-weight: normal;
}
.rate:not(:checked) > .label-star:before {
    content: '★ ';
}
.rate > input:checked ~ .label-star {
    color: #ffc700;
}
/*.rate:not(:checked) > .label-star:hover,*/
/*.rate:not(:checked) > .label-star:hover ~ label {*/
/*    color: #deb217;*/
/*}*/
/*.rate > input:checked + .label-star:hover,*/
/*.rate > input:checked + .label-star:hover ~ label,*/
/*.rate > input:checked ~ .label-star:hover,*/
/*.rate > input:checked ~ .label-star:hover ~ .label-star,*/
/*.rate > .label-star:hover ~ input:checked ~ .label-star {*/
/*    color: #c59b08;*/
/*}*/
.class-name {
    font-size: 33px;
    color: rgb(5,99,93);
}
.timetable-value{
    padding: 10px;
    text-align: start !important;
}
.timetable-value i{
    padding-right: 5px;
}
.timetable-value .title{
    font-size: 2em;
    font-weight: bold;
    color: black;
}
.timetable-value .normal{
    font-size: 1.2em;
    color: rgb(21,156,148);
    font-weight: 600;
}
.timetable-value span{
    color: black;
}

.timetable-popup{
    border-radius: 20px;
}
.cover_link{
    color:#428bca !important;
}
.popup-body .popup-row {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 20px;
}
.timetable-value-content {
    font-size: 1.2em;
    padding-left: 5px;
}