.label-success {
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #54cb14;
    background-color: #e4fbb4;
    color: #537600;
    text-align: center
}

.label-important {
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #e61718;
    background-color: #ffd4d0;
    color: #bb0e1b;
    text-align: center
}

.label-warning {
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #fbc02d;
    background-color: #fff7ad;
    color: #866500;
    text-align: center
}

.label-info {
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #198cc6;
    background-color: #c6ddff;
    color: #517bf8;
    text-align: center
}

.label-excused {
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    background-color: #f0f0f0;
    color: #262626;
    text-align: center
}

.label-lightgray {
    padding: 2px;
    border-radius: 3px;
    background-color: #f1f1f5;
    color: rgb(61,61,61) !important;
    text-align: center
}

.label-lightred {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(255,207,201);
    color: rgb(177,2,2) !important;
    text-align: center
}

.label-lightorange {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(255,200,170);
    color: rgb(117,56,0);
    text-align: center
}

.label-lightyellow {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(255,229,160);
    color: rgb(71,56,33);
    text-align: center
}

.label-lightgreen {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(212,237,188);
    color: rgb(17,115,75);
    text-align: center
}

.label-lightblue {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(191,225,246);
    color: rgb(10,83,168) !important;
    text-align: center
}

.label-lightcyan {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(33,90,108);
    color: rgb(33,90,108);
    text-align: center
}

.label-lightpurple {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(230,207,242);
    color: rgb(90,50,134);
    text-align: center
}

.label-darkgray {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(61,61,61);
    color: rgb(229,229,229);
    text-align: center
}

.label-darkred {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(177,2,2);
    color: rgb(255,207,201);
    text-align: center
}

.label-darkorange {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(117,56,0);
    color: rgb(255,200,170);
    text-align: center
}

.label-darkyellow {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(71,56,34);
    color: rgb(255,229,160);
    text-align: center
}

.label-darkgreen {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(17,115,75);
    color: rgb(212,237,188);
    text-align: center
}

.label-darkblue {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(10,83,168);
    color: rgb(191,224,246);
    text-align: center
}

.label-darkcyan {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(33,90,108);
    color: rgb(198,219,225);
    text-align: center
}

.label-darkpurple {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(90,50,134);
    color: rgb(229,207,242);
    text-align: center
}


[data-value=dotb-blue]{
    background: #00A1E0;
}
.dotb-blue_transparent{
    background: rgba(0,161,224,.5)!important;
}
.dotb-blue_transparent_before{
    background: rgba(0,161,224,.1)!important;
}
.pretty input:checked ~ .state.dotb-blue label:before,
.pretty.p-toggle .state.dotb-blue label:before {
    border-color: #00A1E0;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-blue label:after {
    background-color: #00A1E0 !important;
}

.pretty input:checked ~ .state.dotb-blue label:after,
.pretty.p-toggle .state.dotb-blue label:after {
    background-color: transparent;
}
[data-value=dotb-mint]{
    background: #16325C;
}
.dotb-mint_transparent{
    background: rgba(22,50,92,.5)!important;
}
.dotb-mint_transparent_before{
    background: rgba(22,50,92,.1)!important;
}
.pretty input:checked ~ .state.dotb-mint label:before,
.pretty.p-toggle .state.dotb-mint label:before {
    border-color: #16325C;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-mint label:after {
    background-color: #16325C !important;
}

.pretty input:checked ~ .state.dotb-mint label:after,
.pretty.p-toggle .state.dotb-mint label:after {
    background-color: transparent;
}
[data-value=dotb-lightblue]{
    background: #76DED9;
}
.dotb-lightblue_transparent{
    background: rgba(118,222,217,.5)!important;
}
.dotb-lightblue_transparent_before{
    background: rgba(118,222,217,.1)!important;
}
.pretty input:checked ~ .state.dotb-lightblue label:before,
.pretty.p-toggle .state.dotb-lightblue label:before {
    border-color: #76DED9;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-lightblue label:after {
    background-color: #76DED9 !important;
}

.pretty input:checked ~ .state.dotb-lightblue label:after,
.pretty.p-toggle .state.dotb-lightblue label:after {
    background-color: transparent;
}
[data-value=dotb-lightblue2]{
    background: #08A69E;
}
.dotb-lightblue2_transparent{
    background: rgba(8,166,158,.5)!important;
}
.dotb-lightblue2_transparent_before{
    background: rgba(8,166,158,.1)!important;
}
.pretty input:checked ~ .state.dotb-lightblue2 label:before,
.pretty.p-toggle .state.dotb-lightblue2 label:before {
    border-color: #08A69E;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-lightblue2 label:after {
    background-color: #08A69E !important;
}

.pretty input:checked ~ .state.dotb-lightblue2 label:after,
.pretty.p-toggle .state.dotb-lightblue2 label:after {
    background-color: transparent;
}
[data-value=dotb-lightblue3]{
    background: #93c9f8;
}
.dotb-lightblue3_transparent{
    background: rgba(147,201,248,.5)!important;
}
.dotb-lightblue3_transparent_before{
    background: rgba(147,201,248,.1)!important;
}
.pretty input:checked ~ .state.dotb-lightblue3 label:before,
.pretty.p-toggle .state.dotb-lightblue3 label:before {
    border-color: #93c9f8;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-lightblue3 label:after {
    background-color: #93c9f8 !important;
}

.pretty input:checked ~ .state.dotb-lightblue3 label:after,
.pretty.p-toggle .state.dotb-lightblue3 label:after {
    background-color: transparent;
}
[data-value=dotb-lightblue4]{
    background: #3a93ba;
}
.dotb-lightblue4_transparent{
    background: rgba(58,147,186,.5)!important;
}
.dotb-lightblue4_transparent_before{
    background: rgba(58,147,186,.1)!important;
}
.pretty input:checked ~ .state.dotb-lightblue4 label:before,
.pretty.p-toggle .state.dotb-lightblue4 label:before {
    border-color: #3a93ba;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-lightblue4 label:after {
    background-color: #3a93ba !important;
}
.pretty input:checked ~ .state.dotb-lightblue4 label:after,
.pretty.p-toggle .state.dotb-lightblue4 label:after {
    background-color: transparent;
}
[data-value=dotb-green]{
    background: #60b17d;
}
.dotb-green_transparent{
    background: rgba(96,177,125,.5)!important;
}
.dotb-green_transparent_before{
    background: rgba(96,177,125,.1)!important;
}
.pretty input:checked ~ .state.dotb-green label:before,
.pretty.p-toggle .state.dotb-green label:before {
    border-color: #60b17d;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-green label:after {
    background-color: #60b17d !important;
}
.pretty input:checked ~ .state.dotb-green label:after,
.pretty.p-toggle .state.dotb-green label:after {
    background-color: transparent;
}
[data-value=dotb-green1]{
    background: #00716b;
}
.dotb-green1_transparent{
    background: rgba(0,113,107,.5)!important;
}
.dotb-green1_transparent_before{
    background: rgba(0,113,107,.1)!important;
}
.pretty input:checked ~ .state.dotb-green1 label:before,
.pretty.p-toggle .state.dotb-green1 label:before {
    border-color: #00716b;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-green1 label:after {
    background-color: #00716b !important;
}
.pretty input:checked ~ .state.dotb-green1 label:after,
.pretty.p-toggle .state.dotb-green1 label:after {
    background-color: transparent;
}
[data-value=dotb-green2]{
    background: #009e73;
}
.dotb-green2_transparent{
    background: rgba(0,158,115,.5)!important;
}
.dotb-green2_transparent_before{
    background: rgba(0,158,115,.1)!important;
}
.pretty input:checked ~ .state.dotb-green2 label:before,
.pretty.p-toggle .state.dotb-green2 label:before {
    border-color: #009e73;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-green2 label:after {
    background-color: #009e73 !important;
}
.pretty input:checked ~ .state.dotb-green2 label:after,
.pretty.p-toggle .state.dotb-green2 label:after {
    background-color: transparent;
}
[data-value=dotb-orange]{
    background: #E2CE7D;
}
.dotb-orange_transparent{
    background: rgba(226,206,125,.5)!important;
}
.dotb-orange_transparent_before{
    background: rgba(226,206,125,.1)!important;
}
.pretty input:checked ~ .state.dotb-orange label:before,
.pretty.p-toggle .state.dotb-orange label:before {
    border-color: #E2CE7D;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-orange label:after {
    background-color: #E2CE7D !important;
}
.pretty input:checked ~ .state.dotb-orange label:after,
.pretty.p-toggle .state.dotb-orange label:after {
    background-color: transparent;
}
[data-value=dotb-orange1]{
    background: #E69F00;
}
.dotb-orange1_transparent{
    background: rgba(230,159,0,.5)!important;
}
.dotb-orange1_transparent_before{
    background: rgba(230,159,0,.1)!important;
}
.pretty input:checked ~ .state.dotb-orange1 label:before,
.pretty.p-toggle .state.dotb-orange1 label:before {
    border-color: #E69F00;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-orange1 label:after {
    background-color: #E69F00 !important;
}
.pretty input:checked ~ .state.dotb-orange1 label:after,
.pretty.p-toggle .state.dotb-orange1 label:after {
    background-color: transparent;
}
[data-value=dotb-orange2]{
    background: #FFB75d;
}
.dotb-orange2_transparent{
    background: rgba(255,183,93,.5)!important;
}
.dotb-orange2_transparent_before{
    background: rgba(255,183,93,.1)!important;
}
.pretty input:checked ~ .state.dotb-orange2 label:before,
.pretty.p-toggle .state.dotb-orange2 label:before {
    border-color: #FFB75d;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-orange2 label:after {
    background-color: #FFB75d !important;
}
.pretty input:checked ~ .state.dotb-orange2 label:after,
.pretty.p-toggle .state.dotb-orange2 label:after {
    background-color: transparent;
}
[data-value=dotb-red]{
    background: #C23934;
}
.dotb-red_transparent{
    background: rgba(194,57,52,.5)!important;
}
.dotb-red_transparent_before{
    background: rgba(194,57,52,.1)!important;
}
.pretty input:checked ~ .state.dotb-red label:before,
.pretty.p-toggle .state.dotb-red label:before {
    border-color: #C23934;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-red label:after {
    background-color: #C23934 !important;
}
.pretty input:checked ~ .state.dotb-red label:after,
.pretty.p-toggle .state.dotb-red label:after {
    background-color: transparent;
}
[data-value=dotb-purple]{
    background: #8073f7;
}
.dotb-purple_transparent{
    background: rgba(28,115,247,.5) !important;
}
.dotb-purple_transparent_before{
    background: rgba(28,115,247,.1) !important;
}
.pretty input:checked ~ .state.dotb-purple label:before,
.pretty.p-toggle .state.dotb-purple label:before {
    border-color: #8073f7;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-purple label:after {
    background-color: #8073f7 !important;
}
.pretty input:checked ~ .state.dotb-purple label:after,
.pretty.p-toggle .state.dotb-purple label:after {
    background-color: transparent;
}
[data-value=dotb-gray]{
    background: rgb(120, 120, 120);
}
.dotb-gray_transparent{
    background: rgba(0,161,224,.5)!important;
}
.dotb-gray_transparent_before{
    background: rgba(0,161,224,.1)!important;
}
.pretty input:checked ~ .state.dotb-gray label:before,
.pretty.p-toggle .state.dotb-gray label:before {
    border-color: #00A1E0;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-gray label:after {
    background-color: #00A1E0 !important;
}

.pretty input:checked ~ .state.dotb-gray label:after,
.pretty.p-toggle .state.dotb-gray label:after {
    background-color: transparent;
}