#calender .xdsoft_tdtpicker{
  border: 0 !important;
  width: 100% !important;
  padding: 8px !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), /* top-left */ -5px 5px 10px rgba(0, 0, 0, 0.1), /* top-right */ 5px -5px 10px rgba(0, 0, 0, 0.1), /* bottom-left */ -5px -5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  min-width: 320px;
}

#calender .xdsoft_datepicker{
  width: 100% !important;
}
#calender .xdsoft_tdtpicker .xdsoft_datepicker{
  margin-left: 0 !important;
}
.xdsoft_tdtpicker .xdsoft_month {
  display: grid;
  grid-template-columns: 88% 12%;
  width: 60%;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 7px;
  border-radius: 6px;
  background: #f1f1f5;
  text-align: left;
  max-width: 200px;
  min-width: 120px;
  padding-left: 12px;
}
.xdsoft_tdtpicker .xdsoft_year {
  display: grid;
  grid-template-columns: 84% 20%;
  width: 20%;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  background: #f1f1f5;
  max-width: 150px;
  min-width: 71px;
  text-align: left;
  padding: 6px 7px;
  padding-left: 10px;
}
.xdsoft_tdtpicker .xdsoft_label>.xdsoft_select.xdsoft_monthselect {
  right: 2px;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 95%;
  min-width: 70px;
  top: 30px;
}
.xdsoft_tdtpicker .xdsoft_month:hover {
  text-decoration: none;
}
.xdsoft_tdtpicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option:hover {
  color:black;
  background: #DDDDDD
}
.xdsoft_tdtpicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option {
  padding: 2px 10px 2px 5px;
  text-decoration: none !important;
  background: #F1F1F1;
}
.xdsoft_tdtpicker .xdsoft_year:hover {
  text-decoration: none;
  cursor: pointer;
}
.xdsoft_tdtpicker .xdsoft_label>.xdsoft_select.xdsoft_yearselect {
  right: 4px;
  top: 29px;
  width: 91%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.xdsoft_tdtpicker .xdsoft_label:hover>span {
  text-decoration: none
}
.xdsoft_tdtpicker .xdsoft_calendar th {
  width: 14.2857142%;
  background: none;
  border: 0px solid #ddd;
  color: rgb(183,183,183);
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  border-collapse: collapse;
  cursor: pointer;
  height: 30px;
}
.xdsoft_tdtpicker .xdsoft_calendar td {
  width: 14.2857142%;
  background: white;
  border: none;
  color: #666;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 32px;
  border-radius: 11px;
  font-weight: bold;
  font-size: 14px;
  padding-left: 3px;
}
.xdsoft_tdtpicker .xdsoft_monthpicker {
position: relative;
text-align: center;
display: flex;
align-items: center;
justify-content: space-between;
gap: 22px;
padding: 8px;
padding-bottom: 0px;
width: 100%;
}
#calender .xdsoft_tdtpicker
.xdsoft_tdtpicker .xdsoft_calendar td>div {
padding-right: 0px;
}
.xdsoft_tdtpicker .xdsoft_calendar td.xdsoft_default, .xdsoft_tdtpicker .xdsoft_calendar td.xdsoft_current, .xdsoft_tdtpicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
z-index: 1;
color: #fff;
font-weight: 700;
}
.xdsoft_tdtpicker .xdsoft_calendar td:hover,.xdsoft_tdtpicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
color: #fff !important;
background: #A0E9FF !important;
box-shadow: none !important
}
.xdsoft_tdtpicker .xdsoft_calendar {
padding-top: 10px;
padding-bottom: 10px;
clear: both;
}
.navi-icon:hover {
background: #F1EFEF !important;
}
.xdsoft_tdtpicker .xdsoft_today_button {
margin-left: 0px;
}
.xdsoft_tdtpicker .xdsoft_next, .xdsoft_tdtpicker .xdsoft_prev, .xdsoft_tdtpicker .xdsoft_today_button {
cursor: pointer;
display: block;
width: 30px;
-ms-filter: "alpha(opacity=50)";
outline: medium none;
overflow: hidden;
padding: 0;
position: relative;
white-space: nowrap;
min-width: 0;
border-radius: 8px;
font-size: 18px;
text-align: center;
opacity: 1;
text-indent: 0%;
background: #f1f1f5;
}
.xdsoft_tdtpicker .xdsoft_label i, .xdsoft_tdtpicker .xdsoft_prev, .xdsoft_tdtpicker .xdsoft_next, .xdsoft_tdtpicker .xdsoft_today_button{
background-image: none;
}
.xdsoft_tdtpicker .xdsoft_calendar td.xdsoft_other_month, .xdsoft_tdtpicker .xdsoft_calendar td.xdsoft_disabled, .xdsoft_tdtpicker .xdsoft_time_box>div>div.xdsoft_disabled {
opacity: .25;
-ms-filter: "alpha(opacity=50)";
cursor: default;
}


.navigation-group {
display: flex;
align-items: center;
gap: 6px;
justify-content: right;
}
.time-group {
display: flex;
align-items: center;
width: 80%;
}
.ms-drop ul > li label {
font-weight: normal;
display: flex;
white-space: nowrap;
cursor: pointer;
align-items: center;
}
.ms-choice {
display: block;
width: 100%;
vertical-align: middle;
height: 30px;
padding: 0;
overflow: hidden;
cursor: pointer;
border: 0.5px solid #F1F1F1;
text-align: left;
white-space: nowrap;
line-height: 26px;
color: #444;
text-decoration: none;
border-radius: 9px;
background-color: #f1f1f5;
background-image: none;
}
.ms-drop {
width: 100%;
overflow: hidden;
display: none;
margin-top: -1px;
padding: 0;
position: absolute;
z-index: 1000;
background: #fff;
color: #000;
border: 0.5px solid #F1F1F1;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.ms-search input {
width: 100%;
height: auto !important;
min-height: 24px;
padding: 0 20px 0 5px;
margin: 0;
outline: 0;
font-family: sans-serif;
border: 0.5px solid #F1F1F1;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
background: #fff url(multiple-select.png) no-repeat 100% -22px;
background: url(multiple-select.png) no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eee));
background: url(multiple-select.png) no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eee 99%);
background: url(multiple-select.png) no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eee 99%);
background: url(multiple-select.png) no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eee 99%);
background: url(multiple-select.png) no-repeat 100% -22px, -ms-linear-gradient(top, #fff 85%, #eee 99%);
background: url(multiple-select.png) no-repeat 100% -22px, linear-gradient(to bottom, #fff 85%, #eee 99%);
-webkit-box-sizing: border-box;
-khtml-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
.ms-choice > span {
position: absolute;
top: 0;
left: 0;
right: 20px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
display: block;
padding-left: 8px;
cursor: pointer;
}
.fa-chevron-down {
font-size: 11px;
padding-top: 4px;
color: black !important;
}
.xdsoft_tdtpicker .xdsoft_label>.xdsoft_select {
border: none;
position: absolute;
right: 0;
top: 30px;
z-index: 101;
display: none;
background: rgb(243,244,246);
max-height: 160px;
overflow-y: hidden;
font-weight: normal;
font-size: 15px;
}
.filter-group {
margin-top: 13px;
}