.tiva-timetable .timetable-week .timetable-content-title {
    font-weight: 700;
    font-size: 17px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 135px;
}
.tiva-timetable .timetable-week .timetable-content {
    font-size: 14px !important;
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
.timetable-week .timetable-title {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}
.timetable-title:hover {
    text-decoration: none;
}
.timetable-month .timetable-title {
    display: grid;
}
.timetable-month .timetable-name {
    font-weight: bold;
}
.tiva-timetable .timetable-week .timetable-item {
    display: flex;
    text-align: center;
    position: absolute;
    padding-left: 0 !important;
    width: 99.5%;
    cursor: pointer;
    justify-content: center;
}
.tiva-timetable .timetable-week .timetable-item .timetable-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    border: solid 1px;
    border-radius: 10px;
    margin-top: -1px;
}

.tiva-timetable .timetable-week .finish{
    background: rgb(224,224,224);
}
.tiva-timetable .timetable-week .finish .timetable-content-title {
    color: rgb(140,143,153);
}
.tiva-timetable .timetable-week .finish .timetable-content {
    color: rgb(140,143,153);
}
.tiva-timetable .timetable-week .finish:hover{
    background: #D8D9DA;
    text-decoration: none;
}
.tiva-timetable .timetable-week .in-progress{
    background: rgb(239,242,254);
}
.tiva-timetable .timetable-week .in-progress .timetable-content-title {
    color: rgb(94,129,244);
}
.tiva-timetable .timetable-week .in-progress .timetable-content {
    color: rgb(94,129,244);
}
.tiva-timetable .timetable-week .in-progress:hover{
    background: #A1C2F1;
    text-decoration: none;
}
.tiva-timetable .timetable-week .timetable-item .timetable-name {
    color: #3c4043;
    font-weight: bold !important;
}
.today-class-section .timetable-title {
    display: flex;
    height: 53px;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
}
.today-class-section .timetable-item {
    width: 100%;
}
.today-class-section .timetable-title .timetable-custom-title {
    display: flex !important;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    align-items: baseline;
    padding-left: 3px;
    font-size: 14px;
    border-radius: 17px;
}
.today-class-section .timetable-title .timetable-syllabus-title span{
    margin-left: 10px;
    font-size: 19px;
    font-weight: bold;
    margin-top: 8px;
}
.today-class-section .timetable-title span{
    display: none
}
.today-class-section .vertical-bar {
    display: block !important;
    height: 63%;
    border: solid;
    border-radius: 12px;
    margin-left: 10px;
    margin-top: 8px;
}