#selectTimeTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#selectTimeTable td{
    border: 1px solid #ddd;
    padding: 8px;
}

#loadCalendar {
    font-size: 14px;
    height: 30px;
    border-color: #47bb7f;
    background-color: #193059;
    box-shadow: none;
    margin-left: 8px;
    border: 1px solid rgba(0,0,0,0.1);
    text-shadow: none;
    color: #e0e0e0;
    letter-spacing: 0.4px;
}

.headerpane{
    margin-top: 20px;
    text-align: center;
    background: #f1f1f1;
    padding: 20px 0;
    border-radius: 7px;
}

.nav-left {
    margin-bottom: 20px;
}
.label{
    font-weight: 700;
    color: #000;
    letter-spacing: 0.3px;
    font-size: 15px;
    margin-left: 7px;
}

.clickMenu {
    cursor: pointer;
    list-style: none;
    padding: 0px;
    margin: 0 !important;
    color: #262627;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #ebebea;
    background-image: -moz-linear-gradient(top, #ffffff, #cdcccb);
    background-image: -ms-linear-gradient(top, #ffffff, #cdcccb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#cdcccb));
    background-image: -webkit-linear-gradient(top, #ffffff, #cdcccb);
    background-image: -o-linear-gradient(top, #ffffff, #cdcccb);
    background-image: linear-gradient(top, #ffffff, #cdcccb);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cdcccb', GradientType=0);
    border-color: #cdcccb #cdcccb #a8a6a4;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
    *display: inline;
    *zoom: 1;
}

#dataType {
    cursor: pointer;
}

.lds-ellipsis {
    display: flex;
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #193059;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
.headerpane-left {
    display: inline;
    margin-left: 20px;
}

.headerpane-right {
    display: inline;
    margin-left: 50%;
}
.tabForm {
    border-collapse: separate;
    border-spacing: 2px;
    width: -webkit-fill-available;
}