.tiva-timetable .timetable-day {
    width: 100%;
    float: left;
    height: 40px;
}
.tiva-timetable .timetable-day div.timetable-header {
    color: #193059;
    font-weight: 700 !important;
    text-align: center !important;
    text-transform: uppercase!important;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 20px;
    border-right: 1px solid #e8e8e8;
}
.tiva-timetable .timetable-day div.timetable-header.today > span {
    font-weight: 600;
    font-size: 20px;
    color: white;
    background: #3af;
    border-radius: 9px;
    padding: 5px;
    padding-right: 7px;
}
.tiva-timetable .timetable-day .timetable-axis {
    width: 70px;
    padding-right: 14px;
    float: left;
    padding-top: 55px;
}
.tiva-timetable .timetable-day .timetable-axis .axis-item {
    height: 100px;
    font-size: 13px;
    line-height: 12px;
    font-weight: 600;
    opacity: 0.25;
    border-right: 1px solid #e8e8e8;
}
.tiva-timetable .timetable-day .timetable-row {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 5% 95%;
    height: 60px;

}
.tiva-timetable .timetable-day .timetable-row .axis-item {
    text-align: right;
    font-size: 12px;
    opacity: 0.5;
    padding-right: 10px;
    margin-top: -13px;
}
.tiva-timetable .timetable-day .timetable-row .timetable-row-content {
    border: solid 1px rgb(224,224,224);
    border-top: none;
    border-left: none;
}
.tiva-timetable .timetable-day .timetable-row .first-row{
    border-top: solid 1px rgb(224,224,224);
}
.tiva-timetable .timetable-day .timetable-row .last-row{
    border-bottom: none;
}
.tiva-timetable .timetable-day .timetable-rows{
}
.tiva-timetable .timetable-day .timetable-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    margin-bottom: -2px;
    margin-right: 19px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 7px;
    text-decoration: none !important;
}
.tiva-timetable .timetable-day .timetable-title .timetable-content{
    font-weight: normal !important;
    font-size: 15px !important;
}
.tiva-timetable .timetable-day .timetable-item {
    position: absolute;
    display: flex;
    text-align: center;
    padding-left: 0px !important;
    cursor: pointer;
    justify-content: center;
    width: 95%;
    font-weight: 700;
    font-size: 17px !important;
}
