.dotb-light-theme .communication-container .messageArea {
    box-shadow: inset 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.dotb-light-theme .communication-container .messageArea .commType {
    background-color: #f1f3f4;
    border: 1px solid #cfcfcf;
}

.dotb-light-theme .communication-container .messageArea .actionBar {
    background-color: #f1f3f4;
    border: 1px solid #cfcfcf;
    border-top: 8px solid #cfcfcf !important;
}

.dotb-light-theme .communication-container .messageArea .actionBar .actionButtons .sendButton {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.dotb-light-theme .communication-container .messageArea .commNote.to .messageContent .messageActionBar {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
}

.dotb-light-theme .communication-container .messageArea .commNote.to .messageContent .messageActionBar .sicon {
    color: white;
    cursor: pointer;
}

.dotb-light-theme .communication-container .messageArea .commNote.to .messageContent .messageText {
    margin-top: 0.8rem;
}

.dotb-light-theme .communication-container .messageArea .commNote.to .messageContent .noteAttachment .sicon-attach {
    color: white;
}

.dotb-light-theme .communication-container .messageArea .commNote.from .messageContent .noteAttachment .sicon-attach {
    color: black;
}

.dotb-light-theme .communication-container .messageArea .commNote .messageContent {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.dotb-light-theme .communication-container .fileInput.highlightDropArea {
    background-color: lightskyblue;
    border: 1px dotted blue;
}

.dotb-light-theme .communication-container .sideToggle {
    background-color: #f1f3f4;
}

.dotb-light-theme .communication-container .sideToggle.pull-right {
    border-left: 1px solid #cfcfcf;
}

.dotb-light-theme .communication-container .sideToggle.pull-left {
    border-right: 1px solid #cfcfcf;
}

.dotb-dark-theme .communication-container .messageArea {
    box-shadow: inset 0px 50px 20px rgba(0, 0, 0, 0.5);
}

.dotb-dark-theme .communication-container .messageArea .commType {
    background-color: #16191d;
    border: 1px solid #0c0e0f;
}

.dotb-dark-theme .communication-container .messageArea .actionBar {
    background-color: #16191d;
    border: 1px solid #0d0e10;
    border-top: 8px solid #0d0e10 !important;
}

.dotb-dark-theme .communication-container .messageArea .actionBar .actionButtons .sendButton {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.dotb-dark-theme .communication-container .messageArea .commNote.to .messageContent .messageActionBar {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
}

.dotb-dark-theme .communication-container .messageArea .commNote.to .messageContent .messageActionBar .sicon {
    color: white;
    cursor: pointer;
}

.dotb-dark-theme .communication-container .messageArea .commNote.to .messageContent .messageText {
    margin-top: 0.8rem;
}

.dotb-dark-theme .communication-container .messageArea .commNote .messageContent .noteAttachment .sicon-attach {
    color: white;
}

.dotb-dark-theme .communication-container .messageArea .commNote .messageContent {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.dotb-dark-theme .communication-container .sideToggle {
    background-color: #16191d;
}

.dotb-dark-theme .communication-container .sideToggle .chevron {
    color: white;
}

.dotb-dark-theme .communication-container .sideToggle.pull-right {
    border-left: 1px solid #0c0e0f;
}

.dotb-dark-theme .communication-container .sideToggle.pull-left {
    border-right: 1px solid #0c0e0f;
}

.communication {
    min-width: 800px;
}

.communication-container {
    display: block !important;
}

.communication-container .messageArea .commType {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.communication-container .messageArea .actionBar {
    padding: 1rem;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
}

.communication-container .messageArea .actionBar .actionInputs {
    width: 90%;
    height: 100%;
    position: relative;
}

.communication-container .messageArea .actionBar .actionInputs .noteSubject input {
    width: calc(100% - 1rem);
    margin-bottom: 1rem;
}

.communication-container .messageArea .actionBar .actionInputs .noteContent textarea {
    width: calc(100% - 1rem);
    resize: none;
    height: 6rem;
}

.communication-container .messageArea .actionBar .actionInputs .fileInput {
    position: absolute;
    bottom: 32px;
    left: 0px;
    width: 100%;
    margin-left: -5px;
}

.communication-container .messageArea .actionBar .actionInputs .fileInput .file-selector {
    margin-left: 0px;
}

.communication-container .messageArea .actionBar .actionInputs .fileInput .ellipsis_inline {
    margin-right: 15px;
}

.communication-container .messageArea .actionBar .actionInputs .fileInput .select2-search-choice a {
    margin-top: 1px;
    padding-left: 4px;
}

.communication-container .messageArea .actionBar .actionInputs .fileInput .select2-container.with-padding {
    margin-left: 5px !important;
    width: 99.6%;
}

.communication-container .messageArea .actionBar .actionInputs .fileInput .select2-container.with-padding .select2-choices {
    padding-left: 66px !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

.communication-container .messageArea .actionBar .actionInputs .fileInput .select2-container.with-padding .select2-choices .select2-search-choice {
    padding: 2px 2px 0 6px;
}

.communication-container .messageArea .actionBar .actionInputs .fileInput .select2-container.with-padding .select2-choices .select2-search-choice div {
    float: left;
}

.communication-container .messageArea .actionBar .actionInputs .fileInput .select2-container.with-padding .select2-choices .select2-search-choice div span.select2-choice-type {
    line-height: 6px;
}

.communication-container .messageArea .actionBar .actionInputs .fileInput .select2-container.with-padding .select2-choices .select2-search-choice a.multi-attachment-link {
    float: left;
    padding-left: 5px;
    margin-right: -3px;
    margin-top: 1px;
}

.communication-container .messageArea .actionBar .actionInputs .fileInput .select2-container.with-padding .select2-choices .select2-search-choice a.multi-attachment-link-type {
    float: right;
    margin-top: 1px;
    margin-left: 3px;
}

.communication-container .messageArea .actionBar .actionInputs .fileInput label.multi-attach-btn {
    line-height: 12px;
    margin-top: -7px;
    padding: 4px 7px;
}

.communication-container .messageArea .actionBar .actionInputs .emailTemplate {
    width: calc(100% - 1rem);
    margin-bottom: 1rem;
}

.communication-container .messageArea .actionBar .actionInputs .emailTemplate select {
    margin-top: 2.5rem;
    width: 100%;
}

.communication-container .messageArea .actionBar .actionButtons {
    width: 10%;
    height: 100%;
}

.communication-container .messageArea .actionBar .actionButtons .sendButton {
    width: 100%;
    height: 6.5rem;
    border-radius: 20px;
}

.communication-container .messageArea .actionBar .actionButtons .sendButton:focus {
    outline: 0;
}

.communication-container .messageArea .actionBar .actionButtons .sendButton .sicon-message-lg {
    font-size: 30px !important;
    width: auto !important;
}

.communication-container .messageArea .commNote {
    margin: 1em 0 1em 0;
    display: flex;
    align-items: center;
}

.communication-container .messageArea .commNote.from {
    justify-content: right;
    padding-right: 1rem;
}

.communication-container .messageArea .commNote.to {
    justify-content: left;
    padding-left: 1rem;
}

.communication-container .messageArea .commNote .commIcon.pull-left {
    margin-right: 10px;
}

.communication-container .messageArea .commNote .commIcon.pull-right {
    margin-left: 10px;
}

.communication-container .messageArea .commNote .messageContent {
    border-radius: 5px;
    padding: 17px;
    max-width: 45%;
    position: relative;
}

.communication-container .messageArea .commNote .commSignature {
    font-style: italic;
    font-size: x-small;
}

.communication-container .messageArea .commNote .commSignature .signatureDate {
    white-space: nowrap;
}

/*.communication-container .messageArea .commNote:nth-child(2) {*/
/*    margin-top: 4rem !important;*/
/*}*/

/*.communication-container .messageArea .commNote:nth-last-child(2) {*/
/*    margin-bottom: 18rem !important;*/
/*}*/

.communication-container .sideToggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    width: 30px;
}

.communication-container .sideToggle .chevron {
    width: 100%;
    text-align: center;
}

.dotb-light-theme .communication-header {
    background-color: #f1f3f4;
    border-bottom: 1px solid #cfcfcf;
}

.dotb-dark-theme .communication-header {
    background-color: #16191d;
    border-bottom: 1px solid #0c0e0f;
}

.dotb-dark-theme .communication-header .chevron {
    color: white;
}

.communication-header {
    border-top: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    cursor: pointer;
}

.communication-header h4 {
    padding: 0px 15px 0 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.communication-header h4 .chevron {
    margin-left: 5px;
}

.send-message-loader {
    margin-left: 4px;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sending-title {
    margin-top: 6px;
    margin-bottom: -12px;
    color: black;
    font-size: 11px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-style: italic;
}
.image_rounded img {
    width: 42px;
    height: 42px;
}