
#chat {
    background: var(--chat-background);
    max-width: 600px;
    margin: 25px auto;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

#chat::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1495808985667-ba4ce2ef31b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) fixed;
    z-index: -1;
}

.btn-icon {
    position: relative;
    cursor: pointer;
}

.btn-icon svg {
    width: 75%;
    height: auto;
    position: absolute;
    top: 48%;
    left: 52%;
    transform: translate(-50%, -50%);
}
.add-file-button svg {
    fill: #FFF;
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.add-emoji-button svg {
    fill: #FFF;
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chat__conversation-board {
    padding: 1em 0 2em;
    height: calc(100vh - 55px - 2em - 25px * 2 - .5em - 3em);
    overflow: auto;
}

.chat__conversation-board__message-container.reversed {
    flex-direction: row-reverse;
}

.chat__conversation-board__message-container.reversed .chat__conversation-board__message__bubble span:not(:last-child) {
    margin: 0 0 2em 0;
}

.chat__conversation-board__message-container.reversed .chat__conversation-board__message__person {
    margin: 0 0 0 1.2em;
}

.chat__conversation-board__message-container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.chat__conversation-board__message-container:hover .chat__conversation-board__message__options {
    display: flex;
    align-items: center;
}

.chat__conversation-board__message-container:hover .option-item:not(:last-child) {
    margin: 0 .5em 0 0;
}

.chat__conversation-board__message-container:not(:last-child) {
    margin: 0 0 2em 0;
}

.chat__conversation-board__message__person {
    text-align: center;
    margin: 0 1.2em 0 0;
}

.chat__conversation-board__message__person__avatar {
    height: 35px;
    width: 35px;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    -ms-user-select: none;
    position: relative;
}

.chat__conversation-board__message__person__avatar img {
    height: 100%;
    width: auto;
}

.chat__conversation-board__message__person__nickname {
    font-size: 9px;
    color: #484848;
    user-select: none;
    display: none;
}

.chat__conversation-board__message__context {
    max-width: 55%;
    align-self: flex-end;
}

.chat__conversation-board__message__options {
    align-self: center;
    position: absolute;
    right: 0;
    display: none;
}

.chat__conversation-board__message__options .option-item {
    border: 0;
    background: 0;
    padding: 0;
    margin: 0;
    height: 16px;
    width: 16px;
    outline: none;
}

.chat__conversation-board__message__options .emoji-button svg {
    stroke: var(--chat-options-svg);
    fill: transparent;
    width: 100%;
}

.chat__conversation-board__message__options .more-button svg {
    stroke: var(--chat-options-svg);
    fill: transparent;
    width: 100%;
}

.chat__conversation-board__message__bubble span {
    width: fit-content;
    display: inline-table;
    word-wrap: break-word;
    background: var(--chat-bubble-background);
    font-size: 13px;
    color: var(--chat-text-color);
    padding: .5em .8em;
    line-height: 1.5;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
}

.chat__conversation-board__message__bubble span:not(:last-child) {
    margin: 0 0 .3em;
}

.chat__conversation-board__message__bubble span:active {
    background: var(--chat-bubble-active-background);
}

.chat__conversation-panel {
    padding: 0 1em;
    height: 51px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-bottom: 8px;
}

.chat__conversation-panel__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background: white;
    border-radius: 14px;
    justify-content: center;
    border: 2px solid #e9e9e9;
    margin-top: 10px;
}

.chat__conversation-panel__container .panel-item:not(:last-child) {
    margin: 0 1em 0 0;
}

.chat__conversation-panel__button {
    background: grey;
    height: 20px;
    width: 30px;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.chat__conversation-panel__button.add-file-button {
    height: 38px;
    width: 43px;
    background: transparent;
    border-radius: 50%;
    margin-left: 6px !important;
}
.messageText {
    color: black;
    font-size: 14px;
    margin-top: -10px;
}
.messageText p {
    word-wrap: break-word;
}
.chat__conversation-panel__button.add-file-button svg {
    width: 70%;
    cursor: pointer;
}
.chat__conversation-panel__button.add-emoji-button {
    height: 38px;
    width: 43px;
    background: transparent;
    border-radius: 50%;
    margin-left: -13px !important;
}
.chat__conversation-panel__button.add-emoji-button svg {
    width: 70%;
    cursor: pointer;
}
.communication-container .messageArea .commNote .messageContent.pull-left {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.messageContent.pull-left .messageText {
    color: #0a0a0a;
}
.communication-container .messageArea .commNote .messageContent.pull-right {
    background-color: #e5efff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.messageFile {
    position: relative;
}
.messageFile .file-element {
    height: 60px !important;
    cursor: pointer;
}
.messageFile .file-element .file-size-contain a {
    display: none;
}
.messageFile .file-element .file-content {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
}
.chat__conversation-panel__button.emoji-button {
    height: 35px;
    /* min-width: 23px; */
    width: 40px;
    background: #8147fc;
    border-radius: 50%;
}

.chat__conversation-panel__button.emoji-button svg {
    width: 100%;
    fill: transparent;
    stroke: #54575c;
}
.boxChatContainer {
    width: 100%;
    transition: border 0.2s;
    height: 100%;
    background-color: #eef0f1;
}
.chat__conversation-panel__button.send-message-button {
    background: #0084ff;
    height: 80%;
    min-width: 40px;
    border-radius: 12px;
    transition: .3s ease;
    margin-right: 6px;
}
.chat__conversation-panel__button.send-message-button.disabled {
    opacity: 0.25;
    cursor: unset;
    background: #b5b5b5;
}
.chat__conversation-panel__button.send-message-button.disabled svg{
    color: black
}
.chat__conversation-panel__button.send-message-button:active {
    transform: scale(.97);
}

.chat__conversation-panel__button.send-message-button svg {
    margin: 1px -1px;
}

.chat__conversation-panel__input {
    width: 100%;
    height: 100%;
    outline: none;
    position: relative;
    color: var(--chat-text-color);
    font-size: 13px;
    background: transparent;
    border: 0;
    font-family: 'Lato', sans-serif;
    resize: none;
}


.dotb-light-theme .contact-communication .messageArea {
    background: linear-gradient(180deg, #fff 0%, #fcf9fd 80%, #fdf3ff 100%);
    border-left: 1px solid #cfcfcf;
}

.dotb-light-theme .contact-communication .messageArea .commNote.from .messageContent {
    background-color: #bdbdbd;
    color: black;
}

.dotb-light-theme .contact-communication .messageArea .commNote.to .messageContent {
    background-color: #ab47bc;
    color: black;
}

.dotb-dark-theme .contact-communication .messageArea {
    background: linear-gradient(180deg, #000 0%, #5b3f65 80%, #5b3f65 100%);
    border-left: 1px solid #0c0e0f;
}

.dotb-dark-theme .contact-communication .messageArea .commNote.from .messageContent {
    background-color: #3b3b3b;
    color: white;
}

.dotb-dark-theme .contact-communication .messageArea .commNote.to .messageContent {
    background-color: #ab47bc;
    color: white;
}

.contact-communication {
    margin-left: 0px !important;
    width: 100%;
    height: 420px;
    min-height: 420px !important;
    max-height: 550px !important;
    position: relative;
}

.contact-communication .messageArea {
    overflow-y: scroll;
    min-height: 200px !important;
    max-height: 500px !important;
    padding: 0 1rem 0 1rem;
    height: 87%;
    position: relative;
    background-color: #eef0f1;
}

.contact-communication .messageArea.base {
    width: calc(100% - 31px - 2rem - 1px) !important;
}
.upload-overlay{
    justify-content: center;
    align-items: center;
    height: 330px;
    font-size: 23px;
    font-weight: bold;
    color: white;
    background: #BBE2EC;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border: 4px solid #B4B4B8;
    display: none;
    pointer-events: none;
}
.boxChatContainer.onDragover {
    border: 4px solid #C7C8CC;
    box-shadow: 12px 9px 8px rgba(0, 0, 0, 0.1);
}
:root {
    --file-container-bg: #eeeeee;
    --file-bg: #f8f8f8;
    --file-border-color: #606060;
    --file-rounded: 15px;
    --file-color: #2b2b2b;
    --table-border-color: #dbdbdb;
    --delete-button-bg: #f53636;
    --delete-button-color: #ffffff;
    --font-size: 0.875em;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.5);
}
.file-container {
    display: grid;
    grid-template-columns: 80% 50%;
    width: 480px;
    font-family: var(--font-family);
    grid-row: auto;
}

.file-upload {
    width: 360px;
    height: 240px;
    display: flex;
    background-color: #F6FAFF;
    border-radius: var(--file-rounded);
    transition: all 0.3s;
    border: 2px dashed #1165C7;
    margin-top: 4px
}

/*.file-upload:hover {*/
/*    box-shadow: var(--shadow);*/
/*}*/

.file-upload > div {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    transition: border 0.3s; /* Add a transition for a smooth effect */
}

.file-upload > div > i {
    font-size: 3.125em;
    color: var(--file-color);
}
.onDragover {
    transition: border 0.1s ease;
    border: 2px solid #1165C7 !important;
}
.file-upload > div > p,
.file-upload > div > span,
.file-upload > div > div {
    font-size: var(--font-size);
    color: var(--file-color);
}

.file-upload > div > div {
    width: max-content;
    padding: 0 10px;
    margin: 0 auto;
    border: 1px solid var(--file-border-color);
    border-radius: 8px;
}

.file-container > table {
    width: 100%;
    border-collapse: collapse;
    font-size: var(--font-size);
    margin-top: 20px;
}

.file-container > table th,
.file-container > table td {
    border-bottom: 1px solid var(--table-border-color);
    padding: 8px;
    text-align: left;
}

.file-container > table tbody > tr > td:nth-child(1) {
    font-weight: bold;
}

.file-container > table tbody > tr > td:nth-child(2) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}

.file-container > table tbody > tr > td:nth-child(3) {
    text-align: center;
}

.file-container > table tbody > tr > td > img {
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.file-container > table tbody > tr.no-file > td {
    text-align: center;
    font-weight: normal;
}

.file-container > table tbody > tr > td > i {
    font-size: 1.125em;
}

.file-container > table button {
    background-color: var(--delete-button-bg);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.file-container > table button:hover {
    box-shadow: var(--shadow);
}

.file-container > table button > i {
    color: var(--delete-button-color);
    font-size: 1.125em;
}
#upload-file-list {
    height: 246px;
    width: 460px;
    overflow: auto;
    display: flex;
    justify-content: center;
}
.progress-container {
    width: 410px;
    height: 7px;
    margin-left: 12px;
    margin-top: 11px;
    background: red;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center
}
.file-name {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.file-info {
    display: grid;
    grid-template-columns: 30% 56% 10%;;
    height: 100%;
}
.file-preview > i {
    font-size: 37px;
}
.file-preview {
    display: flex;
    justify-content: center;
    align-items: center;
}
.file-content {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
}
.exit-and-percent {
    padding-top: 5px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
}
.upload-percent {
    font-size: 13px;
    opacity: 0.55;
    margin-bottom: 8px;
}
.file-size-contain {
    font-size: 13px;
    opacity: 0.55;
    margin-top: 3px;
}
.file-preview .img-preview {
    height: 50px !important;
    width: 50px !important;
    border-radius: 10px;
}
.img-preview.show-image {
    width: 540px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 10px;
}
progress {
    width: 100%;
}
.delete-file {
    cursor: pointer;
}
.delete-file:hover {
    box-shadow: var(--shadow);
    color: red;
}
.dragFileTitle {
    font-size: 17px !important;
    font-weight: bold;
    opacity: 0.5;
}
.browseFileTitle {
    margin-bottom: 3px;
    font-size: 15px;
    opacity: 0.75;
    padding-left: 4px;
    padding-right: 4px;
}
.browseButton {
    width: 168px;
    height: 33px;
    background: #1165C7;
    border-radius: 7px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-top: 22px;
}
.browseButton:hover {
    text-decoration: none;
    background-color: blue;
    transition: background-color 1s ease;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.browseButton:active {
    box-shadow: none;
    transform: translateY(0);
    border:none;
}
.browseButton:disabled {
    pointer-events: none;
    border:none;
}
#no-file {
    padding-top: 115px;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    opacity: 0.5;
}

.fa-file-word-o {
    color: #86B6F6;
}
.fa-file-excel-o {
    color: #9ADE7B;
}
.fa-file-video-o {
    color: #7071E8;
}
.fa-file {
    color: #B6BBC4;
}
.fa-file-text {
    color: #427D;
}
.fa-file-pdf-o {
    color: #FF6969;
}
.fa-file-archive-o {
    color: #FFC436;
}
.fa-file-powerpoint-o {
    color: #FF9130;
}

.file-element {
    display: grid;
    border-radius: 6px;
    width: 180px !important;
    padding: 6px;
    padding-left: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: white;
}
.pull-right .file-element {
    background-color: #e5efff;
}
.pull-left .file-element {
    background-color: white;
}
.message .file-info {
    grid-template-columns: 30% 70%;
}
.message .progress-container {
    display: none !important;
}
.message .exit-and-percent {
    display: none !important;
}

/*.file-list .file-name {*/
/*    width: 135px !important;*/
/*}*/
.detail-container .upload-file-list {
    overflow: auto;
    width: 1104px;
    height: 225px;
}
.file-download {
    color: #6FB0DD;
    cursor: pointer;
}
.file-download:hover {
    color: #6FB0DD;
    text-decoration: underline;
}
/*.actionBar {*/
/*    height: 25%;*/
/*}*/
.file-list {
    height: 73%;
    display: none;
    gap: 4px;
    margin-bottom: -10px;
    padding: 5px;
    padding-left: 14px;
}
.messageFile .file-element {
    height: 60px !important;
}
.messageFile .file-element .file-info {
    grid-template-columns: 25% 75% !important;
}
.message-loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: #B5C0D0;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}
@keyframes animloader {
    0% {
        box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
    }
    33% {
        box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
    }
    66% {
        box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
    }
    100% {
        box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
    }
}
.chat__conversation-panel-reopen {
    display: flex;
    flex-direction: column;
    background: #D9EDBF;
    height: 70px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.chat__conversation-panel-closed{
    display: flex;
    flex-direction: column;
    background: #D9EDBF;
    height: 70px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.reopen-button-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}

.container-star {
    position: relative;
    top: 54%;
    left: 54%;
    transform: translate(-50%, -50%) rotateY(180deg);
}
:root{
    --primary-colour: #191919;
    --secondary-colour: hsl(233 80% 70%);

    --star-colour: hsl(38 90% 55%);
}
.container-star .container__items{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0 .5em;

    width: 100%;
    height: 100%;
}

.container-star .container__items input{
    display: none;
}

.container-star .container__items label{
    width: 20%;
    aspect-ratio: 1;
    cursor: pointer;
}

.container-star .container__items label .star-stroke{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.container-star .container__items label .star-stroke .star-fill{
    width: 70%;
    aspect-ratio: 1;
    background: darkgray;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.container-star .container__items input:hover ~ label .star-stroke,.container .container__items input:checked ~ label .star-stroke{
    background: var(--star-colour);
}

.container-star .container__items input:checked ~ label .star-stroke .star-fill{
    background: var(--star-colour);
}

.container-star .container__items label:hover .label-description::after{
    content: attr(data-content);
    position: fixed;
    left: 0;
    right: 0;

    margin-top: 1em;
    margin-inline: auto;

    width: 100%;
    height: 2em;

    color: #fff;

    text-align: center;
    font-size: 2rem;

    transform: rotateY(180deg);
}
#rating-popup {
    height: 185px;
    width: 480px;
    background: white;
    border-radius: 30px;
}
.star-rating-header {
    background: #C4E4FF;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.star-rating-container {
    width: 30%;
    display: grid;
    align-items: center;
    grid-template-columns: 43% 20%;
    min-width: 380px;
}
.chat__conversation-panel-closed .star-rating-container {
    justify-content: center;
}
.file-send-loading {
    text-align: right;
}
.msg-action-group {
    transition: transform 0.3s ease-in-out;
    transform: translateX(195%);
    display: flex;
    justify-content: space-between;
    gap: 7px;
    font-size: 15px;
    margin: 10px;
}
.msg-action-group.active {
    transform: translateX(0);
}
.fa-trash {
    cursor: pointer
}
.fa-pencil {
    cursor: pointer
}
.fa-trash:hover {
    color: red
}
.fa-pencil:hover {
    color: #007bff;
}

.edit-message-box {
    width: 165px;
    display: none;
    justify-content: center;
    align-items: center;
    grid-template-columns: 10% 75% 10%;
    text-align: center;
    background: rgb(233, 233, 233);
    height: 25px;
    border-radius: 7px;
    padding: 5px;
    margin-right: 10px;
}
#cancel-editing {
    cursor: pointer;
}
#cancel-editing:hover {
    color: red;
}