.last_comment{
    text-overflow: ellipsis;
    overflow: hidden;
}
.mark-container {

}
.mark-row {
    line-height: 20px;
}
.mark-row.overall {
    border-top: solid 1px rgb(241,241,241);
    padding-top: 5px;
    margin-top: 5px;
}
.mark-label {
    font-weight: bold;
}
.mark-label.overall{
    color: red;
}
.star-rating {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: red;
    font-weight: bold;
}
.star {
    padding-left: 2px;
    font-size: 18px;
    color: #ffc700;
}
.feedback-popup {
    display: grid;
    background-color: white;
    height: 400px;
    width: 500px;
    border-radius: 8px;
    padding: 20px;
    grid-template-rows: 7% 7% 7% 7% 7% 35% 7% 23%;
}
.feedback-popup-header {
    display: grid;
    grid-template-columns: 95% 5%;
}
.feedback-popup-header span {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.feedback-popup-content {
    text-align: left;
}
.require-star {
    color: red;
    font-size: 15px;
}
.feedback-popup textarea {
    width: 98%;
    margin-bottom: 14px;
}
.feedback-popup-footer {
    display: flex;
    justify-content: right;
    align-items: end;
}