.dri-workflow-wrapper .dri-workflow-card {
  margin: 10px;
  padding: 24px;
  min-height: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  background-color: #f6f6f6;
}
.dri-workflow-wrapper .block-footer {
  border-top: 0;
}
.dri-workflow-wrapper .well {
  margin-bottom: 0;
  box-shadow: none;
}
.dri-workflow-wrapper .dri-workflow-info {
  margin-bottom: 10px;
}
.dri-workflow-wrapper .loading-wrapper .span {
  margin-left: 5px;
}
.dri-workflow-wrapper .lead {
  margin: 0;
}
.dri-workflow-wrapper .dri-subworkflow {
  margin-top: 10px;
  position: relative;
  width: 18%
}
.dri-workflow-wrapper .dri-subworkflow .dri-activity-show-children,
.dri-workflow-wrapper .dri-subworkflow .dri-activity-hide-children {
  cursor: pointer;
}
.dri-workflow-wrapper .dri-subworkflow .dri-stage-activities {
  min-height: 60px;
}
.dri-workflow-wrapper .dri-subworkflow .dri-activity-children {
  padding-left: 10px;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow {
  height: 40px;
  position: relative;
  margin-left: 20px;
  margin-right: 5px;
  background: #cdcccb;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow:before {
  border-top: 20px solid #cdcccb;
  border-bottom: 20px solid #cdcccb;
  border-left: 20px solid transparent;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow:after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #cdcccb;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow:before {
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 0;
  left: -20px;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow:after {
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-not_started {
  background: #cccccc;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-not_started:before {
  border-top: 20px solid #cccccc;
  border-bottom: 20px solid #cccccc;
  border-left: 20px solid transparent;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-not_started:after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #cccccc;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-in_progress {
  background: #0679c8;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-in_progress:before {
  border-top: 20px solid #0679c8;
  border-bottom: 20px solid #0679c8;
  border-left: 20px solid transparent;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-in_progress:after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #0679c8;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-ready_for_next_step {
  background: #e61718;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-ready_for_next_step:before {
  border-top: 20px solid #e61718;
  border-bottom: 20px solid #e61718;
  border-left: 20px solid transparent;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-ready_for_next_step:after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #e61718;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-completed {
  background: #51cd15;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-completed:before {
  border-top: 20px solid #51cd15;
  border-bottom: 20px solid #51cd15;
  border-left: 20px solid transparent;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-completed:after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #51cd15;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-not_completed {
  background: #fbc02d;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-not_completed:before {
  border-top: 20px solid #fbc02d;
  border-bottom: 20px solid #fbc02d;
  border-left: 20px solid transparent;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-not_completed:after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #fbc02d;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-info {
  padding: 10px 0 10px 10px;
  color: #fff;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-arrow-info a {
  color: #fff;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity {
  margin: 5px 0;
  border-bottom: 1px solid #e4e4e4;
  padding: 10px;
  background: #e9e9e9;
  border-top: #cccccc 4px solid;
  color: #555;
  position: relative;
  line-height: 2em;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .dri-subworkflow-activity-buttons {
  width: 55px;
  display: inline-block;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .btn-group {
  text-align: left;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .dri-subworkflow-activity-actions {
  text-align: right;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .activity-form {
  margin-left: 0;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .activity-url {
  margin-left: 0;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .activity-due-date {
  color: #fff;
  white-space: nowrap;
  border-radius: 3px;
  padding: 0 5px 0 5px;
  display: inline-block;
  background: #949494;
  line-height: 2em;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .activity-due-date i {
  color: #fff;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .activity-due-date.overdue {
  background: #e61718;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .activity-due-date.tomorrow,
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .activity-due-date.today {
  background: #0f7799;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .dri-activity-info .assigned-user-wrapper {
  position: relative;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .dri-activity-info .activity-type-icon.assigned {
  position: absolute;
  left: 20px;
  top: 11px;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .dri-activity-info a {
  color: #555;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .dri-activity-info i.assigned-user-icon {
  color: #555;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .dri-activity-info img.assigned-user-icon {
  height: 24px;
  width: 24px;
  margin-right: 6px;
  margin-top: -12px;
  position: relative;
  top: 8px;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity.customer_task .dri-activity-info i.activity-type-icon {
  color: #54A850;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity.milestone .dri-activity-info i.activity-type-icon {
  color: #e61718;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity.internal_task .dri-activity-info i.activity-type-icon {
  color: #863FE8;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity.agency_task .dri-activity-info i.activity-type-icon {
  color: #F04B8A;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity.automatic_task .dri-activity-info i.activity-type-icon {
  color: #555;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity.call_task .dri-activity-info i.activity-type-icon {
  color: #347DAF;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity.blocked .fa-ban {
  cursor: pointer;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .fa-link {
  color: #0679c8;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity .activity-preview-icon {
  cursor: pointer;
  display: none;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity:hover .activity-preview-icon {
  display: inline;
  position: absolute;
  top: 1px;
  left: 4px;
}
.dri-workflow-wrapper .dri-subworkflow .add-stage-button-wrapper {
  position: absolute;
  z-index: 1000;
  right: 36px;
  top: 6px;
  height: 28px;
  width: 28px;
  display: none;
}
.dri-workflow-wrapper .dri-subworkflow:hover .add-stage-button-wrapper {
  display: block;
}
.dri-workflow-wrapper .dri-subworkflow .dri-activity-child {
  border-left: #cccccc 4px solid;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-not-started,
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-planned {
  background: #e9e9e9;
  border-top: #cccccc 4px solid;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-in-progress {
  background: #dfecff;
  border-top: #0679c8 4px solid;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-in-progress.dri-activity-child {
  border-left: #0679c8 4px solid;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-deferred,
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-pending-input {
  background: #f9ddd9;
  border-top: #e61718 4px solid;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-deferred.dri-activity-child,
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-pending-input.dri-activity-child {
  border-left: #e61718 4px solid;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-completed,
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-held {
  background: #ceecc0;
  border-top: #51cd15 4px solid;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-completed.dri-activity-child,
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-held.dri-activity-child {
  border-left: #51cd15 4px solid;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-not-held,
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-not-applicable {
  background: #fff1d4;
  border-top: #fbc02d 4px solid;
}
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-not-held.dri-activity-child,
.dri-workflow-wrapper .dri-subworkflow .dri-subworkflow-activity-not-applicable.dri-activity-child {
  border-left: #fbc02d 4px solid;
}
.record-panel .record-panel-header .panel-inactive .pull-left {
  font-weight: normal;
}
.record-panel .record-panel-header .panel-active .pull-left {
  font-weight: normal;
}
div.customer-journey-chart-wrapper {
  padding: 0;
}
div.customer-journey-chart-wrapper .nv-chart {
  min-width: 250px;
}
div.customer-journey-chart-wrapper .nv-chart .completed {
  fill: #51cd15;
}
div.customer-journey-chart-wrapper .nv-chart .not_completed {
  fill: #fbc02d;
}
div.customer-journey-chart-wrapper .nv-chart .in_progress {
  fill: #0679c8;
}
div.customer-journey-chart-wrapper .nv-chart .not_started {
  fill: #cccccc;
}
.dri-workflows-header-wrapper {
  margin-bottom: -3px;
  position: relative;
}
.dri-workflows-header-wrapper .block-footer {
  border-top: 0;
}
.dri-workflows-header-wrapper .no-workflows {
  text-align: center;
}
.dri-workflows-header-wrapper .record-panel-header {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.dri-workflows-header-wrapper .dri-workflows-actions {
  position: absolute;
  top: 5px;
  right: 0;
}
.dri-workflows-header-wrapper .dri-workflows-actions .dri-workflows-actions-buttons {
  width: 45px;
  min-height: 1px;
}
@media (min-width: 501px) {
  .dri-workflows-header-wrapper .dri-workflows-actions .dri-workflows-actions-fields {
    width: 250px;
  }
}
@media (min-width: 401px) and (max-width: 500px) {
  .dri-workflows-header-wrapper .dri-workflows-actions .dri-workflows-actions-fields {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .dri-workflows-header-wrapper .dri-workflows-actions .dri-workflows-actions-fields {
    width: 120px;
  }
}
.dri-workflows-header-wrapper .dri-workflows-actions .dri-workflows-actions-spinner {
  margin-top: 1px;
  margin-right: 5px;
}
.dri-workflow-wrapper .dri-workflow-tpt-container {
  width: 100%;
  padding: 15px 0;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar {
  display: flex;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar li {
  list-style-type: none;
  float: left;
  position: relative;
  text-align: center;
  flex-grow: 1;
  font-weight: bold;
  display: flex;
  flex-direction: column-reverse;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar span.tpt-label {
  padding: 0 40px 5px 0;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar li:before {
  content: '';
  width: 40px;
  height: 40px;
  line-height:40px;
  border: 2px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  z-index: 2;
  background-image: url("../../styleguide/assets/img/Picture1.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar li:first-child:before,
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar li:last-child:before {
  content: '';
  width: 10px;
  height: 10px;
  line-height: 10px;
  background-image: none;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar li:last-child:after {
  left: -50%;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  top: 40px;
  left: -40%;
  z-index: 0;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar li:first-child:after {
  content: none;
}

.dri-workflow-wrapper .dri-workflow-tpt-progress-bar li.active {
  color: green;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar li.active:before {
  background-color: #E2F0D9;
  border: 3px solid #548235;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar li.active:after {
  background-color: green;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar li.active.tpt-return:after {
  background-color: #ddd;
}

.dri-workflow-wrapper .dri-workflow-tpt-progress-bar .ad-hoc:after,
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar .ad-hoc-return:after {
  content: none;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar span.ad-hoc:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 40px;
  left: 50%;
  z-index: 1;
  transform: scaleX(-1);
  background: linear-gradient(green,green) bottom left /100% 2px,linear-gradient(green,green) right/2px 100%, 2px;
  background-repeat: no-repeat;
  height: 92px;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar .ad-hoc.active:after {
  background-color: green;
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  top: 40px;
  left: 50%;
  z-index: 0;
}
.dri-workflow-wrapper .dri-workflow-tpt-progress-bar .ad-hoc-return.active:after {
  content: '';
  top: -165%;
  width: 100%;
  transform: scaleX(1);
  background: linear-gradient(green,green) bottom right/95% 2px, linear-gradient(green,green) right/2px 100%;
  background-repeat: no-repeat;
  height: 225%;
  left: 70px;
}