.tool-tip {
    position: relative;
    margin-left: 0.5em;
    top: 25px;
    width: 22px;
    font-weight: 400;
}
.tool-tip .tool-tip__icon {
    background: #5ac28c;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 1.3em;
    text-align: center;
    width: 20px;
}
.tool-tip .tool-tip__info {
    display: none;
    background: #00000024;
    border: 1px solid #5ac28c;
    border-radius: 3px;
    font-size: 13px;
    padding: 1em;
    position: absolute;
    left: 30px;
    top: -20px;
    width: 250px;
    z-index: 2;
}
.tool-tip .tool-tip__info:before, .tool-tip .tool-tip__info:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 20px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #5ac28c;
    border-radius: 6px;
}
.tool-tip .tool-tip__info:after {
    left: -8px;
    border-right-color: #d3d3d3;
}
.tool-tip .tool-tip__info .info {
    display: block;
}
.tool-tip .tool-tip__info .info__title {
    font-weight: 500;
    color: #198cc6;
}
.tool-tip:hover .tool-tip__info, .tool-tip:focus .tool-tip__info {
    display: inline-block;
}

a:focus + .tool-tip .tool-tip__info {
    display: inline-block;
}
