.stats_item_list {
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: 80px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 14% 50% 18% 13%;
    cursor: pointer;
}
 .stats_item_list .icon_stats {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}
.stats_item_list .stats_description {
    display: flex;
    justify-content: center;
    flex-direction: column
}
 .stats_description .stats_change {
     padding-top: 15px;
     font-size: 15px;
}
.stats_item_list .stats_description .stats_name {
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.stats_item_list .stats_value {
    display: flex;
    align-items: center;
    justify-content: center;
}
.stats_item_list .stats_compare {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stats_item_list .icon_stats .icon_stats_far{
    position: absolute;
    font-size: 20px;
    color: white;
    font-weight: 100;
}
.icon_stats .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}
.stats_value {
    font-size: 28px;
    font-weight: bold;
}

.stats_item_list:hover {
    cursor: pointer;
    background-color: #E1E8F6;
}

.stats_item_list:active {
    box-shadow: none;
    transform: translateY(0);
}

.grid-container {
    display: grid
}

.stats_item_grid {
    display: grid;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 140px;
    grid-template-rows: 25% 50% 25%;
    margin: 5px;
}
.stats_item_grid_none_compare {
    display: grid;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 140px;
    grid-template-rows: 25% 75%;
    margin: 5px;
}

.stats_item_grid .stats_change {
    font-size: 18px;
    text-align: left;
    padding-left: 21px;
    padding-top: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.stats_item_grid .grid_content {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 32% 78%;
}
.stats_item_grid_none_compare .grid_content_none_compare{
    display: flex;
    justify-content: center;
}

.stats_item_grid .stats_name {
    font-size: 17px;
    padding-top: 14px;
    padding-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.stats_item_grid_none_compare .stats_name_none_compare {
    text-align: center;
    font-size: 17px;
    padding-top: 14px
}

.stats_item_grid .grid_content .stats_value{
    font-size: 47px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 600;
    padding-left: 17px;
}
.stats_item_grid_none_compare .grid_content_none_compare .stats_value_none_compare{
    font-size: 68px;
    border-radius: 14px;
    width: fit-content;
    text-align: center;
    display: block;
    padding-top: 35px;
    font-weight: 600;
}
.percent-stats-down {
    color: rgb(211, 61, 71);
    left: 11px;
    font-weight: 600;
    padding-top: 8px;
    background-color: #F2D8D8;
    text-align: center;
    width: 86px;
    height: 29px;
    border-radius: 15px;
}
.percent-stats-non {
    color: #262626;
    font-weight: 600;
    padding-top: 8px;
    background-color: #f0f0f0;
    text-align: center;
    width: 86px;
    height: 29px;
    border-radius: 15px;
}

.percent-stats-up {
    color: green;
    left: 11px;
    font-weight: 600;
    padding-top: 10px;
    background-color: #C8E4B2;
    text-align: center;
    width: 100px;
    height: 27px;
    border-radius: 15px;
}

.stats_item_grid .grid_content .stats_compare {
    display: flex;
    padding-top: 16px;
    padding-left: 51px;
    font-size: 18px;
    justify-content: center;
}

.stats_item_grid:hover {
    cursor: pointer;
    background-color: #E1E8F6
}

.stats_item_grid:active {
    box-shadow: none;
    transform: translateY(0)
}
.stats_item_grid_none_compare:hover {
    cursor: pointer;
    background-color: #E1E8F6
}

.stats_item_grid_none_compare:active {
    box-shadow: none;
    transform: translateY(0)
}

.stats_item_grid .icon_stats {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 6px;
    padding-left: 4px
}

.stats_item_grid .stats_description {
    display: flex;
    flex-direction: column
}

.stats_item_grid .content-container {
    padding-top: 8px
}
