
<div class="dri-workflow-card">
    {{#if loaded}}
        <div class="dri-workflow-info clearfix">
            <div class="pull-left">
                {{#if rows.length}}
                <button class="btn-link btn-invisible more {{#if hideMoreButton}}hide{{/if}}"
                        title="{{str "LBL_SHOW_MORE"}}"
                        data-moreless="more"
                        data-target=".dri-workflow-details,.add-stage">
                    <i class="fa fa-chevron-down icon-chevron-down"></i>
                </button>
                <button class="btn-link btn-invisible less {{#if hideLessButton}}hide{{/if}}"
                        title="{{str "LBL_SHOW_LESS"}}"
                        data-moreless="less"
                        data-target=".dri-workflow-details,.add-stage">
                    <i class="fa fa-chevron-up icon-chevron-up"></i>
                </button>
                {{/if}}
                <a class="name"
                   {{#unless model.attributes.user_access}}
                   rel="tooltip"
                   data-placement="top"
                   title="{{str "LBL_CUSTOMER_JOURNEY_ERROR_USER_MISSING_ACCESS" "DRI_Workflows"}}"
                   {{/unless}}
                   title="{{model.attributes.description}}"
                   href="javascript: void 0;">
                    {{fieldValue model "name"}}
                </a>
                {{#if model.fields.state}}
                <span>-</span>
                <span class="label {{this.stateClass}}">{{#eachOptions "dri_workflows_state_list"}}{{#eq this.key ../model.attributes.state}}{{value}}{{/eq}}{{/eachOptions}}</span>
                {{/if}}
            </div>
            <div class="pull-right">
                <div>
                    {{#each ../meta.topButtons}}
                        {{field ../this model=../model}}
                    {{/each}}
                </div>
            </div>
        </div>
        {{#if model.fields.progress}}
            {{#with model.fields.progress}}
                {{field ../this model=../model template="detail"}}
            {{/with}}
        {{/if}}
        <div class="dri-workflow-details clearfix {{#if hideLessButton}}hide{{/if}}">
            {{#each rows}}
                <div class="row-fluid">
                    {{#each this}}
                        <div class="{{../../subworkflowSpan}} dri-subworkflow" data-id="{{data.id}}">
                            <div class="dri-subworkflow-arrow dri-subworkflow-arrow-{{data.state}}"
                                 rel="tooltip"
                                 data-placement="top"
                                 {{#eq model.module "DRI_SubWorkflows"}}
                                 title="{{#eachOptions "dri_subworkflows_state_list"}}{{#eq key ../data.state}}{{value}}{{/eq}}{{/eachOptions}} - {{data.progress}}% ({{data.score}}/{{data.points}} {{str "LBL_WIDGET_POINTS" "DRI_Workflows"}})"
                                 {{else}}
                                 title="{{data.points}} {{str "LBL_WIDGET_POINTS" "DRI_Workflows"}}"
                                 {{/eq}}>
                                <div class="dri-subworkflow-arrow-info">
                                    {{#if ../../stageLinks}}
                                        <a href="#/{{model.module}}/{{data.id}}">{{data.label}}</a>
                                    {{else}}
                                        {{data.label}}
                                    {{/if}}
                                </div>
                            </div>
                            <div class="add-stage-button-wrapper">
                                {{#each ../../meta.stageButtons}}
                                    {{field ../../../this model=../model}}
                                {{/each}}
                            </div>
                            <div class="dri-stage-activities">
                                {{#each activities}}
                                    <div class="dri-subworkflow-activity-wrapper" data-id="{{data.id}}">
                                        <div class="dri-subworkflow-activity clearfix {{statusClass}} {{typeClass}} {{#if blockedBy}}blocked{{/if}}" data-id="{{data.id}}" {{#eq data.description ''}}{{else}}style="cursor: help;" {{/eq}}>
                                            <div class="pull-left dri-activity-info" style="width: 100%;">
                                                <span>{{order}}.</span>
                                                {{#if isParent}}
                                                    <i class="fa fa-chevron-down dri-activity-show-children "
                                                        {{#if showChildren}}  style="display: none!important;"{{/if}}
                                                       rel="tooltip"
                                                       data-placement="top"
                                                       data-id="{{data.id}}"
                                                       title="{{str "LBL_SHOW_CHILDREN" "DRI_Workflows"}}"
                                                       aria-hidden="true"></i>
                                                    <i class="fa fa-chevron-up dri-activity-hide-children "
                                                       {{#unless showChildren}} style="display: none!important;"{{/unless}}
                                                       rel="tooltip"
                                                       data-placement="top"
                                                       data-id="{{data.id}}"
                                                       title="{{str "LBL_HIDE_CHILDREN" "DRI_Workflows"}}"
                                                       aria-hidden="true"></i>
                                                {{/if}}
                                                <i rel="tooltip"
                                                   data-placement="top"
                                                   title="{{iconTooltip}}"
                                                   class="fa {{icon}} activity-type-icon"></i>
                                                {{#eq data.dri_workflow_task_template_id ''}}
                                                <i rel="tooltip"
                                                   data-placement="top"
                                                   title="Deviation Point"
                                                   class="fa fa-bolt"
                                                   style="color: #FFB000;"></i>
                                                {{/eq}}
                                                {{#if blockedBy}}
                                                    <i class="fa fa-ban icon-ban-circle"
                                                       rel="tooltip"
                                                       data-id="{{data.id}}"
                                                       data-placement="top"
                                                       title="{{blockedBy.text}}" aria-hidden="true"></i>
                                                {{/if}}

                                                {{#if ../../../activityLinks}}
                                                    <a href="#{{module}}/{{data.id}}"
                                                       style="font-weight: 600;"
                                                       rel="tooltip"
                                                       data-placement="top"
                                                       title="{{statusLabel}}">{{data.name}}</a>
                                                {{else}}
                                                    <a rel="tooltip"
                                                       class="activity-preview-icon-name"
                                                       data-placement="top"
                                                       data-id="{{data.id}}"
                                                       title="{{statusLabel}}">{{data.name}}</a>
                                                {{/if}}
                                            </div>
                                            <div class="pull-left dri-activity-info" data-id="{{data.id}}" style="width: 100%; line-height: 20px; text-align: justify;">
                                                <span class="dri-activity-desc hide" data-id="{{data.id}}" data-desc-flag="{{#eq data.description ''}}{{else}}has-desc{{/eq}}" style="font-size: 12px;">{{nl2br data.description}}</span>
                                            </div>
                                            {{#if data.assigned_user_id}}
                                                {{#if data.pictureUrl}}
                                                    <span class="assigned-user-wrapper" style="margin-top: 8px;">
                                                        <img src="{{data.pictureUrl}}"
                                                             alt="{{data.assigned_user_name}}"
                                                             rel="tooltip"
                                                             data-placement="top"
                                                             title="{{str "LBL_ASSIGNEE" "DRI_Workflows"}}: {{data.assigned_user_name}}"
                                                             class="avatar avatar-btn assigned-user-icon">
                                                    </span>
                                                {{else}}
                                                    <span class="assigned-user-wrapper"
                                                          rel="tooltip"
                                                          data-placement="top"
                                                          data-original-title="{{str "LBL_ASSIGNEE" "DRI_Workflows"}}: {{data.assigned_user_name}}"
                                                          style="margin-top: 8px; display: inline-block;background-color: {{tile_randomColor data.assigned_user_name}};border-radius: 100%;width: 28px;height: 28px;">
                                                    <span style="display: inline-block;color: white;width: 100%;text-align: center;transform: translateY(-10%);padding-top: 4px;">
                                                        {{tile_initialsName data.assigned_user_name}}
                                                    </span>
                                                </span>
                                                {{/if}}
                                            {{/if}}

                                            <div class="pull-right dri-subworkflow-activity-actions" style="margin-top: 8px;">
                                                    {{#if dueDate}}
                                                        <span class="activity-due-date {{dueDate.className}}"
                                                              rel="tooltip"
                                                              data-placement="top"
                                                              title="{{dueDate.title}}">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        <span class="text">{{dueDate.text}}</span>
                                                    </span>
                                                    {{/if}}

                                                    {{#each forms}}
                                                        <span class="btn activity-form" data-id="{{../data.id}}"
                                                              data-trigger_event="{{trigger_event}}">
                                                        <i class="fa fa-list-alt"
                                                           rel="tooltip"
                                                           data-placement="top"
                                                           title="{{name}}" aria-hidden="true"></i>
                                                    </span>
                                                    {{/each}}

                                                    {{#if url}}
                                                        <a href="{{url}}" class="btn activity-url" target="_blank">
                                                            <i class="fa fa-link"
                                                               rel="tooltip"
                                                               data-placement="top"
                                                               title="{{url}}" aria-hidden="true"></i>
                                                        </a>
                                                    {{/if}}

                                                    <span class="dri-subworkflow-activity-buttons">
                                                        {{#each ../../../../meta.activityButtons}}
                                                            {{field ../../../../../this model=../model}}
                                                        {{/each}}
                                                    </span>
                                                </div>
                                        </div>
                                        <div class="dri-activity-children {{#unless showChildren}}hide{{/unless}}" data-id="{{data.id}}">
                                            {{#each children}}
                                                <div class="dri-subworkflow-activity dri-activity-child clearfix {{statusClass}} {{typeClass}} {{#if blockedBy}}blocked{{/if}}" data-id="{{data.id}}">
                                                    <div class="pull-left dri-activity-info">
                                                        <span>{{order}}.</span>
                                                        <i rel="tooltip"
                                                           data-placement="top"
                                                           title="{{iconTooltip}}"
                                                           class="fa {{icon}} activity-type-icon assigned"></i>
                                                        {{#if blockedBy}}
                                                            <i class="fa fa-ban icon-ban-circle"
                                                               rel="tooltip"
                                                               data-id="{{data.id}}"
                                                               data-placement="top"
                                                               title="{{blockedBy.text}}" aria-hidden="true"></i>
                                                        {{/if}}

                                                        {{#if ../../../../activityLinks}}
                                                            <a href="#{{module}}/{{data.id}}"
                                                               rel="tooltip"
                                                               data-placement="top"
                                                               title="{{statusLabel}}">{{data.name}}</a>
                                                        {{else}}
                                                            <a rel="tooltip"
                                                               class="activity-preview-icon-name"
                                                               data-placement="top"
                                                               data-id="{{data.id}}"
                                                               title="{{statusLabel}}">{{data.name}}</a>
                                                        {{/if}}
                                                    </div>
                                                    {{#if data.assigned_user_id}}
                                                        {{#if data.pictureUrl}}
                                                            <span class="assigned-user-wrapper">
                                                                    <img src="{{data.pictureUrl}}"
                                                                         alt="{{data.assigned_user_name}}"
                                                                         rel="tooltip"
                                                                         data-placement="top"
                                                                         title="{{str "LBL_ASSIGNEE" "DRI_Workflows"}}: {{data.assigned_user_name}}"
                                                                         class="avatar avatar-btn assigned-user-icon">
                                                                </span>
                                                        {{else}}
                                                            <span class="assigned-user-wrapper"
                                                                  rel="tooltip"
                                                                  data-placement="top"
                                                                  data-original-title="{{str "LBL_ASSIGNEE" "DRI_Workflows"}}: {{data.assigned_user_name}}"
                                                                  style="display: inline-block;background-color: {{tile_randomColor data.assigned_user_name}};border-radius: 100%;width: 28px;height: 28px;">
                                                                <span style="display: inline-block;color: white;width: 100%;text-align: center;transform: translateY(-10%);padding-top: 2px;">
                                                                    {{tile_initialsName data.assigned_user_name}}
                                                                </span>
                                                            </span>
                                                        {{/if}}
                                                    {{else}}
                                                        <i rel="tooltip"
                                                           data-placement="top"
                                                           title="{{iconTooltip}}"
                                                           class="fa {{icon}} activity-type-icon"></i>
                                                    {{/if}}

                                                    <div class="pull-right dri-subworkflow-activity-actions">
                                                        {{#if dueDate}}
                                                            <span class="activity-due-date {{dueDate.className}}"
                                                                  rel="tooltip"
                                                                  data-placement="top"
                                                                  title="{{dueDate.title}}">
                                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                                <span class="text">{{dueDate.text}}</span>
                                                            </span>
                                                        {{/if}}

                                                        {{#each forms}}
                                                            <span class="btn activity-form" data-id="{{../data.id}}"
                                                                  data-trigger_event="{{trigger_event}}">
                                                                <i class="fa fa-list-alt"
                                                                   rel="tooltip"
                                                                   data-placement="top"
                                                                   title="{{name}}" aria-hidden="true"></i>
                                                            </span>
                                                        {{/each}}

                                                        {{#if url}}
                                                            <a href="{{url}}" class="btn activity-url" target="_blank">
                                                                <i class="fa fa-link"
                                                                   rel="tooltip"
                                                                   data-placement="top"
                                                                   title="{{url}}" aria-hidden="true"></i>
                                                            </a>
                                                        {{/if}}

                                                        <span class="dri-subworkflow-activity-buttons">
                                                            {{#each ../../../../meta.activityChildButtons}}
                                                                {{field ../../../../../this model=../model}}
                                                            {{/each}}
                                                        </span>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="lead loading-wrapper">
            <div class="loading">
                <span>{{str "LBL_ALERT_TITLE_LOADING"}}</span>
                <i class="l1">&#46;</i><i class="l2">&#46;</i><i class="l3">&#46;</i>
            </div>
        </div>
    {{/if}}
</div>
