
<div class='welcome'>
    <div class='thumbnail signup'>
        <div class='tcenter'>
            <h2 class='brand'><img src='{{logoUrl}}' alt='Support Portal'></h2>
        </div>
        <div class='help-inline'>
            <p class='tcenter'>{{str 'LBL_PORTAL_CONTACT_INFO_CONTACT_US'}}</p>
            {{#if contactInfo.contactPhone}}
            <br>
            {{str 'LBL_PORTAL_CONTACT_INFO_PHONE'}} <a href='tel:{{str contactInfo.contactPhone}}'>{{str contactInfo.contactPhone}}</a>
            {{/if}}
            {{#if contactInfo.contactEmail}}
            <br>
            {{str 'LBL_PORTAL_CONTACT_INFO_EMAIL'}} <a href='mailto:{{str contactInfo.contactEmail}}'>{{str contactInfo.contactEmail}}</a>
            {{/if}}
            {{#if contactInfo.contactURL}}
            <br>
            {{str 'LBL_PORTAL_CONTACT_INFO_WEB'}} <a href='{{str contactInfo.contactURL}}'>{{str contactInfo.contactURL}}</a>
            {{/if}}
            <br>
            <br>
            <div class='control-group'>
                <a href='#' class='btn btn-link btn-invisible'>{{str 'LBL_LOGIN_BUTTON_LABEL'}}</a>
            </div>
        </div>
    </div>
</div>
