<link type="text/css" rel="stylesheet" href="custom/modules/Calendar/css/calendar-base.css"/>
<link type="text/css" rel="stylesheet" href="custom/modules/Calendar/css/calendar-custom.css"/>
<link type="text/css" rel="stylesheet" href="custom/modules/Calendar/css/color.css"/>
<link type="text/css" rel="stylesheet" href="custom/modules/Calendar/css/magnific-popup.css"/>
<link type="text/css" rel="stylesheet" href="custom/modules/Calendar/css/modal-day.css"/>
<link type="text/css" rel="stylesheet" href="custom/modules/Calendar/css/multiple-select.min.css"/>
<link type="text/css" rel="stylesheet" href="custom/modules/Calendar/css/date-time-picker-custom.css"/>
<link type="text/css" rel="stylesheet" href="custom/modules/Calendar/css/calendar-popup.css"/>
<link type="text/css" rel="stylesheet" href="custom/modules/Calendar/css/pretty-checkbox.css"/>
<link type="text/css" rel="stylesheet" href="custom/modules/Calendar/css/time-table-day.css"/>
<link type="text/css" rel="stylesheet" href="custom/modules/Calendar/css/Boostrap/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="custom/modules/Calendar/css/select-time-table.css"/>
<section class="header">
    <div class="row">

        <div class="col-10" id="contentTable">
            <div class='header-timetable-container'>
                <div id="default_header"></div>
                <div id="data-view" class="btn-group" role="group">
                    <button id="day-tab" type="button" class="btn btn-view " data-view="day">{{str customData.language.LBL_DAY}}</button>
                    <button id="week-tab" type="button" class="btn btn-view btn-active" data-view="week">{{str customData.language.LBL_WEEK}}</button>
                    <button id="month-tab" type="button" class="btn btn-view " data-view="month">{{str customData.language.LBL_MONTH}}</button>
                </div>
                <div class='custom-button-group'>
                    <div class="nav-custom prev">❮</div>
                    <div class="today-navigate" tabindex="-1"><i class="fa fa-home" aria-hidden="true" style="color: #193058;margin-top: -3px"></i>
                        <span>{{str customData.language.LBL_TODAY}}</span>
                    </div>
                    <div class="nav-custom next">❯</div>
                    <div id="minimizeButton" class="button-4" role="button" title="Show/Hide Panel" tabindex="-1">
                        <i class="far fa-bars" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="max-width">
                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div id="data-view-source" class="tiva-timetable hidden-xs" data-source="php" data-view="week"
                     data-mode="date"
                     data-start="monday"></div>
            </div>
        </div>
        <div id="sidebar" class="col-2">
            <div id="calender" class="calendar_settings">
                <input type="text" id="picked_date" value="{{str customData.dateNow}}"/>
                <div class="filter-group">
                    <span style="margin-left:5px">{{str customData.language.LBL_CLASS}}</span>
                    <select multiple="multiple" id="session_class" name="session_class" style="width: 100%;height: 30px; display:none">
                    </select>
                </div>
                <div class="today-class-title">{{str customData.language.LBL_TODAY_LESSON}}</div>
                <div class="today-class-section"></div>
            </div>
        </div>
    </div>
</section>