<div class="control-group teamset">
    {{#each value}}
        {{name}} {{name_2}} {{#if primary}}<label>({{str "LBL_COLLECTION_PRIMARY"}})</label>{{/if}}
        {{partial 'label-selected' ../this this}}{{#unless @last}},{{/unless}}
    {{/each}}
</div>
