@font-face {
    font-family: All-CooperHead;
    src: url(../../../../custom/include/FontCard/All-CooperHead.otf);
}
@font-face {
    font-family: All-Muli-Regular;
    src: url(../../../../custom/include/FontCard/All-Muli-Regular.otf);
}

.card {
    /*background-image: url("");*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 255.2px;
    margin: auto;
    text-align: center;
    font-family: All-Muli-Regular;
    background-color: #cccccc;
    height: 406.4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#student_avatar {
    width: 118px;
    height: 157.6px;
    margin-top: 94.8px;
}

#label_student {
    margin-top: 11.2px;
    margin-bottom: 30px;
    font-size: 13.6px;
    font-weight: bold;
    color: black;
}

#student_name {
    font-family: "All-CooperHead";
    font-size: 22px;
    color: black;
    position: absolute;
    z-index: 999;
    top: 281px;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 1em;
}


#card_info {
    margin-top: 42px;
    width: 70%;
    float: left;
}

#card_info p {
    margin-top: -10.4px;
    text-align: left;
    margin-left: 48px;
    font-size: 14px;
    color: black;
}

#bar_code {
    margin-top: 18.6px;
    text-align: left;
    width: 30%;
    float: left;
}

#bar_code img {
    height: 60px;
    margin-top: 4px;
}
