<tr >
    {if $ANOTHER == 0 }
    <td style="text-align: center;"><input type="radio" name="teacher_schedule_radio" id='{$TEACHER_ID}' value='{$TEACHER_ID}'></td>{else}<td style="text-align: center;"><label class="item_label" for='{$TEACHER_ID}'>{$CENTER}</label></td>{/if}
    {if $TEACHER_ID == ''}<td colspan="100%">
     <label class="item_label teacher_name" for='{$TEACHER_ID}'>{$NAME}</label>
     <input type="hidden" class="schedule_contract_id" value='{$CONTRACT_ID}'/>
     </td>
     {else}
     <td><label class="item_label teacher_name" for='{$TEACHER_ID}'>{$NAME}</label><input type="hidden" class="schedule_contract_id" value='{$CONTRACT_ID}'/></td>
     <td style="text-align: center;{$STYLE_2}"><label class="item_label" for='{$TEACHER_ID}'>{$PHONE}</label></td>
     <td style="text-align: center;{$STYLE_2}"><label class="item_label" for='{$TEACHER_ID}'>{$CONTRACT_TYPE}</label></td>
     <td style="{$STYLE_1}"><label class="item_label" for='{$TEACHER_ID}'>{$REQUIRED_HOURS}</label></td>
     <td style="text-align: center;{$STYLE_2}"><label class="item_label" for='{$TEACHER_ID}'>{$TAUGHT_HOURS}</label></td>
     <td style="text-align: center;{$STYLE_2}"><label class="item_label" for='{$TEACHER_ID}'>
        {$EXPIRE_DAY_SPAN}</label>
        <input type="hidden" class="schedule_contract_until" value='{$EXPIRE_DAY}'/>
     </td>
     <td style="text-align: center; text-overflow: ellipsis;"><label class="item_label" for='{$TEACHER_ID}'>{$KOC}</label></td>
     <td style="text-align: center;{$STYLE_2}"><label class="item_label" for='{$TEACHER_ID}'>{$DAY_OFF}</label></td>
     <td style="{$STYLE_1}"><label class="item_label" for='{$TEACHER_ID}'>{$NOTE}</label></td>
     <td style="text-align: center;{$STYLE_2}"><label class="item_label" for='{$TEACHER_ID}'>{$HOLIDAYS}</label></td>
     {/if}
</tr>
