<link type="text/css" rel="stylesheet" href="custom/include/css/chat-message.css"/>
<link type="text/css" rel="stylesheet" href="custom/include/css/chat-message-header.css"/>
<h4>Chat<i class="sicon sicon-chevron-down sicon-lg chevron"></i></h4>
<iframe class="hidden" id="fileDownloader"></iframe>