/*Fix bug bootstrap in dotb*/
#dotb_spot_search {
 width: 232px;
}
table:not(.yui-calendar){
    border-spacing:1px !important;
    border-collapse:separate !important;
}
h4{
    font-weight: bold;
}
/*END: Fix bug bootstrap in dotb*/
.bookItem {
    display: flex;
    margin: 10px 0px;
    text-align:center;
}
.book_column {
    text-align:center;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    margin-bottom: 0;
}

/*.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover
{
    color:#fff;
    text-decoration:none;
    background-color: #428bca;
    outline:0;
}   */
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
}

.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small,.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small
{
    color: rgb(53, 53, 53);
}
fieldset.fieldset-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
.ui-tabs{
    width:80%;
}
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 0;
    background: 0;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
}
.ui-tabs .ui-tabs-nav {
    display: flex;
}

.ui-tabs .ui-tabs-nav li {
    flex: 1;
    display: flex;
    /* If placed in a small width sidebar or something like that disabling nowrap will fix the overflow issue */
    white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
    flex: 1;
    /* If you want to align tab titles center */
    text-align: center;
}
.ui-widget-content {
    border: none !important;
    background: #fff;
    color: #333;
}
.ui-tabs {
    position: relative;
    padding: 0;
}
.dis_unmatch{
  display:none;
}

.dis_collapse{
  display:none;
}

