{{#if this.data_stats}}
    <script src="custom/include/javascript/custom_js_stat.js"></script>
    {{#if is_list}}
        <ul class="list_container sortable-list" data-dashlet-id="{{id_dashlet}}" data-dashboard-id="{{id_dashboard}}">
            {{#each this.data_stats}}
                <li class="stats_item_list " id="{{[id]}}">
                    <div class="icon_stats">
                        <div class="circle" style="background-color: {{[color]}}"></div>
                        <i class="{{str [icon]}} icon_stats_far"></i>
                    </div>
                    <div class="stats_description">
                        <span class="stats_name">{{[name]}}</span>
                        {{#if [error_throw]}}<span class="not_available" style="font-size: 17px; padding-top: 10px;">-{{[error_throw]}}-</span>{{/if}}
                        <span class="stats_change">{{{[str_compare]}}}{{#if [tooltip_last_unit]}}<i class="fa fa-info-circle" aria-hidden="true" title="{{[tooltip_last_unit]}}" style="padding-left: 7px;color: #CECECE"></i>{{/if}}
                        </span>
                    </div>
                    <div class="stats_value">
                        {{[current_stats]}}
                    </div>
                    <div class="stats_compare">
                        {{{percent}}}
                    </div>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <ul class="grid-container sortable-list" id="stats-container" data-dashlet-id="{{id_dashlet}}" data-dashboard-id="{{id_dashboard}}" style=" grid-template-columns: repeat({{this.columns}}, 1fr); /* Two columns */">
            {{#each this.data_stats}}
                <li class="stats_item_grid{{#unless [str_compare]}}_none_compare{{/unless}}" id="{{[id]}}">
                    <span class="ellipsis_inline stats_name{{#unless [str_compare]}}_none_compare{{/unless}}">{{[name]}}</span>
                    {{#if [error_throw]}}<span class="not_available" style="font-size: 20px;text-align: center; padding-top: 30px;">-{{[error_throw]}}-</span>{{/if}}
                    <div class="grid_content{{#unless [str_compare]}}_none_compare{{/unless}}">
                            <span class="stats_value{{#unless [str_compare]}}_none_compare{{/unless}}">{{[current_stats]}}</span>
                        {{#if [str_compare]}}
                            <div class="stats_compare">
                                {{{percent}}}
                            </div>
                        {{/if}}
                    </div>
                    <span class="ellipsis_inline stats_change" title="{{[str_compare_tittle]}}">{{{[str_compare]}}}{{#if [tooltip_last_unit]}}<i class="fa fa-info-circle" aria-hidden="true" title="{{[tooltip_last_unit]}}" style="padding-left: 7px; color: #CECECE"></i>{{/if}}</span>
                </li>
            {{/each}}
        </ul>
    {{/if}}
{{/if}}
