
.chartTitle {
	font-family: "SFUIText";
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #444444;
	padding: 5px;
}

.units {
	font-family: "SFUIText";
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	color: #555555;
}

.groupName {
	font-family: "SFUIText";
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}

.noData {
    font-family: "SFUIText";
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.data {
	font-family: "SFUIText";
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	line-height: 30px;
}

.drillTip {
	font-family: "SFUIText";
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.toolTips {
	font-family: "SFUIText";
	text-align: left;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}

.flyOutTitle{
	font-family: "SFUIText";
	text-align: center;
	font-size: 11px;
	font-weight: normal;
	color: #eeeeee;
}

.flyOutText{
	font-family: "SFUIText";
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	color: #444444;
}

.flyOutSelected{
	font-family: "SFUIText";
	text-align: left;
	font-size: 13px;
	font-weight: bold;
	color: #444444;
}

.flyOutDisabled{
	font-family: "SFUIText";
	text-align: left;
	font-size: 13px;
	font-style: italic;
	color: #666666;
}

.wedgeLabels {
	font-family: "SFUIText";
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.barValueLabels {
	font-family: "SFUIText";
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.barValueLabelsOver {
	font-family: "SFUIText";
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #0000FF;
}

.horizontalBarValueLabels {
	font-family: "SFUIText";
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.horizontalBarValueLabelsOver {
	font-family: "SFUIText";
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	color: #0000FF;
}

.horizontalBarGroupLabels {
	font-family: "SFUIText";
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.barGroupLabels {
	font-family: "SFUIText";
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.yAxisLabels {
	font-family: "SFUIText";
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.funnelLeftLabels {
	font-family: "SFUIText";
	text-align: right;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.funnelRightLabels {
	font-family: "SFUIText";
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.funnelLeftLabelsOver {
	font-family: "SFUIText";
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}

.funnelRightLabelsOver {
	font-family: "SFUIText";
	text-align: left;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.gaugeLabels {
    font-family: "SFUIText";
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #333333;
}

.gaugeNumber {
    font-family: "SFUIText";
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.legendEntry {
	font-family: "SFUIText";
	text-align: left;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}
.legendEntryOver {
	font-family: "SFUIText";
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.squeezedWedgeLabels {
    font-family: "SFUIText";
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #aaaaaa;
}