{{#if isAuthenticated}}
<span class="dropdown" data-action="languageList" id="languageList">
        <button title="{{str 'LBL_LANGUAGE'}}: {{str 'LBL_LANGUAGE_SELECTED'}}" aria-label="{{str 'LBL_LANGUAGE'}}: {{str 'LBL_LANGUAGE_SELECTED'}}" class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" role="button" type="button">
            <i class="far fa-language"></i><span class="action-label">{{str 'LBL_LANGUAGE'}}: <img src="themes/Dotb/images/flag_{{currentLang}}.svg" class="moduleIcon">{{str 'LBL_LANGUAGE_SELECTED'}}</span>
        </button>
        <div class="dropdown-menu bottom-up">
            <ul role="menu">
                {{#each languageList}}
                <li><a data-lang-key="{{key}}" href="javascript:void(0)" tabindex="-1">{{#eq ../currentLang key}}<img src="themes/Dotb/images/flag_{{key}}.svg" class="moduleIcon"><strong style="vertical-align: middle;">{{value}}</strong>{{else}}<img src="themes/Dotb/images/flag_{{key}}.svg" class="moduleIcon"><span style="vertical-align: middle;">{{value}}</span>{{/eq}}</a></li>
                {{/each}}
            </ul>
        </div>
</span>
{{/if}}