<input type="text" {{#if def.minlen}} minlength="{{def.minlen}}"{{/if}}  name="{{name}}" value="{{value}}"{{#if def.len}} maxlength="{{def.len}}"{{/if}}{{#if def.tabindex}} tabindex="{{def.tabindex}}"{{/if}}{{#if def.placeholder}} placeholder="{{str def.placeholder this.model.module}}"{{/if}} class="inherit-width">
