{{#if value}}
    <div class="ellipsis_inline" data-placement="bottom">
        <span class="customPhoneAction">
            <i class="fa fa-spin fa-spinner" style="display: none;font-size:17px"></i>
            <i class="fa fa-sms icon-send-sms" data-value="{{value}}" data-module="{{this.model.module}}" data-id="{{this.model.id}}" rel="tooltip" data-original-title="Click to send SMS" style="font-size: 17px;cursor: pointer"></i>
        </span>
        <span class="customPhoneAction">
            <i class="fa fa-spin fa-spinner" style="display: none;font-size:17px"></i>
            <i class="fa fa-phone-alt callcenter-icon-clicktocall" rel="tooltip" data-bean="{{this.model.module}}" data-id="{{this.model.id}}" data-phone="{{value}}" data-original-title="Click to call" style="font-size: 17px;cursor: pointer"></i>
        </span>
        <span title="{{#unless value}}{{#if def.placeholder}}{{str def.placeholder this.model.module}}{{/if}}{{/unless}}{{value}}" >{{value}}</span>
    </div>
{{/if}}
