{{#each value}}
    <div class="control-group">
        <div class="controls controls-{{../fitGroupClass}}">
            <input type="hidden" name="{{../name}}" class="select2 inherit-width" value="{{id}}" data-rname="{{name}} {{name_2}}" data-index="{{@index}}">
        </div>
    </div>
{{/each}}
{{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
