{*

*}
<script type="text/javascript" src="{dotb_getjspath file='modules/EAPM/EAPMEdit.js'}"></script>
<script type="text/javascript" src="{dotb_getjspath file='include/externalAPI.cache.js' get_cache=true}"></script>
<input type="hidden" name="application_raw" id="application_raw" value="{$fields.application.value}">
<script type="text/javascript">
EAPMFormName = 'DetailView';
EAPMChange();
</script>
