<tr name="{{model.module}}_{{model.cid}}" data-group-id="{{groupId}}" record-id="{{model.id}}"
    class="quote-data-group-list product-row{{#if model.id}} sortable ui-sortable{{else}} not-sortable{{/if}}">
    <td>
        <span class="action-button-wrapper left-column-save-cancel">
            {{#each view.leftSaveCancelColumn}}
                {{field ../view model=../model template=../view.viewName}}
            {{/each}}
        </span>
        <span class="action-button-wrapper left-column-buttons">
            {{#each view.leftColumns}}
                {{field ../view model=../model template=../view.viewName}}
            {{/each}}
        </span>
    </td>
    {{#each fields}}
        <td data-type="{{type}}">
            {{field ../view model=../model template=../view.viewName}}
        </td>
    {{/each}}
</tr>
