
<div class="welcome">
    <div class="thumbnail signup">
        <div class="tcenter">
            <h2 class="brand"><img src="{{logoUrl}}" alt="DotbCRM"></h2>
        </div>
        <div class="tcenter">
            <p>{{str "LBL_PORTAL_SIGNUP_TITLE"}}</p>
            <p>{{str "LBL_PORTAL_SIGNUP"}}</p>
            <br>
            <div class="control-group">
                <a href="#" class="btn btn-link btn-invisible">{{str "LBL_LOGIN_BUTTON_LABEL"}}</a>
            </div>
        </div>
    </div>
</div>
