ul.dropdown-menu li{
    list-style-type: none;
}
a,a:link, a:visited, a:hover{
    text-decoration: none !important;
    transform: scale(1);
    font-size: 13px!important;
    cursor: pointer;
}

input.homework_score
{
    text-align: center;
    color: red;
    font-weight: bold;
}

input.loyalty_point
{
    text-align: center;
    font-weight: bold;
}

.tr_not_in_class{
    background-color: #fbc02d21;
    display: none;
}
.fixed-dialog { position: fixed; }

