.schedule_teacher_priority_1{
    background-color: lightblue;
}

.schedule_teacher_priority_2{
    
}
.schedule_teacher_priority_3{
    background-color: bisque;
/*    background-color: coral;*/
}
.fixed-dialog{
    position: fixed;
    top: 50px;
    left: 50px;
}
.item_label {
    margin-bottom: 0px;
}
