<ul class="nav megamenu" id="userList">
    <li class="dropdown" id="userActions" data-menu="user-actions">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-invisible btn-link dropdown-toggle" rel="tooltip" data-placement="bottom" title="{{userName}}" track="click:userActions" aria-label="{{str 'LBL_USER_MENU'}}">
                <i class="fal fa-user-cog fa-3X"></i>
                <i class="fal fa-angle-down"></i>
            </button>
            <div class="dropdown-menu scroll pull-right">
                <ul role="menu">
                    {{#each menulist}}
                        {{#if css_class}}<li class="{{css_class}}">{{else}}<li>{{/if}}
                        <a href="{{route}}" {{#if openwindow}}target="_blank"{{/if}} track="click:userAction-{{label}}" tabindex="-1">
                            {{#if icon}}<i class="fa {{icon}}"></i>{{/if}}{{str label}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </li>
</ul>
