{{#if isAuthenticated}}
<span class="dropdown" data-action="helpList" id="helpList">
    <button class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" role="button" type="button"> <i class="far fa-question-circle"></i><span class="action-label"> {{str "LBL_HELP"}}</span></button>
    <div class="dropdown-menu bottom-up">
        <ul role="menu">
            {{#each helpActionList}}
            <li>
                <a data-action="{{key}}"{{#if this.redirect}} href="{{{this.url}}}" target="_blank" {{else}} href="javascript:void(0)" {{/if}} tabindex="-1">
                    <span style="vertical-align: middle;">{{str label}} {{#if this.redirect}} <i class="fa fa-external-link" aria-hidden="true"></i> {{/if}}</span>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</span>
{{/if}}