/* 
MK Web Notifications v2.0.0 - jQuery Plug-In Style Sheet.
A easy to use jQuery plug-in for in browser notifications and toasts.
Documentation: https://mahkassem.github.io/mk-web-notifications/.
LICENSE: MIT. 
*/
.mk-notifications{
	width: 350px;
	padding: 10px;
	position: fixed;
	z-index: 20000;
	max-height: 100vh;
	max-width: 100%;
	overflow: hidden;
}

.mk-notifications.mk-scrollable{
	overflow-y: auto;
}

.mk-notifications.mk-scrollable::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}
 
.mk-notifications.mk-scrollable::-webkit-scrollbar-track {
    background: transparent;
}
 
.mk-notifications.mk-scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.22);
  outline: none;
}

.mk-notifications.mk-scrollable:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.66);
}

.mk-notifications.mk-top{
	top:0;
}

.mk-notifications.mk-right{
	right:0;
}

.mk-notifications.mk-bottom{
	bottom:0;
}

.mk-notifications.mk-left{
	left:0;
}


.mk-notifications.mk-center{
	left: 0;
	margin-left: calc(50% - 180px);
}

.mk-notifications > .mk-noti *{
	cursor: default;
}

.mk-notifications > .mk-noti{
	opacity: 0.0;
	width: 100%;
	max-height: 0px;
	transform: translateX(100%);
	background: #fff;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.15);
	display: flex;
  	flex-direction: row;
	overflow: hidden;
	transition: 0.4s;
	-webkit-transition: 0.4s;
}

.mk-notifications > .mk-noti.mk-clickable *{
	cursor: pointer!important;
}

.mk-notifications.mk-left > .mk-noti{
	transform: translateX(-100%);
}

.mk-notifications.mk-center.mk-bottom > .mk-noti{
	transform: translateX(0%);
	transform: translateY(100%);
}

.mk-notifications.mk-center.mk-top > .mk-noti{
	transform: translateX(0%);
	transform: translateY(-100%);
}

.mk-notifications.mk-top > .mk-noti.mk-show{
	margin-bottom: 10px;
}

.mk-notifications.mk-bottom > .mk-noti.mk-show{
	margin-top: 10px;
}

.mk-notifications > .mk-noti:hover{
	box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.29);
}

.mk-notifications.mk-rtl > .mk-noti{
	flex-direction: row-reverse;
	text-align: right;
	box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.15);
}

html[dir=rtl] .mk-notifications.mk-rtl > .mk-noti{
	flex-direction: row;
}

.mk-notifications.mk-rtl > .mk-noti:hover{
	box-shadow: -2px 2px 10px 1px rgba(0,0,0,0.25);
}

.mk-notifications.mk-center > .mk-noti.mk-show{
	transform: translateX(0%);
	transform: translateY(0%);
}

.mk-notifications > .mk-noti.mk-show{
	transform: translateX(0px);
	max-height: 500px;
	opacity: 1.0;
}

.mk-notifications > .mk-noti > .mk-icon{
	min-width: 80px;
	min-height: 80px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
	text-align: center;
	font-size: 250%;
	color:#fff;
}

.mk-notifications.mk-rtl > .mk-noti > .mk-icon {
	float: right;
}

.mk-notifications > .mk-noti.mk-default > .mk-icon{
	background: #6c757d;
}

.mk-notifications > .mk-noti.mk-primary > .mk-icon{
	background: #007bff;
}

.mk-notifications > .mk-noti.mk-success > .mk-icon{
	background: #28a745;
}

.mk-notifications > .mk-noti.mk-danger > .mk-icon{
	background: #dc3545;
}

.mk-notifications > .mk-noti.mk-warning > .mk-icon{
	background: #ffc107;
}

.mk-notifications > .mk-noti.mk-info > .mk-icon{
	background: #17a2b8;
}

.mk-notifications > .mk-noti.mk-light > .mk-icon{
	background: #f8f9fa;
	color: #212529;
}

.mk-notifications > .mk-noti.mk-dark > .mk-icon{
	background: #343a40;
}

.mk-notifications > .mk-noti.mk-purple > .mk-icon{
	background: #563d7c;
}

.mk-notifications > .mk-noti > .mk-body > .mk-title{
	padding: 5px;
	padding-right: 16px;
	margin: 0;
	color:#333;
	font-size: 115%;
	font-weight: 400;
}

.mk-notifications.mk-rtl > .mk-noti > .mk-body > .mk-title{
	padding-right: 5px;
	padding-left: 16px;
}

.mk-notifications > .mk-noti > .mk-body > .mk-text{
	padding: 5px;
	padding-top: 0px;
	color:#666;
	font-size: 100%;
	line-height: 18px;
	font-weight: 300;
	margin-bottom: 5px;
}

.mk-notifications > .mk-noti > .mk-body > .mk-close{
	padding: 5px;
	color:#999;
	position: absolute;
	right: 0;
	font-size: 10px;
	margin-right: 2px;
	cursor: pointer;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.mk-notifications.mk-rtl > .mk-noti > .mk-body > .mk-close{
	right: unset;
	left: 0;
	margin-right: unset;
	margin-left: 2px;
}

.mk-notifications > .mk-noti > .mk-body > .mk-close.mk-hide{
	display: none;
}
.mk-notifications > .mk-noti > .mk-body > .mk-close:hover{
	color:#666;
}
@media screen and (max-width: 420px)
{
	.mk-notifications{
		min-width: 100%;
	}
	.mk-notifications > .mk-noti > .mk-body > .mk-close{
		font-size: 14px;
		padding: 8px;
	}
	.mk-notifications.mk-center{
		margin-left: 0;
	}
}