/* LOGIN
----------------*/
.login {
    background: #e7f2fdb8;
    margin: 0% auto !important;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 768px){
    .login{
        width:90% !important;
    }
}

.ems-login {
    font-size:16px;
    .control-group {
        margin-bottom: 10px;
        input[type="password"],
        input[type="text"] {
            height: 33px;
            line-height: 33px;
            font-size: 16px;
            width: 80%;
            margin-left:0%;
        }
        select {
            height: 38px;
            line-height: 38px;
            font-size: 16px;
            width: 83%;
            margin-left:0%;
        }
    }
    .btn {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 82%;
        margin-left:0%;
    }
    small {
        font-size: 75%;
    }
    .input-append {
        padding-left: 11px;
    }
    .alert-error {
        width: 83%;
        margin: 20px auto;
        text-align: left;
    }
    .alert-success {
        width: 83%;
        margin: 20px auto;
        text-align: left;
    }
}


.thumb {
    margin-bottom: 20px;
    .brand {
        margin-top: 0;
        margin-bottom: 20px;
        img {
            width:40%;
        }
    }
}

.signup-footer,
.login-footer {
    text-align: right;
    margin-right: 10px;
    margin-top: 8px;
}

.password-reqs-status {
    border-top-left-radius: @baseBorderRadius;
    border-top-right-radius: @baseBorderRadius;
    border-bottom: none;
    padding: 4px;
}

.password-reqs {
    list-style: none;
    text-align: left;
    margin-left: 0;
    border-bottom-left-radius: @baseBorderRadius;
    border-bottom-right-radius: @baseBorderRadius;
    padding: 4px 8px;
    margin-bottom: 18px;
}
/* NEW SKIN END */