/* NAVBAR
  ----------------*/

/* twitter-bootstrap import START */

// COMMON STYLES
// -------------

// Base class and wrapper
.navbar {
  overflow: visible;
  margin-bottom: @baseLineHeight;
}

.navbar-inner {

  // Simplifying here, in new theme, we won't have a gradient, it's a solid white colour
  background: lighten(#193059, 5%);

  // Prevent floats from breaking the navbar
  .clearfix();
}

// Set width to auto for default container
// We then reset it for fixed navbars in the #gridSystem mixin
.navbar .container {
  width: auto;
}

// Override the default collapsed state
.nav-collapse.collapse {
  height: auto;
  overflow: visible;
}

// Brand: website or project name
// -------------------------
.navbar .brand {
  float: left;
  display: block;
  // Vertically center the text given @navbarHeight
  padding: ((@navbarHeight - @baseLineHeight) / 2) 20px ((@navbarHeight - @baseLineHeight) / 2);
  margin-left: -20px; // negative indent to left-align the text down the page
  font-size: 20px;
  font-weight: 200;
  color: @navbarBrandColor;
  text-shadow: 0 1px 0 @navbarBackgroundHighlight;

  &:hover {
    text-decoration: none;
  }
}

// Plain text in topbar
// -------------------------
.navbar-text {
  margin-bottom: 0;
  line-height: @navbarHeight;
  color: @navbarText;
}

// Janky solution for now to account for links outside the .nav
// -------------------------
.navbar-link {
  color: @navbarLinkColor;

  &:hover {
    color: @navbarLinkColorHover;
  }
}

// Dividers in navbar
// -------------------------
.navbar .divider-vertical {
  height: @navbarHeight;
  margin: 0 9px;
  border-left: 1px solid @navbarBackground;
  border-right: 1px solid @navbarBackgroundHighlight;
}

// Buttons in navbar
// -------------------------
.navbar .btn,
.navbar .btn-group {
  .navbarVerticalAlign(30px); // Vertically center in navbar
}

.navbar .btn-group .btn,
.navbar .input-prepend .btn,
.navbar .input-append .btn {
  margin-top: 0; // then undo the margin here so we don't accidentally double it
}

// Navbar search
// -------------------------
.navbar-search {
  position: relative;
  .navbarVerticalAlign(30px); // Vertically center in navbar


  margin-bottom: 0;

  .search-query {
    margin-bottom: 0;
    font-size: 14px;
  }
}

// Fixed navbar
// -------------------------

// Shared (top/bottom) styles
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: @zindexFixedNavbar;
  margin-bottom: 0; // remove 18px margin for default navbar
  top: 0;

  .navbar-inner {
    border-width: 0 0 1px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
  }
}

// NAVIGATION
// ----------

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.navbar .nav.pull-right {
  float: right; // redeclare due to specificity
  margin-right: 0; // remove margin on float right nav
}

// Links
.navbar .nav > li > a {
  float: none;
  // Vertically center the text given @navbarHeight
  padding: ((@navbarHeight - @baseLineHeight) / 2) 15px ((@navbarHeight - @baseLineHeight) / 2);
  color: @navbarLinkColor;
  text-decoration: none;
  text-shadow: 0 1px 0 @navbarBackgroundHighlight;
}

// Hover
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: @navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
  color: @navbarLinkColorHover;
  text-decoration: none;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: @navbarLinkColorActive;
  text-decoration: none;
  background-color: @navbarLinkBackgroundActive;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  .buttonBackground(darken(@navbarBackgroundHighlight, 5%), darken(@navbarBackground, 5%));

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.navbar .btn-navbar .fa-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  border-radius: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.btn-navbar .fa-bar + .fa-bar {
  margin-top: 3px;
}

// Dropdown menus
// --------------

// Menu position and menu fa-angle-down
.navbar .nav > li > .dropdown-menu {
  &::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: @dropdownBorder;
    position: absolute;
    top: -7px;
    left: 9px;
  }

  &::after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid @dropdownBackground;
    position: absolute;
    top: -6px;
    left: 10px;
  }
}

// fa-angle-down should match text color on hover
.navbar .nav li.dropdown > a:hover .fa-angle-down {
  border-top-color: @navbarLinkColorActive;
  border-bottom-color: @navbarLinkColorActive;
}

// Remove background color from open dropdown
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: @navbarLinkBackgroundActive;
  color: @navbarLinkColorActive;
}

.navbar .nav li.dropdown > .dropdown-toggle .fa-angle-down {
  border-top-color: @navbarLinkColor;
  border-bottom-color: @navbarLinkColor;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .fa-angle-down,
.navbar .nav li.dropdown.active > .dropdown-toggle .fa-angle-down,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .fa-angle-down {
  border-top-color: @navbarLinkColorActive;
  border-bottom-color: @navbarLinkColorActive;
}

// Right aligned menus need alt position
.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 0;

  &::before {
    left: auto;
    right: 12px;
  }

  &::after {
    left: auto;
    right: 13px;
  }

  .dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: -1px;
    border-radius: 6px 0 6px 6px;
  }
}

/* twitter-bootstrap import END */

.navbar {
  &.navbar-fixed-top {
    position: absolute;
    z-index: (@zindexFixedNavbar + 2);
  }

  // General layout
  // ==============
  .navbar-inner {
    border: none;
    width: 100%;
    display: table;
    min-height: 0;
    padding: 0;
    margin: 0;
  }

  .nav-collapse {
    display: table-row;

    > div {
      display: table-cell;
      float: none;
      vertical-align: top;

      &.module-list {
        width: 100%;

        .dropdown-menu {
          max-width: 260px;
        }
      }
    }
  }

  .nav {
    margin: 0;
  }

  .btn,
  .btn-group {
    margin: 0;
  }

  .fa {
    font-size: 14px;
  }

  .btn-group:hover > .routeLink,
  .btn-group > .routeLink:focus {
    color: @navbarLinkColorActive !important;
  }

  .btn-group:hover > .btn .fa,
  .btn-group > .btn:focus .fa {
    color: #fff;
  }
}

// Nav links (both module list and other)
// ======================================
.megamenu {
  > .dropdown {
    padding: 0;

    &.active {
      .btn-group:not(.open) {
        .dropdown-toggle:not(.cube) {
          color: @navbarLinkColorActive;
          border-radius: 0 !important;
          outline: none;

          &:focus {
            .tab-focus-light();

            outline-offset: 3px;
          }
        }
      }
    }

    /*This is the actual content in nav item*/

    .btn-group {
      margin: 0;

      /*This is the link text or image*/

      & > .dropdown-toggle {
        margin: 0;
        padding: 0;
        font-weight: normal;
        border: none;
        text-shadow: none;
        box-sizing: content-box;

        &:hover {
          text-decoration: none;
        }

        &:active {
          box-shadow: none !important;
          border-color: transparent;
          background: none;
        }
      }

      /*This is all buttons not in the mega menu*/

      &:not(.open) {
        & > .btn:focus,
        .btn.module-name:focus {
          .tab-focus-light();
        }

        & > .btn.module-name:focus {
          outline-offset: 3px;
        }

        & > .btn:active,
        .btn:active:focus {
          outline-width: 0;
        }
      }

      &.open {
        .dropdown-toggle {
          background: none;
          box-shadow: none;

          &:hover {
            background: none;
            text-decoration: none;
          }
        }
      }
    }

    /*Menu position and menu fa-angle-down*/

    .dropdown-menu {
      position: fixed;
      left: auto;
      right: auto;
      border-radius: 0 0 @baseBorderRadius @baseBorderRadius;
      max-height: ~"-moz-calc(100% - 100px)";
      max-height: ~"-webkit-calc(100% - 100px)";
      max-height: ~"calc(100% - 100px)";
      margin-top: 0;
      padding-top: 0;
      overflow-y: auto;
      overflow-x: hidden;
      background: none;
      box-shadow: none;
      min-width: 160px;

      &.pull-right {
        left: auto;
        right: 0;
      }

      & > ul {
        background: @white;
      }

      &::before {
        border-bottom-color: rgba(0, 0, 0, 0.2);
      }

      li.divider {
        border-bottom: none;
      }

      li.divider + li a {
        border-top: @borderWidget;
      }

      li.hidden {
        display: none;
      }

      li a {
        display: block;
        padding: 8px 10px;
        text-indent: 16px;
        position: relative;

        i.fa {
          position: relative;
          top: -1px;
          text-indent: -12px;
          vertical-align: middle;
        }

        .label {
          text-indent: 0;
        }

        &.module-list-link {
          text-indent: 0;
          padding-right: 20px;
          gap: 10px;
          white-space: nowrap;
          display: grid;
          grid-template-columns: 90% 10%;
          padding-inline-end: 10px;

          span {
            gap: 10px;
            display: flex;
            align-items: center;
          }

          i.pro-icon {
            text-align: end;
            color: gold;
          }
        }
      }
    }

    button.toggle-recents {
      width: 100%;
      text-align: left;
    }
  }
}

// Styling specific to module list
// ======================================
.module-list .megamenu {
  max-height: 44px;
  white-space: nowrap;

  > .dropdown {
    float: none;
    display: inline-block;

    &.hidden {
      display: none;
    }

    &.more {
      .btn-group {
        padding: 8px 2px;
      }
    }

    &.hidden.more {
      display: inline-block; /* UIUX-1610 */
    }

    .btn-group {
      .dropdown-toggle {
        padding: 5px 5px 3px 8px;
        margin-left: 1px;
      }

      /*cube container*/

      &.home {
        .dropdown-menu {
          left: 0;
          right: auto;
        }

        .dropdown-toggle {
          padding: 5px 2px;
          margin-left: 0;
        }

        /*img*/

        .cube {
          z-index: 2000;
          padding: 3px;

          &.hide {
            display: none;
          }

          &:hover {
            text-decoration: none;
          }

          img {
            height: 22px;
            width: auto;
          }
        }
      }
    }

    // module name link buttons
    .module-name {
      padding: 0;
    }

    &[data-module="Forecasts"] {
      .btn-group {
        padding-right: 14px;
      }
    }
  }
}

#userActions {
  .dropdown-menu {
    min-width: 0;

    ul.dropdown-insert {
      display: none;
    }
  }

  & > .btn-group {
    padding-right: 6px;
  }

  .dropdown-toggle {
    .avatar {
      min-width: 26px;
    }

    .fa-user-cog {
      width: 26px;
      height: 26px;
      line-height: 26px;
      top: 0;
      font-size: 20px;
    }
  }

  .profileactions-profile {
    > a {
      > span {
        display: inline-block;
        width: 14px;
        height: 0;

        .avatar {
          position: absolute;
          left: 11px;
          top: 7px;
        }
      }
    }
  }
}

#createList {
  .fa-plus.fa-md {
    width: 28px;
    height: 28px;
    line-height: 28px;
    top: -1px;
  }
}

/* NEW SKIN START */

.navbar {

  // General layout
  // ==============
  .navbar-inner {
    /* additive */
    border-bottom: 1px solid @BorderColor;
  }

  .nav {
    /* additive */

    #createList {
      border-left: 1px solid @navbarSearchBorder;
    }
  }

  /* additive */

  .btn-group:hover > .btn.btn-invisible {
    color: darken(#193059, 5%);
  }

  .nav-collapse > div.module-list .nav .dropdown {
    > .btn-group:not(.home) {
      .dropdown-menu {
        /* override */
        margin-left: -10px;
      }
    }

    &.more .btn-group.open .dropdown-menu {
      margin-left: -2px;
    }
  }
}

// Nav links (both module list and other)
// ======================================

.navbar-inner .dropdown-toggle .fa-angle-down{
  color:#fff;
  font-size: 18px !important;
  vertical-align: middle;
}
.navbar-inner .dropdown-toggle .fa-user-cog{
  color:#fff;
}

.navbar .megamenu {
  > .dropdown {
    &.active {
      .btn-group {
        &:not(.open) {
          &:not(.home) {
            /* override */
            background-color: darken(#193059,5%);

            .fa-angle-down {
              color: #fff;
            }
          }

          &.home {
            background: none;

            .fa-angle-down {
              color: #fff;
            }
          }
        }
      }
    }

    &:hover {
      /* additive */
      background: darken(#193059, 5%);

      .btn-group {
        > .btn,
        > .btn:hover {
          /* additive */
          color: #fff;
        }

        & > .dropdown-toggle {
          .fa {
            /* additive */
            color: #fff;
          }
        }
      }
    }

    /*This is the actual content in nav item*/

    .btn-group {
        padding: 9px 10px;

      &.home {
        padding: 7px 10px;
      }

      & > .dropdown-toggle {
        .fa {
          /* additive */
          width: 10px;
        }
      }

      &.open {
        /* new variable */
        background-color: darken(#193059,5%);

        /* additive */

        .btn.btn-invisible:not(.disabled):hover {
          background: none;
          color: inherit;
        }
      }
    }

    /*Menu position and menu fa-angle-down*/

    .dropdown-menu {
      /* override */
      top: 44px;

      li a {
        /* additive */
        color: initial;

        &:focus,
        &:hover {
          /* new variable */
          color: @navbarDropdownLinkHover;

          /* new variable */
          background: @navbarDropdownItemHover;

          i.fa {
            /* new variable */
            color: @navbarDropdownLinkHover;
          }
        }

        /* additive */

        &:active {
          color: #fff;
          background: darken(#193059, 5%);

          i.fa {
            color: #fff;
          }
          time {
            color: #fff;
          }
        }
      }
    }
  }
}

// Styling specific to module list
// ======================================
.module-list .megamenu {
  > .dropdown {
    &.more {
      /* override */



      /* override */



      .btn-group {
        /* override */
        padding-top: 13px;
        padding-bottom: 13px;

        .dropdown-toggle {
          padding: 0 6px;
        }
      }
    }

    // module name link buttons
    .module-name {
      /* override */
      color: #fff;
      font-weight: 500;
      font-size: 14px;

      &:focus,
      &:hover {
        /* override */
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

#userActions {
  .dropdown-toggle {
    .avatar {
      /* override */
      min-width: 24px;
    }
  }
}

/* NEW SKIN END */
