/* NOTIFICATIONS
----------------*/
.navbar ul.nav.megamenu li.dropdown.notification-list {
    .dropdown-toggle {
        text-align: center;
        box-shadow: none;

        &:not(.btn-danger) {
            background: darken(@navbarBackground, 5%);
            color: @white;
        }
    }
    .fa-bell {
        width: 12px;
        line-height: 26px;
        font-size: 21px;
        color: @white;
        text-align: center;
        vertical-align: middle;
    }

    &:hover {
        .dropdown-toggle:not(.btn-danger) {
            background: @slate;
        }
    }

    .btn-group.open {
        .dropdown-menu {
            width: 400px;

            ul {
                li {
                    &.read {
                        background: lighten(@gray, 56%);

                        a,
                        a:hover {
                            color: lighten(@gray, 25%);
                        }

                        a .label {
                            background-color: lighten(@gray, 25%);
                        }
                    }
                    h4 {
                        padding:10px;
                        margin:0px;
                    }

                    .mark-all{
                        padding:10px;
                        margin:0px;
                        cursor:pointer;
                        text-decoration:underline;
                        float: right;
                    }

                    a {
                        text-indent: inherit;
                        padding-top: 10px;
                        padding-bottom: 0;

                        .label {
                            text-align: center;
                            margin-right: 10px;
                            cursor: inherit;
                        }

                        .noti-badge {
                            width: 34px;
                            height: 34px;
                            border-radius: 50%;
                            line-height: 32px;
                        }

                        i.fa {
                            font-size: 14px;
                            margin-left: 11px;
                            margin-bottom: 2px;
                            color: #fff;
                        }

                        .noti_des {
                            white-space:-moz-pre-wrap;
                            white-space:pre-wrap;
                            word-wrap:break-word;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            min-height: 36px;
                        }

                        time {
                            font-size: @fontSizeSmall;
                            text-align: right;
                            padding-right: 14px;
                            white-space: normal;
                            padding-top: 3px;
                            line-height: 1.25em;
                            display: inline-block;

                            .relativetime {
                                display: table-cell;
                                vertical-align: middle;
                            }
                        }

                        .unread-time {
                            display: inline-block;
                            font-weight: 600;
                            color: #2E89FF;
                        }

                        .unread-notification {
                            color: #2E89FF;
                            font-size: 10px;
                            vertical-align: middle;
                        }
                        .noti_dot {
                            line-height: 70px;
                        }
                    }

                    .fa-bars {
                        line-height: 20px;
                        text-indent: 0 !important;
                    }
                }
            }
        }
    }
}

ul.notification-list {
    border-top: 2px solid @tableBorderColor;
    margin: 0;

    li {
        list-style: none;
        line-height: 34px;
        padding: 0 16px;

        &:not(:last-child) {
            border-bottom: @tableBorder;
        }

        .ellipsis_inline {
            display: inline-block !important;
        }

        .date {
            margin-right: 28px;
        }

        .rowaction {
            position: absolute;
            right: 18px;
        }

        .label {
            min-width: 50px;
            text-align: center;
            margin-right: 10px;
        }

        span.raw {
            &.level {
                position: absolute;
                margin-top: 9px;
            }

            &.name {
                position: relative;
                line-height: normal;
                padding-top: 10px;
                margin-left: 70px;

                .ellipsis_inline {
                    width: 42%;
                    width: calc(~"100% - 225px");
                    line-height: normal;
                    padding-top: 10px;
                    cursor: pointer;
                }
            }

            &.expanded.name {
                .ellipsis_inline {
                    white-space: normal;
                    cursor: default;
                }
            }
        }
    }
}

.preview-pane .detail .label.ellipsis_inline {
    display: inline-block !important;
}

[data-action="toggle"].label {
    cursor: pointer;
}

/* NEW SKIN START */

.navbar ul.nav.megamenu li.dropdown.notification-list {
    .dropdown-toggle {
        /* override with variable */
        min-width: 12px;
        min-height: 12px;
        padding: 0px 2px;
        font-size: 12px;
        top: 7px;
        position: absolute;
        font-weight: normal;
    }

    .btn-group {
        &.open {
            .dropdown-toggle.btn-danger {
                &,
                &:active {
                    .buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
                }
            }
        }

        .dropdown-toggle.btn-danger:active {
            .buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
        }
        padding: 9px 27px 9px 20px;
    }

    &:hover button.dropdown-toggle {
        /* override */
        color: @white;
    }
}
/*
MK Web Notifications v2.0.0 - jQuery Plug-In Style Sheet.
*/
.mk-notifications{
    width: 350px;
    padding: 10px;
    position: fixed;
    z-index: 20000;
    max-height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

.mk-notifications.mk-scrollable{
    overflow-y: auto;
}

.mk-notifications.mk-scrollable::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}

.mk-notifications.mk-scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.mk-notifications.mk-scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.22);
  outline: none;
}

.mk-notifications.mk-scrollable:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.66);
}

.mk-notifications.mk-top{
    top:0;
}

.mk-notifications.mk-right{
    right:0;
}

.mk-notifications.mk-bottom{
    bottom:0;
}

.mk-notifications.mk-left{
    left:0;
}


.mk-notifications.mk-center{
    left: 0;
    margin-left: calc(50% - 180px);
}

.mk-notifications > .mk-noti *{
    cursor: default;
}

.mk-notifications > .mk-noti{
    opacity: 0.0;
    width: 100%;
    max-height: 0px;
    transform: translateX(100%);
    background: #fff;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.15);
    display: flex;
      flex-direction: row;
    overflow: hidden;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.mk-notifications > .mk-noti.mk-clickable *{
    cursor: pointer!important;
}

.mk-notifications.mk-left > .mk-noti{
    transform: translateX(-100%);
}

.mk-notifications.mk-center.mk-bottom > .mk-noti{
    transform: translateX(0%);
    transform: translateY(100%);
}

.mk-notifications.mk-center.mk-top > .mk-noti{
    transform: translateX(0%);
    transform: translateY(-100%);
}

.mk-notifications.mk-top > .mk-noti.mk-show{
    margin-bottom: 10px;
}

.mk-notifications.mk-bottom > .mk-noti.mk-show{
    margin-top: 10px;
}

.mk-notifications > .mk-noti:hover{
    box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.29);
}

.mk-notifications.mk-rtl > .mk-noti{
    flex-direction: row-reverse;
    text-align: right;
    box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.15);
}

html[dir=rtl] .mk-notifications.mk-rtl > .mk-noti{
    flex-direction: row;
}

.mk-notifications.mk-rtl > .mk-noti:hover{
    box-shadow: -2px 2px 10px 1px rgba(0,0,0,0.25);
}

.mk-notifications.mk-center > .mk-noti.mk-show{
    transform: translateX(0%);
    transform: translateY(0%);
}

.mk-notifications > .mk-noti.mk-show{
    transform: translateX(0px);
    max-height: 500px;
    opacity: 1.0;
}

.mk-notifications > .mk-noti > .mk-icon{
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: auto;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
    font-size: 250%;
    color:#fff;
}

.mk-notifications.mk-rtl > .mk-noti > .mk-icon {
    float: right;
}

.mk-notifications > .mk-noti.mk-primary > .mk-icon{
    background: #007bff;
}

.mk-notifications > .mk-noti.mk-success > .mk-icon{
    background: #28a745;
}

.mk-notifications > .mk-noti.mk-danger > .mk-icon{
    background: #dc3545;
}

.mk-notifications > .mk-noti.mk-warning > .mk-icon{
    background: #ffc107;
}

.mk-notifications > .mk-noti.mk-info > .mk-icon{
    background: #17a2b8;
}

.mk-notifications > .mk-noti.mk-light > .mk-icon{
    background: #f8f9fa;
    color: #212529;
}

.mk-notifications > .mk-noti.mk-dark > .mk-icon{
    background: #343a40;
}

.mk-notifications > .mk-noti.mk-purple > .mk-icon{
    background: #563d7c;
}

.mk-notifications > .mk-noti > .mk-body > .mk-title{
    margin: 0;
    color:#333;
    font-size: 105%;
    font-weight: 600;
}

.mk-notifications > .mk-noti > .mk-body > .mk-text{
    color:#666;
    font-size: 100%;
    line-height: 18px;
    font-weight: 300;
    margin-bottom: 5px;
}

.mk-notifications > .mk-noti > .mk-body > .mk-close{
    padding: 5px;
    color:#999;
    position: absolute;
    right: 0;
    font-size: 10px;
    margin-right: 2px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.mk-notifications.mk-rtl > .mk-noti > .mk-body > .mk-close{
    right: unset;
    left: 0;
    margin-right: unset;
    margin-left: 2px;
}

.mk-notifications > .mk-noti > .mk-body > .mk-close.mk-hide{
    display: none;
}
.mk-notifications > .mk-noti > .mk-body > .mk-close:hover{
    color:#666;
}
@media screen and (max-width: 420px)
{
    .mk-notifications{
        min-width: 100%;
    }
    .mk-notifications > .mk-noti > .mk-body > .mk-close{
        font-size: 14px;
        padding: 8px;
    }
    .mk-notifications.mk-center{
        margin-left: 0;
    }
}
/*END: MK Web Notifications v2.0.0 - jQuery Plug-In Style Sheet.*/

/* NEW SKIN END */
.noti-critical {
    background: #c0341d;
    color: #fff;
    border: 1px solid #c0341d
}

.noti-alert {
    background: #46D068;
    color: #fff;
    border: 1px solid #46D068
}

.noti-warning {
    background-color: #ff8800;
    color: #fff;
    border: 1px solid #ff8800
}

.noti-information {
    background-color: #198cc6;
    color: #fff;
    border: 1px solid #198cc6
}

.noti-success {
    background-color: #28a745;
    color: #fff;
    border: 1px solid #28a745
}

.noti-defaut {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #dc3545
}

