/* QUOTES styles
  ----------------*/
.quote-data-container {
  .quote-data-grand-totals-header-wrapper {
    border-bottom: 2px @grayDark solid;
    border-top: 2px @grayDark solid;
    width: 100%;
    display: table;
    position: relative;
    height: 46px;

    .quote-data-header-fields {
      margin-left: 71px;
      display: flex;
      justify-content: space-around;
    }

    &:last-child {
      width: 15%;
      margin-left: 5px;
    }

    // left column
    .dropdown-toggle {
      border-radius: 0;
    }

    .btn-group.open {
      z-index: 999;
    }

    .actions .dropdown-menu {
      top: 48px;
      left: 8px;
    }

    .quote-totals-row-item {
      padding: 5px;
      text-align: right;
      border-right: @borderWidget;
      white-space: nowrap;
      width: 16%;

      &:last-child {
        border-right: none;
      }

      .quote-totals-row-value {
        font-weight: bold;
        line-height: 18px;
        font-size: 14px;

        .percent-discount {
          float: left;
        }
      }
    }

    .quote-data-panel-controls {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 71px;
      width: 71px;
      border-right: @tableBorder;
      height: 100%;

      a.btn {
        padding: 5px 0;
        margin: 0;
        width: 71px;
        line-height: 36px;
        background: @white;
        border: none;
      }

      .btn-group.open {
        a.btn.dropdown-toggle {
          background: @gray;
        }
      }

      .btn.checkall {
        padding: 8px 5px 8px 6px;
        border: none;
        background: @white;

        input {
          top: 0;
          margin: 8px;
        }
      }

      > span {
        z-index: 11;
      }
    }
  }

  .quote-data-list-table {
    td:first-child {
      .checkall {
        line-height: 0;

        input[type=checkbox] {
          margin: 3px 1px;
        }
      }

      &.two-dropdowns {
        > span {
          span.list {
            display: inline-block;
            white-space: nowrap;
            width: 100%;

            &.btn-group {
              margin-left: 0;
              padding-right: 2px;
            }
          }
        }
      }
    }

    thead.quote-data-list-header {
      .dropdown-toggle {
        border-radius: @baseBorderRadius;
      }

      .dropdown-menu {
        left: 28px;
      }
    }

    tbody.quote-data-group {
      border-top: 1px @grayDark solid;

      tr.quote-data-group-header td,
      tr.quote-data-group-footer td {
        background: @grayLighter;
      }

      tr.quote-data-group-header {
        td[data-type="quote-group-title"] {
          padding: 6px 8px 2px;
        }

        .quote-data-group-title {
          .group-loading-icon {
            display: none;
            margin-right: 10px;
          }

          .group-name {
            font-weight: bold;
            font-size: 14px;
          }
        }

        .action-button-wrapper {
          .fieldset:first-child {
            left: 8px;
            width: 28px;
          }

          span.fieldset:last-child {
            left: 16px;
            width: 36px;
          }

          .left-column-save-cancel {
            display: none;
          }

          .left-column-buttons {
            display: inline-block;
          }
        }

        .left-column-save-cancel {
          &.higher {
            .btn-group.open {
              .dropdown-menu {
                .btn {
                  background-image: none;
                  background-color: @white;
                  border: none;
                  border-top: 1px solid #f6f6f6;
                }

                li > span a:hover,
                li > span a:focus {
                  color: @dropdownLinkColorHover;
                  text-decoration: none;
                  background: @dropdownLinkBackgroundHover;
                  filter: none;
                }
              }
            }
          }
        }

        &.tr-inline-edit {
          .two-dropdowns {
            > span {
              a {
                padding: 9px 7px;
                box-sizing: border-box;
              }
            }

            .left-column-save-cancel {
              display: inline-block;
              width: 71px;
              height: 36px;
              background: @grayLighter;

              &.higher {
                padding: 0;
                border-bottom: 0;

                .btn {
                  &.inline-cancel {
                    margin-left: 4px;
                  }

                  .fa {
                    font-size: 16px;
                  }

                  &.inline-save {
                    .fa {
                      color: @PrimaryButton;
                    }
                  }
                }
              }
            }

            .left-column-buttons {
              display: none;
            }

            ul.dropdown-menu {
              background-color: @white;
            }
          }
        }
      }

      tr.quote-data-group-list,
      tr.quote-data-group-header {
        .btn-group:not(.open) .bt {
          background: #fff;
        }
      }

      tr.quote-data-group-list {
        &.product-row {
          .currency-field {
            text-align: right;
          }
        }

        .btn-group {
          &:not(.open) .bt {
            background: @white;
          }

          &.open .btn.dropdown-toggle {
            background: @gray;
          }

          .btn {
            border-radius: @baseBorderRadius;

            &.checkall:hover {
              background: transparent;
            }
          }
        }

        .left-column-save-cancel {
          z-index: -1;

          &.higher {
            z-index: 11;

            .btn {
              .fa {
                font-size: 16px;
              }

              &.inline-save .fa {
                color: @PrimaryButton;
              }
            }
          }
        }

        .left-column-buttons {
          z-index: 10;

          .dropdown-menu {
            left: 26px;
          }
        }

        .quantity {
          input {
            min-width: 50px;
          }

          .input-append.error .add-on {
            left: -45px;
          }
        }

        &.product-bundle-notes-row.tr-inline-edit {
          td:first-child {
            vertical-align: top;
            padding: 0;

            > span {
              border: 0;
              margin-top: 0;

              &::after {
                top: 0;
                height: 55px;
              }
            }
          }

          .description-textarea textarea {
            width: 100%;
            box-sizing: border-box;
            resize: none;
          }
        }

        &.empty-row {
          opacity: 1;

          &.hidden-empty-row {
            opacity: 0;
          }
        }

        .empty-row-droppable {
          position: absolute;
          height: auto;
          right: 5px;
          left: 5px;
          padding: 4px 12px;
          margin-top: -14px;
          text-align: left;
          color: darken(@grayLight, 10%);
          border: 1px dashed darken(@grayLight, 10%);
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.tr-inline-edit {
          td > span.list {
            padding: 0;
          }
        }
      }
    }
  }

  .quote-data-group-footer,
  .quote-data-grand-totals-footer {
    margin-bottom: 15px;

    .footer-fields {
      width: 55%;
      float: right;

      .grand-total {
        .quote-footer-label {
          font-weight: bold;
        }
      }

      > .grand-total {
        .quote-footer-item {
          margin-top: 6px;
          padding-top: 8px;
          border-top: 2px @grayDark solid;
        }
      }

      > .grand-total ~ .grand-total {
        .quote-footer-item {
          margin-top: 0;
          padding-top: 2px;
          border-top: none;
        }
      }

      .quote-footer-item {
        text-align: right;
        padding: 2px 10px 2px 0;

        .quote-footer-label,
        .quote-footer-value {
          width: 45%;
          display: inline-block;
        }

        .quote-footer-value {
          font-weight: bold;
        }

        &.quote-footer-input-item {
          input {
            width: 30%;
            font-weight: bold;
            text-align: right;
            padding: 2px;
          }
        }
      }

      .quote-footer-currency {
        .quote-edit-link-wrapper {
          position: relative;
          left: 20px;
          top: -6px;
          float: left;
          height: 18px;
          display: none;
        }

        .currency-field:hover > .quote-edit-link-wrapper {
          display: block;
        }

        .quote-footer-input-item {
          input {
            width: 100px;
          }

          .quote-footer-value {
            .currency-field {
              height: 18px;
            }
          }

          span.error-tooltip {
            left: auto;
            right: 83px;
            top: 1px;
            position: absolute;
          }
        }
      }
    }
  }

  .quote-data-group-footer {
    .footer-fields {
      .quote-footer-item {
        padding-right: 4px;
        font-weight: bold;
      }

      .quote-footer-input-item {
        padding-right: 2px;
      }
    }
  }

  .quote-data-grand-totals-footer::after {
    content: "";
    display: block;
    clear: both;
  }

  .quote-discount-percent {
    &.list {
      .fieldset-field {
        float: right;

        &:first-child {
          display: inline-block;
          width: calc(~"100% - 28px");
        }
      }
    }

    &.edit {
      .fieldset-field {
        &:first-child:not(.error) {
          display: inline-block;
          width: calc(~"100% - 28px");

          input {
            text-align: right;
            // min-width: auto;
            border-radius: 3px 0 0 3px;
          }
        }

        &:last-child:not(.error) {
          display: inline-block;

          .btn-group .btn {
            border-radius: 0 3px 3px 0;
          }
        }

        ul.dropdown-menu {
          left: 0;
          top: 26px;
        }

        div.input-append.error {
          display: block;
        }
      }

      span.error-tooltip {
        left: 2px;
        position: absolute;
      }
    }
  }
}

.quote-data-config-container {
  border-top: @borderWidget;

  .empty-config-footer-row-field {
    margin: 8px 0;
    padding: 4px 12px;
    color: darken(@grayLight, 10%);
    border: 1px dashed darken(@grayLight, 10%);
  }

  .grand-totals {
    .quote-footer-label {
      font-weight: bold;
    }
  }
}

.quote-data-config-container,
tbody.quote-data-group {
  .ui-state-highlight {
    border: 1px dashed darken(@grayLight, 10%);
    z-index: 1001;
  }

  .ui-sortable {
    cursor: move;

    &.ui-sortable-helper {
      display: table;
    }

    &.ui-sortable-placeholder {
      visibility: visible !important;
      background: @grayLight;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1), inset 2px 2px 0 rgba(0, 0, 0, 0.05), inset -2px -2px 0 rgba(0, 0, 0, 0.05);
    }
  }
}

.quote-data-container {
  .scroll-locked {
    .quote-discount-percent.edit {
      position: absolute;
      margin-top: -14px;
    }
  }
}

.quote-discount-percent .actions .dropdown-menu {
  right: inherit;
}

/* CREATE VIEW CHANGES */

.create-view {
  .dataTable {
    td:first-child {
      .actions {
        .dropdown-menu {
          a {
            width: 100%;
            text-align: left;
          }
        }
      }
    }
  }

  .quote-data-list-table {
    tbody.quote-data-group {
      tr.quote-data-group-header {
        .action-button-wrapper {
          span.fieldset:last-child {
            left: 0;
            overflow: visible;
          }
        }
      }
    }
  }
}

.quote-data-table-scrollable.left-actions.scroll-width .dataTable {
  th {
    border-right: 0;
    box-shadow: 0 0 0 1px #e0e0e0;
  }

  thead tr {
    border-bottom: none;
  }

  tbody tr {
    border-top: none;
  }

  td:first-child {
    border-right: 1px solid @tableFixedColumnsBorderColor;
  }

  td:first-child > span {
    border-bottom: none;
    border-right: none;

    &::after {
      height: 36px;
    }
  }
}

.dashboard.quotes-create {
  position: initial;
  bottom: initial;

  .dashlet {
    h4 {
      cursor: initial;
    }

    .loading-icon {
      font-size: 14px;
      padding-top: 3px;
      padding-right: 8px;
      text-align: center;
    }
  }
}

.product-catalog-container {
  padding: 15px 0 0 15px;
}

.quotes-config {
  h4 {
    font-weight: bold;
  }

  .worksheet-columns-directions {
    margin: 25px 0;
  }

  &.howto {
    padding: 0;

    h3 {
      padding: 10px;
      margin: 0;
    }

    .field-search {
      padding: 10px;

      .searchbox {
        width: 95%;
      }
    }

    .legend {
      margin-top: 5px;
      background-color: @navbarLinkBackgroundActive;
      padding: 10px;

      .legend-inputs {
        margin: 10px 0;
      }

      .legend-help-text {
        clear: both;
        font-size: 10.5px;
      }
    }

    .field-list {
      padding: 5px;
      display: flex;
    }
  }

  .worksheet-columns-directions {
    margin-top: 75px;
  }

  .flex-list-view {
    &[class$="-actions"]:not(.scroll-width) {
      .flex-list-view-content {
        overflow-x: visible;
        height: 28px;

        .dataTable {
          th:first-child,
          td:first-child,
          th:last-child,
          td:last-child {
            &:not(.alert) {
              height: 28px;
            }
          }
        }
      }
    }
  }
}
