/* SLIDER
  ----------------*/

.infoBox {
  left: -23px;
  top: -42px;
  width: 46px;
}

.noUiSlider {
  #gradient > .vertical(@grayLight,@gray);

  border-color: @gray;
  width: 300px;
  border-width: 1px 0;

  .ticks {
    width: 0;
    border-left: 1px solid #ccc;
    position: absolute;
    display: inline-block;
    height: 10px;
    top: -11px;
  }
}

.noUiSliderEnds {
  position: relative;
  width: 300px;
  margin: 45px 45px 30px;
  .user-select(none);
}

.noUiSliderEnds::before,
.noUiSliderEnds::after {
  top: 0;
  height: 8px;
  position: absolute;
  font-weight: bold;
  line-height: 8px;
  border: 1px solid @gray;
  border-left: 0;
  #gradient > .vertical(@grayLight,@gray);
}

.noUiSliderEnds::before {
  border-radius: 6px 0 0 6px;
  content: attr(data-content-before);
  text-indent: -22px;
  left: -9px;
  width: 10px;
  border-right: 0;
}

.noUiSliderEnds::after {
  border-radius: 0 6px 6px 0;
  content: attr(data-content-after);
  text-indent: 10px;
  right: -8px;
  width: 7px;
  border-left: 0;
}

.noUi-midBar {
  #gradient > .vertical(lighten(@PrimaryButton, 40%),lighten(@PrimaryButton, 10%));

  border-color: @gray;
}

.noUi-handle > div {
  display: block;
  position: absolute;
  width: 10px;
  #gradient > .vertical(@grayLighter,@white);

  border-radius: 3px;
  border: 1px solid #aaa;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3) inset, 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: @white;
  margin-left: 2px;
  cursor: pointer;
  .user-select(none);
}

.noUi-handle > div::before {
  position: absolute;
  content: ' ';
  left: -1px;
  top: -4px;
  height: 11px;
  width: 11px;
  z-index: 1;
  -moz-transform: rotateZ(45deg) skewY(-10deg) skewX(-10deg);
  -o-transform: rotateZ(45deg) skewY(-10deg) skewX(-10deg);
  -webkit-transform: rotateZ(45deg) skewY(-10deg) skewX(-10deg);
  transform: rotateZ(45deg) skewY(-10deg) skewX(-10deg);
  border-radius: 0 9px;
  border: 1px solid #aaa;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

.noUi-handle > div::after {
  font-family: HelveticaNeue, Helvetica, Arial;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  content: attr(title) "";
  z-index: 999;
  left: 0;
  position: absolute;
  height: 7px;
  line-height: 5px;
  display: block;
  width: 8px;
  top: 4px;
  border-left: 1px solid darken(@grayLighter, 10%);
  border-right: 1px solid darken(@grayLighter, 10%);
}

.noUi-handle > div,
.noUi-handle > div::after,
.noUi-handle > div::before {
  background-color: @white;/*originalcolor*/
}

.noUi-handle > div:hover,
.noUi-handle > div:hover::after,
.noUi-handle > div:hover::before {
  background-color: @white;/*hovercolor*/
}

.noUi-handle > div:hover,
.noUi-activeHandle {
  background: @white !important;
  border-color: #ccc !important;
}
