/* ============================================================
 * bootstrapSwitch v1.2 by Larentis Mattia @spiritualGuru
 * http://www.larentis.eu/switch/
 * ============================================================
 * Licensed under the Apache License, Version 2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 * ============================================================ */

.has-switch {
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  .user-select(none);

  min-width: 100px;

  &.switch-mini {
    min-width: 72px;

    &.round-switch {
      min-width: 50px;

      span {
        width: 30%;
      }

      > div {
        height: 20px;
        width: 195%;
      }

      border-radius: 10px;

      .switch-on {
        background-color: @green;

        label {
          left: 3px;
        }
      }

      .switch-off {
        background-color: @gray;

        label {
          left: -3px;
        }
      }

      span.switch-mini {
        padding: 0;
        top: 2px;
      }

      span.switch-right,
      span.switch-left {
        background-image: none;
        background-color: transparent;
        color: @white;
      }

      label {
        border-radius: 8px;
        min-width: 14px;
        height: 16px;
        width: 16px;
        margin-top: 0;
        top: 2px;
      }
    }
  }

  &.switch-small {
    min-width: 80px;
  }

  &.switch-large {
    min-width: 120px;
  }

  &.deactivate {
    opacity: 0.5;
    cursor: default !important;

    label,
    span {
      cursor: default !important;
    }
  }

  > div {
    display: inline-block;
    width: 150%;
    position: relative;
    top: 0;

    &.switch-animate {
      transition: left 0.5s;
    }

    &.switch-off {
      left: -49%;
    }

    &.switch-on {
      left: 0;
    }
  }

  input[type=checkbox] {
    //debug
    display: none;
    //position: absolute;
    //margin-left: 60%;
    //z-index: 123;
  }

  span,
  label {
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 100%;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 14px;
    line-height: 20px;

    &.switch-mini {
      padding-bottom: 4px;
      padding-top: 4px;
      font-size: 10px;
      line-height: 9px;
    }

    &.switch-small {
      padding-bottom: 3px;
      padding-top: 3px;
      font-size: 13px;
      line-height: 18px;
    }

    &.switch-large {
      padding-bottom: 9px;
      padding-top: 9px;
      font-size: 16px;
      line-height: normal;
    }
  }

  label {
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 100;
    width: 34%;
    border-left: 1px solid @btnBorder;
    border-right: 1px solid @btnBorder;

    .buttonBackground(@btnBackground, @btnBackgroundHighlight);
  }

  span {
    text-align: center;
    z-index: 1;
    width: 33%;

    &.switch-left {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &.switch-right {
      .buttonBackground(@btnBackgroundHighlight, @btnBackground, @grayDark, 0 1px 1px rgba(255,255,255,.75));
    }

    &.switch-primary,
    &.switch-left {
      .buttonBackground(@btnPrimaryBackgroundHighlight, @btnPrimaryBackground);
    }

    &.switch-info {
      .buttonBackground(@btnInfoBackgroundHighlight, @btnInfoBackground);
    }

    &.switch-success {
      .buttonBackground(@btnSuccessBackgroundHighlight, @btnSuccessBackground);
    }

    &.switch-warning {
      .buttonBackground(@btnWarningBackgroundHighlight, @btnWarningBackground);
    }

    &.switch-danger {
      .buttonBackground(@btnDangerBackgroundHighlight, @btnDangerBackground);
    }
  }
}
