
.chartContainer {
	float: left;
	margin: 8px auto 20px!important;
	width: 100%
	}

.chartContainer .scrollBars {
	overflow: auto;
	max-height: 600px;
	position: relative;
    clear: both;
}

.chartCanvas {
    position:relative;
    margin:auto;
    overflow:hidden;
    background-image: url(../../../../index.php?entryPoint=getImage&imageName=chartBg.png);
	background-repeat:repeat-x;
}



.legend {
padding: 0;
width: 100%;
float: left;
margin-left: 20px;

    .waterMark {
        width: 10px;
        height: 10px;
        background-image: url(../../../../index.php?entryPoint=getImage&imageName=watermark-white.png);
        background-repeat: no-repeat;
        margin-right: 5px;
        margin-top: 3px;
        float: left;
    }

    .waterMark.pareto {
        background-image: url(../../../../index.php?entryPoint=getImage&imageName=pareto-white.png);
    }

    .query-color {
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 5px;
        border: 1px solid #999;
        float: left;
    }

    .col {
        float: left;
        width: 70%;
    }

    .col2 {
        float: left;
        width: 30%;
        text-align: right;
    }

    .label {
        float: left;
        background-color: transparent;
        color: @grayDarker;
        font-size: 13px;
        margin-right: 10px;
    }

    .label:hover {
        color: @grayDarker!important;
    }

    .legendGroup {
        display: inline-block;

    }

}


/*TOOLTIPS*/
.tip {
    color: #111;
    width: auto;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:11px;
    font-family: "SFUIText", Helvetica, sans-serif;
    padding:7px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

}
.rotatedLabel {
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotatedLabelReverse {
-webkit-transform: rotate(-0deg);
-moz-transform: rotate(90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
