
.iphone-toggle-buttons input[type="checkbox"] + span::after,
.iphone-toggle-buttons input[type="radio"] + span::after
{
    content: "No";
}

.iphone-toggle-buttons input[type="checkbox"]:checked + span::after,
.iphone-toggle-buttons input[type="radio"]:checked + span::after
{
    content: "Yes";
}

.iphone-toggle-buttons
{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.iphone-toggle-buttons
{
    margin: 0;
}

.iphone-toggle-buttons label,
.iphone-toggle-buttons input[type="checkbox"] + span,
.iphone-toggle-buttons input[type="radio"] + span,
.iphone-toggle-buttons input[type="checkbox"] + span::before,
.iphone-toggle-buttons input[type="radio"] + span::before,
.iphone-toggle-buttons input[type="checkbox"] + span::after,
.iphone-toggle-buttons input[type="radio"] + span::after
{
    display: inline-block;
}

.iphone-toggle-buttons label,
.iphone-toggle-buttons input[type="checkbox"] + span,
.iphone-toggle-buttons input[type="radio"] + span
{
    vertical-align: middle;
}

.iphone-toggle-buttons input[type="checkbox"] + span,
.iphone-toggle-buttons input[type="radio"] + span,
.iphone-toggle-buttons input[type="checkbox"] + span::before,
.iphone-toggle-buttons input[type="radio"] + span::before,
.iphone-toggle-buttons input[type="checkbox"] + span::after,
.iphone-toggle-buttons input[type="radio"] + span::after
{
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.iphone-toggle-buttons input[type="checkbox"] + span::before,
.iphone-toggle-buttons input[type="radio"] + span::before,
.iphone-toggle-buttons input[type="checkbox"] + span::after,
.iphone-toggle-buttons input[type="radio"] + span::after,
.iphone-toggle-buttons input[type="checkbox"]:checked + span::before,
.iphone-toggle-buttons input[type="radio"]:checked + span::before,
.iphone-toggle-buttons input[type="checkbox"]:checked + span::after,
.iphone-toggle-buttons input[type="radio"]:checked + span::after
{

}

.iphone-toggle-buttons input[type="checkbox"] + span::after,
.iphone-toggle-buttons input[type="radio"] + span::after,
.iphone-toggle-buttons input[type="checkbox"]:checked + span::before,
.iphone-toggle-buttons input[type="radio"]:checked + span::before
{
    right: 2px;
}

.iphone-toggle-buttons input[type="checkbox"] + span::before,
.iphone-toggle-buttons input[type="radio"] + span::before,
.iphone-toggle-buttons input[type="checkbox"]:checked + span::after,
.iphone-toggle-buttons input[type="radio"]:checked + span::after
{
    left: 0;
}

.iphone-toggle-buttons input[type="checkbox"],
.iphone-toggle-buttons input[type="radio"],
.iphone-toggle-buttons input[type="checkbox"] + span::before,
.iphone-toggle-buttons input[type="radio"] + span::before,
.iphone-toggle-buttons input[type="checkbox"] + span::after,
.iphone-toggle-buttons input[type="radio"] + span::after
{
    position: absolute;
}

.iphone-toggle-buttons label
{
    margin: 0px;
    cursor: pointer;
}

.iphone-toggle-buttons label.disabled
{
    cursor: default;
}

.iphone-toggle-buttons input[type="checkbox"],
.iphone-toggle-buttons input[type="radio"]
{
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
}

.iphone-toggle-buttons input[type="checkbox"] + span,
.iphone-toggle-buttons input[type="radio"] + span
{
    width: 60px;
    height: 22px;
    font-size: 13px;
    color: #FFF;
    border: 0 none;
    background-color: @gray;
    .box-shadow(inset 0px 1px 1px darken(@gray, 20%));
    position: relative;
    text-indent: -9999px;
}

.iphone-toggle-buttons input[type="checkbox"] + span::before,
.iphone-toggle-buttons input[type="radio"] + span::before
{
    content: "";
    width: 29%;
    height: 18px;
    top: 2px;
    left: 2px;
    #gradient > .vertical(#fff, #eee);

}

.iphone-toggle-buttons input[type="checkbox"] + span::after,
.iphone-toggle-buttons input[type="radio"] + span::after
{
    text-indent: 0;
    width: 72%;
    height: 22px;
    text-align: center;
    top: 1px;
}

.iphone-toggle-buttons input[type="checkbox"]:checked + span,
.iphone-toggle-buttons input[type="radio"]:checked + span
{
    background-color: @green;
    color: #fff;
    .box-shadow(inset 0px 1px 1px darken(@green, 20%));
}

.iphone-toggle-buttons input[type="checkbox"]:checked + span::before,
.iphone-toggle-buttons input[type="radio"]:checked + span::before
{
    left: auto;
}

.iphone-toggle-buttons input[type="checkbox"]:checked + span::after,
.iphone-toggle-buttons input[type="radio"]:checked + span::after
{
    height: 22px;
    top: 1px;
    -moz-border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
}

.browser-support li.ie6,
.browser-support li.ie7,
.browser-support li.ie8
{
    display: none;
}
