{{#if meta.short}}
    <a class="module-list-link" href="#{{buildRoute module=module}}" data-route="#{{buildRoute module=module}}" track="click:{{module}}" tabindex="-1">
        <span>
            {{#if meta.icon}}
                <i class="{{meta.srcIcon}} moduleIconBlack"></i>
            {{/if}}
            {{#if meta.image}}
                <img src="{{meta.srcIcon}}" style="height: 20px;width: 20px;margin-top: -5px;padding-right: 5px;"/>
            {{/if}}
            &nbsp;{{getModuleName module plural=true}}
        </span>
<!--        <i class="fa fa-star pro-icon" aria-hidden="true"></i>-->
    </a>
{{else}}
    <a   class="btn btn-invisible btn-link module-name" href="#{{buildRoute module=module}}" data-route="#{{buildRoute module=module}}" track="click:me:{{module}}" aria-label="{{getModuleName module plural=true}}">
        {{#if meta.icon}}
            <i class="{{meta.srcIcon}} moduleIcon"></i>{{/if}}
        {{#if meta.image}}
            <img src="{{meta.srcIcon}}" style="height: 20px;width: 20px;margin-top: -5px;padding-right: 5px;"/>
        {{/if}}
        &nbsp;{{getModuleName module plural=true}}
    </a>
    {{#if actions}}
        <button type="button" id="{{module}}"  title="{{str 'LBL_LINK_MORE' module}}" data-toggle="dropdown"  class="btn btn-invisible dropdown-toggle" track="click:{{name}}-dropdown" aria-label="{{getModuleName module plural=true}} - {{str 'LBL_LINK_MORE' module}}"><i class="fal fa-angle-down"></i></button>
        <div class="dropdown-menu scroll">
            <ul role="menu">
                {{#each actions}}
                    {{#if type}}
                        {{#eq type 'divider'}}
                            <li class="divider"></li>
                        {{else}}
                            {{field ../../../this template="detail"}}
                        {{/eq}}
                    {{else}}
                        <li><a class="ellipsis_inline" tabindex="-1"
                               data-navbar-menu-item="{{label}}"
                            {{#if event}}
                               href="javascript:void(0);"
                               data-event="{{event}}"
                               track="click:{{event}}"
                            {{else}}
                               href="{{route}}"
                               data-route="{{route}}"
                                   {{#if openwindow}}
                               data-openwindow="true"
                                   {{/if}}
                               track="click:{{route}}"
                            {{/if}}>{{#if icon}}<i class="fa {{icon}}"></i>{{/if}}{{str label ../../module}}</a>
                        </li>
                    {{/if}}
                {{/each}}
                <li class="divider" data-container="recently-viewed"></li>
                <li class="divider" data-container="favorites"></li>
            </ul>
        </div>
    {{/if}}
{{/if}}
