<div class="headerpane">
    <h1>
        <div class="record-cell">
            <span class="module-title">{{str "LBL_ZALO_CONFIG" this.module}}</span>
        </div>
        <div class="btn-toolbar pull-right dropdown" style="padding: 6px;">
            {{#each meta.buttons}}
                {{field ../this}}
            {{/each}}
        </div>
    </h1>
</div>
<div class="record tab-layout">
    <div class="row-fluid record-panel" data-panelname="panel_body">
        <div class="row-fluid record-panel-content ">
            <div class="row-fluid panel_body">
                <div class="row-fluid">
                    <div class="span2" style="text-align: right;margin-top:5px">
                        ENABLE
                    </div>
                    <div class="span4">
                        <select class="form-control" id="zalo_enable">
                            <option value="0" {{#ifEquals this.data.enable "0"}}selected{{/ifEquals}}>No</option>
                            <option value="1" {{#ifEquals this.data.enable "1"}}selected{{/ifEquals}}>Yes</option>
                        </select>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2" style="text-align: right;margin-top:5px">
                        SUPPLIER
                    </div>
                    <div class="span4">
                        <select class="form-control" id="zalo_supplier">
                            <option value="">--</option>
<!--                            <option value="Voip24h" {{#ifEquals this.data.supplier "Voip24h"}}selected{{/ifEquals}}>Voip24h</option>-->
                            <option value="INCOM" {{#ifEquals this.data.supplier "INCOM"}}selected{{/ifEquals}}>INCOM</option>
                            <option value="VIHAT" {{#ifEquals this.data.supplier "VIHAT"}}selected{{/ifEquals}}>VIHAT</option>
                        </select>
                    </div>
                    <div class="span2" style="text-align: right;margin-top:5px">
                        ZALO OA ID
                    </div>
                    <div class="span4">
                        <input type="text" class="form-control" id="zalo_link" value="{{this.data.link}}"/>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2" style="text-align: right;margin-top:5px">
                        USERNAME/API KEY
                    </div>
                    <div class="span4">
                        <input type="text" class="form-control" id="zalo_username" value="{{this.data.username}}"/>
                    </div>
                    <div class="span2" style="text-align: right;margin-top:5px">
                        SECRET/PASSWORD
                    </div>
                    <div class="span4">
                        <input type="text" class="form-control" id="zalo_key" value="{{this.data.key}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
