.input_readonly, .input_readonly:focus{
    background-color: rgb(221, 221, 221);
    color: rgb(165, 42, 42);
}
option[value='not_empty'] {
    font-weight: bold;
}
.curency_readonly, .curency_readonly:focus{
    font-weight: bold;
    color: rgb(165, 42, 42);
    text-align: right;
    background-color: rgb(221, 221, 221);
}
.vr {
    display: inline;
    height: 30px;
    width: 0px;
    border: 1px dashed #cccccc;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
/* CSS: Cool color backgrond for text*/
.textbg_blue {
    color: #fff;
    background-color: #115CAB;
    border: 1px solid #115CAB;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_bluelight {
    color: #fff;
    background-color: #04ADEC;
    border: 1px solid #04ADEC;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_red {
    color: #fff;
    background-color: #A8141B;
    border: 1px solid #A8141B;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_redlight {
    color: #fff;
    background-color: #FF0000;
    border: 1px solid #FF0000;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_black {
    color: #fff;
    background-color: #272727;
    border: 1px solid #272727;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_yellow {
    color: #fff;
    background-color: #F1D44A;
    border: 1px solid #F1D44A;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_green {
    color: #fff;
    background-color: #468931;
    border: 1px solid #468931;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_violet {
    color: #fff;
    background-color: #aa68ff;
    border: 1px solid #aa68ff;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_orange {
    color: #fff;
    background-color: #FF8C00;
    border: 1px solid #FF8C00;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_crimson {
    color: #fff;
    background-color: #DC143C;
    border: 1px solid #DC143C;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_yellow_light {
    color: #3c3c3b;
    background-color: #e8b71a;
    border: 1px solid #e8b71a;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_blood {
    color: #fff;
    background-color: #db3340;
    border: 1px solid #db3340;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_dream {
    color: #fff;
    background-color: #32CD32;
    border: 1px solid #32CD32;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}
.textbg_roselight {
    color: #222;
    background-color: #FFB6C1;
    border: 1px solid #FFB6C1;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px 4px;font-weight: 600;
}

.label-success {
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #54cb14;
    background-color: #e4fbb4;
    color: #537600;
    text-align: center;
}
.label-important {
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #e61718;
    background-color: #ffd4d0;
    color: #bb0e1b;
    text-align: center;
}
.label-warning {
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #fbc02d;
    background-color: #fff7ad;
    color: #866500;
    text-align: center;
}
.label-info {
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #198cc6;
    background-color: #c6ddff;
    color: #517bf8;
    text-align: center;
}
.label-orange {
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #ff8c00;
    background-color: #fdf4e7;
    color: #ff8c00;
    text-align: center;
}
.label-excused {
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    background-color: #f0f0f0;
    color: #262626;
    text-align: center;
}

.label-lightgray {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(230, 230, 230);
    color: rgb(61, 61, 61);
    text-align: center;

}
.label-lightred {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(255, 207, 201);
    color: rgb(177, 2, 2);
    text-align: center;
}
.label-lightorange {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(255, 200, 170);
    color: rgb(117, 56, 0);
    text-align: center;
}
.label-lightyellow {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(255, 229, 160);
    color: rgb(71, 56, 33);
    text-align: center;
}
.label-lightgreen {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(212, 237, 188);
    color: rgb(17, 115, 75);
    text-align: center;
}
.label-lightblue {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(191, 225, 246);
    color: rgb(10, 83, 168);
    text-align: center;
}
.label-lightcyan {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(33, 90, 108);
    color: rgb(33, 90, 108);
    text-align: center;
}
.label-lightpurple {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(230, 207, 242);
    color: rgb(90, 50, 134);
    text-align: center;
}
.label-darkgray {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(61, 61, 61);
    color: #fff;
    text-align: center;
}
.label-darkred {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(177, 2, 2);
    color: #fff;
    text-align: center;
}
.label-darkorange {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(117, 56, 0);
    color: #fff;
    text-align: center;
}
.label-darkyellow {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(71, 56, 34);
    color: #fff;
    text-align: center;
}
.label-darkgreen {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(17, 115, 75);
    color: #fff;
    text-align: center;
}
.label-darkblue {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(10, 83, 168);
    color: #fff;
    text-align: center;
}
.label-darkcyan {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(33, 90, 108);
    color: #fff;
    text-align: center;
}
.label-darkpurple {
    padding: 2.5px 5px;
    border-radius: 3px;
    background-color: rgb(90, 50, 134);
    color: #fff;
    text-align: center;
}
/*label by levels*/
.att-level {
    color: #07120A;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px 12px;
    font-weight: 600;
    text-align: center;
    font-size: 12px !important;
    min-width: 42px;
}
.label-perfect {
    background-color: #42E780 !important;
}
.label-good {
    background-color: #CDEE4B !important;
}
.label-qualified {
    background-color: #FFE500 !important;
}
.label-average {
    background-color: #F3960B !important;
}
.label-below {
    background-color: #FF3B30 !important;
}
.label-none {
    background-color: #fff !important;
    border: 1px solid #07120A;
}
.align-center {
    text-align: center !important;
}
table.att-sumary td:nth-child(odd){
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}
table.att-sumary td{vertical-align: top;}
table.att-sumary td:first-child { border-left: 2px solid #cdd0d4;}

/*weekdays - By Lap nguyen*/

.weekdays-list {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.weekdays-list .weekdays-day {
   position: relative;
   display: block;
   padding: 5px;
   margin-left: 5px;
   color: #2b2b2b;
   background-color: #eff7ff !important;
   border: 1px dashed #4caaf8;
}
.weekdays-list :first-child{
    margin-left: 0;
}
.fixed-dialog { position: fixed; }