* {
    font-family: "SFUIText", Verdana, Helvetica, sans-serif;
}

.main_header {
    color: #707794;
    text-transform: uppercase;
    margin-top: 0 !important;
    padding: 7px 0;
    border-bottom: 1px solid lightgray;
}
.main_content {
    padding: 10px 0;
}
.main_button {
    font-size: 1.4rem;
    width: 150px;
}

.main-invoices > .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vertical-divider {
    height: 25px;
    border-left: 1px solid #D7D7D7;
}

.record-label {
    font-size: 1.3rem;
    line-height: 13px;
    color: #747474 !important;
}

.record {
    font-size: 1.4rem;
}

table.dataTable tbody td {
    vertical-align: middle;
}

#datatable_invoice td span {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.table-detail-invoice > thead > tr > th {
    text-align: center;
}

.btn-droption-action {
    font-size: 1.1rem;
}

.btn-secondary {
    background: #6c757d;
    color: #ffffff;
}

.btn-secondary:hover {
    color: #ffffff;
    background: #555f66;
}

.slide-out-panel-container .close-slide-out-panel {
    font-size: 1.4rem;
}

.btn:hover {
    font-weight: normal !important;
}

.btn:focus {
    font-weight: normal;
    color: #FFFFFF;
}

.btn-renew {
    border: 1px solid;
}

.btn-renew:hover {
    color: black;
    border: 1px solid;
}

.btn-renew:focus {
    color: black;
}

.btn.btn-outline.green {
    border-color: #198754;
    color: #198754;
    background: none;
    font-size: 1.4rem;
}

.btn.btn-outline.green:hover {
    border-color: #198754;
    color: #FFFFFF;
    background-color: #198754;
}

.sub_compare_plan {
    border-top: 1px solid lightgray
}

.table .odd a,
.table .even a {
    color: #707794;
    text-decoration: none;
}

.table .odd a:hover,
.table .even a:hover {
    color: #001fbb;
    text-decoration: none;
}

.table {
    width: 100%;
}
.btn-group .btn-droption-action {
    color: white;
    border: none;
    background-color: #5a5f76;
}
.btn-group .btn-droption-action:hover {
    color: white;
    background-color: #444859;
    border: none;
}
.btn-group .btn-droption-action:active {
    color: white;
    background-color: #444859;
    border: none;
}

.dropdown-menu li {
    list-style: none;
}
.dropdown-menu li a {
    display: block;
    text-decoration: none;
}

.slide-out-panel .slide-panel-content {
    height: calc(100% - 140px);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.company {
    height: 60px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.company label.floating-label {
    position: absolute;
    bottom: 14px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: grey;
    font-size: 1.3rem;
    border-bottom: 1px solid #555555;
}

.billing-field-input {
    width: 100%;
    height: 100%;
    padding: 5px 0;
    border: none;
    box-shadow: none;
    background: none;
    font-size: 1.4rem;
}
.billing-field-input:focus {
    box-shadow: none;
    background-color: transparent;
}
input.billing-field-input {
    transform: translateY(60%);
    margin: 0.5rem 0;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    font-size: 1.3rem;
}

.company span.help-block {
    display: none;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    color: grey;
}

.company span.has-error {
    color: #a94442;
    display: block;
}

#billing_country {
    box-shadow: none;
    font-size: 1.4rem;
    background: none;
    top: 3px;
    border-bottom: 1px solid #555555;
    padding-top: 17px;
    height: 38px;
    width: 100%;
    flex: none;
}

input.billing-field-input:focus ~ span.help-block,
input.billing-field-input:valid ~ span.help-block{
    display: block;
}
input.billing-field-input:focus ~ .floating-label .content-name,
input.billing-field-input:valid ~ .floating-label .content-name {
    transform: translateY(-90%);
    font-size: 1.2rem;
}

.no-padding {
    padding: 0 !important;
}

.pricing-container {
    border-left: 1px solid #c7c1c1;
    border-right: 1px solid #c7c1c1;
    height: 100%;
    padding-bottom: 15px;
}

.pricing-container .pricing-title {
    color: #0070C0;
    padding-left: 0 !important;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}

.pricing-container .btn-select {
    margin-top: 20px;
}

.pricing-container .package-price {
    font-weight: bold;
    font-size: 2.4rem;
}

.pricing-container .package-info-help {
    margin-top: 20px;
}

.pricing-container .package-info-help .row {
    margin-bottom: -10px;
}

.pricing-container .pricing-header {
    overflow: hidden;
}

.pricing-container .row {
    margin-left: 0;
    width: 100%;
}

.sub_inv_detail {
    margin-right: 10px;
}

span.activate-trial {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}

.font-blue-dark {
    color: #5a5f76 !important;
}

.bold {
    font-weight: 700 !important;
}

.btn.green {
    border-color: #2BAF53;
    color: #FFFFFF;
    background-color: #2BAF53;
    font-size: 14px;
}
.btn.green:hover {
    color: #FFFFFF;
    background-color: #218640;
    border-color: #1f7e3c;
    font-weight: normal;
}

.btn.btn-primary {
    font-size: 14px;
    background-color: #0176d3;
    border: solid 1px #0176d3;
}

.btn.btn-primary:hover {
    border: solid 1px #0168ba;
    background: #0168ba;
}

.btn.btn-success {
    font-size: 14px;
}

#slide-out-panel-change-subscription,
#slide-out-panel-billing-detail,
#slide-out-panel-compare-plan,
#slide-out-panel-invoice-detail,
#slide-out-panel-payment,
#slide-out-panel-renew,
#slide-out-panel-upgrade-plan,
#slide-out-panel-confirm{
    height: 100vh !important;
    left: 0;
}

.company-logo {
    margin: 20px 0 30px 0;
}

.stepwizard-step p {
    margin-top: 0;
    color: #adadadd6;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.slide-out-panel-container {
    box-shadow: none;
}

.slide-out-panel-container .slide-out-header {
    text-align: unset;
}

.package-note {
    margin-bottom: 2rem;
}

.input-voucher-code {
    height: auto;
    text-transform: uppercase;
}

.search-voucher-code {
    margin-left: 5px;
}

.voucher-container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 12px auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 1.2;
    font-family: "SFUIText", Verdana, Helvetica, sans-serif;
}
.voucher-container > * {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.voucher-discount {
    width: 30%;
    max-width: 30%;
    background-color: #0097B2;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}
.voucher-discount-title {
    font-size: 1.8em;
    text-align: center;
}
.voucher-discount-amount { font-size: 2em; }
.voucher-info {
    line-height: 1.5;
    color: #374754;
    font-size: 12px;
    gap: 10px;
}
.voucher-info-container {
    display: flex;
    justify-content: space-between;
}
.voucher-info-container > div { display: flex; }
.voucher-info-title {
    font-size: 24px;
    line-height: 1
}
.voucher-info-used_time { margin: auto 0 }
.voucher-info-status {
    border-radius: 13px;
    padding: 3px;
    font-size: 10px;
    height: 20px;
    width: fit-content;
    margin: auto 10px;
}

.sponsor-container {
    display: inline-block;
    padding: 4px 8px;
    background-color: grey;
    color: white;
    border-radius: 7px;
    line-height: 1;
}

#quantity_error {
    display: none;
    color: #a94442;
}

@keyframes blink {
    0% {
        box-shadow: -8px 0 10px -5px rgba(40, 167, 69, 0.5), 8px 0 10px -5px rgba(40, 167, 69, 0.5);
    }
    50% {
        box-shadow: -12px 0 15px -8px rgba(40, 167, 69, 0.7), 12px 0 15px -8px rgba(40, 167, 69, 0.7);
    }
    100% {
        box-shadow: -8px 0 10px -5px rgba(40, 167, 69, 0.5), 8px 0 10px -5px rgba(40, 167, 69, 0.5);
    }
}

.product {
    cursor: pointer;
    border: 1px solid lightgray;
    max-width: 100rem;
    margin: 10px 0;
}

.current-select {
    border-color: rgb(25, 135, 84) !important;
}

.quantity-input-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.quantity-input-container label {
    margin-top: 5px;
}

.quantity {
    width: 80px !important;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    border-radius: 0;
    font-size: 1.4rem;
}

.quantity,
.quantity-decrement,
.quantity-increment {
    border: 1px solid #ccc;
    height: 30px !important;
    user-select: none;
}

.quantity-decrement,
.quantity-increment {
    display: inline-block;
    width: 30px;
    line-height: 26px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}
.quantity-decrement:active,
.quantity-increment:active {
    background: #ddd;
}

.quantity-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
    margin-right: -4px;
}

.quantity-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
    margin-left: -4px;
}

.step-index {
    padding: 10px 10px;
    border: 1px solid #adadad94;
    border-radius: 15px;
    background-color: white;
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afafaf;
    font-size: 15px;
    font-weight: 600;
}

.current-step {
    border: 3px solid #198038;
    color: #198038 !important;
}

.current-step + span {
    color: #198038;
    font-weight: bold;
}

.step-completed {
    border: 1px solid #198038;
    color: white !important;
    background-color: #198038;
}

.step-completed i {
    margin-top: 4px;
}

#btn_previous {
    font-size: 14px;
    margin-right: 20px;
    display: none;
}

#btn_next {
    display: none;
}

.bank-info td {
    vertical-align: middle !important;
    text-align: left;
}

.sponsor-value {
    font-size: 13px;
    font-weight: bold;
}

.icon_deleted{
    font-size: 14px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}
.icon_deleted:hover{
    cursor: pointer;
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom: none !important;
}

.card-header strong {
    padding-top: 1px;
    color: #193059;
    font-size: 1.4rem;
}

.card-title .list-price {
    color: #193059;
    font-size: 1.5rem;
}

.card-title .current-price {
    color: #193059;
    font-size: 1.5rem;
}

.product-checkmark {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid lightgray;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;
    margin-right: 20px;
    background-color: #fff;
}

.product-checkmark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-checkmark.product-checked::before {
    opacity: 1;
    background-color: rgb(25, 135, 84);
}

.product-checkmark::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 8px;
    width: 8px;
    height: 14px;
    border-width: 0 4px 4px 0;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-checkmark.product-checked::after {
    opacity: 1;
}

.table-detail-invoice th:nth-child(1){
    width: 3%;
}
.table-detail-invoice th:nth-child(2){
    width: 30%;
}
.table-detail-invoice th:nth-child(3),
.table-detail-invoice th:nth-child(4),
.table-detail-invoice th:nth-child(5),
.table-detail-invoice th:nth-child(6){
    width: 12%;
}
.table-detail-invoice th:nth-child(7) {
    width: 19%;
}

.p-sponsor-name {
    padding: 4px 8px;
    background-color: #fff7ad;
    color: #866500;
    border-radius: 7px;
    line-height: 1;
    border: 1px solid #fbc02d;
}

.p-sponsor-name:empty {
    background-color: white;
    border: none;
}

.table-detail-payment tbody td {
    vertical-align: middle !important;
}

.service-duration-container input {
    display: none;
}

.service-duration-container {
    --container_width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 7px;
    background-color: #f5f4f4;
    color: #707794;
    width: var(--container_width);
    overflow: hidden;
}

.service-duration-container label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 2);
    z-index: 0;
    left: 0;
    top: 0;
    transition: .35s ease;
}

.service-duration-container label:has(input:checked) {
    color: #fff;
}

.service-duration-container label:has(input:checked) ~ .selection {
    background-color: rgb(25, 135, 84);
    display: inline-block;
}

.service-duration-container label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0/2));
}

.service-duration-container label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1/2));
}

.border-right {
    border-right: 1px solid lightgrey;
}

:root {
    --expanded-height: 2000px;
    --collapsed-height: 60px;
}

.group-feature {
    padding-right: 0;
    margin-top: 10px;
    height: max-content;
}

.group-feature:last-child {
    margin-bottom: 50px;
}

.dt-group-feature {
    border: 1px solid lightgrey;
    margin-top: 10px;
    transition: all 0.3s linear;
    min-height: 40px;
    max-height: var(--collapsed-height);
    overflow: hidden;
    will-change: height;
    border-radius: 7px;
}

.dt-group-feature .row {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-image: linear-gradient(to right, transparent 2%, grey 2%, grey 98%, transparent 98%) 1;
}

.dt-group-feature .row:first-of-type {
    border-width: 0;
}

.dt-group-feature .row:last-child {
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-image: linear-gradient(to right, transparent 2%, grey 2%, grey 98%, transparent 98%) 1;
}

.dt-group-feature i.fa-check-circle {
    color: green;
    font-size: 1.6rem;
}

.dt-group-feature i.fa-minus {
    color: grey;
    font-size: 1.2rem;
}

.dt-group-feature .row > div:first-child {
    padding-left: 4rem;
}

.dt-group-feature .row > div {
    padding: 10px 0;
}

.dt-group-feature[open] {
    transition: all 2s linear;
    min-height: 100px;
    max-height: var(--expanded-height);
    will-change: height;
    overflow: hidden;
}

.dt-group-feature summary {
    outline: none;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    display: block;
    font-weight: bold;
    color: #6b757e;
}

.dt-group-feature summary:hover {
    color: #0070C0;
}
.dt-group-feature[open] summary:hover {
    color: #0070C0;
}

.dt-group-feature summary:after {
    margin-top: 2px;
    content: "\2795";
    float: right;
    margin-right: 12px;
    text-align: center;
    font-size: 11px;
    transform: rotate(180deg);
    transition: transform .25s linear;
}

.dt-group-feature[open] summary:after {
    margin-top: 4px;
    content: "\2796";
    transform: rotate(0deg);
    transition: transform .25s linear;
}

.dt-group-feature .border-right {
    border-right: 1px solid #808080FF;
}

.product-name {
    border-radius: 7px;
    background-color: #eaf3f9;
    padding: 8px 15px;
    color: #032D60;
    font-size: 1.3rem;
    font-weight: bold;
}
/*Add by Hoang Hvy*/
.modal {
    width: 700px;
    margin: auto;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.3s ease, transform 1s ease;
    border: none;
    padding: 0 !important;
}
.modal.show {
    opacity: 1;
    transform: translateY(0);
    background: transparent !important;
}
.modal-container {
    height: 100%;
    max-height: 70vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @media (max-width: 600px) {
        width: 90%;
    }
}
.modal-container-header {
    padding: 1rem 1.6rem 0;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    flex-direction: column;
}
.modal-container-title {
    padding: 0 !important;
    display: flex;
    align-items: center;
    gap: .8rem;
    line-height: 1;
    font-weight: bold;
    margin: 1rem 0;
}
.modal-container-body {
    padding: .8rem 1.6rem 0;
    overflow-y: auto;
    height: fit-content;
}
.modal-container-footer {
    padding: 1rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: fit-content;
    gap: .8rem;
    border-top: 1px solid #ddd;
    min-height: 50px;
    max-height: 50px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: -51px;
        left: 24px;
        right: 24px;
        height: 50px;
        flex-shrink: 0;
        background-image: linear-gradient(to top, rgba(#fff, 0.75), transparent);
        pointer-events: none;
    }
}
.modal-header-title {
    display: grid;
}

.table-border td, .table-border th{
    vertical-align: middle !important;
    text-align: center;
}
#datatable_receipts > tbody > tr > td:first-child {
    line-height: 2 !important;
}
#datatable_receipts > thead > tr > th:first-child {
    line-height: 2 !important;
}
*::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #ddd;
    border: 4px solid #fff;
}
.icon-view-payments {
    font-size: 1.4rem;
    color: #0176d3;
    vertical-align: top;
}
.icon-view-payments:hover {
    cursor: pointer;
    color: #0168ba;
}
.modal-status-badge {
    width: 90%;
    vertical-align: middle;
    display: inline-block;
}
/*End by Hoang Hvy*/
