<style type="text/css">
html, body {
    margin: 0;
    padding: 0;
    background: url("styleguide/less/images/background-mask-20.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center bottom;
}
#content {
    position: inherit;
    width: 100%;
    height: 100%;
}
#footer {
    display: none;
}
</style>
<div class="container ems-login">
    <div class="row">
        <div class="span3"></div>
        <div class="span6 login">
            <div class="tcenter thumb">
                <h2 class="brand"><img src="{{logoUrl}}" alt="DotB-EMS"></h2>
            </div>
            <form name='{{name}}' class="tcenter">
                {{#if _showResult}}
                    <div class="alert alert-{{#if _showSuccess}}success{{else}}error{{/if}}">
                        <span class="indicator"><i class="fa fa-{{#if _showSuccess}}check-circle{{else}}exclamation-circle{{/if}}"></i></span>
                        <span class="text">{{str resultLabel}}</span>
                    </div>
                {{/if}}
                {{#each meta.panels}}
                    {{#each fields}}
                    <div class="control-group">{{field ../../this model=../../model template="edit"}}</div>
                    {{/each}}
                {{/each}}
                    <p class="help-block">
                        <a class="btn btn-link btn-invisible" name="cancel_button">{{str "LBL_FWP_LOGIN"}}</a>
                    </p>
                <div>
                    <a class="btn btn-primary" role="button" name="forgotPassword_button">{{str "LBL_FWP_REQUEST"}}</a>
                </div>
            </form>
            <div class="pull-right"><small>{{str "LBL_POWERED_BY"}} <a href="https://dotb.vn">DotB.vn</a></small></div>
        </div>
        <div class="span3"></div>
    </div>
</div>