
 .body { 
	font-size: 13px;
}
	
.buttonLogin {
	border: 1px solid #444444;
	font-size: 11px;
	color: #ffffff;
	background-color: #666666;
	font-weight: bold;
}
	
table.tabForm td {
    border: none;
}
	
p {
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 10px;
}
	
form {
	margin: 0px;
}

input[type="text"], input[type="password"], textarea {
	width: 200px !important;
}

#recaptcha_image {
    height: 47.5px !important;
    width: 250px !important;
}

#recaptcha_image img {
    height: 47.5px;
    width: 250px;
} 	

.loginBox {
	background-image: -moz-linear-gradient(center top, 	#fdfdfd 0%,
	#e8e8e8 100%
	);
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #fdfdfd),
	    color-stop(1, #e8e8e8)
    );	
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e8e8e8');	
    
	border: 1px solid #999999; 
	background-color: #e8e8e8;
	border-bottom: 1px solid #ccc;
	padding: 20px;

}

.password {
	padding: 5px 20px 5px 20px;
	border: 1px solid #999;
	border-top: 0px none;
	background-color: #fff;
}

.password .login_more div:first-child {
	text-align: right;
}

.password a { 
	text-decoration: none;
}

.password a img {
	margin-right: 5px;
}	

#forgot_password_dialog table {
	margin-top: 10px;	
}

.dashletPanelMenu .bd .bd-center {
	padding-top: 0px;
}

.loginBoxShadow {
	-moz-box-shadow:0 0 10px #aaa;
	box-shadow:0 0 10px #aaa;
	-webkit-box-shadow:0 0 10px #aaa;
	background-color:rgba(204,204,204,.8);
	background-color: #cccccc\9;
	}

.loginBoxShadow .last {
    border-bottom-color:#999999;
}
