
<div class='headerpane'>
    <h1>
        {{#each meta.content}}
            {{#each fields}}
                <span class='record-cell' data-type="{{type}}" data-name="{{name}}">
                    {{field ../../this model=../../this.model template='detail'}}
                </span>
            {{/each}}
        {{/each}}
        <div class='btn-toolbar'>
            {{#each meta.buttons}}
                {{field ../this model=../this.model template='detail'}}
            {{/each}}
        </div>
    </h1>
</div>
