<tr class="flex-list-row-header">
    {{#each leftColumns}}
        <th{{#if name}} data-fieldname="{{name}}"{{/if}}>
            {{field ../this model=../model template='list'}}
        </th>
    {{/each}}
    {{#each _fields}}
        <th class="{{widthClass}}" {{#if name}} data-fieldname="{{name}}"{{/if}}>
        <span>
            {{str label labelModule}}
        </span>
        </th>
    {{/each}}
</tr>
