<div class="popover phoneboxnumber custom-popover" style="display:block;width: 400px;padding:0">
    <div class="popover-title" style="background-color: #203b6c;color:#fff;padding:0">
        <div style="background-color: #132545;height: 20px;padding: 10px 15px 5px 15px;">
            <span class="pull-left beanName_displayheader" style="margin-left:5px;font-size: 15px">{{str 'LBL_CALL_PHONE_KEYBOARD'}}</span>
            <i class="far fa-times pull-right close-callbox" rel="tooltip" data-original-title="close" style="color: red !important;cursor: pointer;font-size:15px;margin-left:15px;outline: none"></i>
        </div>
    </div>
    <div class="popover-content">
        <div class="row-fluid list_ext_callbox">
            <div class="span3" style="padding-top:5px;white-space: nowrap;">{{str 'LBL_CALL_EXT_INTERNAL'}}:</div>
            <div class="span9" style="margin-bottom: 5px;">
                <select class="slc_list_ext_callbox form-control" name="list_ext_callbox" style="width: 100%">
                    {{#each callcenter_list_ext}}
                        <option value="{{this.ext}}">{{this.ext}} - {{this.chanel}} ({{this.user_name}})</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row-fluid phone_number_callbox" {{#eq manual_dial "0"}}style="display: none"{{/eq}}>
            <div class="span3" style="padding-top:5px;white-space: nowrap;">{{str 'LBL_CALL_PHONE'}} (*):</div>
            <div class="span9" style="margin-bottom: 5px;">
                <div class="input-append">
                    <div class="date-wrapper">
                        <input class="phoneboxnumber_phone" value="{{this.options.phone_number}}" type="text" style="width:95%;">
                        <span class="add-on"><i class="far fa-phone"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid feedback-footer">
                <span class="span12">
                        <button data-is-auto-save="0" disabled style="font-size:small" class="phoneboxnumber_dial btn btn-primary pull-right span12">{{str 'LBL_CALL_DIAL'}}</button>
                </span>
        </div>
    </div>
</div>
