

/**************
 TreeView Icons
**************/
.remoteAccount, a.remoteAccount,
.remoteFolderGroup, a.remoteFolderGroup,
.remoteFolderGroupUnseen, a.remoteFolderGroupUnseen,
.dotbFolder, a.dotbFolder,
.dotbFolderUnseen, a.dotbFolderUnseen, 
.dotbFolderGroup, a.dotbFolderGroup,
.dotbFolderGroupUnseen, a.dotbFolderGroupUnseen,
.dotbFolderDynamic, a.dotbFolderDynamic,
.dotbFolderDynamicUnseen, a.dotbFolderDynamicUnseen
{
    text-decoration : none;
}
.remoteAccount {
    background: transparent url(images/email.gif) no-repeat;
}
.remoteAccountGroup {
    background: transparent url(images/emailGroup.gif) no-repeat;
    color: #070;
    font-style: italic;
}

.remoteFolder, a.remoteFolder,
.remoteFolderUnseen, a.remoteFolderUnseen,
.remoteFolderGroupUnseen, a.remoteFolderGroupUnseen {
    padding-left: 0px;
    text-decoration : none;
}
.remoteFolderUnseen, .remoteFolderGroupUnseen, .dotbFolderUnseen, .dotbFolderGroupUnseen, .dotbFolderDynamicUnseen {
    font-weight: bold;
}

.dotbFolderGroup, .dotbFolderGroupUnseen {
    background: transparent url(../../index.php?entryPoint=getImage&imageName=icon_email_folder.gif) no-repeat;
    font-style: italic;
}

.dotbFolderDynamic, .dotbFolderDynamicUnseen {
    background: transparent url(../../index.php?entryPoint=getImage&imageName=icon_email_folder.gif) no-repeat;
}

.composeRightTabs span[name="teamset_div"] input {
	max-width: 95px;	
}
.composeRightTabs input, .composeRightTabs select {
    max-width: 190px;   
}
/**************
 Hack for Dotb's pop-over menus
**************/
.menu{
    z-index:100;
}
   
.subDmenu{
    z-index:100;
}

/**************
 Contacts styles
**************/
.rowStylenone {
    display: none;	
}

/**************
 UI Elements
**************/
.sectionTitle {
    background-color: #eee;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

.selectedDiv {
    color: #00a;
    background-color: #ccc;
}


.folderSelected {
    background-color: #f00;
}

.emailUILabel {
    width: 1%;
    vertical-align: top;
    font-weight: bold;
    text-align: right;
    padding-bottom: 1em;
}
.emailUILabel button{
    width: 50px;
    text-align: right;
}

.emailUIField {
    text-align: left;
    padding-bottom: 1em;
}
.emailUITextField {
    border: 1px solid #333;
}
.emailUILink {
    font-family: "SFUIText";
    text-decoration: none;
}

.groupFolder {
    color: #007700;
    font-style: italic;
}

.dotbFolder {
    color: #000077;
}


.displayEmailLabel {
    color: #999;
    font-weight: bold;
    text-align: right;
}
.displayEmailValue {
    color: #000;
}
.displayEmailLabel, .displayEmailValue {
    padding: 2px;
    background-color: #eee;
}
.displayEmailValueWhite {
    padding: 2px;
    background-color: #fff;
}

.ieFolder .ygtvcontent a{
    margin-left:18px;
}

.ieFolder a.ygtvspacer{
    float:left;
    height:16px;
    left:17px;
    position:relative;
    width:16px;
    background:transparent url(../../index.php?entryPoint=getImage&imageName=icon_email_folder.gif) no-repeat scroll 0 -1px;
}

.ieFolder .ygtvtm a.ygtvspacer, .ieFolder .ygtvtmh a.ygtvspacer, .ieFolder .ygtvlm a.ygtvspacer, .ieFolder .ygtvlmh a.ygtvspacer  {
    background: transparent url(../../index.php?entryPoint=getImage&imageName=icon_email_folder_exp.gif) no-repeat;
}

.dotbFolder a.ygtvspacer{
    float:left;
    height:16px;
    left:17px;
    position:relative;
    width:16px;
    background:transparent url(../../index.php?entryPoint=getImage&imageName=icon_email_sugfolder.gif) no-repeat scroll 0 -1px;
}

.dotbFolder .ygtvtm a.ygtvspacer, .dotbFolder .ygtvlm a.ygtvspacer, .dotbFolder .ygtvtmh a.ygtvspacer, .dotbFolder .ygtvlmh a.ygtvspacer  {
    background: transparent url(../../index.php?entryPoint=getImage&imageName=icon_email_sugfolder_exp.gif) no-repeat;
}

.x-tree-node-collapsed.dotbFolder  .x-tree-node-icon, .dotbFolder .ygtvcontent a, .folderDragProxy {
    background: transparent url(../../index.php?entryPoint=getImage&imageName=icon_email_sugfolder.gif) no-repeat scroll 0 -1px;
    padding-left:18px;
}

.x-tree-node-expanded.dotbFolder  .x-tree-node-icon {
    background: transparent url(../../index.php?entryPoint=getImage&imageName=icon_email_sugfolder_exp.gif) no-repeat;
}

.groupFolder  .x-tree-node-icon, .groupFolder .ygtvcontent a {
    background: transparent url(../../index.php?entryPoint=getImage&imageName=icon_email_folder_grp.gif) no-repeat scroll 0 -1px;
    padding-left:18px;
}
.x-view-selected, .x-view-selected td  {
    background-color:#316ac5;
    color:white;
}
.address-primary {
    font-weight: bold;
}

.address-list-exp {
	font-style: italic;
}

.sqsFloater, #smartInputFloaterContent {
    z-index: 11000; 
}

.input-error {
    border: 1px solid #f00  
}

.maybe {
    display: inline;
    white-space: nowrap;
}

table.list {
    margin: 0px;    
}

.view, table.view {
    margin-top:0px;
	margin-bottom:0px;
}
  
.yui-nav img {
    float: left;	
}

li.yuimenuitem-disabled {
    display: none;
}

#container .yui-navset {
    overflow-y: hidden;
}

#lefttabs .yui-nav .selected a em {
    padding-top: 1px;	
}
#lefttabs .yui-content {
    border: none;  
   	overflow: auto;
    
}

#lefttabs .yui-dt-empty {
    display:none;	
}

/* .yui-dt table tr th {
	padding: 2px 5px !important;
}*/

div #rollover {
    white-space: normal;
    display: inline;
    float:none !important;
}

.x-dd-drag-ghost {
    opacity : 1;
}

#settingsDialog .bd, #settingsDialog .yui-content, #contactsDialogue .bd{
    padding: 0px;   
}

#settingsDialog .edit tr th {
	
}


#_blank, #listBottom, #displayEmailFramePreview {
    width:100%;
    height:100%;
}
#_blank { 
    padding-top: 7px;
}
#_blank, #listBottom {
    overflow: hidden; 
}
#importDiv {
    padding:10px 0 !important; 
}

#listRight {
    margin-left: 2px;
    margin-right: 5px;  
}

#searchTable {
    padding: 0px;
    margin: 0px;	
}

#peopleTableSearchRow td {
    padding: 3px !important;	
}

#peopleTableSearchRow td {
    padding: 3px !important;    
}

#listViewDiv .yui-layout-unit .yui-layout-hd {
    display: none;	
}
#mbfooter img {
    position: relative;
    top: -1px;
}

#mbfooter h2 td {
    font-weight: normal;
}

.yui-layout-unit-left .yui-layout-hd {
	border-bottom-width:0;
}

td.yui-dt-col-bean_id {
    text-align: center;	
}

.yuimenuitem-disabled .yuimenuitemlabel-disabled, .yuimenuitem-disabled a.yuimenuitemlabel-disabled, .yuimenuitem-disabled a.yuimenuitemlabel-disabled:hover {
    display:none;
}

#listViewDiv .pagination {
    margin-bottom: 10px;	
}


.paginator-start {
    width: 27px;
    height: 20px;
    background: transparent url('../../index.php?entryPoint=getImage&imageName=start_off.gif') no-repeat;	
}

.pagination a .paginator-start {
	background: transparent url('../../index.php?entryPoint=getImage&imageName=start.gif') no-repeat;  
}

.paginator-previous {
    width: 24px;
    height: 24px;
    background: transparent url('../../index.php?entryPoint=getImage&imageName=previous_off.gif') no-repeat;   
}

.pagination a .paginator-previous {
    background: transparent url('../../index.php?entryPoint=getImage&imageName=previous.gif') no-repeat;  
}

.paginator-next {
    width: 24px;
    height: 24px;
    background: transparent url('../../index.php?entryPoint=getImage&imageName=next_off.gif') no-repeat;   
}

.pagination a .paginator-next {
    background: transparent url('../../index.php?entryPoint=getImage&imageName=next.gif') no-repeat;  
}

.paginator-end {
    width: 27px;
    height: 20px;
    background: transparent url('../../index.php?entryPoint=getImage&imageName=end_off.gif') no-repeat;   
}

.pagination a .paginator-end {
    background: transparent url('../../index.php?entryPoint=getImage&imageName=end.gif') no-repeat;  
}

.pagination .yui-pg-first, .pagination .yui-pg-previous, .pagination  .yui-pg-next, .yui-pg-last, .pagination .yui-pg-current, .pagination  .yui-pg-pages, .pagination .yui-pg-page {
	padding: 0px;
}

#settingsDialog .yui-content {
    border: none;
}

#settingsDialog table.view {
    padding-top: 10px;
    padding-bottom: 10px;
	border:0px;
	border-bottom: 1px solid #CCCCCC;
}

#settingsDialog h4 {
	text-align:left;
	padding-left: 0px;
}

button img {
    border: none;
}

.addressbookSearch {
	padding:4px 0 2px;
	width: 180px;
}

.addressbookSearch .button {
	margin-top: -6px;
	margin-left: 2px;
	padding: 0;
}
.addressbookSearch span {
	white-space:nowrap;
}

.addressbookSearch input {
	width: 90px;	
}

.yui-layout th {
	text-align:left;
}

#ieSelect tr td {
    display:inline;
    position:relative;
    left:-2px;
}

div#content {
	padding-bottom: 0px;
}

.yui-cstm-cntrd-liner {
margin:0;
text-align: center !important;
}

.rolloverEmail {
    position: relative;
    margin: none;
    display: inline;
}

.rolloverEmail a {
	text-decoration: none;
}

.rolloverEmail a span {
    text-decoration: none;
    display: none;
    overflow: hidden;
}

.rolloverEmail a:hover span {
    display: inline;
    width: 150px;
    margin : 5px 5px 5px 5px;
    position: absolute;
    padding: 10px;
    color: #333;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 13px;
    z-index: 1000;
    top: -10px;
    right: 10px;
}

.advancedSearchTD {
    padding: 3px;
    white-space: nowrap;
}