.item-wrapper .item-title-Enrolled {
    border: 1px solid #54cb14;
    background-color: #e4fbb4;
    color: #537600;
    font-size: 10px;
    padding: 0 3px;
    text-align: center;
    white-space: nowrap;
    max-width: -webkit-fill-available;
    overflow: hidden;
}
.item-wrapper .item-title-OutStanding {
    border: 1px solid #fbc02d;
    background-color: #fff7ad;
    color: #866500;
    font-size: 10px;
    padding: 0 3px;
    text-align: center;
}
.item-wrapper .item-title-Demo {
    border: 1px solid #198cc6;
    background-color: #c6ddff;
    color: #517bf8;
    font-size: 10px;
    padding: 0 3px;
    text-align: center;
}

.item-wrapper .item-title-Defined {
    border: 1px solid #a2a2a2;
    background-color: #fffef9;
    color: #866500;
    font-size: 10px;
    padding: 0 3px;
    text-align: center;
}
.item-wrapper .item-title-Undefined, .item-title-undefined {
    border: 1px solid #7f7f7f;
    background-color: #b4b4b4;
    color: #fff;
    font-size: 10px;
    padding: 0 3px;
    text-align: center;
}
.item-wrapper > span {
    white-space: nowrap;
    max-width: -webkit-fill-available;
    overflow: hidden;
    line-height: normal;
}
.prv_icon > i.fa {
    font-size: 16px;
    vertical-align: bottom;
}