.xdsoft_tdtpicker.xdsoft_inline{
    width: 260px;
}
.xdsoft_tdtpicker .xdsoft_calendar td.xdsoft_today {
    color: black!important;
    background: #95D34C!important;
    font-weight: 400!important;
}
.add_entried{
    color: red !important;
    background: #FFFF01 !important;
    font-weight: 400 !important;
}


.warning{
    border: 1px solid red;
}
.highlight1{
   /*background-color:blue ;*/
   font-weight: bold;
   font-size: 20px;
   border: none;
   color: black;
   width: 300px;
/*   line-height: 110%;*/
/*   border-bottom: 1px solid black;*/
}
div#added_entries{
    border-top: 1px solid blue;
/*    padding-top: 10px;*/
    background-color: #E8EEF6;
}
.title{
    line-height: 22px;

}
table.main_timesheet .timesheets th{
/*    background-color: #eee;*/
    font-weight: bold;
}
table.main_timesheet .timesheets td{
    padding: 4px 8px !important;
}

table.main_timesheet .btnAddRow, table.main_timesheet .btnDelRow, table.main_timesheet #btnSave {
    font-weight: bold;

}
div#result{
    background-color: #F7E6E6;
    padding: 10px;
}
.timesheet_day_legend, .haft_day_leave_legend, .full_day_leave_legend, .public_day_legend, .today_c_legend{
    line-height: 22px;
    height: 22px;
    border: 1px solid #000;
}
.timesheet_day_legend{
    background-color: #FFFF01;
    color:red;
}

/*pendding date*/
.haft_day_leave_legend{
    background-color: #8EB4E3;
}

.full_day_leave_legend{
    background-color: #538FD5;
}
/*leaving haft day*/
.public_day_legend{
    background-color:#BFBFBF;
/*    font-weight: bold;*/
    color:red;
}
.today_c_legend{
    background-color: #95D34C;
}



.disable{
    background-color: #EAE8E8;
    color:#000 !important;
}