<div class="headerpane">
    <h1>
        <div class="record-cell">
            <span class="module-title">{{str "LBL_CALLCENTER_CONFIG" this.module}}</span>
        </div>
        <div class="btn-toolbar pull-right dropdown" style="padding: 6px;">
            {{#each meta.buttons}}
                {{field ../this}}
            {{/each}}
        </div>
    </h1>
</div>
<div class="record tab-layout">
    <div class="row-fluid record-panel" data-panelname="panel_body">
        <div class="row-fluid record-panel-content ">
            <div class="row-fluid panel_body">
                <div class="row-fluid">
                    <div class="span2" style="text-align: right;margin-top:5px">
                        {{str "LBL_SUPPLIER" this.module}}
                    </div>
                    <div class="span4">
                        <select class="form-control" id="callcenter_config_slcSupplier">
                            <option value="">--</option>
                            <option value="Asterisk" {{#ifEquals this.data.supplier "Asterisk"}}selected{{/ifEquals}}>Asterisk</option>
                            <option value="Voip24h" {{#ifEquals this.data.supplier "Voip24h"}}selected{{/ifEquals}}>Voip24h</option>
                            <option value="RTC" {{#ifEquals this.data.supplier "RTC"}}selected{{/ifEquals}}>RTC</option>
                            <option value="newRTC" {{#ifEquals this.data.supplier "newRTC"}}selected{{/ifEquals}}>newRTC</option>
                            <option value="VoiceCloud" {{#ifEquals this.data.supplier "VoiceCloud"}}selected{{/ifEquals}}>VoiceCloud</option>
                            <option value="VoiceCloudV2" {{#ifEquals this.data.supplier "VoiceCloudV2"}}selected{{/ifEquals}}>VoiceCloudV2</option>
                            <option value="SouthTelecom" {{#ifEquals this.data.supplier "SouthTelecom"}}selected{{/ifEquals}}>SouthTelecom</option>
                            <option value="VCS" {{#ifEquals this.data.supplier "VCS"}}selected{{/ifEquals}}>VCS</option>
                            <option value="VCS3CX" {{#ifEquals this.data.supplier "VCS3CX"}}selected{{/ifEquals}}>VCS3CX</option>
                            <option value="omicall" {{#ifEquals this.data.supplier "omicall"}}selected{{/ifEquals}}>omicall</option>
                            <option value="WebRTC" {{#ifEquals this.data.supplier "WebRTC"}}selected{{/ifEquals}}>WebRTC</option>
                            <option value="FPTOncall" {{#ifEquals this.data.supplier "FPTOncall"}}selected{{/ifEquals}}>FPTOncall</option>
                        </select>
                    </div>
                    <div class="span2" style="text-align: right;margin-top:5px">
                        IP/Domain/DotB {{str "LBL_PORT_CALLCENTER_SERVER" this.module}}
                    </div>
                    <div class="span4">
                        <input type="text" class="form-control" id="callcenter_config_port" value="{{this.data.port}}"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2" style="text-align: right;margin-top:5px">
                        {{str "LBL_USERNAME" this.module}}/API Key
                    </div>
                    <div class="span4">
                        <input type="text" class="form-control" id="callcenter_config_username" value="{{this.data.username}}"/>
                    </div>
                    <div class="span2" style="text-align: right;margin-top:5px">
                        {{str "LBL_PASSWORD" this.module}}/API Secret
                    </div>
                    <div class="span4">
                        <input type="text" class="form-control" id="callcenter_config_password" value="{{this.data.password}}"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2" style="text-align: right;margin-top:5px">
                        {{str "LBL_SHOW_PHONE_KEYBOARD" this.module}}
                    </div>
                    <div class="span4">
                        <select class="form-control" id="callcenter_config_slcShowPhoneKeyBoard">
                            <option value="0" {{#eq this.data.show_phone_key_board "0"}}selected{{/eq}}>No</option>
                            <option value="1" {{#eq this.data.show_phone_key_board "1"}}selected{{/eq}}>Yes</option>
                        </select>
                    </div>
                    <div class="span2" style="text-align: right;margin-top:5px">
                        {{str "LBL_ALLOW_MANUAL_DIAL" this.module}}
                    </div>
                    <div class="span4">
                        <select class="form-control" id="callcenter_config_slc_manual_dial">
                            <option value="0" {{#eq this.data.manual_dial "0"}}selected{{/eq}}>No</option>
                            <option value="1" {{#eq this.data.manual_dial "1"}}selected{{/eq}}>Yes</option>
                        </select>
                    </div>
                </div>
                <div style="display: none" class="row-fluid other-config">
                    <div class="span12">
                        <table class="table table-striped table-bordered table-condensed" id="callcenter_config_tableConfig">
                            <thead>
                            <tr>
                                <th style="text-align:center" width="25%">{{str "LBL_USER" this.module}}</th>
                                <th style="text-align:center" width="15%">{{str "LBL_EXT" this.module}}</th>
                                <th style="text-align:center" width="15%">{{str "LBL_IP" this.module}}</th>
                                <th style="text-align:center" width="15%">{{str "LBL_CHANEL" this.module}}</th>
                                <th style="text-align:center" width="15%">{{str "LBL_CONTEXT" this.module}}</th>
                                <th style="text-align:center" width="5%">
                                    <span id="callcenter_config_btnAddRow" style="cursor: pointer;font-size:135%" class="far fa-plus-square"></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each this.data.config}}
                                <tr>
                                    <td>
                                        <select class="form-control callcenter_config_user" style="width: 97%;margin:5px">
                                            {{#each ../this.data.users}}
                                                <option value="{{@key}}" {{#ifEquals ../this.user @key}}selected{{/ifEquals}}>{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control callcenter_config_ext" style="margin:5px" value="{{this.ext}}"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control callcenter_config_ip" style="margin:5px" value="{{this.ip}}"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control callcenter_config_chanel" style="margin:5px" value="{{this.chanel}}"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control callcenter_config_context" style="margin:5px" value="{{this.context}}"/>
                                    </td>
                                    <td style="text-align: center">
                                        <button type="button" id="callcenter_config_btnDelRow" class="btn btn-danger" style="margin:5px">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                            <tfoot style="display: none">
                            <tr>
                                <td>
                                    <select class="form-control callcenter_config_user" style="width: 97%;margin:5px">
                                        {{#each this.data.users}}
                                            <option value="{{@key}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control callcenter_config_ext" style="margin:5px"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control callcenter_config_ip" style="margin:5px"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control callcenter_config_chanel" style="margin:5px"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control callcenter_config_context" style="margin:5px"/>
                                </td>
                                <td style="text-align: center">
                                    <button type="button" class="btn btn-danger" id="callcenter_config_btnDelRow" style="margin:5px">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div style="display: none" class="row-fluid webrtc-config">
                    <div class="span12">
                        <table class="table table-striped table-bordered table-condensed" id="webrtc_tableConfig">
                            <thead>
                            <tr>
                                <th style="text-align:center" width="25%">{{str "LBL_USER" this.module}}</th>
                                <th style="text-align:center" width="15%">{{str "LBL_EXT" this.module}}</th>
                                <th style="text-align:center" width="15%">{{str "LBL_PASS" this.module}}</th>
                                <th style="text-align:center" width="15%">{{str "LBL_REALM" this.module}}</th>
                                <th style="text-align:center" width="15%">{{str "LBL_WSS" this.module}}</th>
                                <th style="text-align:center" width="5%">
                                    <span id="webrtc_btnAddRow" style="cursor: pointer;font-size:135%" class="far fa-plus-square"></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each this.data.config}}
                                <tr>
                                    <td>
                                        <select class="form-control webrtc_user" style="width: 97%;margin:5px">
                                            {{#each ../this.data.users}}
                                                <option value="{{@key}}" {{#ifEquals ../this.webrtc_user @key}}selected{{/ifEquals}}>{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control webrtc_ext" style="margin:5px" value="{{this.webrtc_ext}}"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control webrtc_pass" style="margin:5px" value="{{this.webrtc_pass}}"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control webrtc_realm" style="margin:5px" value="{{this.webrtc_realm}}"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control webrtc_wss" style="margin:5px" value="{{this.webrtc_wss}}"/>
                                    </td>
                                    <td style="text-align: center">
                                        <button type="button" id="callcenter_config_btnDelRow" class="btn btn-danger" style="margin:5px">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                            <tfoot style="display: none">
                            <tr>
                                <td>
                                    <select class="form-control callcenter_config_user" style="width: 97%;margin:5px">
                                        {{#each this.data.users}}
                                            <option value="{{@key}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control callcenter_config_ext" style="margin:5px"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control callcenter_config_ip" style="margin:5px"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control callcenter_config_chanel" style="margin:5px"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control callcenter_config_context" style="margin:5px"/>
                                </td>
                                <td style="text-align: center">
                                    <button type="button" class="btn btn-danger" id="callcenter_config_btnDelRow" style="margin:5px">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
