
<div class="welcome">
    <div class="thumbnail signup">
        <div class="tcenter">
            <h2 class="brand"><img src="{{logoUrl}}" alt="DotbCRM"></h2>
        </div>
        <br/>
        <form name='{{name}}' class="tcenter" autocomplete="off">
            <div class="control-group">
                <p class="msg-block">{{{str 'LBL_RESET_PASSWORD_CONFIRMATION_MESSAGE'}}}</p>
            </div>
            <br/>
            <br/>
            <div class="control-group">
                <a href="#" class="btn btn-link btn-invisible">{{str 'LBL_LOGIN_BUTTON_LABEL'}}</a>
                {{#if contactInfo}}
                <br>
                <a href="#contact-info" class="btn btn-link btn-invisible">{{str 'LBL_PORTAL_NO_EMAIL'}}</a>
                {{/if}}
            </div>
        </form>
    </div>
</div>
