<style>
    .callringing-content hr:last-child {
        display: none;;
    }
</style>
<div id="{{this.timenow}}" class="popover callbox-ringing custom-popover" style="display:block;width: 400px;padding:0">
    <div class="popover-title" style="background-color: #203b6c;color:#fff;padding:0">
        <div style="background-color: #132545;height: 20px;padding: 10px 15px 5px 15px;">
            <span class="pull-left beanName_displayheader" style="margin-left:5px;font-size: 15px">Inbound Calling... {{options.data.phoneNumber}}</span>
            <i class="far fa-times pull-right close-callbox-ringing" rel="tooltip" data-original-title="close" style="color: red !important;cursor: pointer;font-size:15px;margin-left:15px;outline: none"></i>
            <i class="far fa-chevron-down pull-right mini-callbox-ringing" rel="tooltip" data-original-title="mini" style="cursor: pointer;font-size:15px;outline: none"></i>
        </div>
        <table class="table_info_callbox" style="background-color: #203b6c;margin-top:3px;width: 100%">
            <tr>
                <td style="vertical-align: middle;text-align: center;padding:5px;width:20%">
                    <i style="font-size: 50px;color: #fff" class="far fa-phone-alt"></i>
                </td>
                <td class="callringing-content" nowrap style="vertical-align: middle;padding:5px;width:80%">
                    {{#each this.data}}
                        {{this.beanName}}:
                        <a class="link_to_bean" href="#{{this.beanName}}/{{this.id}}" style="font-size: 14px;color:#fff">
                            <b>{{this.name}}</b>
                        </a>
                        <br/>
                        Email: {{this.email}}<br/>
                        Status: {{this.status}}
                        <hr style="color:#fff;border-bottom: 0;margin:3px 0"/>
                    {{/each}}
                </td>
            </tr>
        </table>
    </div>
</div>
