<a track="click:listactiondropdown" class="btn btn-invisible dropdown-toggle"
   data-toggle="dropdown" href="javascript:void(0);" data-placement="bottom"
   rel="tooltip" title="{{str 'LBL_LISTVIEW_ACTIONS'}}"
   role="button" tabindex="{{tabIndex}}" aria-label="{{str 'LBL_LISTVIEW_ACTIONS'}}">
    <span class="far fa-plus"></span></a>
<ul data-menu="dropdown" class="dropdown-menu" role="menu"></ul>
