
<div class="welcome">
    <div class="thumbnail login">
        <div class="tcenter">
            <h2 class="brand"><img src="{{logoUrl}}" alt="DotbCRM"></h2>
        </div>
        <div class="help-block">
            {{str "LBL_PORTAL_ENTER_PASSWORD_TWICE"}}
        </div>
        <br>
        <br>
        <br>
        <form name='{{name}}' class="tcenter" autocomplete="off">
            {{#each meta.panels}}
                {{#each fields}}
                <div class="control-group">{{field ../../this model=../../model template="edit"}}</div>
                {{/each}}
            {{/each}}
            {{#each meta.buttons}}
                <div class="control-group">
                    {{field ../this model=../model template="edit"}}
                </div>
            {{/each}}
            <br>
            <div class="control-group">
                <a href="#" class="btn btn-link btn-invisible">{{str "LBL_LOGIN_BUTTON_LABEL"}}</a>
                <br>
                <a href="#signup" class="btn btn-link btn-invisible">{{str "LBL_SIGNUP_BUTTON_LABEL"}}</a>
            </div>
        </form>
    </div>
</div>
