@font-face {
    font-family: All-CooperHead;
    src: url(CooperHead/All-CooperHead.otf);
}

@font-face {
    font-family: All-Muli-Regular;
    src: url(Muli/All-Muli-Regular.otf);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #83b0b9;
}

.successalert {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.errorelert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

a {
    color: #d35657;
    text-decoration: none;
}

.display_none {
    display: none;
}

*:focus {
    outline: none;
}

input, textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

#load {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/WEDDING4.html) no-repeat center center rgba(255, 255, 255, 1);
    z-index: 99999999999999;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.hamburger {
    margin-top: 8px;
    cursor: pointer;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff !important;
    background-color: #f0394d !important;
}

.navbar-inverse {
    background-color: #fff !important;
    border: none !important;
}

_:-ms-fullscreen, :root .navbar-nav > li {
    float: left;
    width: 120px;
}

@supports (-ms-accelerator:true) {
    .navbar-nav > li {
        float: left;
        width: 120px;
    }
}

.navbar-inverse .navbar-nav > li > a.active {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    background: #d35657;
    height: 4px;
}

.main-page-area {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.resonsive-tab {
    display: none;
}

.section1 {
    position: relative;
}

.icon-visibility {
    display: none !important;
}

.hover-menu {
    width: 98%;
    margin: 0 1%;
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transform: translate3d(0px, -400px, 0px);
    -moz-transform: translate3d(0px, -400px, 0px);
    -ms-transform: translate3d(0px, -400px, 0px);
    -o-transform: translate3d(0px, -400px, 0px);
    -webkit-transform: translate3d(0px, -400px, 0px);
    top: 84px;
    padding-left: 0px !important;
    height: 400px;
    text-align: center;
}

.vertical-menu-2 {
    width: 70%;
    height: 80px;
    padding: 0px 40px;
}

.vertical-menu-2 li {
    width: 15%;
    display: inline-block;
}

.other-menu > li > a:hover, .other-menu > li > a:focus {
    color: #fff !important;
    background-color: transparent;
}

.other-menu svg {
    fill: #fff;
}

.other-menu li {
    background-color: #f0394d;
}

.other-menu li:hover {
    background-color: #f0394d;
}

.vertical-menu-2 > li > a {
    display: block;
    padding: 15px 15px;
    color: #fff;
}

.hover-menu li svg {
    fill: #fff;
    width: 100%;
    height: 21px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.hover-menu a {
    text-align: center !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    color: #fff !important;
}

.other-parent {
    transition: all 0.8s linear 0s;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    padding: 15px 28px 15px 27px;
    z-index: 1111212111;
    background-color: #fff !important;
}

.nav > li {
    overflow: visible;
}

.hover-menu li {
    display: inline-flex !important;
    text-align: center;
    width: 100%;
}

.hover-menu li a {
    width: 100%;
}

.fixed-navigation {
    position: fixed !important;
    margin-bottom: 20px;
    border: 1px solid transparent;
    z-index: 99999;
}

.home-bg {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.tem-img {
    background-image: url(../images/main-image.html);
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blur-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.bg-loveline {
    background: url(../images/loveline-back.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-people {
    background: url(../images/people-back.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-wedding {
    background: url(../images/wedding-back.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-gifts {
    background: url(../images/gift-back.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-junior_check_in {
    background: url(../images/junior_check_in.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-junior_check_in_wrong {
    background: url(../images/junior_check_in_wrong.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-junior_check_out {
    background: url(../images/junior_check_out.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-kid_check_in {
    background: url(../images/kid_check_in.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-kid_check_in_wrong {
    background: url(../images/kid_check_in_wrong.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-kid_check_out {
    background: url(../images/kid_check_out.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-error {
    background: url(../images/error.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-waiting {
    background: url(../images/waiting.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-waiting-vertical {
    background: url(../images/waiting.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: 30%;
}

.home-overflow {
    overflow: hidden;
}

.bg-main-image {
    width: 100%;
    position: relative;
    height: 100%;
}

.bg-main-image-overlay {
    height: 100%;
    width: 100%;
}

.bg-main-image-overlay-2 {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    position: fixed;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.bg-main-image-overlay-2-gallery {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    position: fixed;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.bg-main-image-overlay-fixed {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    position: fixed;
    height: 100%;
}

.pt-page-11 .bg-main-image-overlay-2 {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    position: fixed;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.page-fixed {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}

.page-scroll {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.main-section-s2 {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 84px;
}

.couple-name span {
    font-size: 60px;
    color: #f0394d;
    padding: 0px 25px;
    vertical-align: middle;
    margin-top: 14px;
    margin-bottom: 14px;
}

.couple-name h1 {
    text-transform: capitalize;
}

.the-couple-data h3 {
    text-transform: capitalize;
}

.tag-line {
    text-align: center;
    text-transform: uppercase;
    margin-top: 11px;
}

.inner-data {
    text-align: center;
    position: relative;
    top: 38%;
    z-index: 999;
    left: 0px;
    width: 100%;
}

.ceremony-slider {
    margin-bottom: 16px;
}

.page-title h3 {
    text-align: center;
    color: #000;
}

.page-title {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.page-title h3 {
    color: #000;
    position: relative;
    padding: 0px 0px 15px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
}

.page-title h3:before {
    content: "";
    background: #f0394d;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 40%;
}

.page-title h3:after {
    content: "";
    background: #f0394d;
    height: 1px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40%;
}

.page-title h3 span {
    position: absolute;
    bottom: -10px;
    width: 100%;
    left: 0%;
    font-size: 18px;
    color: #f0394d;
}

.page-title h2 {
    color: #000;
    position: relative;
    padding: 35px 0px 15px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}

.page-title h2:before {
    content: "";
    background: #f0394d;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 40%;
}

.the-couple-data h3 {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.page-title h2:after {
    content: "";
    background: #f0394d;
    height: 1px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40%;
}

.page-title h2 span {
    position: absolute;
    bottom: -10px;
    width: 100%;
    left: 0%;
    font-size: 18px;
    color: #f0394d;
}

.groom-color {
    background-color: #03c0cc;
}

.bride-color {
    background-color: #f0394d;
}

.the-couple {
    width: 100%;
    padding: 37px 45px;
}

.the-people {
    width: 100%;
    padding: 37px 50px;
    background-color: #fff;
}

.people-slide {
    position: relative;
}

.people-slide span {
    position: absolute;
}

.the-couple-title p span {
    text-transform: uppercase;
}

.cat-title {
    position: absolute;
    left: 0px;
    top: -15px;
    width: 100%;
    text-align: center;
}

.the-people .slick-initialized .slick-slide {
    display: block;
    padding: 0 0px 0 0px;
}

.the-people h4 {
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.the-people p {
    color: #000;
}

.cat-title span {
    text-transform: uppercase;
}

.the-couple-title {
    padding: 0px 0px 20px;
}

.about-the-people {
    text-align: center;
    color: #000;
    font-weight: 400;
    margin: 0px 0px 40px;
}

.about-the-people p {
    font-weight: 400;
}

.the-people .the-couple-img {
    margin: 25px 0px 30px;
}

.the-couple-img {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

.the-couple-img-hover .social {
    position: absolute;
    top: 48%;
    display: block;
    width: 100%;
}

.the-couple-img-hover {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    opacity: 0;
    top: 0;
    text-align: center;
    transition: .5s all ease-in;
    -webkit-transition: .5s all ease-in;
    -moz-transition: .5s all ease-in;
    -ms-transition: .5s all ease-in;
    -o-transition: .5s all ease-in;
}

.the-couple-img:hover .the-couple-img-hover {
    opacity: 1;
}

.the-couple-img-hover .social {
    position: absolute;
    top: 47%;
    display: block;
    width: 100%;
}

.person-image {
    width: 80%;
    margin: 0 auto;
}

.the-people-s2 .person-image {
    width: 100%;
    margin: 0 auto;
}

.person-image {
    position: relative;
}

.parent-couple {
    width: 100%;
    display: inline-block;
}

.the-couple-img img {
    overflow: hidden;
    width: 100%;
}

.about-the-couple {
    margin-top: 30px;
}

.vector-img {
    margin-bottom: 15px;
}

.timeline {
    list-style: none;
    padding: 10px 60px;
    position: relative;
    font-weight: 300;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background: #f0394d;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin: 0px 0px 50px;
    position: relative;
    width: 48%;
    float: left;
    clear: left;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    background: #ffffff;
    position: relative;
    padding: 34px 45px;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 50px;
    position: absolute;
    top: 26px;
    right: -49px;
    z-index: 100;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
}

.timeline i {
    overflow: hidden;
    position: relative;
    top: -8px;
    font-size: 14px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline h3 {
    color: #f0394d;
    margin-bottom: 18px;
}

.timeline-heading, .timeline-img {
    margin-bottom: 30px;
}

.timeline-badge > a {
    color: #f0394d;
}

.timeline-badge a:hover {
    color: #f0394d;
    cursor: default;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body .tour-video {
    height: 385px;
}

.ceremony-detail svg {
    height: 48px;
    width: 48px;
    fill: #26c7d2;
}

.gallery-image-hover {
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: #f0394d;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.grid-item:hover .gallery-image-hover {
    opacity: 1;
}

.gallery-image-hover i {
    position: absolute;
    top: 48%;
    left: 48%;
}

.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
    color: #000;
    font-size: 16px;
    text-align: left;
}

.timeline-footer {
    padding: 5px 15px;
    background-color: #f4f4f4;
}

.timeline-img img {
    width: 100%;
}

.timeline-footer p {
    margin-bottom: 0;
}

.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}

.timeline > li.timeline-inverted {
    float: right;
    clear: right;
    margin: 90px 0px 0px;
}

.timeline > li:nth-child(2) {
    margin-top: 60px;
}

.timeline > li.timeline-inverted > .timeline-badge {
    left: -52px;
}

.timeline-year {
    margin-bottom: 25px;
    margin-top: 19px;
}

.timeline-year span {
    letter-spacing: 4px;
    font-size: 24px;
}

.no-float {
    float: none !important;
}

.logo-box {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    vertical-align: middle;
}

.zoomeffect {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all .5s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
}

.zoomeffect:hover {
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.wedding-person {
    text-align: center;
}

.wedding-person span {
    font-size: 41px;
    color: #f0394d;
    padding: 0px 15px;
    vertical-align: middle;
    margin-top: 14px;
}

.wedding-person h1 {
    font-size: 60px;
    color: #000;
    margin-top: 0px;
}

.white-box {
    background-color: #fff;
}

.ceremony-detail h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #f0394d;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.ceremony-detail h4 {
    margin-bottom: 20px;
}

.ceremony-detail {
    color: #000;
    padding: 25px;
}

.ceremony-detail img {
    margin-bottom: 13px;
}

.rsvp-button button {
    text-transform: uppercase;
    padding: 10px 50px;
    font-weight: 700;
    letter-spacing: 3px;
    background-color: #f0394d;
    color: #fff !important;
    border-radius: 3px;
    text-decoration: none !important;
    border: none;
}

.rsvp-button {
    margin: 30px 0px;
}

.timer-border-right {
    border-right: 1px solid #fff;
    height: 100%;
}

.rsvp {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.rsvp-form {
    width: 42%;
    text-align: center;
    display: inline-block;
    padding: 50px !important;
}

.rsvp-form p {
    font-size: 18px;
}

.rsvp-form p span {
    letter-spacing: 0px;
    color: #f0394d;
    margin: 0px;
    font-size: 18px;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999999999999;
}

.rsvp-form .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(0, 0, 0, .0) !important;
}

.rsvp-form p {
    color: #000;
}

.facebook-icon i {
    color: #000;
}

.the-couple-img-hover a {
    border: 1px solid #000;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    text-align: center;
    display: inline-block;
    padding-top: 6px;
    color: #000;
    margin: 0px 5px;
}

.the-couple-img-hover .fb-color:hover {
    background-color: #3c5a98;
    border-color: #3c5a98;
    color: #fff;
    -webkit-transition: .2s all ease-in;
    -moz-transition: .2s all ease-in;
    -ms-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
}

.the-couple-img-hover .tw-color:hover {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: #fff;
    -webkit-transition: .2s all ease-in;
    -moz-transition: .2s all ease-in;
    -ms-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
}

.the-couple-img-hover .gp-color:hover {
    background-color: #e53935;
    border-color: #e53935;
    color: #fff;
    -webkit-transition: .2s all ease-in;
    -moz-transition: .2s all ease-in;
    -ms-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
}

.the-couple-s2 {
    width: 100%;
    padding: 0;
}

.the-couple-img-s2 {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    margin: 40px 0px;
}

.the-couple-img-s2 img {
    width: 100%;
    transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    border-radius: 0px !important;
}

.the-couple-img-s2-hover a {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    padding-top: 1px;
    color: #000;
    margin: 0px 5px;
}

.the-couple-img-s2-hover a i {
    vertical-align: middle;
    font-size: 14px;
}

.the-couple-img-s2-hover .fb-color:hover {
    background-color: #3c5a98;
    border-color: #3c5a98;
    -webkit-transition: .2s all ease-in;
    -moz-transition: .2s all ease-in;
    -ms-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
    color: #fff;
}

.the-couple-img-s2-hover .tw-color:hover {
    background-color: #1da1f2;
    border-color: #1da1f2;
    -webkit-transition: .2s all ease-in;
    -moz-transition: .2s all ease-in;
    -ms-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
    color: #fff;
}

.the-couple-img-s2-hover .gp-color:hover {
    background-color: #e53935;
    border-color: #e53935;
    -webkit-transition: .2s all ease-in;
    -moz-transition: .2s all ease-in;
    -ms-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
    color: #fff;
}

.the-couple-img-s2:hover .the-couple-img-s2-hover {
    display: block;
}

.the-couple-img-s2-hover {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    top: 0px;
    text-align: center;
    vertical-align: top;
    transform: scale(1.3, 1.3);
    -webkit-transition: .2s all ease-in;
    -moz-transition: .2s all ease-in;
    -ms-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
}

.social-s2 {
    width: 100%;
    position: absolute;
    top: 44%;
}

.couple-area-s2 {
    padding: 0px 40px;
}

.couple-area-s2 .the-couple-title {
    padding: 0px 0px 15px;
}

.grid-item-s2 {
    width: 19.5%;
    display: inline-block;
    padding: 12px;
    position: relative;
}

.grid-item-s2 a {
    display: block;
    vertical-align: middle;
    color: #555;
    position: relative;
}

.gallery-image-hover-s2 {
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: #f0394d;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.grid-item-s2:hover .gallery-image-hover-s2 {
    opacity: 1;
}

.gallery-image-hover-s2 i {
    position: absolute;
    top: 48%;
    left: 48%;
}

.gridlayout-s2 {
    width: 100%;
    padding: 12px 32px 12px 79px;
    margin: 0px -15px;
}

.vertical-menu {
    width: 100%;
    height: 83px;
    padding: 0px 40px;
}

.logo-s2 {
    width: 10%;
    display: inline-block;
    vertical-align: top;
    padding: 28px 0px;
}

.ver-menu, .ver-menu-s2 {
    width: 89%;
    display: inline-block;
}

.menubar-s2 {
    float: right !important;
}

.logo-s2 img {
    max-width: 100%;
}

.menubar-s2 svg {
    fill: #f0394d;
    width: auto;
    height: 21px;
    display: block;
    text-align: center;
    margin: 0px auto 10px auto;
}

.menubar-s2 a {
    text-align: center !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    border-top: 3px solid transparent;
}

.ver-menu-s2 a {
    padding: 30px 27px !important;
}

.ver-menu-s2 .hover-menu a {
    padding: 29px 0px !important;
}

.ver-menu .hover-menu a {
    padding: 15px 0px !important;
}

.ver-menu a {
    padding: 15px 28px !important;
}

.selected:active {
    border-top: 4px solid #f0394d;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width: 100%;
        float: left;
        clear: left;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }

    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}

ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.resp-tabs-list .resp-tab-active::after {
    content: " ";
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 45%;
}

.resp-tabs-list .resp-tab-active:hover::after {
    display: block;
}

.resp-tabs-list li {
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    background-color: #fff !important;
    border-color: #fff !important;
    text-transform: uppercase;
    margin: 0px 15px;
    position: relative;
    color: #000;
    border-radius: 3px;
    letter-spacing: 8px;
    padding: 2px 20px;
}

.groom-tab:hover:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #03c0cc;
}

.bride-tab:hover:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f0394d;
}

.the-people-s2 h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.resp-tabs-container {
    padding: 0px;
    background-color: transparent;
    clear: left;
}

.groom-tab {
    background-color: #fff;
    color: #03c0cc !important;
}

.groom-tab:hover {
    background-color: #03c0cc !important;
    color: #fff !important;
    -webkit-transition: .2s all ease-in;
    -moz-transition: .2s all ease-in;
    -ms-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
}

.bride-tab {
    color: #f0394d !important;
    background-color: #fff;
}

.bride-tab:hover {
    color: #fff !important;
    background-color: #f0394d !important;
    -webkit-transition: .2s all ease-in;
    -moz-transition: .2s all ease-in;
    -ms-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 0px;
    margin-top: 30px;
}

.resp-content-active, .resp-accordion-active {
    display: block;
    text-align: center;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
    border-top: 1px solid;
    border: 1px solid #5AB1D0 !important;
    border-left: 4px solid #5AB1D0 !important;
    margin-bottom: 4px !important;
    border-right: 1px #FFF solid !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

h2.resp-tab-active {
    background: #DBDBDB;
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
}

.the-people-s2 {
    width: 24%;
    display: inline-block;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

.the-people-s2 .the-couple-img {
    width: 80%;
    margin: 0 auto;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent !important;
}

.grid-item-s2 img {
    width: 100%;
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
    .timeline > li > .timeline-badge {
        right: -63px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: -63px;
    }

    .timeline > li {
        margin: 30px 0px 50px;
    }

    .timeline > li:nth-child(2) {
        margin-top: 90px;
    }

    .couple-area-s2 h3, .h3 {
        font-size: 46px;
    }
}

@media screen and (max-width: 1680px) {
    .the-couple-img-hover .social {
        top: 47%;
    }

    .timeline > li > .timeline-badge {
        right: -45px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: -46px;
    }

    .inner-data .couple-name h1, .h1 {
        font-size: 95px;
    }

    .tag-line p span {
        font-size: 22px;
    }

    .timeline-body .tour-video {
        height: 241px;
    }

    .the-couple-img-s2-hover a {
        padding-top: 2px;
    }

    .pt-page-4 .main-section-s2 {
        overflow-y: auto;
    }

    .pt-page-5 .main-section-s2 {
        overflow-y: auto;
    }

    .responsive-margin {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1600px) {
    .inner-data .couple-name h1, .h1 {
        font-size: 92px;
    }

    .tag-line p span {
        font-size: 20px;
    }

    .timeline > li > .timeline-badge {
        right: -43px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: -44px;
    }

    .timeline-body .tour-video {
        height: 227px;
    }

    .the-couple-title {
        padding: 0px 0px 7px;
    }

    .inner-data {
        top: 33%;
    }

    .timeline > li.timeline-inverted {
        margin: 153px 0px 0px;
    }

    .responsive-margin-double {
        margin-bottom: 20px;
    }

    .pt-page-8 .main-section-s2 {
        overflow-y: auto;
    }

    .rsvp {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1440px) {
    .inner-data .couple-name h1, .h1 {
        font-size: 80px;
    }

    .tag-line p span {
        font-size: 19px;
    }

    .timeline > li > .timeline-badge {
        right: -40px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: -41px;
    }

    .the-couple-img-hover .social {
        top: 47%;
    }

    .timeline-body .tour-video {
        height: 194px;
    }

    .hover-menu > li > a {
        padding: 13.5px 15px;
    }

    .pt-page-2 .responsive-margin {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1366px) {
    .responsive-margin {
        margin-bottom: 20px;
    }

    .inner-data {
        top: 27%;
    }

    .pt-page-4 .main-section-s2 {
        overflow-y: scroll;
    }

    .responsive-margin-double {
        margin-bottom: 40px;
    }

    .inner-data .couple-name h1, .h1 {
        font-size: 73px;
    }

    .person-image {
        width: 64%;
    }

    .the-couple-title {
        padding: 0px 0px 7px;
    }

    .about-the-couple {
        margin-top: 10px;
    }

    .the-couple {
        width: 100%;
        padding: 20px 48px;
    }

    .ver-menu a {
        padding: 15px 18px !important;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: -40px;
    }

    .timeline > li > .timeline-badge {
        right: -39px;
    }

    .timeline i {
        top: -7px;
    }

    .about-the-people {
        margin: 0px 0px 40px;
    }

    .pt-page-5 .page-title {
        margin-bottom: 15px;
    }

    .ceremony-detail {
        padding: 20px;
    }

    .ceremony-detail h5 {
        margin-bottom: 15px;
    }

    .ceremony-detail svg {
        height: 35px;
        width: 35px;
    }

    .ceremony-detail h4 {
        margin-bottom: 10px;
    }

    .rsvp-button {
        margin: 23px 0px;
    }

    .logo-box {
        padding: 5px;
        margin-bottom: 10px;
    }

    .the-couple-img-s2 {
        margin: 27px 0px;
    }

    .couple-area-s2 .the-couple {
        width: 100%;
        padding: 13px 48px;
    }

    .resp-tabs-list li {
        font-size: 20px;
    }

    .timeline-heading h3, .h3 {
        font-size: 43px;
    }

    .timeline-body .tour-video {
        height: 179px;
    }

    .the-couple-img-hover .social {
        top: 45%;
    }

    .rsvp-button {
        margin: 6px 0px 23px;
    }

    .rsvp {
        margin-bottom: 20px;
    }

    .gallery-image-hover-s2 i {
        top: 48%;
        left: 48%;
    }

    .pt-page-8 .main-section-s2 {
        overflow-y: scroll;
    }

    .the-couple-img-hover a {
        padding-top: 6px;
    }

    .nav > li {
        float: left;
        width: 100px;
    }

    _:-ms-fullscreen, :root .navbar-nav > li {
        width: 100px;
    }
}

@media screen and (max-width: 1280px) {
    .inner-data .couple-name h1, .h1 {
        font-size: 71px;
    }

    .the-couple-img-hover .social {
        top: 45%;
    }

    .timeline {
        padding: 10px 40px;
    }

    .timeline > li > .timeline-badge {
        right: -38px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: -39px;
    }

    .logo-box {
        padding: 10px;
    }

    .the-couple-data h3 {
        font-size: 44px;
    }

    .inner-data {
        top: 21%;
    }
}

@media screen and (max-width: 1152px) {
    .person-image {
        width: 80%;
    }

    .couple-area-s2 .the-couple {
        width: 100%;
        padding: 13px 27px;
    }

    .grid-item-s2 {
        width: 24%;
    }

    .nav > li {
        float: left;
        width: 90px;
    }

    _:-ms-fullscreen, :root .navbar-nav > li {
        width: 90px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: -37px;
    }

    .timeline > li > .timeline-badge {
        right: -35px;
    }

    .timeline > li.timeline-inverted {
        margin: 175px 0px 0px;
    }
}

@media screen and (max-width: 1024px) {
    .couple-area-s2 .the-couple {
        width: 100%;
        padding: 13px 42px;
    }

    #dl-menu.navbar-fixed-top {
        position: fixed !important;
        right: -100px;
        z-index: 10030 !important;
        width: 100px !important;
        height: 100% !important;
        overflow-y: scroll;
        left: auto;
    }

    .vertical-menu {
        width: 100%;
        height: 100%;
        padding: 0px 0px;
    }

    .logo-s2 {
        display: none;
    }

    .ver-menu, .ver-menu-s2 {
        width: 100%;
        display: inline-block;
        padding-top: 70px;
    }

    .header {
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: #fff;
        z-index: 9999999;
        padding: 12px 0px;
    }

    .icon-visibility-other {
        display: none !important;
    }

    .ver-menu a {
        padding: 0px !important;
    }

    .navbar-nav > li {
        width: 100%;
    }

    .navbar-nav > li {
        float: left;
        padding: 10px 0px;
    }

    .icon-visibility {
        display: block !important;
    }

    .resonsive-tab {
        display: block;
    }

    .main-section-s2 {
        padding-top: 69px;
    }

    .inner-data .couple-name h1, .h1 {
        font-size: 66px;
        display: block;
        margin: 0;
    }

    .couple-name span {
        font-size: 39px;
    }

    .pt-page-2 .main-section-s2 {
        overflow-y: scroll;
    }

    .the-couple-data h3 {
        font-size: 34px;
    }

    .logo-responsive {
        padding: 3px 0px;
    }

    .timeline > li > .timeline-badge {
        right: -33px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: -33px;
    }

    .timeline h3, .h3 {
        font-size: 40px;
    }

    .timeline-body .tour-video {
        height: 137px;
    }

    .cat-title p span {
        font-size: 20px;
    }

    .wedding-person h1 {
        font-size: 50px;
    }

    .couple-name span {
        font-size: 38px;
    }

    .white-box h5, .h5 {
        font-size: 20px;
    }

    .white-box h4, .h4 {
        font-size: 24px;
    }

    .pt-page-5 .main-section-s2 {
        overflow-y: scroll;
    }

    .pt-page-7 .main-section-s2 {
        overflow-y: scroll;
    }

    .pt-page-9 .main-section-s2 {
        overflow-y: scroll;
    }

    .couple-area-s2 p span {
        font-size: 20px;
    }

    .the-couple-img-hover a {
        height: 30px;
        width: 30px;
        padding-top: 2px;
    }

    .gallery-image-hover-s2 i {
        left: 47%;
    }

    .the-people-s2 h4 {
        font-size: 20px;
    }

    .social-s2 {
        top: 41%;
    }

    .timeline-heading, .timeline-img {
        margin-bottom: 25px;
    }

    .the-couple-img-s2 img {
        width: 100%;
        transform: scale(1.4, 1.4);
        -moz-transform: scale(1.4, 1.4);
        -ms-transform: scale(1.4, 1.4);
        -o-transform: scale(1.4, 1.4);
        -webkit-transform: scale(1.4, 1.4);
        border-radius: 0px !important;
    }

    .the-couple-img-s2-hover {
        transform: scale(1.4, 1.4);
        -moz-transform: scale(1.4, 1.4);
        -ms-transform: scale(1.4, 1.4);
        -o-transform: scale(1.4, 1.4);
        -webkit-transform: scale(1.4, 1.4);
    }

    .social-s2 {
        top: 41%;
    }

    .couple-area-s2 p span {
        font-size: 20px;
    }

    .the-couple-img-hover a {
        height: 30px;
        width: 30px;
        padding-top: 2px;
    }

    .gallery-image-hover-s2 i {
        left: 47%;
    }

    .the-people-s2 h4 {
        font-size: 20px;
    }

    .inner-data {
        top: 19%;
    }

    .timeline-heading, .timeline-img {
        margin-bottom: 25px;
    }

    .the-couple-img-hover .social {
        top: 44%;
    }

    .page-title h2 {
        margin-top: 15px;
    }

    .rsvp {
        margin-bottom: 20px;
    }

    .responsive-margin {
        margin-bottom: 20px;
    }

    .person-image {
        width: 80%;
    }

    .the-people-slider .person-image {
        width: 80%;
    }
}

@media screen and (max-width: 980px) {
    .pt-page-4 .main-section-s2 {
        overflow-y: scroll;
    }

    .couple-name span {
        font-size: 28px;
        margin-top: 0px;
    }

    .responsive-margin-double {
        margin-bottom: 40px;
    }

    .the-couple-data h3 {
        font-size: 30px;
    }

    .person-image {
        width: 100%;
    }

    .wedding-person h1 {
        font-size: 44px;
    }

    .the-people-s2 {
        width: 32%;
    }

    .grid-item-s2 {
        width: 24.5%;
    }

    .timeline-body .tour-video {
        height: 113px;
    }

    .timeline > li > .timeline-badge {
        right: -32px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: -33px;
    }

    .timeline-body .tour-video {
        height: 113px;
    }

    .the-couple-img-hover a {
        padding-top: 3px;
    }

    .the-couple-img-s2 img {
        width: 100%;
        transform: scale(1.8, 1.8);
        -moz-transform: scale(1.8, 1.8);
        -ms-transform: scale(1.8, 1.8);
        -o-transform: scale(1.8, 1.8);
        -webkit-transform: scale(1.8, 1.8);
        border-radius: 0px !important;
    }

    .the-couple-img-s2-hover {
        transform: scale(1.8, 1.8);
    }

    .the-couple-img-s2-hover a {
        height: 20px;
        width: 20px;
    }

    .the-couple-img-s2-hover a i {
        font-size: 11px;
        margin-top: -11px;
    }

    .the-people {
        padding: 37px 0px;
    }

    .the-couple-img-s2 {
        margin: 36px 0px;
    }
}

@media only screen and (max-width: 800px) {
    .timeline-body .tour-video {
        height: 93px;
    }

    .tag-line {
        margin-top: 33px;
    }

    .timeline > li > .timeline-badge {
        right: -36px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: -36px;
    }

    .timeline h3, .h3 {
        font-size: 37px;
    }

    .timeline > li {
        width: 47%;
    }

    .timeline-body .tour-video {
        height: 87px;
    }

    .pt-page-4 .pull-right {
        float: left !important;
    }

    .the-couple-img-s2 img {
        width: 100%;
        transform: scale(1.8, 1.8);
        -moz-transform: scale(1.8, 1.8);
        -ms-transform: scale(1.8, 1.8);
        -o-transform: scale(1.8, 1.8);;
        -webkit-transform: scale(1.8, 1.8);
        border-radius: 0px !important;
    }

    .the-people-s2 {
        width: 32.5%;
    }

    .the-couple-title p span {
        font-size: 22px;
        letter-spacing: 6px;
    }

    .the-couple-img-s2-hover a i {
        font-size: 11px;
        margin-top: -11px;
    }

    .person-image {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .the-couple-img-s2-hover {
        transform: scale(1.3, 1.3);
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }

    .timeline h3, .h3 {
        font-size: 31px;
    }

    .timeline > li > .timeline-panel {
        padding: 30px;
    }

    .pt-page-11 .main-section-s2 {
        overflow-y: scroll;
    }

    .resp-tabs-list h2.resp-accordion:first-child {
        border-top: none;;
    }

    h2.resp-accordion {
        font-size: 16px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #000;
        letter-spacing: 4px;
        background-color: #03c0cc !important;
        color: #fff !important;
    }

    h2.resp-tab-active span.resp-arrow {
        border: none;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid #fff;
    }

    .resp-arrow {
        border-top: 12px solid #fff;
    }

    h2.resp-accordion.hor_1:hover {
        background-color: #f0394d !important;
        transition: background-color 0.5s ease;
        -ms-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        -webkit-transition: background-color 0.5s ease;
    }

    h2.resp-accordion.hor_1.resp-tab-active {
        background-color: #f0394d !important;
        transition: background-color 0.5s ease;
        -ms-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        -webkit-transition: background-color 0.5s ease;
    }

    .the-couple-img-s2-hover {
        transform: scale(1.8, 1.8);
        -moz-transform: scale(1.8, 1.8);
        -ms-transform: scale(1.8, 1.8);
        -o-transform: scale(1.8, 1.8);
        -webkit-transform: scale(1.8, 1.8);
    }

    .the-couple-title p span {
        font-size: 22px;
    }

    .the-couple-img-s2 img {
        width: 100%;
        transform: scale(1.8, 1.8);
        -moz-transform: scale(1.8, 1.8);
        -ms-transform: scale(1.8, 1.8);
        -o-transform: scale(1.8, 1.8);
        -webkit-transform: scale(1.8, 1.8);
        border-radius: 0px !important;
    }

    .the-couple-img-s2-hover a {
        height: 23px;
        width: 23px;
        padding-top: 2px;
    }

    .the-couple-img-s2-hover a i {
        margin-top: -4px;
        font-size: 11px;
    }

    .social-s2 {
        top: 39%;
    }

    .cat-title span {
        letter-spacing: 7px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        margin: 0 !important;
    }

    .the-couple-title p span {
        font-size: 21px;
    }

    ul.timeline > li > .timeline-badge {
        left: -15px;
        top: 26px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: -15px;
    }

    .timeline > li:nth-child(2) {
        margin-top: 50px;
    }

    .timeline > li {
        margin: 30px 0px 0px;
    }

    .timeline-body .tour-video {
        height: 221px;
    }

    .cat-title p span {
        font-size: 21px;
    }

    .wedding-person h1 {
        display: block;
    }

    .wedding-person .couple-name span {
        font-size: 37px;
    }
}

@media screen and (max-width: 736px) {
    .inner-data .couple-name h1, .h1 {
        font-size: 40px;
    }

    .couple-name span {
        font-size: 26px;
        margin-bottom: 8px;
    }

    .tag-line {
        margin-top: 10px;
    }

    .tag-line p span {
        font-size: 14px;
    }

    .inner-data {
        top: 12%;
    }

    .social-s2 {
        top: 44%;
    }

    .the-people-s2 .the-couple-img-hover .social {
        top: 43%;
    }

    .the-couple-img-s2 img {
        width: 100%;
        transform: scale(1.5, 1.5);
        -moz-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        border-radius: 0px !important;
    }

    .timeline-body .tour-video {
        height: 170px;
    }

    .timeline-body > p, .timeline-body > ul {
        font-size: 14px;
    }

    .the-people-s2 p {
        font-size: 16px;
    }

    .the-people-s2 h4 {
        font-size: 18px;
        margin: 7px 0px;
    }

    .the-couple-title p span {
        font-size: 18px;
    }

    .rsvp-button a {
        padding: 7px 50px;
    }

    .timeline-year span {
        font-size: 17px;
    }

    .pt-page-9 .the-couple-data {
        padding: 10px 0px 0px 0px;
    }

    .the-couple-img-hover .social {
        top: 46%;
    }

    .person-image {
        width: 74%;
    }

    .social-s2 {
        top: 45%;
    }

    .timeline h3, .h3 {
        font-size: 32px;
    }
}

@media screen and (max-width: 640px) {
    .inner-data .couple-name h1, .h1 {
        font-size: 40px;
    }

    .couple-name span {
        font-size: 26px;
        margin-bottom: 8px;
    }

    .tag-line {
        margin-top: 10px;
    }

    .tag-line p span {
        font-size: 14px;
    }

    .inner-data {
        top: 12%;
    }

    .the-couple-img-s2 img {
        width: 100%;
        transform: scale(1.5, 1.5);
        -moz-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        border-radius: 0px !important;
    }

    .timeline-body .tour-video {
        height: 170px;
    }

    .timeline-body > p, .timeline-body > ul {
        font-size: 14px;
    }

    .the-people-s2 p {
        font-size: 16px;
    }

    .the-people-s2 h4 {
        font-size: 18px;
        margin: 7px 0px;
    }

    .the-couple-title p span {
        font-size: 18px;
    }

    .rsvp-button a {
        padding: 7px 50px;
    }

    .timeline-year span {
        font-size: 17px;
    }

    .pt-page-9 .the-couple-data {
        padding: 10px 0px 0px 0px;
    }

    .the-couple-img-s2-hover {
        transform: scale(1.5, 1.5);
    }

    .the-couple-title {
        padding: 0px 0px 7px;
    }

    .the-couple-img-hover .social {
        top: 49%;
    }

    .person-image {
        width: 74%;
    }

    .couple-area-s2 .social-s2 {
        top: 46%;
    }

    .the-people-s2 .the-couple-img-hover .social {
        top: 48%;
    }
}

@media screen and (max-width: 568px) {
    .pt-page-1 .main-section {
        overflow-y: scroll;
    }

    .inner-data {
        top: 10%;
    }

    .inner-data .couple-name h1, .h1 {
        font-size: 31px;
    }

    .the-couple {
        width: 100%;
        padding: 20px 30px;
    }

    .the-couple-data h3 {
        font-size: 32px;
    }

    .person-image {
        width: 89%;
    }

    .about-the-couple {
        font-size: 15px !important;
    }

    .timeline-body .tour-video {
        height: 103px;
    }

    .cat-title p span {
        font-size: 16px;
    }

    .the-people {
        padding: 30px;
    }

    .the-people-slider h4 {
        margin: 0;
        font-size: 23px;
    }

    .the-people .the-couple-img {
        margin: 25px 0px 21px;
    }

    .wedding-person h1 {
        font-size: 34px;
    }

    .page-title h2, .h2 {
        font-size: 40px !important;
    }

    .couple-area-s2 .the-couple {
        width: 100%;
        padding: 13px 30px;
    }

    .wedding-person h1 {
        font-size: 35px;
    }

    .wedding-person .couple-name span {
        font-size: 26px;
        margin-bottom: 14px;
    }

    .the-people-s2 {
        width: 49%;
    }

    .the-couple-img-hover .social {
        top: 44%;
    }

    .gridlayout-s2 {
        width: 100%;
        padding: 12px 0px 12px 30px;
        margin: 0px -15px;
    }

    .grid-item-s2 {
        width: 49%;
    }

    .inner-data .couple-name h1, .h1 {
        font-size: 39px;
    }

    .the-couple-data h3, .h3 {
        margin-top: 6px;
    }

    .couple-area-s2 .social-s2 {
        top: 43%;
    }
}

@media screen and (max-width: 480px) {
    .wedding-person h1 {
        font-size: 35px;
    }

    .pt-page-1 .main-section-s2 {
        overflow-y: scroll;
    }

    .inner-data {
        top: 10%;
    }

    .inner-data .couple-name h1, .h1 {
        font-size: 41px;
    }

    .the-couple {
        width: 100%;
        padding: 20px 30px;
    }

    .the-couple-data h3 {
        font-size: 32px;
    }

    .person-image {
        width: 89%;
    }

    .about-the-couple {
        font-size: 15px !important;
    }

    .timeline-body .tour-video {
        height: 103px;
    }

    .cat-title p span {
        font-size: 16px;
    }

    .the-people {
        padding: 30px;
    }

    .the-people-slider h4 {
        margin: 0;
        font-size: 23px;
    }

    .the-people .the-couple-img {
        margin: 25px 0px 21px;
    }

    .wedding-person h1 {
        font-size: 34px;
    }

    .page-title h2, .h2 {
        font-size: 40px !important;
    }

    .couple-area-s2 .the-couple {
        width: 100%;
        padding: 13px 30px;
    }

    .wedding-person h1 {
        font-size: 35px;
    }

    .wedding-person .couple-name span {
        font-size: 26px;
        margin-bottom: 14px;
    }

    .the-people-s2 {
        width: 49%;
    }

    .gridlayout-s2 {
        width: 100%;
        padding: 12px 0px 12px 30px;
        margin: 0px -15px;
    }

    .inner-data .couple-name h1, .h1 {
        font-size: 39px;
    }

    .logo-box img {
        padding: 0px 0px;
    }

    .the-couple-img-hover .social {
        top: 44%;
    }

    .the-people-s2 .the-couple-img-hover .social {
        top: 46%;
    }
}

@media screen and (max-width: 414px) {
    .inner-data {
        top: 25%;
    }

    .tag-line p span {
        letter-spacing: 4px;
    }

    .navbar-fixed-left {
        width: 95px;
    }

    .the-people-slider .person-image {
        width: 100%;
    }

    .the-couple-data h3 {
        font-size: 26px;
    }

    .timeline {
        padding: 10px 20px;
    }

    ul.timeline > li > .timeline-badge {
        left: 4px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: 5px;
    }

    .timeline > li:nth-child(2) {
        margin-top: 26px;
    }

    .timeline > li {
        margin: 26px 0px 0px;
    }

    .cat-title p span {
        font-size: 14px;
    }

    .white-box h4, .h4 {
        font-size: 18px;
    }

    .about-the-people p {
        margin-bottom: 20px;
    }

    .padding-left-right-zero {
        padding: 0 !important;
    }

    .couple-area-s2 {
        padding: 0px 10px;
    }

    .timeline > li > .timeline-panel {
        padding: 20px;
    }

    .couple-responsive-padding {
        padding: 0px !important;
    }

    .the-people-s2 .the-couple-img-hover .social {
        top: 47%;
    }

    .the-couple-title {
        padding: 0px 0px 0px;
    }

    .the-people {
        padding: 29px;
    }

    .gallery-image-hover i {
        position: absolute;
        top: 43%;
        left: 43%;
    }

    .the-people-s2 {
        width: 100%;
        margin-bottom: 10px;
    }

    .the-couple-img-hover a {
        padding-top: 3px;
    }
}

@media screen and (max-width: 375px) {
    .inner-data {
        top: 28%;
    }

    .tag-line p span {
        letter-spacing: 4px;
    }

    .navbar-fixed-left {
        width: 95px;
    }

    .the-people-slider .person-image {
        width: 100%;
    }

    .the-couple-data h3 {
        font-size: 26px;
    }

    .timeline {
        padding: 10px 20px;
    }

    ul.timeline > li > .timeline-badge {
        left: 4px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: 5px;
    }

    .timeline > li:nth-child(2) {
        margin-top: 26px;
    }

    .timeline > li {
        margin: 26px 0px 0px;
    }

    .cat-title p span {
        font-size: 14px;
    }

    .white-box h4, .h4 {
        font-size: 18px;
    }

    .about-the-people p {
        margin-bottom: 20px;
    }

    .padding-left-right-zero {
        padding: 0 !important;
    }

    .couple-area-s2 {
        padding: 0px 10px;
    }

    .timeline > li > .timeline-panel {
        padding: 20px;
    }

    .couple-responsive-padding {
        padding: 0px !important;
    }

    .the-people-s2 .the-couple-img-hover .social {
        top: 47%;
    }

    .the-couple-title {
        padding: 0px 0px 0px;
    }

    .the-people {
        padding: 29px;
    }

    .gallery-image-hover i {
        position: absolute;
        top: 43%;
        left: 43%;
    }

    .the-people-s2 {
        width: 100%;
        margin-bottom: 10px;
    }

    .the-couple-img-hover a {
        padding-top: 3px;
    }
}

@media screen and (max-width: 360px) {
    .inner-data {
        top: 28%;
    }

    .tag-line p span {
        letter-spacing: 4px;
    }

    .navbar-fixed-left {
        width: 95px;
    }

    .person-image {
        width: 100%;
    }

    .the-couple-data h3 {
        font-size: 26px;
    }

    .timeline {
        padding: 10px 20px;
    }

    ul.timeline > li > .timeline-badge {
        left: 4px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: 5px;
    }

    .timeline > li:nth-child(2) {
        margin-top: 26px;
    }

    .timeline > li {
        margin: 26px 0px 0px;
    }

    .cat-title p span {
        font-size: 14px;
    }

    .white-box h4, .h4 {
        font-size: 18px;
    }

    .about-the-people p {
        margin-bottom: 20px;
    }

    .padding-left-right-zero {
        padding: 0 !important;
    }

    .couple-area-s2 {
        padding: 0px 10px;
    }

    .timeline > li > .timeline-panel {
        padding: 20px;
    }

    .couple-responsive-padding {
        padding: 0px !important;
    }

    .the-people-s2 .the-couple-img-hover .social {
        top: 47%;
    }

    .the-couple-title {
        padding: 0px 0px 0px;
    }

    .the-people {
        padding: 29px;
    }

    .gallery-image-hover i {
        position: absolute;
        top: 43%;
        left: 43%;
    }

    .the-people-s2 {
        width: 100%;
        margin-bottom: 10px;
    }

    .the-couple-img-hover a {
        padding-top: 3px;
    }
}

@media screen and (max-width: 320px) {
    .inner-data {
        top: 22%;
    }

    .inner-data .couple-name h1, .h1 {
        font-size: 35px;
    }

    .the-couple {
        padding: 15px;
    }

    .the-couple-data h3 {
        font-size: 30px;
    }

    .timeline {
        padding: 10px 8px;
    }

    ul.timeline > li > .timeline-badge {
        left: 17px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: 16px;
    }

    .cat-title p span {
        font-size: 12px;
    }

    .wedding-person h1 {
        font-size: 31px;
    }

    .the-people-s2 h4 {
        font-size: 17px;
        margin: 7px 0px;
    }

    .the-couple-data h3 {
        font-size: 27px;
    }

    .gallery-image-hover i {
        position: absolute;
        top: 41%;
        left: 42%;
    }
}

h1 {
    font-family: All-CooperHead;
}

.w-title {
    font-size: 3.12vw;
    color: #fff;
}

.w-title-2 {
    font-size: 3.12vw;
    color: #000;
}

.w-title-3 {
    font-size: 3.12vw;
    color: #0f2a52;
}

.w-title-4 {
    font-size: 3.12vw;
    color: #f13b37;
}

.w-title-5 {
    font-size: 3.12vw;
    color: #050708;
    font-weight: bold;
    text-align: left;
    font-family: All-Muli-Regular;
}

.w-title-6 {
    font-size: 3.12vw;
    color: #ffffff;
}

.w-content {
    font-size: 1.56vw;
    color: #000;
    text-align: left;
    font-family: All-Muli-Regular;
    margin-top: 1.56vw;
}

.w-content-1 {
    font-size: 1.951vw;
    color: #000;
    text-align: left;
    font-family: All-Muli-Regular;
    margin-top: 1.169vw;
}

.w-content-2 {
    font-size: 2.34vw;
    color: #ffffff;
    font-family: All-Muli-Regular;
    margin-top: 0.78vw;
}

.group-field {
    margin-bottom: 0.78vw;
    color: #000;
}

.group-field label {
    font-family: All-CooperHead;
    font-size: 1.56vw;
}

.group-field span {
    font-family: All-Muli-Regular;
    font-size: 1.164vw;
}

.group-field .row-value span{
    font-size: 1.56vw;
}

.container img {
    width: 100%;
}

@media (min-width: 1200px) {
    .container {
        width: 1405px;
    }
}
.w-salutation{
    font-size:1.397vw;
    color:#000;
    text-align: center;
}

.guardian{
    position: absolute;
    right: 0.0465vw;
    bottom: 0.0465vw;
}

/*css clock*/
.clock {
    position: absolute;
    top: 0.78vw;
    right: 1.56vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock-container {
    margin-top: 1.397vw;
    margin-bottom: 1.397vw;
    background-color: #ffffff00;
    border-radius: 0.232vw;
    padding: 0.931vw 0.232vw;
    box-shadow: 0.0465vw 0.0465vw 0.232vw rgba(255, 255, 255, .15), 0 0.698vw 4.191vw 1.397vw rgba(0, 0, 0, .25);
    display: flex;
}
.clock-col {
    text-align: center;
    margin-right: 0.232vw;
    margin-left: 0.232vw;
    min-width: 4.191vw;
    position: relative;
}
.clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
    content: "";
    background-color: rgba(255, 255, 255, .3);
    height: 0.232vw;
    width: 0.232vw;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -0.279vw;
}
.clock-col:not(:last-child):before {
    top: 35%;
}
.clock-col:not(:last-child):after {
    top: 50%;
}
.clock-timer {
    color: #fff;
    font-size: 1.56vw;
    margin: 0vw;
}
.clock-label {
    color: rgba(255, 255, 255, 0.68);
    text-transform: uppercase;
    font-size: 0.391vw;
    margin-top: 0.465vw;
}

.guardian1, .guardian2, .guardian3{
    padding-top:3.9vw;
    text-align: center;
    float: right;
}

#content_waiting{
    position: absolute;
    left: 22%;
    top: 40%;
}

#content_error{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
}

.container {
    width: 77%;
}

.row-content{
    margin-top: 3.9vw
}

/*css vertical*/
.w-title-5-vertical {
    font-size: 5.74vw;
    color: #050708;
    font-weight: bold;
    text-align: left;
    font-family: All-Muli-Regular;
}

.w-content-1-vertical {
    font-size: 3.9vw;
    color: #000;
    text-align: left;
    font-family: All-Muli-Regular;
    margin-top: 2.45vw;
}

/*css clock vertical*/
.clock-vertical {
    position: absolute;
    top: 1.635vw;
    right: 3.27vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock-container-vertical {
    margin-top: 2.928vw;
    margin-bottom: 2.928vw;
    background-color: #ffffff00;
    border-radius: 0.486vw;
    padding: 1.952vw 0.486vw;
    box-shadow: 0.1vw 0.1vw 0.486vw rgba(255, 255, 255, .15), 0 1.463vw 8.785vw 2.928vw rgba(0, 0, 0, .25);
    display: flex;
}
.clock-col-vertical {
    text-align: center;
    margin-right: 0.486vw;
    margin-left: 0.486vw;
    min-width: 8.785vw;
    position: relative;
}
.clock-col-vertical:not(:last-child):before, .clock-col-vertical:not(:last-child):after {
    content: "";
    background-color: rgba(255, 255, 255, .3);
    height: 0.486vw;
    width: 0.486vw;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -0.585vw;
}
.clock-col-vertical:not(:last-child):before {
    top: 35%;
}
.clock-col-vertical:not(:last-child):after {
    top: 50%;
}
.clock-timer-vertical {
    color: #fff;
    font-size: 3.27vw;
    margin: 0vw;
}
.clock-label-vertical {
    color: rgba(255, 255, 255, 0.68);
    text-transform: uppercase;
    font-size: 0.82vw;
    margin-top: 0.975vw;
}

.w-title-6-vertical {
    font-size: 5.64vw;
    color: #ffffff;
}
.w-content-2-vertical {
    font-size: 4vw;
    color: #ffffff;
    font-family: All-Muli-Regular;
    margin-top: 1.635vw;
}
.w-content-vertical {
    font-size: 3.27vw;
    color: #000;
    text-align: left;
    font-family: All-Muli-Regular;
    margin-top: 3.27vw;
}

.group-field-vertical {
    margin-bottom: 1.635vw;
    color: #000;
}
.group-field-vertical label {
    font-family: All-CooperHead;
    font-size: 3.27vw;
}
.group-field-vertical span {
    font-family: All-Muli-Regular;
    font-size: 2.44vw;
}
.group-field-vertical .row-value span{
    font-size: 3.27vw;
}
.guardian-vertical{
    position: absolute;
    right: 0.097vw;
    bottom: 0.097vw;
}
.sub-guardian-vertical{
    padding-top:8.175vw;
    text-align: center;
    float: right;
}
.w-salutation-vertical{
    font-size:2.928vw;
    color:#000;
    text-align: center;
}
.row-content-vertical{
    margin-top: 8.17vw
}

.card_number {
/*    position: absolute; */
    top: 0.78vw;
    left: 1.56vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
