<footer>
    <div class="table-row">
        <div class="table-cell">
            <a href="#Home" title="DotBCRM" class="logo"><img data-metadata="logo" src="" alt="DotBCRM"></a>
        </div>
        <div class="table-cell">
            <div class="btn-toolbar pull-right"></div>
        </div>
    </div>
</footer>