<!-- BEGIN: main -->
{MODULE_TITLE}
{ERROR}

<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<form action="index.php" method="post" name="DetailView" id="form">
				{dotb_csrf_form_token}
				<input type="hidden" name="module" value="InboundEmail">
				<input type="hidden" name="record" value="{ID}">
				<input type="hidden" name="isDuplicate" value=false>
				<input type="hidden" name="action">
				<input type="hidden" name="return_module">
				<input type="hidden" name="return_action">
				<input type="hidden" name="return_id">

				<input title="{APP.LBL_EDIT_BUTTON_TITLE}" accessKey="{APP.LBL_EDIT_BUTTON_KEY}" class="button"
					   onclick="this.form.return_module.value='InboundEmail'; this.form.return_action.value='EditView'; this.form.return_id.value='{ID}'; this.form.action.value='EditView'"
					   type="submit" id="emailEdit" name="Edit" value="  {APP.LBL_EDIT_BUTTON_LABEL}  ">

				<input title="{APP.LBL_DUPLICATE_BUTTON_TITLE}" accessKey="{APP.LBL_DUPLICATE_BUTTON_KEY}"
					   class="button"
					   onclick="this.form.return_module.value='InboundEmail'; this.form.return_action.value='index'; this.form.isDuplicate.value=true; this.form.action.value='EditView'"
					   type="submit" id="emailDuplicate" name="Duplicate" value=" {APP.LBL_DUPLICATE_BUTTON_LABEL} ">

				<input title="{APP.LBL_DELETE_BUTTON_TITLE}" accessKey="{APP.LBL_DELETE_BUTTON_KEY}" class="button"
					   onclick="this.form.return_module.value='InboundEmail'; this.form.return_action.value='ListView'; this.form.action.value='Delete'; return confirm('{APP.NTC_DELETE_CONFIRMATION}')"
					   type="submit" name="Delete" id="Delete" value=" {APP.LBL_DELETE_BUTTON_LABEL} ">
			</form>
		</td>
	</tr>
</table>
<div class="detail view">
	<table width="100%" border=0 cellspacing="{GRIDLINE}" cellpadding="0">
		<tr>
			<th align="left" colspan="4"><h4>{MOD.LBL_BASIC}</h4></th>
		</tr>
		<tr>
			<td valign="top" width='20%' scope='row'>
				<slot>{MOD.LBL_NAME}:</slot>
			</td>
			<td valign="top" width='30%'>
				<slot>{NAME}&nbsp;</slot>
			</td>
			<td valign="top" scope='row'>
				<slot>{MOD.LBL_STATUS}:</slot>
			</td>
			<td valign="top">
				<slot>{STATUS}&nbsp;</slot>
			</td>
		</tr>
		<tr>
			<td valign="top" scope='row'>
				<slot>{MOD.LBL_SERVER_URL}:</slot>
			</td>
			<td valign="top">
				<slot>{SERVER_URL}&nbsp;</slot>
			</td>
			<td valign="top" scope='row'>
				<slot>{MOD.LBL_LOGIN}:</slot>
			</td>
			<td valign="top">
				<slot>{USER}&nbsp;</slot>
			</td>
		</tr>
	</table>

	<br>
	<table width="100%" border=0 cellspacing="{GRIDLINE}" cellpadding="0">
		<tr>
			<th align="left" colspan="4"><h4>{MOD.LBL_SERVER_OPTIONS}</h4></th>
		</tr>
		<tr>
			<td valign="top" width='20%' scope='row'>
				<slot>{MOD.LBL_FROM_NAME}:&nbsp;</slot>
			</td>
			<td valign="top" width='30%'>
				<slot>{FROM_NAME}&nbsp;</slot>&nbsp;
			</td>
			<td valign="top" width='20%' scope='row'>
				<slot>{MOD.LBL_REPLY_TO_NAME}:&nbsp;</slot>&nbsp;
			</td>
			<td valign="top" width='30%'>
				<slot>{REPLY_TO_NAME}</slot>&nbsp;
			</td>
		</tr>
		<tr>
			<td valign="top" width='20%' scope='row'>
				<slot>{MOD.LBL_FROM_ADDR}:&nbsp;</slot>&nbsp;
			</td>
			<td valign="top" width='30%'>
				<slot>{FROM_ADDR}&nbsp;</slot>&nbsp;
			</td>
			<td valign="top" width='20%' scope='row'>
				<slot>{MOD.LBL_REPLY_TO_ADDR}:&nbsp;</slot>&nbsp;
			</td>
			<td valign="top" width='30%'>
				<slot>{REPLY_TO_ADDR}</slot>&nbsp;
			</td>
		</tr>
		<tr>
			<td valign="top" scope='row'>
				<slot>{MOD.LBL_ASSIGN_TEAM}:</slot>
			</td>
			<td valign="top">
				<slot>{TEAM_NAME}</slot>
			</td>
			<td valign="top" scope='row'>
				<slot></slot>
			</td>
			<td valign="top">
				<slot></slot>
			</td>
		</tr>
	</table>
</div>

<!-- END: main -->
