<div id="testSettingsDiv"></div>
<div id="selectFoldersDiv"></div>
<!-- BEGIN: main -->
{MODULE_TITLE}
{ERROR_STRING}

<form action="index.php" method="post" name="EditView" id="EditView">
	{dotb_csrf_form_token}
	<input type="hidden" name="module" value="{MODULE}">
	<input type="hidden" name="record" value="{ID}">
	<input type="hidden" name="origin_id" value="{ORIGIN_ID}">
	<input type="hidden" name="isDuplicate" value=false>
	<input type="hidden" name="action">
	<input type="hidden" name="group_id" value="{GROUP_ID}">
	<input type="hidden" name="return_module">
	<input type="hidden" name="return_action">
	<input type="hidden" name="return_id">
	<input type="hidden" name="personal" value="{PERSONAL}">
	<input type="hidden" name="searchField" value="">
	<input type="hidden" id="mailbox_type" name="mailbox_type" value="{MAILBOX_TYPE}">

	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td>
				<input title="{APP.LBL_SAVE_BUTTON_TITLE}" accessKey="{APP.LBL_SAVE_BUTTON_KEY}" class="button"
					   onclick="this.form.action.value='Save'; {CHOOSER_SCRIPT} this.form.return_id.value='{RETURN_ID}'; return checkformdata()"
					   type="submit" name="button" id="button" value="  {APP.LBL_SAVE_BUTTON_LABEL}  " {IE_DISABLED}>
				<input title="{APP.LBL_CANCEL_BUTTON_TITLE}" accessKey="{APP.LBL_CANCEL_BUTTON_KEY}" class="button"
					   id="emailCancel"
					   onclick="this.form.action.value='{RETURN_ACTION}'; this.form.module.value='{RETURN_MODULE}'; this.form.record.value='{RETURN_ID}'; if(this.form.record.value == '' && this.form.origin_id.value != '') this.form.record.value=this.form.origin_id.value;"
					   type="submit" name="button" value="  {APP.LBL_CANCEL_BUTTON_LABEL}  ">
				<input title="{MOD.LBL_TEST_BUTTON_TITLE}"
					   type='button'
					   class="button"
					   id="emailTestSettings"
					   onClick='ie_test_open_popup_with_submit("InboundEmail", "Popup", "Popup", 400, 300, trim(this.form.server_url.value), this.form.protocol.value, trim(this.form.port.value), trim(this.form.email_user.value), Rot13.write(this.form.email_password.value), trim(this.form.mailbox.value), this.form.ssl.checked, this.form.personal.value, "EditView", this.form.origin_id.value?this.form.origin_id.value:this.form.record.value);'
					   name="button" value="  {MOD.LBL_TEST_SETTINGS}  " {IE_DISABLED}>
			</td>
			<td align="right" width="20%" NOWRAP><span class="required">{APP.LBL_REQUIRED_SYMBOL}</span>
				{APP.NTC_REQUIRED}
			</td>
			<td align='right'>{ADMIN_EDIT}</td>
		</tr>
	</table>

	<div class="edit view">
		<table width="100%" border=0 cellspacing="{GRIDLINE}" cellpadding="0">
			<tr>
				<th align="left" scope="row" colspan="1"><h4>{MOD.LBL_BASIC}</h4></th>
			</tr>
			<tr>
				<td valign="top" scope="row" width="15%" NOWRAP>
					<slot>{MOD.LBL_NAME}: <span class="required">{APP.LBL_REQUIRED_SYMBOL}</span>&nbsp;</slot>
				</td>
				<td valign="top" width="35%">
					<slot><input name='name' id='name' tabindex='10' size='30' maxlength='255' type="text"
								 value="{NAME}" {IE_DISABLED}></slot>
				</td>
				<td valign="top" scope="row">
					<slot>{MOD.LBL_STATUS}:&nbsp;</slot>
				</td>
				<td valign="top" width="35%">
					<slot>
						<select name='status' tabindex='60' {IE_DISABLED}>{STATUS}</select></slot>
				</td>
			</tr>
			<tr>
				<td valign="top" scope="row">
					<slot>{MOD.LBL_SERVER_URL}: <span class="required">{APP.LBL_REQUIRED_SYMBOL}</span>&nbsp;</slot>
				</td>
				<td valign="top" width="35%">
					<slot><input id='server_url' name='server_url' tabindex='20' size='30' maxlength='100' type="text"
								 value="{SERVER_URL}" {IE_DISABLED}></slot>
				</td>
				<td valign="top" scope="row">
					<slot>{MOD.LBL_LOGIN}:
						<span class="required">{APP.LBL_REQUIRED_SYMBOL}</span>&nbsp;
					</slot>
				</td>
				<td valign="top" width="35%">
					<slot><input name='email_user' id='email_user' tabindex='70' size='30' maxlength='100' type="text"
								 value="{USER}" autocomplete="off" {IE_DISABLED}></slot>
				</td>
			</tr>
			<tr>
				<td valign="top" scope="row">
					<slot>&nbsp;</slot>
				</td>
				<td valign="top" width="35%">
					<slot>
						&nbsp;
					</slot>
				</td>
				<td valign="top" scope="row">
					<slot>{MOD.LBL_PASSWORD}:
						<span class="required">{EMAIL_PASS_REQ_SYMB}&nbsp;</slot>
				</td>
				<td valign="top" width="35%">
					<slot>
						<input name='email_password' id="email_password" tabindex='80' size='30' maxlength='100'
							   type="password" autocomplete="off" {IE_DISABLED}>
						<a href="javascript:void(0)" id='email_password_link'
						   onClick="DOTB.util.setEmailPasswordEdit('email_password')" style="display: none">{APP.LBL_CHANGE_PASSWORD}</a>
					</slot>
				</td>
			</tr>
		</table>
	</div>
	<div class="edit view">
		<table width="100%" border="0" cellspacing="{GRIDLINE}" cellpadding="0">
			<tr>
				<th align="left" scope="row" colspan="4"><h4>{EMAIL_OPTIONS}</h4></th>
			</tr>
			<tr>
				<td valign="top" scope="row" width="15%" NOWRAP>
					<slot>{MOD.LBL_FROM_NAME}:<span class="required">{APP.LBL_REQUIRED_SYMBOL}</span>&nbsp;</slot>
				</td>
				<td valign="top" width="35%">
					<slot><input tabindex="300" name="from_name" id="from_name" value="{FROM_NAME}" {IE_DISABLED}>&nbsp;
					</slot>
				</td>
				<td valign="top" scope="row" width="15%" NOWRAP>
					{MOD.LBL_REPLY_TO_NAME}:&nbsp;
				</td>
				<td valign="top" width="35%">
					<input tabindex="320" name="reply_to_name" value="{REPLY_TO_NAME}" {IE_DISABLED}>
				</td>
			</tr>
			<tr>
				<td valign="top" scope="row" width="15%" NOWRAP>
					<slot>{MOD.LBL_FROM_ADDR}:<span class="required">{APP.LBL_REQUIRED_SYMBOL}</span>{TIPS.LBL_FROM_ADDR_DESC}
					</slot>
				</td>
				<td valign="top" width="35%">
					<slot><input tabindex="310" name="from_addr" id="from_addr" value="{FROM_ADDR}" {IE_DISABLED}>
					</slot>
				</td>
				<td valign="top" scope="row" width="15%" NOWRAP>
					{MOD.LBL_REPLY_TO_ADDR}:&nbsp;
				</td>
				<td valign="top" width="35%">
					<input tabindex="340" name="reply_to_addr" value="{REPLY_TO_ADDR}" {IE_DISABLED}>&nbsp;
				</td>
			</tr>
			<tr>
				<td valign="top" scope="row" width="15%" NOWRAP>
					<slot>
						{MOD.LBL_ASSIGN_TEAM}:<span span name="teamSpanRequired" id="teamSpanRequired" class="required">{APP.LBL_REQUIRED_SYMBOL}</span>{TIPS.LBL_ASSIGN_TO_TEAM_DESC}
						&nbsp;
					</slot>
				</td>

				<td valign="top" width="35%">
					<slot>
						{TEAM_SET_FIELD}
						&nbsp;
					</slot>
				</td>
			</tr>
		</table>
	</div>


</form>

<script type="text/javascript" lang="Javascript" src="modules/InboundEmail/InboundEmail.js?v={VERSION_MARK}"></script>
<script type="text/javascript">

	var fieldToSetValue = '';

	function checkformdata() {
		return (check_form('EditView') && checkOtherFields() && checkTrashFolder());
	}

	function prefillGmailDefaults() {

		document.getElementById('server_url').value = "imap.gmail.com";
		document.getElementById('ssl').checked = true;
		document.getElementById('protocol').value = "imap";

		toggle_monitored_folder(document.getElementById('protocol'));
		setPortDefault();
	}

	function checkOtherFields() {
		var from_name = document.getElementById('from_name').value;
		var from_addr = document.getElementById('from_addr').value;
		if (trim(from_name) == '' || trim(from_addr) == '') {
			requiredTxt = DOTB.language.get('app_strings', 'ERR_MISSING_REQUIRED_FIELDS');
			invalidTxt = DOTB.language.get('app_strings', 'ERR_INVALID_VALUE');
			if (trim(from_name) == '') {
				add_error_style('EditView', 'from_name', requiredTxt + " From Name");
			} // if
			if (trim(from_addr) == '') {
				add_error_style('EditView', 'from_addr', requiredTxt + " From Address");
			} // if
			return false;
		} else {
			return true;
		} // else
	} // fn


	function checkTrashFolder() {
		if (document.getElementById('protocol').value == 'imap' && document.getElementById('mailbox_type').value != 'bounce') {
			var trashFolderValue = document.getElementById("trashFolder").value;
			if (trim(trashFolderValue).length <= 0) {
				requiredTxt = DOTB.language.get('app_strings', 'ERR_MISSING_REQUIRED_FIELDS');
				invalidTxt = DOTB.language.get('app_strings', 'ERR_INVALID_VALUE');
				add_error_style('EditView', 'trashFolder', requiredTxt + " Trash Folder");
				return false;
			} else {
				return true;
			}
		} else {
			return true;
		} // else
	} // fn

	function showCreateCaseRow() {
		var createCaseRow = document.getElementById('createCaseRow');
		var createCaseRow1 = document.getElementById('createCaseRow1');
		var isCreateCase = document.getElementById('is_create_case').checked;
		var autoImportEl = document.getElementById('is_auto_import');

		if (isCreateCase) {
			createCaseRow.style.display = '';
			createCaseRow1.style.display = '';
			autoImportEl.checked = true;
		} else {
			createCaseRow.style.display = 'none';
			createCaseRow1.style.display = 'none';
			possibleActionChange();
		} // else
	} // fn

	function possibleActionChange() {
		var mailBoxType = document.getElementById('mailbox_type');
		var trashRequiredSpan = document.getElementById('trashRequiredSpan');
		var teamSpanRequired = document.getElementById('teamSpanRequired');

		if (mailBoxType.value == 'bounce') {

			trashRequiredSpan.style.display = 'none';
			trashRequiredSpan.style.display = 'none';
			teamSpanRequired.style.display = 'none';
			teamSpanRequired.style.display = 'none';
		} else {
			trashRequiredSpan.style.display = '';
			trashRequiredSpan.style.display = '';
			teamSpanRequired.style.display = '';
			teamSpanRequired.style.display = '';
		} // else
	}

	function show_edit_template_link(field, editTemplate) {
		var field1 = document.getElementById(editTemplate);
		if (field.selectedIndex == 0) {
			field1.style.visibility = "hidden";
		} else {
			field1.style.visibility = "visible";
		}
	}

	function refresh_email_template_list(template_id, template_name) {
		var field = document.getElementById(fieldToSetValue);
		var bfound = 0;
		for (var i = 0; i < field.options.length; i++) {
			if (field.options[i].value == template_id) {
				if (field.options[i].selected == false) {
					field.options[i].selected = true;
				}
				field.options[i].text = template_name;
				bfound = 1;
			}
		}
		//add item to selection list.
		if (bfound == 0) {
			var newElement = document.createElement('option');
			newElement.text = template_name;
			newElement.value = template_id;
			field.options.add(newElement);
			newElement.selected = true;
		}

		//enable the edit button.
		var editButtonName = 'edit_template';
		if (fieldToSetValue == 'create_case_template_id') {
			editButtonName = 'create_case_edit_template';
		} // if
		var field1 = document.getElementById(editButtonName);
		field1.style.visibility = "visible";

		var applyListToTemplateField = 'template_id';
		if (fieldToSetValue == 'template_id') {
			applyListToTemplateField = 'create_case_template_id';
		} // if
		var field = document.getElementById(applyListToTemplateField);
		if (bfound == 1) {
			for (var i = 0; i < field.options.length; i++) {
				if (field.options[i].value == template_id) {
					field.options[i].text = template_name;
				} // if
			} // for

		} else {
			var newElement = document.createElement('option');
			newElement.text = template_name;
			newElement.value = template_id;
			field.options.add(newElement);
		} // else
	}


	function open_email_template_form(fieldToSet) {
		fieldToSetValue = fieldToSet;
		URL = "index.php?module=EmailTemplates&action=EditView&inboundEmail=true&show_js=1";
		windowName = 'email_template';
		windowFeatures = 'width=800' + ',height=600' + ',resizable=1,scrollbars=1';

		win = window.open(URL, windowName, windowFeatures);
		if (window.focus) {
			// put the focus on the popup if the browser supports the focus() method
			win.focus();
		}
	}

	function edit_email_template_form(templateField) {
		fieldToSetValue = templateField;
		var field = document.getElementById(templateField);
		URL = "index.php?module=EmailTemplates&action=EditView&inboundEmail=true&show_js=1";
		if (field.options[field.selectedIndex].value != 'undefined') {
			URL += "&record=" + field.options[field.selectedIndex].value;
		}
		windowName = 'email_template';
		windowFeatures = 'width=800' + ',height=600' + ',resizable=1,scrollbars=1';

		win = window.open(URL, windowName, windowFeatures);
		if (window.focus) {
			// put the focus on the popup if the browser supports the focus() method
			win.focus();
		}
	}

	function open_group_folder_form() {
		URL = "index.php?module=InboundEmail&action=EditGroupFolder&target=Popup&to_pdf=1";
		windowName = 'group_folder_popup_window';
		windowFeatures = 'width=400' + ',height=300' + ',resizable=1,scrollbars=1';

		win = window.open(URL, windowName, windowFeatures);
		if (window.focus) {
			// put the focus on the popup if the browser supports the focus() method
			win.focus();
		}

	}

	function edit_group_folder_form() {
		URL = "index.php?module=InboundEmail&action=EditGroupFolder&target=Popup&to_pdf=1";
		var field = document.getElementById('group_folder_id');
		if (field.options[field.selectedIndex].value != 'undefined') {
			URL += "&record=" + field.options[field.selectedIndex].value;
		}
		windowName = 'edit_group_folder_popup_window';
		windowFeatures = 'width=400' + ',height=300' + ',resizable=1,scrollbars=1';

		win = window.open(URL, windowName, windowFeatures);
		if (window.focus) {
			// put the focus on the popup if the browser supports the focus() method
			win.focus();
		}

	}

	function refresh_group_folder_list(groupFolder_id, groupFolder_name) {
		var field = document.getElementById('group_folder_id');
		var bfound = 0;
		for (var i = 0; i < field.options.length; i++) {
			if (field.options[i].value == groupFolder_id) {
				if (field.options[i].selected == false) {
					field.options[i].selected = true;
				}
				field.options[i].text = groupFolder_name;
				bfound = 1;
			}
		}
		//add item to selection list.
		if (bfound == 0) {
			var newElement = document.createElement('option');
			newElement.text = groupFolder_name;
			newElement.value = groupFolder_id;
			field.options.add(newElement);
			newElement.selected = true;
		}
		//enable the edit button.
		var field1 = document.getElementById('edit_group');
		field1.style.visibility = "visible";
		showCreateCaseRow();
		showHideLeaveMessagesOnMailServer();
	}

	function show_edit_group_folder_link(field) {

		var field1 = document.getElementById('edit_group');
		if (field.selectedIndex == 0) {
		} else {
			field1.style.visibility = "visible";
		}
		showCreateCaseRow();
		showHideLeaveMessagesOnMailServer();
	}

	function showHideLeaveMessagesOnMailServer() {
		var field = document.getElementById('group_folder_id');
		var leaveMessagesOnMailServerRow = document.getElementById('leaveMessagesOnMailServerRow');
		if (field.selectedIndex == 0) {
			leaveMessagesOnMailServerRow.style.display = "none";
		} else {
			leaveMessagesOnMailServerRow.style.display = '';
		}

	} // fn

	function showWarningsIfChaningAutoImport() {

		var isAutoImportOn = document.getElementById('is_auto_import').checked;
		var isCreateCase = document.getElementById('is_create_case').checked
		var record = document.forms['EditView'].record.value;
		//Alert if changing for an existing record only.
		if (record != '')
			alert(warningForAutoChange);
		//If the user has create case enabled then auto import must be on.
		if (!isAutoImportOn && isCreateCase) {
			document.getElementById('is_auto_import').checked = true;
			alert(warningForAutoChangeWithCreateCase);
		}
	}

	toggle_monitored_folder(document.getElementById('protocol'));
	setPortDefault();
	possibleActionChange();

	var warningForAutoChange = '{MOD.LBL_WARNING_CHANGING_AUTO_IMPORT}';
	var warningForAutoChangeWithCreateCase = '{MOD.LBL_WARNING_CHANGING_AUTO_IMPORT_WITH_CREATE_CASE}';
	if (window.addEventListener) {
		window.addEventListener("load", function () {
			DOTB.util.setEmailPasswordDisplay('email_password', {HAS_PASSWORD}, 'EditView');
		}, false);
	} else {
		window.attachEvent("onload", function () {
			DOTB.util.setEmailPasswordDisplay('email_password', {HAS_PASSWORD}, 'EditView');
		});
	}
</script>
{JAVASCRIPT}
<!-- END: main -->
