{{#if this.model.id}}
    {{#eq value "0"}}
        <span style="margin-right: 30px;" class="label label-pending" data-action="mark_visited">{{str "LBL_MARK_VISITED" this.module}}</span>
        <span class="label label-pending" data-action="convert">{{str "LBL_UNCONVERTED" this.module}}</span>
    {{/eq}}
    {{#eq value "1"}}
        <!--Tuan Anh Change class color-->
        <span class="label" style="color: #fff; background-color: #A8141B; border: 1px solid #A8141B;">{{str "LBL_CONVERTED" this.module}}</span>
    {{/eq}}
{{/if}}
