
<div class="welcome">
    <div class="thumbnail signup">
        <div class="tcenter">
            <h2 class="brand"><img src="{{logoUrl}}"></h2>
        </div>
        <br/>
        <form name='{{name}}' class="tcenter" autocomplete="off">
            <div class="control-group">
                <p class="msg-block">{{str 'LBL_RESET_PASSWORD_MESSAGE'}}</p>
            </div>
            {{#each meta.panels}}
                {{#each fields}}
                    <div class="control-group">{{field ../../this model=../../model template="edit"}}</div>
                {{/each}}
            {{/each}}
            <div class="control-group">
            {{#each meta.buttons}}
                {{field ../this model=../model template="edit"}}
            {{/each}}
            </div>
            <br>
            <br>
            <div class="control-group">
                {{#if contactInfo}}
                <a href="#contact-info" class="btn btn-link btn-invisible">{{str 'LBL_PORTAL_FORGOT_USERNAME'}}</a>
                <br>
                {{/if}}
                <a href="#" class="btn btn-link btn-invisible">{{str 'LBL_LOGIN_BUTTON_LABEL'}}</a>
                <br>
                <a href="#signup" class="btn btn-link btn-invisible">{{str 'LBL_SIGNUP_BUTTON_LABEL'}}</a>
            </div>
        </form>
    </div>
</div>
