<link type="text/css" rel="stylesheet" href="custom/include/javascript/file_upload/fileUpload.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<button id="download_all">{{str "LBL_DOWLOAD_AS_ZIP"}}</button>
<span  id="zip-downloading" style="display: none">{{str "LBL_DOWNLOADING"}}</span>
<div class="file-container detail-container">
    <div class="upload-file-list">
        <div id="loading-note">{{str "LBL_LOADING_NOTES"}}</div>
        <table id="table-file" class="detail-view">
            <tbody>
            </tbody>
        </table>
    </div>
</div>
