<link type="text/css" rel="stylesheet" href="custom/include/javascript/file_upload/fileUpload.css"/>

<div id="fileUpload" class="file-container">
    <div class="file-upload">
        <div class="uploadTitle">
            <svg width="58" height="44" viewBox="0 0 81 79" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 100px;height: 80px;">
                <path d="M40.5003 32.9169V62.5419M40.5003 32.9169L50.6253 42.7919M40.5003 32.9169L30.3753 42.7919M59.0628 49.3752C64.1895 49.3752 67.5003 45.3232 67.5003 40.3231C67.5002 38.3436 66.8347 36.4187 65.6058 34.8432C64.3769 33.2677 62.6524 32.1286 60.6963 31.6002C60.3954 27.9085 58.8266 24.4236 56.2436 21.7091C53.6607 18.9945 50.2145 17.2089 46.4623 16.641C42.71 16.0731 38.8711 16.756 35.566 18.5793C32.261 20.4027 29.6831 23.2599 28.2491 26.6891C25.2299 25.8728 22.0019 26.2597 19.2752 27.7647C16.5485 29.2697 14.5465 31.7695 13.7096 34.7141C12.8727 37.6588 13.2694 40.8071 14.8125 43.4664C16.3556 46.1258 18.9186 48.0784 21.9378 48.8946" stroke="#777777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span class="dragFileTitle">{{str "LBL_DRAG_FILE"}}</span>
            <span style="display: flex; margin-top: 7px;">
                <svg width="35" height="1" viewBox="0 0 35 1" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 33px; opacity:0.5"><line x1="4.37114e-08" y1="0.5" x2="35" y2="0.500003" stroke="#55585B"></line></svg>
                <span class="browseFileTitle"> {{str "LBL_SELECT_FILE"}} </span>
                <svg width="35" height="1" viewBox="0 0 35 1" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 33px; opacity:0.5"><line x1="4.37114e-08" y1="0.5" x2="35" y2="0.500003" stroke="#55585B"></line></svg>
            </span>
            <a class='browseButton'>{{str "LBL_CHOOSE_FILE"}}</a>
        </div>
        <input type="file" id="file-s3-input" name=[] multiple hidden style="display:none"/>
    </div>
    <div id="upload-file-list">
        <span id="no-file">{{str "LBL_NO_FILE_SELECTED"}}</span>
        <table id="table-file">
            <tbody>
            </tbody>
        </table>
    </div>
</div>