<tr>
    <td>
        <div class="file-element" id="file-upload-{{countFile}}">
            <div class="file-info">
                <div class="file-preview">{{{preview}}}</div>
                <div class="file-content">
                    <span class="file-name ellipsis_inline" data-original-title="{{fileName}}"> {{fileName}}</span>
                    <div class="file-size-contain">
<!--                        <span class="file-size">{{fileSize}} MB</span>-->
                        <span class="time-left" id="time-left-{{countFile}}"></span>
                        {{#if showDownload}}
                            <span class="file-download" id="file-dowload-{{countFile}}" data-download="{{fileName}}" data-href="{{{fileSrc}}}">{{str "LBL_DOWNLOAD"}}<i class="fa fa-download" aria-hidden="true"></i></span>
                            <span class="file-downloading" id="file-dowloading-{{countFile}}" style="display: none">{{str "LBL_DOWNLOADING"}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="exit-and-percent">
                    <i class="fa fa-times delete-file" aria-hidden="true"></i>
                    <span class="upload-percent" id="upload-percent-{{countFile}}"></span>
                </div>
            </div>
            <div class="progress-container" id="progress-container-{{countFile}}">
                    <progress id="progressBar-{{countFile}}" value="100" max="100" width="100%"></progress>
            </div>
        </div>
    </td>
</tr>