/* Timetable */
.tiva-timetable {
	background: #f1f1f1;
	border-radius: 7px;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #3c4043;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 20px 0;
	width: 100%;
	float: left;
}


/* Loading */
.tiva-timetable .loading {
	text-align: center;
	padding: 100px 0;
}

/* Time Navigation */
.time-navigation {
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-top: 20px;
}
.time-navigation .navi-time {
	display: inline-block;
	font-weight: 700;
	font-size: 25px;
}
.time-navigation .navi-prev {
	margin-right: 20px;
}
.time-navigation .navi-next {
	margin-left: 20px;
}
.time-navigation .navi-icon {
	font-family: 'Zapf Dingbats';
	font-size: 18px;
	cursor: pointer !important;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* Timetable Week */
.tiva-timetable .timetable-week {
	width: 100%;
	float: left;
}
.tiva-timetable .timetable-week .timetable-axis {
	width: 70px;
	padding-right:14px;
	float: left;
	padding-top: 36px;
}
.tiva-timetable .timetable-week.show-time .timetable-axis {
	padding-top: 70px; /* Show time on header */
	text-align: right;
}
.tiva-timetable .timetable-week .timetable-axis .axis-item {
	/*height: 55px;*/
	height: 100px;
	font-size: 10px;
	line-height: 12px;
}
.tiva-timetable .timetable-week .timetable-columns {
	margin-left: 60px;
}
.tiva-timetable .timetable-week .timetable-columns .timetable-column {
	float: left;
	width: 14%;
	position: relative;
}
.tiva-timetable .timetable-week .timetable-column .timetable-column-header {
	height: 26px;
	padding: 5px 0 10px 0;
	margin-top: 10px;
	background-color: #865ca3;
	color: #e0e0e0;
	font-weight: 400;
	text-align: center;
	border-radius: 4px;
	border-right: 1px solid #d1d1d1;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	vertical-align: middle;
}
.tiva-timetable .timetable-week.show-time .timetable-column .timetable-column-header {
	height: 45px; /* Show time on header */
	font-size: 13px;
	letter-spacing: 1.8px;
}
.tiva-timetable .timetable-week .timetable-column .timetable-column-header span {
	font-size: 16px;
	font-weight: 700;
}
.tiva-timetable .timetable-week .timetable-column .timetable-column-header.last-column {
	border-right: none;
}
.tiva-timetable .timetable-week .timetable-column .timetable-column-content {
	position: absolute;
	top: 46px;
	width: 100%;
}
.tiva-timetable .timetable-week.show-time .timetable-column .timetable-column-content {
	top: 70px; /* Show time on header */
}
.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
	color: #fff;
	display: block;
	/*position: absolute;*/
	top: 0;
	width: 100%;
	/*height: 54px;*/
	text-decoration: none;
	text-align: center;
	outline: none;
	/*padding: 0;*/
	/*-webkit-box-shadow: 0 0 22px 0 rgba(0,0,0,0.1);*/
	/*box-shadow: 0 0 22px 0 rgba(0,0,0,0.1);*/
	/*border-right: 1px solid #d1d1d1;*/
	/*border-radius: 4px;*/
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 100%;
	max-width: 90%;
	overflow: hidden;
}
.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-name {
    padding-right: 5px;
	font-size: 13px;
	white-space: nowrap;
	font-weight: 500;
}
.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-time {
	font-size: 10px;
	white-space: nowrap;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-assign-user-to {
	font-size: 13px;
	white-space: nowrap;
}
.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item {
	border-right: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	/*height: 54px;*/
	height: 99px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item.first-column {
	border-left: 1px solid #e8e8e8;
}

/* Timetable List */
.tiva-timetable .timetable-list {
	width: 100%;
	float: left;
}
.tiva-timetable .timetable-list .timetable-header {
	height: 34px;
	line-height: 32px;
	background-color: #193059;
	font-weight: 700;
	color: #fff;
	text-align: left;
	padding: 0 15px;
	text-transform: uppercase;
}
.tiva-timetable .timetable-list .timetable-header span {
	float: right;
	font-size: 15px;
}
.tiva-timetable .timetable-list .timetable-day:last-child {
	border-bottom: 1px solid #d1d1d1;
}
.tiva-timetable .timetable-list .timetable-content {
	padding: 15px;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
}
.tiva-timetable .timetable-list .timetable-item {
	text-align: left;
	margin-bottom: 8px;
	position: relative;
	padding-left: 15px;
}
.tiva-timetable .timetable-list .timetable-item .timetable-color {
	position: absolute;
	top: 7px;
	left: 0;
	width: 7px;
	height: 7px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.tiva-timetable .timetable-list .timetable-item .timetable-title {
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
	outline: none;
}
.tiva-timetable .timetable-list .timetable-item .timetable-time {
	/*font-weight: bold;*/
	color: #3c4043;
}
.tiva-timetable .timetable-list .timetable-item .timetable-name {
	font-weight: bold;
	color: #3c4043;
}


/* Timetable Month */
.tiva-timetable table.timetable-month {
	width: 100%;
	box-sizing: border-box;
	border-collapse: collapse;
	border-spacing: 0;
	color: #fff;
	table-layout: fixed;
}
.tiva-timetable table.timetable-month,
.tiva-timetable table.timetable-month th,
.tiva-timetable table.timetable-month td {
	border: 1px solid #d1d1d1;
}
.tiva-timetable table.timetable-month th.timetable-header {
	height: 26px;
	padding: 10px 0;
	background-color: #193059;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.tiva-timetable table.timetable-month td.calendar-day {
	color: #37474f;
	font-size: 14px;
	text-align: right;
	vertical-align: top;
	padding: 5px 10px;
	height: 60px;
	line-height: 20px;
}
.tiva-timetable table.timetable-month td.calendar-day.today {
	padding: 5px 6px 5px 10px;
}
.tiva-timetable .timetable-month .calendar-daycounter {
	margin-bottom: 10px;
	font-size: 17px;
}
.tiva-timetable .timetable-month .today .calendar-daycounter {
	background: #546e7a;
	padding: 0 5px;
	color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: inline-block;
}
.tiva-timetable .timetable-month .timetable-item {
	text-align: left;
	margin-bottom: 5px;
	position: relative;
	padding-left: 13px;
}
.tiva-timetable .timetable-month .timetable-item .timetable-color {
	margin-left: 5px;
	position: absolute;
	top: 7px;
	left: 0;
	width: 7px;
	height: 7px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.abc {
	background-color: #0B578F!important;
}

.tiva-timetable .timetable-month .timetable-item .timetable-color.color-1,
.tiva-timetable .timetable-week .timetable-column .timetable-title.color-1,
.tiva-timetable .timetable-list .timetable-item .timetable-color.color-1,
.timetable-popup .popup-header.color-1  {
	background: #5fb3b3;
}
.tiva-timetable .timetable-month .timetable-item .timetable-color.color-2 ,
.tiva-timetable .timetable-week .timetable-column .timetable-title.color-2,
.tiva-timetable .timetable-list .timetable-item .timetable-color.color-2,
.timetable-popup .popup-header.color-2 {
	background: #9d6270;
}
.tiva-timetable .timetable-month .timetable-item .timetable-color.color-3,
.tiva-timetable .timetable-week .timetable-column .timetable-title.color-3,
.tiva-timetable .timetable-list .timetable-item .timetable-color.color-3,
.timetable-popup .popup-header.color-3 {
	background: #b6b149;
}
.tiva-timetable .timetable-month .timetable-item .timetable-color.color-4,
.tiva-timetable .timetable-week .timetable-column .timetable-title.color-4,
.tiva-timetable .timetable-list .timetable-item .timetable-color.color-4,
.timetable-popup .popup-header.color-4 {
	background: #69c;
}
.tiva-timetable .timetable-month .timetable-item .timetable-color.color-5,
.tiva-timetable .timetable-week .timetable-column .timetable-title.color-5,
.tiva-timetable .timetable-list .timetable-item .timetable-color.color-5,
.timetable-popup .popup-header.color-5 {
	background: #195059;
}
.tiva-timetable .timetable-month .timetable-item .timetable-color.color-6,
.tiva-timetable .timetable-week .timetable-column .timetable-title.color-6,
.tiva-timetable .timetable-list .timetable-item .timetable-color.color-6,
.timetable-popup .popup-header.color-6 {
	background: #e78b6c;
}
.tiva-timetable .timetable-month .timetable-item .timetable-color.color-7,
.tiva-timetable .timetable-week .timetable-column .timetable-title.color-7,
.tiva-timetable .timetable-list .timetable-item .timetable-color.color-7,
.timetable-popup .popup-header.color-7 {
	background: #6b778d;
}
.tiva-timetable .timetable-month .timetable-item .timetable-color.color-8,
.tiva-timetable .timetable-week .timetable-column .timetable-title.color-8,
.tiva-timetable .timetable-list .timetable-item .timetable-color.color-8,
.timetable-popup .popup-header.color-8 {
	background: #ff6768;
}
.tiva-timetable .timetable-month .timetable-item .timetable-color.color-9,
.tiva-timetable .timetable-week .timetable-column .timetable-title.color-9,
.tiva-timetable .timetable-list .timetable-item .timetable-color.color-9,
.timetable-popup .popup-header.color-9 {
	background: #2d132c;
}
.tiva-timetable .timetable-month .timetable-item .timetable-title {
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
	outline: none;
	display: block;
}
.tiva-timetable .timetable-month .timetable-item .timetable-time {
	/*font-weight: bold;*/
	color: #3c4043;
	font-size: 13px !important;
}
.tiva-timetable .timetable-month .timetable-item .timetable-name {
	color: #3c4043;
}

/* Popup */
.mfp-bg.my-mfp-zoom-in {
	background: rgba(66,65,65,0.73);
}
.timetable-popup .mfp-close {
    top: 5px;
	right: 5px;
}
.timetable-popup {
	position: relative;
	background: #fff;
	width: auto;
	max-width: 700px;
	margin: 20px auto;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 22px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 22px 0 rgba(0,0,0,0.2);
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.timetable-popup .popup-header {
	padding: 20px;
	text-align: center;
	font-size: 22px;
	color: #fff;
	font-weight: 700;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.timetable-popup .popup-body {
	color: #3c4043;
	text-align: center;
}

.timetable-popup .popup-body .timetable-image img {
	max-width: 100%;
	margin-bottom: 30px;
}
.timetable-popup .popup-body .timetable-desc {
	text-align: justify;
	font-size: 14px;
	padding: 0 30px 30px;
}
.timetable-popup .popup-body .timetable-time {
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 18px;
	color: #f15e6e;
}

/* Animation Popup */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.5;
}
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

/* Responsive */
@media (max-width: 768px) {
	/* Timetable Month */
	.tiva-timetable table.timetable-month .timetable-item .timetable-name {
		display: none;
	}

	/* Timetable Week */
	.tiva-timetable .timetable-week .timetable-column .timetable-column-header span {
		display: none;
	}
	.tiva-timetable .timetable-week .timetable-axis {
		width: 50px;
	}
	.tiva-timetable .timetable-week .timetable-columns {
		margin-left: 50px;
	}
	.tiva-timetable .timetable-week.show-time .timetable-axis {
		padding-top: 36px; /* Show time on header */
	}
	.tiva-timetable .timetable-week.show-time .timetable-column .timetable-column-header {
		height: 26px; /* Show time on header */
	}
	.tiva-timetable .timetable-week.show-time .timetable-column .timetable-column-content {
		top: 46px; /* Show time on header */
	}
	.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
		max-width: 80%;
	}
	.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-name {
		font-size: 13px;
	}
	.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-time {
		font-size: 13px;
	}
}
@media (max-width: 420px) {
	.time-navigation {
		margin-bottom: 15px;
	}

	/* Timetable Month */
	.tiva-timetable table.timetable-month th.timetable-header {
		font-size: 14px;
	}
	.tiva-timetable table.timetable-month td.calendar-day,
	.tiva-timetable table.timetable-month td.calendar-day.today {
		padding: 1px 5px 0 3px;
	}
	.tiva-timetable .timetable-month .calendar-daycounter {
		font-size: 13px;
	}
	.tiva-timetable table.timetable-month .timetable-item {
		padding-left: 7px;
	}
	.tiva-timetable .timetable-month .timetable-item .timetable-color {
		top: 9px;
		left: 0;
		width: 5px;
		height: 5px;
	}
	.tiva-timetable table.timetable-month .timetable-item .timetable-time {
		font-size: 9px;
	}
	.tiva-timetable .timetable-week .timetable-axis .axis-item {
		font-size: 13px;
	}

	/* Timetable Week */
	.tiva-timetable .timetable-week .timetable-column .timetable-column-header {
		font-size: 13px;
	}
	.tiva-timetable .timetable-week .timetable-axis,
	.tiva-timetable .timetable-week.show-time .timetable-axis {
		padding-top: 37px; /* Show time on header */
	}
	.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
		max-width: 70%;
	}
	.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-name {
		font-size: 11px;
	}
	.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-time {
		font-size: 10px;
	}
}

.tiva-timetable .calendar-day:empty{
    background-color: #acacac4f;
}
.tiva-timetable .timetable-tea-schedule .timetable-item .timetable-title{
    line-height: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #acacac;
    margin-bottom: 0.5rem;
}
.tiva-timetable .timetable-item:hover{
    background-color: #f1f3f4;
    color: #3c4043;
    border-radius: 4px;

}
.tiva-timetable .timetable-item{
    line-height: 20px;
}
a.button{
    text-decoration: none;
    font-weight: normal;
}
a.button:hover, a.button:focus{
    text-decoration: none;
}
