body {
    margin: 0;
    background: white !important;
}
.tiva-timetable .timetable-week .timetable-item .timetable-color {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    top: 8px;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.tiva-timetable .timetable-week .timetable-item {
    text-align: left;
    margin-bottom: 5px;
    position: relative;
    padding-left: 0 !important;
}
.tiva-timetable .timetable-week .timetable-item .timetable-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    /* border-right: 1px solid #d1d1d1; */
}
.tiva-timetable .timetable-week .timetable-item .timetable-time {
    /* font-weight: bold; */
    margin-right: 4px;
    color: #3c4043;
    font-size: 13px !important;
}
.tiva-timetable .timetable-week .timetable-item .timetable-name {
    color: #3c4043;
    font-weight: bold !important;
}
.showmore-action{
    font-style: italic;
    font-weight: bold;
    font-size: 10px !important;
    color: #37474f !important;
    text-decoration: none !important;
    padding-left: 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.timetable-value{
    padding: 10px;
    text-align: start !important;
}
.timetable-value i{
    padding-right: 5px;
}
.timetable-value .title{
    font-size: 2em;
    font-weight: bold;
    color: black;
}
.timetable-value .normal{
    font-size: 1.2em;
}
.timetable-value span{
    color: black;
}

.timetable-popup{
    border-radius: 20px;
}
.cover_link{
    color:#428bca !important;
}
.timetable-row {
    padding: 0 15px;
    display: flex;
}
.tiva-timetable {
    /*background: #f1f1f1;*/
    background: white !important;
    border-radius: 7px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #3c4043;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 !important;
    width: 100%;
    float: left;
}
#calender{
}

.row{
    display: flex!important;
}

.max-width{
    width: 100%;
}

#data-view .btn{
    font-size: 1.5rem !important;
    background: white;
    /*border: 1px solid #d1d1d1;*/
    color: #193059;
    padding: 6px 18px;
    border: 0;
}

.btn-active{
    background-color: #193059 !important;
    font-weight: 700 !important;
    color: white !important;
}

.tiva-timetable div.timetable-header {
    color: #193059;
    font-weight: 700 !important;
    text-align: center !important;
    text-transform: uppercase!important;
    border: 1px solid #e8e8e8;
    height: 70px;
}
.tiva-timetable div.timetable-header > span {
        font-weight: 500;
        font-size: 24px;
}
.week-today{
    background-color: #193059 !important;
    border: 1px solid #193059;
    color: white !important;

}
.ms-parent{
    width: 100%!important;
}
#calender .xdsoft_tdtpicker{
    border: 0 !important;
    width: 100% !important;
    padding: 0 !important;
}

#calender .xdsoft_datepicker{
    width: 100% !important;
}
#calender .xdsoft_tdtpicker .xdsoft_datepicker{
    margin-left: 0 !important;
}
.xdsoft_tdtpicker .xdsoft_month {
    width: 90px !important;
}
.custom-table{
    border: 0;
    padding: 0 !important;
    margin:0 !important;
    background: white;
}
.custom-table td{
    padding: 5px 0;
}

#data-view {
    display: flex;
    justify-content: space-between;
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: red;
    vertical-align: bottom;
    display: inline-block;
    float: right;
}
.circle_small{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    vertical-align: bottom;
    margin: 7px 5px 5px -10px;
    display: inline-block;}

.circle:hover{
    cursor: pointer;
}

[data-value=dotb-blue]{
    background: #00A1E0;
}
.dotb-blue_transparent{
    background: rgba(0,161,224,.5)!important;
}
.dotb-blue_transparent_before{
    background: rgba(0,161,224,.1)!important;
}
.pretty input:checked ~ .state.dotb-blue label:before,
.pretty.p-toggle .state.dotb-blue label:before {
    border-color: #00A1E0;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-blue label:after {
    background-color: #00A1E0 !important;
}

.pretty input:checked ~ .state.dotb-blue label:after,
.pretty.p-toggle .state.dotb-blue label:after {
    background-color: transparent;
}
[data-value=dotb-mint]{
    background: #16325C;
}
.dotb-mint_transparent{
    background: rgba(22,50,92,.5)!important;
}
.dotb-mint_transparent_before{
    background: rgba(22,50,92,.1)!important;
}
.pretty input:checked ~ .state.dotb-mint label:before,
.pretty.p-toggle .state.dotb-mint label:before {
    border-color: #16325C;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-mint label:after {
    background-color: #16325C !important;
}

.pretty input:checked ~ .state.dotb-mint label:after,
.pretty.p-toggle .state.dotb-mint label:after {
    background-color: transparent;
}
[data-value=dotb-lightblue]{
    background: #76DED9;
}
.dotb-lightblue_transparent{
    background: rgba(118,222,217,.5)!important;
}
.dotb-lightblue_transparent_before{
    background: rgba(118,222,217,.1)!important;
}
.pretty input:checked ~ .state.dotb-lightblue label:before,
.pretty.p-toggle .state.dotb-lightblue label:before {
    border-color: #76DED9;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-lightblue label:after {
    background-color: #76DED9 !important;
}

.pretty input:checked ~ .state.dotb-lightblue label:after,
.pretty.p-toggle .state.dotb-lightblue label:after {
    background-color: transparent;
}
[data-value=dotb-lightblue2]{
    background: #08A69E;
}
.dotb-lightblue2_transparent{
    background: rgba(8,166,158,.5)!important;
}
.dotb-lightblue2_transparent_before{
    background: rgba(8,166,158,.1)!important;
}
.pretty input:checked ~ .state.dotb-lightblue2 label:before,
.pretty.p-toggle .state.dotb-lightblue2 label:before {
    border-color: #08A69E;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-lightblue2 label:after {
    background-color: #08A69E !important;
}

.pretty input:checked ~ .state.dotb-lightblue2 label:after,
.pretty.p-toggle .state.dotb-lightblue2 label:after {
    background-color: transparent;
}
[data-value=dotb-lightblue3]{
    background: #93c9f8;
}
.dotb-lightblue3_transparent{
    background: rgba(147,201,248,.5)!important;
}
.dotb-lightblue3_transparent_before{
    background: rgba(147,201,248,.1)!important;
}
.pretty input:checked ~ .state.dotb-lightblue3 label:before,
.pretty.p-toggle .state.dotb-lightblue3 label:before {
    border-color: #93c9f8;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-lightblue3 label:after {
    background-color: #93c9f8 !important;
}

.pretty input:checked ~ .state.dotb-lightblue3 label:after,
.pretty.p-toggle .state.dotb-lightblue3 label:after {
    background-color: transparent;
}
[data-value=dotb-lightblue4]{
    background: #3a93ba;
}
.dotb-lightblue4_transparent{
    background: rgba(58,147,186,.5)!important;
}
.dotb-lightblue4_transparent_before{
    background: rgba(58,147,186,.1)!important;
}
.pretty input:checked ~ .state.dotb-lightblue4 label:before,
.pretty.p-toggle .state.dotb-lightblue4 label:before {
    border-color: #3a93ba;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-lightblue4 label:after {
    background-color: #3a93ba !important;
}
.pretty input:checked ~ .state.dotb-lightblue4 label:after,
.pretty.p-toggle .state.dotb-lightblue4 label:after {
    background-color: transparent;
}
[data-value=dotb-green]{
    background: #60b17d;
}
.dotb-green_transparent{
    background: rgba(96,177,125,.5)!important;
}
.dotb-green_transparent_before{
    background: rgba(96,177,125,.1)!important;
}
.pretty input:checked ~ .state.dotb-green label:before,
.pretty.p-toggle .state.dotb-green label:before {
    border-color: #60b17d;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-green label:after {
    background-color: #60b17d !important;
}
.pretty input:checked ~ .state.dotb-green label:after,
.pretty.p-toggle .state.dotb-green label:after {
    background-color: transparent;
}
[data-value=dotb-green1]{
    background: #00716b;
}
.dotb-green1_transparent{
    background: rgba(0,113,107,.5)!important;
}
.dotb-green1_transparent_before{
    background: rgba(0,113,107,.1)!important;
}
.pretty input:checked ~ .state.dotb-green1 label:before,
.pretty.p-toggle .state.dotb-green1 label:before {
    border-color: #00716b;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-green1 label:after {
    background-color: #00716b !important;
}
.pretty input:checked ~ .state.dotb-green1 label:after,
.pretty.p-toggle .state.dotb-green1 label:after {
    background-color: transparent;
}
[data-value=dotb-green2]{
    background: #009e73;
}
.dotb-green2_transparent{
    background: rgba(0,158,115,.5)!important;
}
.dotb-green2_transparent_before{
    background: rgba(0,158,115,.1)!important;
}
.pretty input:checked ~ .state.dotb-green2 label:before,
.pretty.p-toggle .state.dotb-green2 label:before {
    border-color: #009e73;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-green2 label:after {
    background-color: #009e73 !important;
}
.pretty input:checked ~ .state.dotb-green2 label:after,
.pretty.p-toggle .state.dotb-green2 label:after {
    background-color: transparent;
}
[data-value=dotb-orange]{
    background: #E2CE7D;
}
.dotb-orange_transparent{
    background: rgba(226,206,125,.5)!important;
}
.dotb-orange_transparent_before{
    background: rgba(226,206,125,.1)!important;
}
.pretty input:checked ~ .state.dotb-orange label:before,
.pretty.p-toggle .state.dotb-orange label:before {
    border-color: #E2CE7D;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-orange label:after {
    background-color: #E2CE7D !important;
}
.pretty input:checked ~ .state.dotb-orange label:after,
.pretty.p-toggle .state.dotb-orange label:after {
    background-color: transparent;
}
[data-value=dotb-orange1]{
    background: #E69F00;
}
.dotb-orange1_transparent{
    background: rgba(230,159,0,.5)!important;
}
.dotb-orange1_transparent_before{
    background: rgba(230,159,0,.1)!important;
}
.pretty input:checked ~ .state.dotb-orange1 label:before,
.pretty.p-toggle .state.dotb-orange1 label:before {
    border-color: #E69F00;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-orange1 label:after {
    background-color: #E69F00 !important;
}
.pretty input:checked ~ .state.dotb-orange1 label:after,
.pretty.p-toggle .state.dotb-orange1 label:after {
    background-color: transparent;
}
[data-value=dotb-orange2]{
    background: #FFB75d;
}
.dotb-orange2_transparent{
    background: rgba(255,183,93,.5)!important;
}
.dotb-orange2_transparent_before{
    background: rgba(255,183,93,.1)!important;
}
.pretty input:checked ~ .state.dotb-orange2 label:before,
.pretty.p-toggle .state.dotb-orange2 label:before {
    border-color: #FFB75d;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-orange2 label:after {
    background-color: #FFB75d !important;
}
.pretty input:checked ~ .state.dotb-orange2 label:after,
.pretty.p-toggle .state.dotb-orange2 label:after {
    background-color: transparent;
}
[data-value=dotb-red]{
    background: #C23934;
}
.dotb-red_transparent{
    background: rgba(194,57,52,.5)!important;
}
.dotb-red_transparent_before{
    background: rgba(194,57,52,.1)!important;
}
.pretty input:checked ~ .state.dotb-red label:before,
.pretty.p-toggle .state.dotb-red label:before {
    border-color: #C23934;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-red label:after {
    background-color: #C23934 !important;
}
.pretty input:checked ~ .state.dotb-red label:after,
.pretty.p-toggle .state.dotb-red label:after {
    background-color: transparent;
}
[data-value=dotb-purple]{
    background: #8073f7;
}
.dotb-purple_transparent{
    background: rgba(28,115,247,.5) !important;
}
.dotb-purple_transparent_before{
    background: rgba(28,115,247,.1) !important;
}
.pretty input:checked ~ .state.dotb-purple label:before,
.pretty.p-toggle .state.dotb-purple label:before {
    border-color: #8073f7;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.dotb-purple label:after {
    background-color: #8073f7 !important;
}
.pretty input:checked ~ .state.dotb-purple label:after,
.pretty.p-toggle .state.dotb-purple label:after {
    background-color: transparent;
}

.select_color{
    margin: 0 10px;
}
#selectColor-dialog{
    display: grid;
}
.timetable-week .timetable-title {
    display: flex !important;
}

.timetable-month .timetable-title {
    display: grid;
}
.timetable-month .timetable-name {
    font-weight: bold;
}

.timetable-title-wrap-custom{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.timetable-title-wrap-custom .timetable-name,.timetable-room,.timetable-assign-user-to,.timetable-teacher{
    text-align: left;
    font-weight: bold!important;
    color: black;
    white-space: break-spaces !important;
    font-size: 1rem !important;
    margin-bottom: 4px!important;
    line-height: 1rem;
}
.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
    /*border-bottom: 1px solid #d1d1d1;*/
    /*border-radius: 0;*/
}

.tiva-timetable table.timetable-month td.calendar-day {
    color: #37474f;
    font-size: 14px;
    text-align: right;
    vertical-align: top;
    /*padding: 5px 10px;*/
    padding: 0!important;
    height: 60px;
    line-height: 20px;
}

.tiva-timetable .timetable-month .calendar-daycounter {
    margin: 10px;
    padding: 5px 10px !important;
    font-size: 17px;
}

.tiva-timetable .timetable-month .timetable-item {
    text-align: left;
    margin-bottom: 5px;
    position: relative;
     padding-left: 0 !important;
}

.tiva-timetable .timetable-month .timetable-item .timetable-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding-left: 15px;
    padding-right: 5px;
    /*border-right: 1px solid #d1d1d1;*/
}
.tiva-timetable .timetable-list .timetable-custom .timetable-name {
    color: black;
}

.tiva-timetable table.timetable-tea-schedule th.timetable-header {
    height: 26px;
    padding: 10px 0;
    background-color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.tiva-timetable table.timetable-tea-schedule {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    color: #193059;
    table-layout: fixed;
}

.tiva-timetable table.timetable-tea-schedule a{
    width: 100% !important;
}

.tiva-timetable table.timetable-tea-schedule, .tiva-timetable table.timetable-tea-schedule th, .tiva-timetable table.timetable-tea-schedule td {
    border: 1px solid #d1d1d1;
}

table.timetable-tea-schedule th:first-child,table.timetable-tea-schedule td:first-child{
    border-left-style:hidden!important;
    min-height: 50px;
}
table.timetable-tea-schedule th:first-child {
    border-top-style:hidden!important;
}

.tiva-timetable .timetable-tea-schedule .timetable-item .timetable-time {
    /*font-weight: bold;*/
    margin-right: 5px;
    color: #3c4043;
    font-size: 1rem;
}
.tiva-timetable .timetable-tea-schedule .timetable-item .timetable-name {
    font-weight: bold;
    color: #3c4043;
    font-size: 1rem;
}

.tiva-timetable .timetable-tea-schedule .timetable-item .timetable-title {
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    outline: none;
    display: block;
    border-bottom: 1px solid black;
}

.tiva-timetable .timetable-tea-schedule td.teacher_name {
    color: #193059;
    font-size: 1rem;
    font-weight: bold;
}
.timetable-desc {
    font-weight: bold;
}

[data-value=dotb-orange3]{
    background: #FF8C00;
}

.btn-link-calendar {
  font-weight: normal;
  color: #ffffffad;
  cursor: pointer;
  border-radius: 0;
}
.btn-link-calendar:focus, .btn-link-calendar:hover {
    color: #222;
    background-color: transparent;
}

