
.tiva-timetable .timetable-week .timetable-axis-2 .item-axis-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 11%;
    text-align: center;
    line-height: 12px;
    border: 1px solid #e8e8e8;
    border-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 50px;
}
.tiva-timetable .timetable-week .timetable-axis-2 .time-container .time-axis {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    height: 77px;
    width: 14%;
    line-height: 12px;
    border-bottom: 1px solid #e8e8e8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 50px
}
.tiva-timetable .timetable-week .timetable-axis-2 .item-axis-2-first {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    text-align: center;
    width: 11%;
    line-height: 12px;
    border: 1px solid #e8e8e8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 50px
}
.tiva-timetable .timetable-week .timetable-axis-2 .time-container .timetable-content-time .time-axis-first {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 14%;
    height: 77px;
    line-height: 12px;
    border: 1px solid #e8e8e8;
    border-left: 0;
    border-right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 50px
}
.tiva-timetable .timetable-week .timetable-axis-2 .item-axis-container {
    display: flex;
    font-size: 13px;
    width: 100%;
}
.tiva-timetable .timetable-week .timetable-axis-2 .item-axis-container .time-container {
    width: 89%;
}
.tiva-timetable .timetable-week .timetable-axis-2 .item-axis-time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-left: 0;
}
.tiva-timetable .timetable-week .timetable-content-time {
    display: flex;
    font-size: 13px;
    width: 100%;
    border-left: 0;
}
.tiva-timetable .timetable-week .timetable-axis-2 .time-range {
    height: 54px;
    font-size: 10px;
    line-height: 12px;
}
.tiva-timetable .timetable-week .timetable-columns-2 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.tiva-timetable .timetable-week .timetable-columns-2 .timetable-column {
    width: 10.9%;
    position: relative;
    flex: 1 0 auto;
    min-width: 0;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tiva-timetable .timetable-week .grid-item-2 {
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    height: 77px;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px
}

.tiva-timetable .timetable-week .grid-item-2-first {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    height: 77px;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px
}
.tiva-timetable .timetable-item-2:hover{
    background-color: #f1f3f4;
    color: #3c4043;
    border-radius: 4px;

}
.tiva-timetable .timetable-week .timetable-item-2 .timetable-title-2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    width: inherit;
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tiva-timetable .timetable-week .timetable-item-2 .timetable-title-2 .class-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    display: block;
    width: inherit;
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: center;
}

.tiva-timetable .timetable-week .timetable-item-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    width: 97%
}
#timetable-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.tiva-timetable div.timetable-header-2 {
    color: #193059;
    font-weight: 700 !important;
    text-align: center !important;
    text-transform: uppercase!important;
    border: 1px solid #e8e8e8;
    height: 70px;
    border-left: 0;
}
.tiva-timetable div.timetable-header-first-2 {
    color: #193059;
    font-weight: 700 !important;
    text-align: center !important;
    text-transform: uppercase!important;
    border: 1px solid #e8e8e8;
    height: 70px;
}
.tiva-timetable div.timetable-header-2 > span {
    font-weight: 500;
    font-size: 24px;
}
.tiva-timetable div.timetable-header-first-2 > span {
    font-weight: 500;
    font-size: 24px;
}
.radio-container {
    font-size: 12px;
    display: flex;
    padding-top: 10px;
    width: 245px;
    align-items: center;
    justify-content: center;
}
.label-radio {
    font-weight: lighter;
    padding-top: 4px;
}
.radio-container input[type="radio"] {
    margin-right: 4px;
}
.container {
    display: flex;
    position: relative;
    padding-top: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-4 {
 cursor: pointer;
 border: 0;
 border-radius: 50%;
 color: #24292E;
 padding: 12px 15px;
 position: absolute;
 transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
 vertical-align: middle;
 margin: 8px;
 flex: 0 0 auto;
 overflow: hidden;
}

.button-4 > i {
 font-size:20px;
 margin-top: 1px;
}

.button-4:focus:focus-visible, .button-4:focus-visible, .button-4:focus, .button-4:hover {
    background-color: rgba(60,64,67,.08);
    outline: none;
}

.button-4:focus-visible{
    outline: 1px solid #202124;
    outline-offset: -1px;
}

.button-4:before {
    display: none;
}

.button-4:-webkit-details-marker {
    display: none;
}