<style type="text/css">
    html, body {
        margin: 0;
        padding: 0;
        background: url("images/background-mask-20.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center bottom;
    }
    #content {
        position: inherit;
        width: 100%;
        height: 100%;
    }
    #footer {
        display: none;
    }
</style>
<div class="container ems-login">
    <div class="row">
        <div class="span3"></div>
        <div class="span6 login">
            <div class="tcenter thumb">
                <h2 class="brand"><img src="{{logoUrl}}" alt="DotB-EMS"></h2>
            </div>
            <form name='{{name}}' class="tcenter">
                <div class="control-group">
                    <select class="form-control change-language">
                        {{#each languageList}}
                            <option value="{{key}}" {{#eq ../currentLang key}}selected{{/eq}}>{{value}}</option>
                        {{/each}}
                    </select>
                </div>
                {{#if externalLoginForm}}<p>&nbsp;</p>
                    <p class="wide">
                        <a class="btn btn-block btn-primary {{#unless externalLoginUrl}}disabled{{/unless}}" name="external_login_button" title="{{str "LBL_LOGIN_BUTTON_LABEL"}}">{{str "LBL_LOGIN_BUTTON_LABEL"}}</a>
                    </p>
                    <p class="wide">
                        <a class="btn btn-link btn-invisible" name="login_form_button" title="{{str "LBL_LOGIN_FORM_LABEL"}}">{{str "LBL_LOGIN_FORM_LABEL"}}</a>
                    </p>
                {{else}}
                    {{#each meta.panels}}
                        {{#each fields}}
                            <div class="control-group">{{field ../../this model=../../model}}</div>
                        {{/each}}
                        <p class="help-block">
                            {{#if ../showPasswordReset}}
                                <br/>
                                <a href="#forgotpassword" class="btn btn-link btn-invisible">{{str "LBL_LOGIN_FORGOT_PASSWORD"}}</a>
                                <br/>
                            {{/if}}
                        </p>
                    {{/each}}
                    <div style="text-algin:center;"><br/>
                        <a class="btn btn-primary" role="button" name="login_button">{{str "LBL_LOGIN"}}</a>
                    </div>
                {{/if}}
            </form>
            <div class="pull-right"><small>{{str "LBL_POWERED_BY"}} <a href="https://dotb.vn">DotB.vn</a></small></div>
        </div>
        <div class="span3"></div>
    </div>
</div>
