
{{#if canCreateCase}}
    <div class='contentsearch-footer'>
        <span>{{str 'LBL_NO_LOOKING_FOR' module}}</span><button data-action="createcase" class="btn btn-link btn-invisible">{{str 'LBL_CREATE_CASE' module moduleNames}}</button>
    </div>
{{/if}}
