:root {
    --file-container-bg: #eeeeee;
    --file-bg: #f8f8f8;
    --file-border-color: #606060;
    --file-rounded: 15px;
    --file-color: #2b2b2b;
    --table-border-color: #dbdbdb;
    --delete-button-bg: #f53636;
    --delete-button-color: #ffffff;
    --font-size: 0.875em;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.5);
}
.file-container {
    display: grid;
    grid-template-columns: 80% 50%;
    width: 480px;
    font-family: var(--font-family);
    grid-row: auto;
}

.file-upload {
    width: 360px;
    height: 240px;
    display: flex;
    background-color: #F6FAFF;
    border-radius: var(--file-rounded);
    transition: all 0.3s;
    border: 2px dashed #1165C7;
    margin-top: 4px
}

/*.file-upload:hover {*/
/*    box-shadow: var(--shadow);*/
/*}*/

.file-upload > div {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    transition: border 0.3s; /* Add a transition for a smooth effect */
}

.file-upload > div > i {
    font-size: 3.125em;
    color: var(--file-color);
}
.onDragover {
    transition: border 0.1s ease;
    border: 2px solid #1165C7 !important;
}
.file-upload > div > p,
.file-upload > div > span,
.file-upload > div > div {
    font-size: var(--font-size);
    color: var(--file-color);
}

.file-upload > div > div {
    width: max-content;
    padding: 0 10px;
    margin: 0 auto;
    border: 1px solid var(--file-border-color);
    border-radius: 8px;
}

.file-container > table {
    width: 100%;
    border-collapse: collapse;
    font-size: var(--font-size);
    margin-top: 20px;
}

.file-container > table th,
.file-container > table td {
    border-bottom: 1px solid var(--table-border-color);
    padding: 8px;
    text-align: left;
}

.file-container > table tbody > tr > td:nth-child(1) {
    font-weight: bold;
}

.file-container > table tbody > tr > td:nth-child(2) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}

.file-container > table tbody > tr > td:nth-child(3) {
    text-align: center;
}

.file-container > table tbody > tr > td > img {
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.file-container > table tbody > tr.no-file > td {
    text-align: center;
    font-weight: normal;
}

.file-container > table tbody > tr > td > i {
    font-size: 1.125em;
}

.file-container > table button {
    background-color: var(--delete-button-bg);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.file-container > table button:hover {
    box-shadow: var(--shadow);
}

.file-container > table button > i {
    color: var(--delete-button-color);
    font-size: 1.125em;
}
#upload-file-list {
    height: 246px;
    width: 460px;
    overflow: auto;
    display: flex;
    justify-content: center;
}
.progress-container {
    width: 410px;
    height: 7px;
    margin-left: 12px;
    margin-top: 11px;
    background: red;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center
}
.file-element {
    width: 430px;
    display: grid;
    grid-template-rows: 70% 30%;
    background-color: #EFF3F6;
    border-radius: 18px;
    margin-top: 5px;
    height: 70px;
    padding: 5px;
    padding-bottom: 7px
}
.file-name {
    width:300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.file-info {
    display: grid;
    grid-template-columns: 14% 75% 10%;
    height: 50px;
    margin: 6px;
}
.file-preview > i {
    font-size: 37px;
}
.file-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
}
.file-content {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
}
.exit-and-percent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
}
.upload-percent {
    font-size: 13px;
    opacity: 0.55;
    margin-bottom: 8px;
}
.file-size-contain {
    font-size: 13px;
    opacity: 0.55;
    margin-top: 3px;
}
.img-preview {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
progress {
    width: 100%;
}
.delete-file {
    cursor: pointer;
}
.delete-file:hover {
    box-shadow: var(--shadow);
    color: red;
}
.dragFileTitle {
    font-size: 17px !important;
    font-weight: bold;
    opacity: 0.5;
}
.browseFileTitle {
    margin-bottom: 3px;
    font-size: 15px;
    opacity: 0.75;
    padding-left: 4px;
    padding-right: 4px;
}
.browseButton {
    width: 168px;
    height: 33px;
    background: #1165C7;
    border-radius: 7px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-top: 22px;
}
.browseButton:hover {
    text-decoration: none;
    background-color: blue;
    transition: background-color 1s ease;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.browseButton:active {
    box-shadow: none;
    transform: translateY(0);
    border:none;
}
.browseButton:disabled {
    pointer-events: none;
    border:none;
}
#no-file {
    padding-top: 115px;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    opacity: 0.5;
}

.fa-file-word-o {
    color: #86B6F6;
}
.fa-file-excel-o {
    color: #9ADE7B;
}
.fa-file-video-o {
    color: #7071E8;
}
.fa-file {
    color: #B6BBC4;
}
.fa-file-text {
    color: #427D;
}
.fa-file-pdf-o {
    color: #FF6969;
}
.fa-file-archive-o {
    color: #FFC436;
}
.fa-file-powerpoint-o {
    color: #FF9130;
}

.detail-view .file-element {
    width: 250px !important;
    height: 100px !important;
    padding-bottom: 0px !important;
    grid-template-rows: none;
}
.detail-view .file-element .file-info {
    grid-template-columns: 40% 60%;
}
.detail-view .file-element .progress-container {
    display: none !important;
}
.detail-view  .exit-and-percent {
    display: none !important;
}
.detail-view  .file-preview {
    height: 84px !important;
}
.detail-view  .img-preview {
    height: 100% !important;
    width: 100% !important;
}
.detail-view > tbody{
    display: grid;
    grid-template-columns: repeat(4, 273px);
}
.detail-view .file-name {
    width: 135px !important;
}
.detail-container .upload-file-list {
    overflow: auto;
    width: 1104px;
    height: 225px;
}
.file-download {
    color: #6FB0DD;
    cursor: pointer;
}
.file-download:hover {
    color: #6FB0DD;
    text-decoration: underline;
}
.span-file-download {
    color: #6FB0DD;
    cursor: pointer;
}
.span-file-download:hover {
    text-decoration: underline;
}
