{*

*}


<form action="index.php" method="post" name="DetailView" id="form">
{dotb_csrf_form_token}

			<input type="hidden" name="module" value="ACLRoles">
			<input type="hidden" name="user_id" value="">
			<input type="hidden" name="record" value="{$ROLE.id}">
			<input type="hidden" name="isDuplicate" value=''>
			<input type='hidden' name='return_record' value='{$RETURN.record}'>
			<input type='hidden' name='return_action' value='{$RETURN.action}'>
			<input type='hidden' name='return_module' value='{$RETURN.module}'>
			<input type="hidden" name="action">

{php}
    $APP = $this->get_template_vars('APP');
    $this->append('buttons',
    <<<EOD
    <input id="ACLROLE_EDIT_BUTTON" title="{$APP['LBL_EDIT_BUTTON_TITLE']}" accessKey="{$APP['LBL_EDIT_BUTTON_KEY']}" class="button" onclick="var _form = $('#form')[0]; _form.action.value='EditView'; _form.submit();" type="submit" name="button" value="{$APP['LBL_EDIT_BUTTON']}" />
EOD
    );
    $this->append('buttons',
    <<<EOD
    <input id="ACLROLE_DUPLICATE_BUTTON" title="{$APP['LBL_DUPLICATE_BUTTON_TITLE']}" accessKey="{$APP['LBL_DUPLICATE_BUTTON_KEY']}" class="button" onclick="this.form.isDuplicate.value='1'; this.form.action.value='EditView'" type="submit" name="button" value=" {$APP['LBL_DUPLICATE_BUTTON']} " />
EOD
    );
    $this->append('buttons',
    <<<EOD
    <input id="ACLROLE_DELETE_BUTTON" title="{$APP['LBL_DELETE_BUTTON_TITLE']}" accessKey="{$APP['LBL_DELETE_BUTTON_KEY']}" class="button" onclick="this.form.return_module.value='ACLRoles'; this.form.return_action.value='index'; this.form.action.value='Delete'; return confirm('{$APP['NTC_DELETE_CONFIRMATION']}')" type="submit" name="button" value=" {$APP['LBL_DELETE_BUTTON']} " />
EOD
    );
{/php}
            {dotb_action_menu id="userEditActions" class="clickMenu fancymenu" buttons="$buttons"}
		</form>
		</p>
		<p>
		<TABLE width='100%' class='detail view' border='0' cellpadding=0 cellspacing = 1  >
		<TR>
<td valign='top' width='15%' align='right'><b>{$MOD.LBL_NAME}:</b></td><td width='85%' colspan='3'>{$ROLE.name}</td>
</tr
><TR>
<td valign='top'  width='15%' align='right'><b>{$MOD.LBL_DESCRIPTION}:</b></td><td colspan='3' valign='top'  width='85%' align='left'>{$ROLE.description | nl2br}</td>
</tr>
<TR>
<td valign='top'  width='15%' align='right'><b>{$MOD.LBL_LOCK_DATED}:</b></td><td colspan='3' valign='top'  width='85%' align='left'> <input tabindex="0" {if $ROLE.is_lock_dated == 1} checked {/if} disabled type="checkbox" id="is_lock_dated" name="is_lock_dated" value="1">

</td>
</tr><td valign='top'  width='15%' align='right'><b>{$MOD.LBL_IS_ADMIN_GBS}:</b></td><td colspan='3' valign='top'  width='85%' align='left'> <input tabindex="0" {if $ROLE.is_admin_gbs == 1} checked {/if} disabled type="checkbox" id="is_admin_gbs" name="is_admin_gbs" value="1"></td>

</tr>
</table>
</p>
		<p>

{include file="modules/ACLRoles/EditViewBody.tpl" }
