<link type="text/css" rel="stylesheet" href="custom/include/css/chat-message.css"/>
<link type="text/css" rel="stylesheet" href="custom/include/css/chat-message-header.css"/>
<link type="text/css" rel="stylesheet" href="custom/include/javascript/jquery-emoji/jquery.jb-emoji.css"/>

<div class="boxChatContainer">
    <div class="messageArea portal">
        {{#each layout.layout.bugsModel.attributes.customerMessages}}
            {{#each attachments}}
                <div class="noteContainer commNote {{../direction}} clearfix">
                    {{#eq ../direction "to"}}
                        <div class="commIcon userIcon pull-left">
                            {{#if ../../picture}}
                                <div class="image_rounded" style="width: 42px;"><img src="{{../../../picture}}" style="width: 42px; height: 42px; object-fit:cover"></div>
                            {{else}}
                                <div class="image-rounded" style="width: 42px;"><img src="themes/default/images/logo.png"></div>
                            {{/if}}
                        </div>
                    {{/eq}}
                    {{#eq ../direction "from"}}
                        <div class="msg-action-group pull-right">
                            <i class="fa fa-trash" aria-hidden="true" rel="tooltip" data-title="Delete file" data-id="{{id}}"  data-isFile="true"></i>
                        </div>
                    {{/eq}}
                    <div class="messageFile {{#eq ../direction "from"}}pull-right{{else}}pull-left{{/eq}}">
                        {{#if isImage}}
                            {{{preview}}}
                        {{else}}
                            <div class="file-element" data-s3uploaded="{{s3Uploaded}}" data-noteid="{{id}}">
                                <div class="file-info">
                                    <div class="file-preview">{{{preview}}}</div>
                                    <div class="file-content">
                                        <span class="file-name ellipsis_inline"
                                              data-original-title="{{fileName}}">{{fileName}}</span>
                                        <div class="file-size-contain">
                                            <span class="file-size">{{fileSize}} KB</span>
                                            <a class="file-download"
                                               download="{{fileName}}" href="{{fileUrl}}">{{str "LBL_DOWNLOAD"}}
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    {{#eq ../direction "from"}}
                        <div class="commIcon userIcon pull-right">
                            {{#if ../../picture}}
                                <div class="image_rounded" style="width: 42px;"><img src="{{../../../picture}}" alt="{{../../../chatter_name}}" style="width: 42px; height: 42px; object-fit:cover"></div>
                            {{else}}
                                <span class="label label-module label-module-lg" style="background-color: {{tile_randomColor ../../../chatter_name}}">{{tile_initialsName ../../../chatter_name}}</span>
                            {{/if}}
                        </div>
                    {{/eq}}
                </div>
            {{/each}}
            {{#notEq message ''}}
                <div class="commNote {{direction}} clearfix">
                    {{#eq direction "to"}}
                        <div class="commIcon userIcon pull-left">
                            {{#if picture}}
                                <div class="image_rounded" style="width: 42px;"><img src="{{picture}}" style="width: 42px; height: 42px; object-fit:cover"></div>
                            {{else}}
                                <div class="image-rounded" style="width: 42px;"><img src="themes/default/images/logo.png"></div>
                            {{/if}}
                        </div>
                    {{/eq}}
                    {{#eq direction "from"}}
                        <div class="msg-action-group pull-right">
                            <i class="fa fa-pencil" aria-hidden="true" rel="tooltip" data-title="Edit message" data-id="{{id}}"></i>
                            <i class="fa fa-trash" aria-hidden="true" rel="tooltip" data-title="Delete message" data-id="{{id}}"></i>
                        </div>
                    {{/eq}}
                    <div class="messageContent {{#eq direction "from"}}pull-right{{else}}pull-left{{/eq}}" data-id="{{id}}">
                        <div class="messageText">
                            <p>{{{message}}}</p>
                            <span class="commSignature">{{chatter_name}}: <span
                                    class="signatureDate">{{date_entered}}</span></span>
                        </div>
                    </div>
                    {{#eq ../direction "from"}}
                        <div class="commIcon userIcon pull-right">
                            {{#if picture}}
                                <div class="image_rounded" style="width: 42px;">
                                    <img src="{{../../../picture}}" alt="{{../../chatter_name}}" style="width: 42px; height: 42px; object-fit:cover">
                                </div>
                            {{else}}
                                <span class="label label-module label-module-lg" style="background-color: {{tile_randomColor ../../chatter_name}}">{{tile_initialsName ../../chatter_name}}</span>
                            {{/if}}
                        </div>
                    {{/eq}}
                </div>
            {{/notEq}}
        {{/each}}
    </div>
    <div class="actionBar clearfix">
        <div class="file-list" style="display: none"></div>
        <div class="chat__conversation-panel"
             style="{{#notEq layout.layout.bugsModel.attributes.status "resolved"}}
                    {{#notEq layout.layout.bugsModel.attributes.status "closed"}}display:block{{else}}display:none{{/notEq}}{{else}}display:none{{/notEq}}">
            <div class="chat__conversation-panel__container">
                <input type="file" id="file-input" name=[] multiple hidden style="display:none"/>
                <button class="chat__conversation-panel__button panel-item btn-icon add-file-button">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                         style="color: #6b7479; stroke: none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M9 7C9 4.23858 11.2386 2 14 2C16.7614 2 19 4.23858 19 7V15C19 18.866 15.866 22 12 22C8.13401 22 5 18.866 5 15V9C5 8.44772 5.44772 8 6 8C6.55228 8 7 8.44772 7 9V15C7 17.7614 9.23858 20 12 20C14.7614 20 17 17.7614 17 15V7C17 5.34315 15.6569 4 14 4C12.3431 4 11 5.34315 11 7V15C11 15.5523 11.4477 16 12 16C12.5523 16 13 15.5523 13 15V9C13 8.44772 13.4477 8 14 8C14.5523 8 15 8.44772 15 9V15C15 16.6569 13.6569 18 12 18C10.3431 18 9 16.6569 9 15V7Z"
                              fill="currentColor"></path>
                    </svg>
                </button>
                <div class="jb-emoji" data-active-emoji-unicode="" data-active-emoji-html=""></div>
                <button class="chat__conversation-panel__button panel-item btn-icon add-emoji-button">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" style="color: #6b7479;">
                        <circle cx="12" cy="12" r="10" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></circle>
                        <path d="M8 14c0 3 2.5 4 4 4s4 -1 4 -4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <circle cx="9" cy="10" r="1" fill="currentColor"></circle>
                        <circle cx="15" cy="10" r="1" fill="currentColor"></circle>
                    </svg>
                </button>
                <div class="edit-message-box" rel="tooltip" data-title="Edit message"><i class="fa fa-pencil" aria-hidden="true"></i>{{str 'LBL_EDIT_MESSAGE'}}<i id="cancel-editing" class="fa fa-times" aria-hidden="true"></i></div>
                <input class="chat__conversation-panel__input panel-item" placeholder="{{str 'LBL_TYPE_MESSAGE'}}">
                <button class="chat__conversation-panel__button panel-item btn-icon send-message-button disabled">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="text-white dark:text-black"
                         style="color: white; stroke: none">
                        <path d="M7 11L12 6L17 11M12 18V7" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="chat__conversation-panel-reopen" style="display:none">
            {{#eq layout.layout.bugsModel.attributes.status "resolved"}}
                <span>{{str 'LBL_RESOLVED_TICKET'}}</span>
            {{else}}
                <span>{{str 'LBL_CLOSED_TICKET'}}</span>
            {{/eq}}
            <div class="reopen-button-container">
                <button class="btn btn-success reopen-button" style="margin-right: 23px;">{{str 'LBL_REOPEN'}}</button>
                <span>{{str 'LBL_OR'}}</span>
                <div class="star-rating-container">
                    <div class="container-star">
                        <div class="container__items">
                            <input type="radio" name="stars" id="st5"
                                   {{#eq  layout.layout.bugsModel.attributes.rate 5}}checked{{/eq}}>
                            <label for="st5">
                                <div class="star-stroke">
                                    <div class="star-fill"></div>
                                </div>
                            </label>
                            <input type="radio" name="stars" id="st4"
                                   {{#eq  layout.layout.bugsModel.attributes.rate 4}}checked{{/eq}}>
                            <label for="st4">
                                <div class="star-stroke">
                                    <div class="star-fill"></div>
                                </div>
                            </label>
                            <input type="radio" name="stars" id="st3"
                                   {{#eq  layout.layout.bugsModel.attributes.rate 3}}checked{{/eq}}>
                            <label for="st3">
                                <div class="star-stroke">
                                    <div class="star-fill"></div>
                                </div>
                            </label>
                            <input type="radio" name="stars" id="st2"
                                   {{#eq  layout.layout.bugsModel.attributes.rate 2}}checked{{/eq}}>
                            <label for="st2">
                                <div class="star-stroke">
                                    <div class="star-fill"></div>
                                </div>
                            </label> <input type="radio" name="stars" id="st1"
                                            {{#eq  layout.layout.bugsModel.attributes.rate 1}}checked{{/eq}}>
                            <label for="st1">
                                <div class="star-stroke">
                                    <div class="star-fill"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-info rate-button disabled" style="margin-left: 15px;">{{str 'LBL_RATE_US'}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>