<style>
    .dotb-light-theme .user-communication .messageArea {
        background: linear-gradient(180deg, #fff 0%, #f6fffe 80%, #e8fffd 100%);
        border-left: 1px solid #cfcfcf;
    }

    .dotb-light-theme .user-communication .messageArea .commNote.from .messageContent {
        background-color: #bdbdbd;
        color: black;
    }

    .dotb-light-theme .user-communication .messageArea .commNote.to .messageContent {
        background-color: #007ac1;
        color: white;
    }

    .dotb-dark-theme .user-communication .messageArea {
        background: linear-gradient(180deg, #000 0%, #45595e 80%, #45595e 100%);
        border-left: 1px solid #0c0e0f;
    }

    .dotb-dark-theme .user-communication .messageArea .commNote.from .messageContent {
        background-color: #3b3b3b;
        color: white;
    }

    .dotb-dark-theme .user-communication .messageArea .commNote.to .messageContent {
        background-color: #007ac1;
        color: white;
    }

    .user-communication {
        margin-left: 0px !important;
        width: 50%;
        height: 550px;
        min-height: 550px !important;
        max-height: 550px !important;
        position: relative;
    }

    .user-communication .messageArea {
        overflow-y: scroll;
        min-height: 550px !important;
        max-height: 550px !important;
        width: calc(100% - 31px - 2rem - 1px) !important;
        padding: 0 1rem 0 1rem;
    }
</style>
<div class="messageArea pull-left">
    <div class="commType">Internal</div>
    {{#each layout.layout.caseModel.attributes.userNotes}}
        <div class="commNote {{direction}} clearfix">
            <div class="commIcon userIcon {{#eq direction "to"}}pull-right{{else}}pull-left{{/eq}}">
                <span class="label label-module label-module-lg label-Users">U</span>
            </div>
            <div class="messageContent {{#eq direction "to"}}pull-right{{else}}pull-left{{/eq}}">
                {{#eq direction "to"}}
                    {{#if ../id}}
                        <div class="messageActionBar">
                            <i class="sicon sicon-remove deleteNote" rel="tooltip" data-title="Delete"
                               data-id="{{../../id}}"></i>
                            <i class="sicon sicon-edit editNote" rel="tooltip" data-title="Edit"
                               data-id="{{../../id}}"></i>
                        </div>
                    {{/if}}
                {{/eq}}
                <div class="messageText">
                    <p>{{name}}</p>
                    <p>{{{message}}}</p>
                    <span class="commSignature">{{person_name}}: <span
                            class="signatureDate">{{date_entered}}</span></span>
                    {{#if files}}
                        <div>
                            {{#each files}}
                                <a class="noteAttachment" data-id="{{id}}" rel="tooltip" data-title="{{filename}}"
                                   data-placement="bottom"><i class="sicon sicon-attach"></i></a>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/each}}
    {{#eq layout.layout.caseModel.attributes.valid_license true}}
        <div class="actionBar clearfix">
            <div class="actionInputs pull-left">
            <span class="noteSubject">
                {{#with noteDummy.fields.name}}
                    {{field ../this model=../noteDummy template="edit"}}
                {{/with}}
            </span>
                <span class="noteContent">
                    {{#with noteDummy.fields.description}}
                        {{field ../this model=../noteDummy template="edit"}}
                    {{/with}}
                </span>
                <span class="fileInput">
                    {{#with noteDummy.fields.attachment_list}}
                        {{field ../this model=../noteDummy template="edit"}}
                    {{/with}}
                </span>
                <span class="emailTemplate">
                <select>
                    <option value="" disabled selected>Choose template</option>
                    {{#each layout.layout.caseModel.attributes.emailTemplates}}
                        <option value="{{content}}" subject="{{subject}}">{{title}}</option>
                    {{/each}}
                </select>
            </span>
            </div>
            <div class="actionButtons pull-right">
                <button class="btn btn-primary sendButton">
                    <i class="sicon sicon-message-lg sicon-lg"></i>
                </button>
            </div>
        </div>
    {{/eq}}
</div>
<div class="sideToggle pull-right">
    <i class="sicon sicon-chevron-right sicon-lg chevron"></i>
</div>