<link type="text/css" rel="stylesheet" href="../custom/include/css/chat-message.css"/>

<div class="boxChatContainer">
    <div class="messageArea portal">
        {{#each layout.layout.caseModel.attributes.customerMessages}}
            {{#each attachments}}
                <div class="noteContainer commNote {{../direction}} clearfix">
                    <div class="commIcon userIcon {{#eq ../direction "to"}}pull-right{{else}}pull-left{{/eq}}">
                <span class="label label-module label-module-lg
                     {{#eq ../direction "from"}}label-Users{{else}}label-Contacts{{/eq}}">
                    {{#eq../direction "from"}}U{{else}}C{{/eq}}
                </span>
                    </div>
                    <div class="messageFile {{#eq ../direction "to"}}pull-right{{else}}pull-left{{/eq}}">
                        <div class="file-element">
                            <div class="file-info">
                                <div class="file-preview">{{{preview}}}</div>
                                <div class="file-content">
                                    <span class="file-name ellipsis_inline" data-original-title="{{fileName}}">{{fileName}}</span>
                                    <div class="file-size-contain">
                                        <span class="file-size">{{fileSize}} KB</span>
                                        <a class="file-download"
                                           download="{{fileName}}" href="{{fileUrl}}">{{str "LBL_DOWNLOAD"}}
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            {{#notEq message ''}}
                <div class="commNote {{direction}} clearfix">
                    <div class="commIcon userIcon {{#eq direction "to"}}pull-right{{else}}pull-left{{/eq}}">
                <span class="label label-module label-module-lg {{#eq direction
                                                                      "from"}}label-Users{{else}}label-Contacts{{/eq}}">{{#eq
                        direction "from"}}U{{else}}C{{/eq}}</span>
                    </div>
                    <div class="messageContent {{#eq direction "to"}}pull-right{{else}}pull-left{{/eq}}">
                        {{#eq direction "to"}}
                            {{#if ../id}}
                                <div class="messageActionBar">
                                    <i class="sicon sicon-remove deleteNote" rel="tooltip" data-title="Delete"
                                       data-id="{{../../id}}"></i>
                                    <i class="sicon sicon-edit editNote" rel="tooltip" data-title="Edit"
                                       data-id="{{../../id}}"></i>
                                </div>
                            {{/if}}
                        {{/eq}}
                        <div class="messageText">
                            <p>{{name}}</p>
                            <p>{{{message}}}</p>
                            <span class="commSignature">{{person_name}}: <span
                                    class="signatureDate">{{date_entered}}</span></span>
                        </div>
                    </div>
                </div>
            {{/notEq}}
        {{/each}}
    </div>
    <div class="actionBar clearfix">
        <div class="file-list"></div>
        <div class="chat__conversation-panel">
            <div class="chat__conversation-panel__container">
                <input type="file" id="file-input" name=[] multiple hidden style="display:none"/>
                <button class="chat__conversation-panel__button panel-item btn-icon add-file-button">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                         style="color: white;">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M9 7C9 4.23858 11.2386 2 14 2C16.7614 2 19 4.23858 19 7V15C19 18.866 15.866 22 12 22C8.13401 22 5 18.866 5 15V9C5 8.44772 5.44772 8 6 8C6.55228 8 7 8.44772 7 9V15C7 17.7614 9.23858 20 12 20C14.7614 20 17 17.7614 17 15V7C17 5.34315 15.6569 4 14 4C12.3431 4 11 5.34315 11 7V15C11 15.5523 11.4477 16 12 16C12.5523 16 13 15.5523 13 15V9C13 8.44772 13.4477 8 14 8C14.5523 8 15 8.44772 15 9V15C15 16.6569 13.6569 18 12 18C10.3431 18 9 16.6569 9 15V7Z"
                              fill="currentColor"></path>
                    </svg>
                </button>
                <input class="chat__conversation-panel__input panel-item" placeholder="Type a message...">
                <button class="chat__conversation-panel__button panel-item btn-icon send-message-button">
                    <svg class="feather feather-send" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round">
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="sideToggle pull-left">
    <i class="sicon sicon-chevron-left sicon-lg chevron"></i>
</div>