<div class="headerpane">
    <h1>
        <div class="record-cell">
            <span class="module-title">Sync NAV ERP</span>
        </div>
        <div class="btn-toolbar pull-right dropdown" style="padding: 3px 6px;">
            {{#each meta.buttons}}
                {{field ../this}}
            {{/each}}
        </div>
    </h1>
</div>
<div class="record tab-layout">
    <div class="row-fluid record-panel" data-panelname="panel_body">
        <div class="row-fluid record-panel-content ">
            <div class="row-fluid panel_body">
                <div class="span3 record-cell" data-type="url">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="record-label" style="padding-top:7px;text-align: right">
                                Start Date
                            </div>
                        </div>
                        <div class="span8">
                            <input placeholder="yyyy-mm-dd" type="date" class="start_date"/>
                        </div>
                    </div>
                </div>
                <div class="span3 record-cell" data-type="url">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="record-label" style="padding-top:7px;text-align: right">
                                End Date
                            </div>
                        </div>
                        <div class="span8">
                            <input placeholder="yyyy-mm-dd" type="date" class="end_date"/>
                        </div>
                    </div>
                </div>
                <div class="span3 record-cell" data-type="url">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="record-label" style="padding-top:7px;text-align: right">
                                Require Invoice No
                            </div>
                        </div>
                        <div class="span8">
                            <input checked type="checkbox" class="require_invoice_no"/>
                        </div>
                    </div>
                </div>
                <div class="span3 record-cell" data-type="url">
                    <button type="button" class="btn btn-primary save">Start Sync NAV</button>
                </div>
            </div>
        </div>
    </div>
    <div id="message-log">There are {{this.messagelog}} synced!</div>
</div>
