/***********
*  Pie Chart
*/

.sc-pie {
  .sc-series.hover path {
    fill-opacity: 0.75;
  }

  polyline.sc-label-leader {
    stroke-width: 1px;
    pointer-events: none;
  }
}

.sc-hole-wrap text {
  text-anchor: middle;
}

text.sc-pie-hole-value {
  font-size: 32px;
  font-weight: bold;
}

text.sc-pie-hole-label {
  font-size: 12px;
}
