<div class="select2-container select2-container-multi select2-choices-pills-close
    select2 span12 kb-attachmentlist-details-view">
    <ul class="select2-choices">
        {{#each value}}
            <li>
                <div>
                <span class="select2-choice-type">
<!--                    <a class="ellipsis_inline kb-attachment-link"-->
                    <!--                       data-placement="bottom"-->
                    <!--                       title="{{name}}"-->
                    <!--                       href="{{url}}"-->
                    <!--                       data-url="{{url}}"-->
                    <!--                       data-action="download"-->
                    <!--                       download="download">{{fileName}}-->
                    <!--                    </a>-->
                    <!--                    <a class="kb-attachment-link-type"-->
                    <!--                       href="{{url}}"-->
                    <!--                       data-url="{{url}}"-->
                    <!--                       data-action="download"-->
                    <!--                       download="download">{{fileExt}}</a>-->

<!--                      <img style="height:100px;width:100px" src="{{url}}"/>-->
                    {{#if isImageMedia}}
                        <img style="height:100px;width:100px" src="{{url}}"/>
                    {{else}}
                        <video style="height:100px;" disablepictureinpicture controlslist="nodownload noplaybackrate" controls>
                          <source src="{{url}}" type="video/mp4">
                        </video>
                    {{/if}}

                </span>
                </div>
            </li>
        {{/each}}
<!--        {{#if value}}-->
<!--            <li style="line-height: 100px;">-->
<!--                <button class="btn-link btn-invisible btn-kb-download-all" data-action="download-all">-->
<!--                    <i class="fa fa-download"></i>{{str this.download_label this.module}}-->
<!--                </button>-->
<!--            </li>-->
<!--        {{/if}}-->
    </ul>
</div>
