<style>
    .record-cell.edit span[data-fieldname="attachment_list"] > span.edit .select2-container.with-padding .select2-choices {
        padding-left: 118px !important;
        height: 111px !important;
        overflow-y: auto;
    }
    li.select2-search-choice {
        padding: 0 !important;
        position: relative;
        height:100px;
    }
    a.select2-search-choice-close {
        position: absolute !important;
    }
    .select2-container-multi .select2-search-choice-close {
        right: 9px;
        left: auto;
        top: 6px;
        font-size: 16px !important;
    }
    span.select2-choice-type video {
        height: 100px;
        border-radius: 11px;
    }
    span.select2-choice-type img {
        height: 100px;
        width: 100px;
        border-radius: 11px;
    }
</style>
<label class="btn kb-attach-btn" for="{{cid}}" style="width: 102px;
        height: 90px;
        border-radius: 10px;
        display: inline-block;
        vertical-align: middle;
        line-height: 95px;
        text-align: center;
        margin-top: -5px">

    <!--    {{#if def.bIcon}}<i class="{{def.bIcon}}"></i>{{/if}}-->
    <!--    {{#if def.bLabel}}{{str def.bLabel this.module}}{{/if}}-->
    <i class="fas fa-photo-video" style="color: #a9a9a99e;
    font-size: 40px;
    width: 80px;
    height: 80px;
    line-height: 90px;
   "></i>


</label>
<input type="hidden" class="select2 select2-choices-pills-close" value="" data-type="attachments">
<input type="file" name="attachment_list"
       class="hidden" data-type="fileinput"
       id="{{cid}}"
    {{#if def.tabindex}} tabindex="{{def.tabindex}}"{{/if}} multiple accept="image/jpeg, image/png, video/*">
