<span class="select2-choice-type" data-id="{{id}}">
<!--    <a class="ellipsis_inline kb-attachment-link"-->
<!--       data-placement="bottom"-->
<!--       title="{{name}}"-->
<!--       href="{{url}}"-->
<!--       data-url="{{url}}"-->
<!--       data-action="download">{{fileName}}-->
<!--    </a>-->
<!--   <a class="kb-attachment-link-type"-->
<!--      href="{{url}}"-->
<!--      data-url="{{url}}"-->
<!--      data-action="download">{{fileExt}}</a>-->
    {{#if isImageMedia}}
        <img style="height:100px;width:100px" src="{{url}}"/>
    {{else}}
        <video style="height:100px;" disablepictureinpicture controlslist="nodownload noplaybackrate" controls>
          <source src="{{url}}" type="video/mp4">
        </video>
    {{/if}}
</span>
