<div class="record">
    <div class="config_container" style="margin-left: 30px; margin-right: 30px;">
        <div class="page-header" style="margin-bottom: 20px;">
            {{str 'LBL_CONFIG_DESCRIPTION' module}}
        </div>
        <div class="span6 config_options" style="margin: 10px;">
            {{#each meta.fields}}
                <h4>{{str label ../module}}</h4>
                {{field ../this model=../configModel template="edit"}}
            {{/each}}
        </div>
        <div class="span6 config_options" style="margin: 10px;">
            {{#eq configModel.attributes.cc_license_type 'exsitec'}}
                <div class="span12 config_values" style="margin: 10px;">
                    {{#each meta.exsitec_fields}}
                        <h4>{{str label ../module}}</h4>
                        {{field ../this model=../configModel template="edit"}}
                    {{/each}}
                </div>
            {{/eq}}
            {{#eq configModel.attributes.cc_license_type 'outfitters'}}
                <div class="span12 config_values" style="margin: 10px;">
                    {{#each meta.outfitters_fields}}
                        <h4>{{str label ../module}}</h4>
                        {{field ../this model=../configModel template="edit"}}
                    {{/each}}
                </div>
            {{/eq}}
        </div>
    </div>
</div>

<style>
    .config_container .config_values input {
        width: 60%;
    }

    .config_container .config_values textarea {
        width: 60%;
    }
</style>
