.overide{
    /*    border: black 1px solid;*/
}
td.template {
    display: none;
}
.content,.config {
    padding: 7px;
    border: black 1px solid;
    background: #fff;
}
.lable {
    text-align: right;
}
.select_config {
    width: 200px;
}
.input_formula {
    width: 80px;
    text-transform: uppercase;
}
.input_mark,.input_weight {
    width: 80px;
    text-align: center;     
}
.center{
    text-align: center;
}
input[readonly], .readonly, .readonly:focus  {
    color: #aaa;
    background-color: #ddd;
}

.config_button {
    height: 60px;
    width: 100%;
    text-align: center; 
    padding: 15px;
}
select.readonly{
    color: #aaa;
    background-color: #ddd;
    cursor: no-drop;
}
input.input_formula{
    width: 130px;
}
input.max_mark.input_mark{
    width: 130px;
}
input.input_weight{
    width: 130px;
}