<div id="payment_list_div">
    <table id="tblpayment" width="100%" border="1" class="list view">
        <thead>
            <tr>
                <th width="5%" style="text-align: center;"></th>
                <th width="10%" style="text-align: center;">{$MOD.LBL_NAME} </th>
                <th width="10%" style="text-align: center;">{$MOD.LBL_PAYMENT_TYPE} </th>
                <th width="10%" style="text-align: center;">{$MOD.LBL_PAYMENT_DATE} </th>
                <th width="10%" style="text-align: center;">{$MOD.LBL_PAYMENT_EXPIRED} </th>
                <th width="10%" style="text-align: center;">{$MOD.LBL_TOTAL_AMOUNT} </th>
                <th width="10%" style="text-align: center;">{$MOD.LBL_TOTAL_HOURS} </th>
                <th width="10%" style="text-align: center;">{$MOD.LBL_REMAIN_AMOUNT} </th>
                <th width="10%" style="text-align: center;">{$MOD.LBL_REMAIN_HOURS} </th>
                <th width="15%" style="text-align: center;">{$MOD.LBL_COURSE_FEE_ID} </th>
                <th width="10%" style="text-align: center;">{$MOD.LBL_ASSIGNED_TO_NAME} </th>
            </tr>
        </thead>
        <tbody id="tbodypayment">
            <tr><td colspan="100%" style="text-align: center;">{$MOD.LBL_PAYMENT_EMPTY_LIST}</td></tr>
        </tbody>
    </table>
</div>
