        <div class="welcome">
            <div class="modal">
                <div class="modal-header modal-header-firstlogin row-fluid">
                    <img src="styleguide/assets/img/logo.png" alt="DotBCRM" style="width: 48px;height: 48px;" class="span1">
                    <div class="firstlogin-title span6">
                        <h3>{{str meta.title module}}</h3>
                        <span>{{str meta.message module}}</span>
                    </div>
                    <div class="wizard-process-bar">
                        <span class="step-circle">
                            {{#if wizardCompleted}}<i class="fa fa-check-circle"></i>{{/if}}
                            {{#unless wizardCompleted}}<span>{{progress.page}}</span>{{/unless}}
                        </span>
                        <div class="progress-section span6 pull-right">
                            <span>{{str "LBL_SETUP_PROGRESS" module}}</span>
                            <div class="progress progress-success">
                                <div class="bar" style="width: {{percentComplete}}%;"></div>
                            </div>
                        </div>
                    </div>
                </div>