/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

/* ==========================================================================
HTML5 display definitions
========================================================================== */

/**
* Correct `block` display not defined in IE 8/9.
*/

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/**
* Correct `inline-block` display not defined in IE 8/9.
*/

audio, canvas, video { display: inline-block; }

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
* Address styling not present in IE 8/9.
*/

[hidden] { display: none; }

/* ==========================================================================
Base
========================================================================== */

/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
* Remove default margin.
*/

body { margin: 0; }

/* ==========================================================================
Links
========================================================================== */

/**
* Address `outline` inconsistency between Chrome and other browsers.
*/
div#main{
font: 100%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: #202020;
}
a:focus { outline: thin dotted; }

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/

a:active, a:hover {
    outline: 0;
    text-decoration: underline;
}

/* ==========================================================================
Typography
========================================================================== */

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari 5, and Chrome.
*/

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
* Address styling not present in IE 8/9, Safari 5, and Chrome.
*/

abbr[title] { border-bottom: 1px dotted; }

/**
* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
*/

b, strong { font-weight: bold; }

/**
* Address styling not present in Safari 5 and Chrome.
*/

dfn { font-style: italic; }

/**
* Address differences between Firefox and other browsers.
*/

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
* Address styling not present in IE 8/9.
*/

mark {
    background: #ff0;
    color: #000;
}

/**
* Correct font family set oddly in Safari 5 and Chrome.
*/

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
* Improve readability of pre-formatted text in all browsers.
*/

pre { white-space: pre-wrap; }

/**
* Set consistent quote types.
*/

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
* Address inconsistent and variable font size in all browsers.
*/

small { font-size: 80%; }

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* ==========================================================================
Embedded content
========================================================================== */

/**
* Remove border when inside `a` element in IE 8/9.
*/

img { border: 0; }

/**
* Correct overflow displayed oddly in IE 9.
*/

svg:not(:root) { overflow: hidden; }

/* ==========================================================================
Figures
========================================================================== */

/**
* Address margin not present in IE 8/9 and Safari 5.
*/

figure { margin: 0; }

/* ==========================================================================
Forms
========================================================================== */

/**
* Define consistent border, margin, and padding.
*/

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct `color` not being inherited in IE 8/9.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
* 1. Correct font family not being inherited in all browsers.
* 2. Correct font size not being inherited in all browsers.
* 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
*/

button, input, select, textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */ 
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/

button, input { line-height: normal; }

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
* Correct `select` style inheritance in Firefox 4+ and Opera.
*/

button, select { text-transform: none; }

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/

button[disabled], html input[disabled] { cursor: default; }

/**
* 1. Address box sizing set to `content-box` in IE 8/9.
* 2. Remove excess padding in IE 8/9.
*/

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof).
*/

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
* Remove inner padding and search cancel button in Safari 5 and Chrome
* on OS X.
*/

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/**
* Remove inner padding and border in Firefox 4+.
*/

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
* 1. Remove default vertical scrollbar in IE 8/9.
* 2. Improve readability and alignment in all browsers.
*/

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
Tables
========================================================================== */

/**
* Remove most spacing between table cells.
*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
@@ Essentials
*/
.pull-left { float: left; }
.pull-right { float: right; }
.hide { display: none; }
.show { display: block; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.light-text { color: #808080; }
.small-text { font-size: 13px; }
.strong { font-weight: bold; }
.clearfix { *zoom: 1; }

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after { clear: both; }

/*
@@ Body
*/
body {
    text-align: left;
    direction: ltr;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}

/*
@@ Page
*/
.header {
    background: #000;
    width: 100%;
}

.header-inner { padding: 10px; }
.logo { vertical-align: middle; }

.container {
    width: 100%;
    height: 100%;
}

.content {
    width: 450px;
    margin: 0 auto;

}

.highlight {
    background: #f6f67a;
    padding: 1px 3px;
}

.page-header { margin: 30px 0; }

.select_monhoc {
    width:40%;
    padding: 30px 0px 30px 0px;
     margin: 0 auto;
    text-align: center;
    border: 1px dotted #e3e3e8;
}

.page-footer {
    margin: 60px 0;
    border-top: 1px dotted #e3e3e8;
    width: 100%;
}


.page-header h1 {
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 1px dotted #e3e3e8;
}

.page-footer p, .page-header p {
    font-size: 13px;
    line-height: 16px;
}

/*
@@ Demo
*/
.table {
    width: 100%;
}

.table td, .table th {
    padding: 5px;
}



.table tr:last-child {
    border: 0px;
}

.checkboxes_dd{
    padding-bottom: 15px;
}
.checkboxes_dd input{
    width: 13px;
    height: 13px;
    margin:0;
    top: -1px;
}
.checkboxes_dd label{
    padding-left: 15px;
    padding-bottom: 15px;
}
.button_dd{
padding-bottom:15px;
padding-top:15px;
border-bottom:1px solid #bbb;   
}
.tablez{
    width: 80%;
}
.center{
    text-align: center;
}
#from_select, #to_select{
    display: inline;
}
/*===========================================================
 * Facebook Loader
 * ========================================================*/
.facebook div{
    height:50px;
    width:20px;
    display:inline-block;
    background-color: #56bbdb;
    border:1px solid #217c99;

    -webkit-animation:facebook_loader 1.3s linear infinite;
    animation:facebook_loader 1.3s linear infinite;

    -webkit-transform: scale(0.91);
    transform: scale(0.91);
}
.facebook div:nth-child(1){
    -webkit-animation-delay:0.39s;
    animation-delay:0.39s;
}
.facebook div:nth-child(2){
    -webkit-animation-delay:0.52s;
    animation-delay:0.52s;
}
.facebook div:nth-child(3){
    -webkit-animation-delay:0.65s;
    animation-delay:0.65s;
}
@-webkit-keyframes facebook_loader{
    0%{
        -webkit-transform:scale(1.2);
        opacity:1
    }

    100%{
        -webkit-transform:scale(0.7);
        opacity:0.1
    }
}

@keyframes facebook_loader{
    0%{
        transform:scale(1.2);
        opacity:1
    }

    100%{
        transform:scale(0.7);
        opacity:0.1
    }
}
/**end/
  
/*-------*/
#fade { /*--Transparent background layer--*/
        display: none; /*--hidden by default--*/
        background: #000;
        position: fixed; left: 0; top: 0;
        width: 100%; height: 100%;
        opacity: .80;
        z-index: 9999;
}
.popup_block{
        display: none; /*--hidden by default--*/
        background: #fff;
        padding: 20px;          
        border: 10px solid #2B557A;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 50%; left: 50%;
        z-index: 99999;
        /*--CSS3 Box Shadows--*/
        -webkit-box-shadow: 0px 0px 20px #000;
        -moz-box-shadow: 0px 0px 20px #000;
        box-shadow: 0px 0px 20px #000;
        /*--CSS3 Rounded Corners--*/
}
img.btn_close {
        float: right;
        margin: -55px -55px 0 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
        position: absolute;
}
*html .popup_block {
        position: absolute;
}
.support-wrapper .support-box:hover{
    -webkit-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.9);
    -moz-box-shadow:    0px 0px 7px rgba(50, 50, 50, 0.9);
    box-shadow: 0 0 7px rgba(50, 50, 50, 0.9);
    color: #cb2134;
}

.support-wrapper .support-box:hover a:hover{
    text-decoration: underline;
    color: rgb(203, 33, 52);
}

.block-view:hover{ color: rgb(204, 25, 25) !important; text-decoration: none;
}

.block-view{
width: 91px !important;
height: 27px !important;
font-size: 13px;
line-height: 27px;
float: right;
margin-right: 5px;}