
{{#if isAvailable}}
    <button data-action='portalchatbutton' class='btn-primary chat-collapsed' role='link' type='button'>
        <div class="start">
            <div>{{str "LBL_PORTAL_CHAT_RUN_BUTTON_HELLO"}}</div>
            <div>{{str "LBL_PORTAL_CHAT_RUN_BUTTON_START"}}</div>
        </div>
        <div class="continue">
            <div>{{str "LBL_PORTAL_CHAT_RUN_BUTTON_CONTINUE"}}</div>
        </div>
        <div>
            <span class='sicon sicon-message'></span>
            <span class='sicon sicon-chevron-down'></span>
        </div>
    </button>
{{/if}}
