<div class="headerpane">
    <h1>
        {{#each view.meta.panels}}
            {{#if header}}
                {{#each grid}}
                    {{#each this}}
                        <span class="record-cell" data-type="{{type}}" data-name="{{name}}" {{#if show_label}} style="padding-top: 7px;" {{/if}} {{#if css_custom}} style="padding-top: 6px;" {{/if}}>
                            <span class="table-cell-wrapper">
                                {{#if ../../labels}}
                                    {{#unless dismiss_label}}
                                        <span class="record-label" data-name="{{name}}" {{#if css_custom}} style='display: block; padding-bottom: 4px' {{/if}}>{{str label ../../../../../../view.module}}</span>
                                    {{/unless}}
                                {{/if}}
                                <span class="index{{index}}" data-fieldname="{{name}}" data-index="{{index}}">
                                    {{field ../../../../view model=../../../../view.model template=../../../../view.action}}
                                </span>
                            </span>
                        </span>
                    {{/each}}
                {{/each}}
            {{/if}}
        {{/each}}
        {{#if view.enableHeaderButtons}}
            <div class="btn-toolbar pull-right ">
                {{#unless view.createMode}}
                    {{#if view.showPrevNextBtnGroup}}
                        <div class="btn-group btn-group-previous-next">
                            <button class="btn btn-invisible previous-row{{#unless view.showPrevious}} disabled{{/unless}}"
                                    data-action="scroll" data-action-type="prev"
                                    data-id="{{fieldValue view.model "id"}}" rel="tooltip" data-placement="bottom" title="{{str "LNK_LIST_PREVIOUS" view.module}}"{{#unless view.showPrevious}} tabindex="-1"{{/unless}} aria-label="{{str "LNK_LIST_PREVIOUS" view.module}}">
                                <i class="far fa-angle-left"></i>
                            </button>
                            <button class="btn btn-invisible next-row{{#unless view.showNext}} disabled{{/unless}}"
                                    data-action="scroll" data-action-type="next"
                                    data-id="{{fieldValue view.model "id"}}" rel="tooltip" data-placement="bottom" title="{{str "LNK_LIST_NEXT" view.module}}"{{#unless view.showNext}} tabindex="-1"{{/unless}}  aria-label="{{str "LNK_LIST_NEXT" view.module}}">
                                <i class="far fa-angle-right"></i>
                            </button>
                        </div>
                    {{/if}}
                {{/unless}}
                {{#each view.meta.buttons}}
                    {{field ../view}}
                {{/each}}
            </div>
        {{/if}}
    </h1>
</div>
